﻿@{
    ViewBag.Title = "Home Page Bee-Plugin";
    ViewBag.ClientId = Constants.BeePluginClientId;
}



<div class="row">
    <div>
        <div id="bee-plugin-container" style="margin:20px;height:500px;width:100%"></div>

    </div>
    <div class="col-lg-12" id="BeeTemplateRenderDiv">

    </div>
    <script src="https://app-rsrc.getbee.io/plugin/BeePlugin.js"></script>`
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = '/User/EmailTemplate/Post';
        var beeId = '@ViewBag.ClientId';

        var specialLinks = [{
            type: 'unsubscribe',
            label: 'SpecialLink.Unsubscribe',
            link: 'http://[unsubscribe]/'
        }, {
            type: 'subscribe',
            label: 'SpecialLink.Subscribe',
            link: 'http://[subscribe]/'
        }];

        var mergeTags = [{
            name: 'tag 1',
            value: '[tag1]'
        }, {
            name: 'tag 2',
            value: '[tag2]'
        }, {
            name: 'tag 3',
            value: '[tag3]'
        }];

        var mergeContents = [{
            name: 'content 1',
            value: '%%content1%%'
        }, {
            name: 'content 2',
            value: '%%content2%%'
        }, {
            name: 'content 3',
            value: '%%content3%%'
        }];

        var beeConfig = {


            //uid: "0786d2f0-ec0a-44f4-8127-df8f0510cc8c",
            uid: beeId,
            container: 'bee-plugin-container',
            autosave: 15,
            language: 'en-US',
            specialLinks: specialLinks,
            mergeTags: mergeTags,
            mergeContents: mergeContents,

            onSave: function (jsonFile, htmlFile) {
                console.log('onSave', htmlFile);
                var jsonData = { "fileName": "onSave", "fileContent": htmlFile };
                $.ajax({
                    type: "POST",
                    url: '/User/EmailTemplate/SaveBeeTemplateContent',
                    data: JSON.stringify(jsonData),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",

                    success: function (data) {
                        console.log("UserTempDt  " + data);
                        $("#BeeTemplateRenderDiv").append(data);
                    },
                    error: function (errordt) {
                        console.log("errordt  " + JSON.stringify(errordt));
                    },
                    failure: function (failuredt) {
                        console.log("failuredt  " + failuredt);
                    }
                });
            },




            onSaveAsTemplate: function (jsonFile) {

                console.log('onSaveAsTemplate.html', jsonFile);
            },
            onAutoSave: function (jsonFile) {

                console.log(new Date().toISOString() + ' autosaving...');
                //window.localStorage.setItem('newsletter.autosave', jsonFile);
            },
            onSend: function (jsonFile) {


                console.log('onSend ', jsonFile);
            },
            onError: function (errorMessage) {

                console.log('onError ', errorMessage);
            }
        };
        var bee = null;
        $(document).ready(function () {

            // Send an AJAX request
            $.ajax({
                method: "GET",
                url: uri
            }).done(function (data) {
                console.log('auth done', data);
                var token = data;
                console.log(token);
                BeePlugin.create(JSON.parse(token), beeConfig, function (beePluginInstance) {
                    bee = beePluginInstance;
                    $.ajax({
                        method: "GET",
                        url: 'https://rsrc.getbee.io/api/templates/m-bee'
                    }).done(function (template) {
                        console.log('load template done');
                        //console.log(template);
                        bee.start(JSON.parse(template));
                    });
                });
            });
        });
    </script>
</div>