﻿@model EM.Factory.IP_Pool

<div class="modal" role="dialog" id="editIPPool">
    <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("PoolData", "IPPool", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onEditIPPool();", OnSuccess = "onEditIP_PoolSuccess", OnFailure = "onAddIP_PoolFailure" }))
            {

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Edit
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.HiddenFor(m => m.Id)

                            <div class="form-row">
                                <label class="control-label">IP Pool Name</label>
                                @Html.TextBoxFor(m => m.Name, new { id = "txtIPPoolName", @class = "form-control", placeholder = "IP Pool Name",length="64" })
                                <span id="IPPoolError" class="RequiredField"></span>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn_default">Update</button>
                </div>

            }
        </div>
    </div>
</div>
