﻿@model EM.Factory.IP_Pool
@{
    ViewBag.Title = "PoolData";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Data">Dashboard</a></li>
    <li class="active">Add IP Pool</li>
</ol>

<div class="container-fluid">
    <div class="white-bg-cont">
        <div class="row">
            <div class="col-sm-12">
                <ul class="Master-ctrl-tab">
                    <li><span class="tablinks active">Add IP Pool</span></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="row">
                    @using (Ajax.BeginForm("PoolData", "IPPool", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddIP_Pool();", OnSuccess = "onAddIP_PoolSuccess", OnFailure = "onAddIP_PoolFailure" }))
                    {
                        <div class="col-lg-12 col-md-12 no-mrg-xs">
                            <div class="white-bg-cont modal-pad-top">

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label">IP POOL Name</label>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "IP POOL Name" })
                                        <span id="lblName" class="RequiredField"></span>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6" style="margin-right:10px;margin-top:10px;">
                                            <button type="submit" class="btn btn_default">Add</button>
                                            <button type="button" class="btn btn-warning" onclick="Clearcontrol();">Reset</button>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
                            <table id="pooldataTable" class="display new_grid" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit IP_POOL Modal-->
<div id="editContainer"></div>

@section PageScript{
    <script src="~/Content/CustomJs/IP_POOL.js?v=05272019"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            preventEnterForSubmittingForm();
        });
    </script>
}

