﻿@model EM.Factory.ViewModels.InvoiceViewModel
@{
    ViewBag.Title = "Invoice";
}

@using (Ajax.BeginForm("CreateInvoice", "ManageUser", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddInvoiceBegin();", OnSuccess = "onAddInvoiceSucess", OnFailure = "onAddInvoiceFailure" }))
{
    <div class="app-title">

        <div>
            <span class="text-20">Create New Invoice</span>
        </div>
    </div>
    <div class="content card">
        <div class="row card-body">
            <!-- /.col -->
            <div class="col-md-5">
                <div class="row">
                    <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;Invoice Information</p>
                    <div class="col-md-12 card account-box even-box-bg-color">
                        @Html.HiddenFor(x => x.UserId)
                        @Html.HiddenFor(x => x.UserPaymentProfileId)
                        @Html.HiddenFor(x => x.AnPaymentProfileId)
                        @Html.HiddenFor(x => x.CardType)
                        @Html.HiddenFor(x => x.Email)

                        <div class="row padding-bottom-15 mr-l-r-10">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Amount Charge:</label>
                                @Html.TextBoxFor(x => x.AmountCharged, new { @id = "txtAmount", @class = "form-control", @placeholder = "Amount Charge" })
                                <span class="RequiredField" id="amtError"></span>
                            </div>
                        </div>

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Order Id:</label>
                                @Html.TextBoxFor(x => x.OrderID, new { @class = "form-control", @placeholder = "" })
                                <span class="RequiredField" id="OrderError"></span>

                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Charge Type:</label>
                                @Html.DropDownListFor(x => x.PaymentTypeId, Model.PaymnetTypeList, "Charge Type", new { @class = "form-control", @onchange = "$('#InvoiceType').val($('#PaymentTypeId').find('option:selected').text())" })
                                <input type="hidden" name="InvoiceType" id="InvoiceType" />
                                <span class="RequiredField" id="PaymentTypeError"></span>
                            </div>
                        </div>
                        @if (Model.CardNumber == null)
                        {
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Card Number:</label>
                                    @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control", @placeholder = "Card Number" })
                                    <span class="RequiredField" id="CreditError"></span>
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Verification Number:</label>
                                    @Html.PasswordFor(x => x.VerificationNo, new { @class = "form-control", @placeholder = "CVV Number", maxlength = "3" })
                                    <span class="RequiredField" id="CreditError"></span>
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Expires:</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(x => x.ExpiresMonth, Model.MonthList, "Month", new { @id = "ExpMonth", @class = "form-control" })
                                        </div>

                                        <div class="col-md-6">
                                            @Html.DropDownListFor(x => x.ExpiresYear, Model.YearList, "Year", new { @id = "ExpYear", @class = "form-control" })
                                        </div>
                                    </div>


                                    <span id='ExpMonthError' class='RequiredField'></span>
                                    <span id='ExpYearError' class='RequiredField'></span>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Card Number:</label>
                                    @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control", @placeholder = "Card Number", @readonly = true })
                                    <span class="RequiredField" id="CreditError"></span>
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Verification Number:</label>
                                    @Html.PasswordFor(x => x.VerificationNo, new { @class = "form-control", @placeholder = "CVV Number", maxlength = "3", @readonly = true })
                                    <span class="RequiredField" id="CreditError"></span>
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Expires:</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.ExpiresMonth, new { @id = "ExpMonth", @class = "form-control", @placeholder = "Month", @readonly = true })
                                            @*@Html.DropDownListFor(x => x.ExpiresMonth, Model.MonthList, "Month", new { @id = "ExpMonth", @class = "form-control" })*@
                                        </div>

                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.ExpiresYear, new { @id = "ExpYear", @class = "form-control", @placeholder = "Year", @readonly = true })
                                            @*@Html.DropDownListFor(x => x.ExpiresYear, Model.YearList, "Year", new { @id = "ExpYear", @class = "form-control" })*@
                                        </div>
                                    </div>


                                    <span id='ExpMonthError' class='RequiredField'></span>
                                    <span id='ExpYearError' class='RequiredField'></span>

                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <!-- /.nav-tabs-custom -->

            <div class="col-md-5" style="margin-left:50px;">
                <div class="row">
                    <p class="mr-l-10"><img src="~/Content/imagesHome/billing-icon.png">&nbsp;Billing Information</p>
                    <div class="col-md-12 card account-box even-box-bg-color">

                        <div class="row padding-bottom-15 mr-l-r-10">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Name On Card:</label>
                                @Html.TextBoxFor(x => x.NameOnCard, new { @id = "txtName", @class = "form-control", @placeholder = "Name On Card" })
                                <span class="RequiredField" id="nameError"></span>
                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Phone:</label>
                                @Html.TextBoxFor(x => x.Phone, new { @id = "txtPhone", @class = "form-control ", @placeholder = "Phone" })
                                <span class="RequiredField" id="PhoneErr"></span>
                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Address:</label>
                                @Html.TextBoxFor(x => x.Address, new { @id = "txtAddress", @class = "form-control", @placeholder = "Address" })
                                <span id="addErr" class="RequiredField"></span>
                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">City</label>
                                @Html.TextBoxFor(x => x.City, new { @id = "txtCity", @class = "form-control", @placeholder = "City" })
                                <span id="CityError" class="RequiredField"></span>
                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">State</label>
                                @Html.TextBoxFor(x => x.State, new { @id = "txtState", @class = "form-control", @placeholder = "State" })
                                <span id="StateErr" class="RequiredField"></span>
                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Zip</label>
                                @Html.TextBoxFor(x => x.Zip, new { @id = "txtZip", @class = "form-control", @placeholder = "Postal Code" })
                                <span id="zipErr" class="RequiredField"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-5" style="margin-left:550px ; padding:20px!important; ">
                <div class="row">
                    <p class="mr-l-10"></p>
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Create Invoice</button>
                    <a class="btn btn-secondary" href="/Admin/Data"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>

                </div>
            </div>
            <div class="col-md-1"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>

}
