﻿
@model EM.Factory.ViewModels.ListViewModel
<div class="modal fade bs-example-modal-sm" id="myModalCreateListPopUp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="GetGroup();">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Create a List</h4>
            </div>
            <!--Body-->
            <div class="white-bg-cont">
                <div class="row">
                  <div class="clearfix"></div>
                     <div class="form-group box_group add_file col-lg-12 col-sm-12 col-xs-12 col-ms-12 pad_lr-0">
                         <div class="group1">
                            <div class="col-lg-3 col-sm-3 col-xs-3 col-ms-3">
                                <label>List Name:</label>
                            </div>
                            <div class="col-lg-9 col-sm-9 col-xs-9 col-ms-9 group1">
                            @* @Html.TextBox("txtListName", null, new { @class = "form-control inputtext", @maxlength = "25" })*@

                            @Html.TextBoxFor(m => m.ListName, new { @id = "txtListName", @class = "form-control inputtext", @maxlength = "25" })
                            <span id="lblListName" class="RequiredField"></span>
                            </div>
                         </div>
                         <div class="col-lg-8 col-sm-8 col-xs-8 col-ms-8 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4 col-ms-offset-4 ">
                                <button type="submit" class="waves-effect waves-light btn btn_default" value="Submit" id="btnCreateGroupName" style="margin:3px;" onclick="AddList();"> Add List</button>
                                <button type="submit" class="btn btn-warning waves-effect waves-light" value="Submit" id="btnRestGroup" style="margin:3px;" onclick="ResetList();"> Reset</button>
                         </div>

                          <div class="clearfix"></div>
                      </div>
                        <div>

                        </div>
                        <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        @*Footer*@

    </div>
    <!--/.Content-->
</div>

@section PageScript{
    <script src="~/Content/CustomJs/ImportContactList.js?v=02042020"></script>
}
