﻿<style>
    .user-details-btn {
        font-size: 14px !important;
        margin-bottom: 12px;
    }
</style>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdnUserId" value="@TempData["id"]" />

@*// top menu*@
<div class="mini-charts" style="padding:20px!important;">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="col-md-12 text-center">
                <div class="btn_wrapper">
                    <a class="btn btn-primary user-details-btn" id="accountActive" onclick="getAccountDetailsView()" href="#!">ACCOUNT DETAILS</a>
                </div>
                <div class="btn_wrapper">
                    <a class="btn btn-primary user-details-btn" id="managebillingActive" onclick="getManageBilling()" href="#!">MANAGE BILLING</a>
                </div>
                <div class="btn_wrapper">
                    <a class="btn btn-primary user-details-btn" id="createInvoiceActive" onclick="getInvoice()" href="#!">CREATE INVOICE</a>
                </div>
                <div class="btn_wrapper">
                    <a class="btn btn-primary user-details-btn" id="invoiceActive" onclick="bindInvoiceGrid()" href="#!"> VIEW INVOICE</a>
                </div>
                <div class="btn_wrapper">
                    <a class="btn btn-primary user-details-btn" id="noteNoteActive" onclick="getNoteView()" href="#!">ADD NOTES</a>
                </div>
                <div class="btn_wrapper">
                    <a class="btn btn-primary user-details-btn" id="verifiedEmailActive" onclick="bindVerifiedEmail()" href="#!">VERIFIED EMAILS</a>
                </div>
                <div class="btn_wrapper">
                    <a class="btn btn-primary user-details-btn" id="re-activateCampActive" onclick="reactivateCampaign()" href="#!">RE-ACTIVATE CAMPAIGN SENDING</a>
                </div>

            </div>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li><a href="/Admin/Dashboard">Dashboard</a></li>
    <li class="active">User Details</li>

</ol>
<div class="white-bg-cont">
    @*Div to bind partial view html*@
    <div class="row">
        <div class="ml-2 col-md-12">
            <div class="ml-2 col-md-12">
                <div id="containerDiv">


                </div>
            </div>

        </div>

        @{
            Html.RenderPartial("ImportContact");
        }
        @{
            Html.RenderPartial("CreateList");
        }
    </div>

    @section PageScript{
        <script src="~/Content/CustomJs/ManageUser.js?v=04082020"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                preventEnterForSubmittingForm();
            });
        </script>

    }


