﻿@model EM.Web.Areas.Admin.Models.ManageBillingModel
@{
    ViewBag.Title = "Manage Billing";
}

@using (Ajax.BeginForm("ManageBillingDetails", "ManageUser", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onUpdateManageSucess", OnFailure = "onUpdateManageFailure" }))
{
    <div class="app-title">

        <div>
            <h3><span class="text-20">Manage Billing</span></h3>
        </div>
    </div>
    <div class="content card">
        <div class="row card-body">
            <!-- /.col -->
            <div class="col-md-5">
                <div class="row">
                    <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;Account Information</p>
                    <div class="col-md-12 card account-box even-box-bg-color">
                        @Html.HiddenFor(x => x.ManageBilling.Id)


                        <div class="row padding-bottom-15 mr-l-r-10">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Date Registered</label>
                                @Html.TextBoxFor(x => x.ManageBilling.DateRegistered, new { @class = "form-control", @placeholder = "Date Registered", @readonly = true })
                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Last Login</label>
                                @Html.TextBoxFor(x => x.ManageBilling.LastLogin, new { @class = "form-control", @placeholder = "Last Login", @readonly = true })
                            </div>
                        </div>

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Account Status</label>
                                @Html.DropDownListFor(x => x.ManageBilling.IsActive, new List<SelectListItem> {
                                                             new SelectListItem { Text = "Active", Value = "true" },
                                                             new SelectListItem { Text = "InActive", Value = "false" }, } ,new {@class="form-control"})
                                @*@Html.TextBoxFor(x => x.IsActive, new { @class = "form-control", @placeholder = "Status" })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5" style="margin-left:50px;">
                <div class="row">
                    <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;Campaign Information</p>
                    <div class="col-md-12 card account-box odd-box-bg-color">

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Sent Today</label>
                                @Html.TextBoxFor(x => x.ManageBilling.SentToday, new { @class = "form-control", @placeholder = "Sent Today", @readonly = true })
                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Sent Total</label>
                                @Html.TextBoxFor(x => x.ManageBilling.SentTotal, new { @class = "form-control", @placeholder = "Sent Total", @readonly = true })

                            </div>
                        </div>

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Subscribers</label>
                                @Html.TextBoxFor(x => x.ManageBilling.Contacts, new { @class = "form-control", @placeholder = "Subsribers", @readonly = true })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5" style="margin-left:10px;">
                <div class="row">
                    <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;Plan Information</p>
                    <div class="col-md-12 card account-box odd-box-bg-color">

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Active Plan</label>
                                @Html.DropDownListFor(x => x.ManageBilling.PlanId, Model.MemberTypeList, new { @class = "form-control" , onchange="GetSubscriberList()"})
                            </div>
                        </div>

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">No. Of Subscriber</label>
                                @Html.DropDownListFor(x => x.ManageBilling.PackageId, Model.SubscriberList, new { @id = "ddlSub", @class = "form-control", onchange="GetPackageDetails()"})
                            </div>
                        </div>

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Plan Price</label>
                                @Html.TextBoxFor(x => x.ManageBilling.PayGPrice, new { @class = "form-control", @placeholder = "PayG Price", @readonly = true })
                            </div>
                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Billing Amount</label>
                                @Html.TextBoxFor(x => x.ManageBilling.BillingAmount, new { @class = "form-control", @placeholder = "Billing Amount" })

                            </div>
                        </div>

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Monthly Credits</label>
                                @Html.TextBoxFor(x => x.ManageBilling.MonthlyCredit, new { @class = "form-control ", @placeholder = "Monthly Credit" })

                            </div>
                        </div>

                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Billing Status</label>
                                @Html.DropDownListFor(x=>x.ManageBilling.BillingStatus , new List<SelectListItem> {
                                                            new SelectListItem { Text = "Active", Value = "1" },
                                                            new SelectListItem { Text = "InActive", Value = "-1" },}, new { @class = "form-control" })

                            </div>
                        </div>



                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Next Billing</label>
                                @Html.TextBoxFor(x => x.ManageBilling.NextBillingDate, new { @class = "form-control" })

                            </div>

                        </div>
                        <div class="row mr-l-r-10 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <label class="control-label">Last Billing</label>
                                @Html.TextBoxFor(x => x.ManageBilling.LastBilling, new { @class = "form-control", @placeholder = "Last Billing", @readonly = true })
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="col-md-5" style="margin-left:100px ; padding:20px!important;">
                <div class="row">
                    <p class="mr-l-10"></p>


                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Update Info</button>
                    <button class="btn btn-primary" type="button" onclick="getBillClient()"><i class="fa fa-fw fa-lg fa-dollar"></i>Bill Client</button>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />

}
<script>

    $(document).ready(function ()
    {

        var NextDate = '@Model.ManageBilling.NextBillingDate';
        $('#ManageBilling_NextBillingDate').val(NextDate);
        initSignalDatePickerWithTime($('#ManageBilling_NextBillingDate'));
        if (NextDate == '') {
            $('#ManageBilling_NextBillingDate').val('');
        }

          

        })
</script>

@*<div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">Last Upload</label>
            @Html.TextBoxFor(x => x.LastUpload, new { @class = "form-control", @placeholder = "Last Upload", @readonly = true })

        </div>
    </div>

    <div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">Last Upload Amount</label>
            @Html.TextBoxFor(x => x.LastUploadAmount, new { @class = "form-control", @placeholder = "Last Upload Amount", @readonly = true })

        </div>
    </div>*@
@*<div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">Bill Type</label>
            @Html.TextBoxFor(x => x.BillType, new { @class = "form-control", @placeholder = "BillType" })
        </div>
    </div>*@
@*<div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">One Time Owned</label>
            @Html.TextBoxFor(x => x.OneTimeOwned, new { @class = "form-control", @placeholder = "One Time Owned" })
        </div>
    </div>
    <div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">Amount Owned</label>
            @Html.TextBoxFor(x => x.AmountOwned, new { @class = "form-control", @placeholder = "Amount Owned" })
        </div>
    </div>*@
@*<div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">PayG Credits</label>
            @Html.TextBoxFor(x => x.PayGCredits, new { @class = "form-control", @placeholder = "PayG Credits" })
        </div>
    </div>
    <div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">Num Keywords</label>
            @Html.TextBoxFor(x => x.NumKeywords, new { @class = "form-control", @placeholder = "Num Keywords" })

        </div>
    </div>
    <div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">Keywords</label>
            @Html.TextBoxFor(x => x.Keywords, new { @class = "form-control", @placeholder = "Keywords" })
        </div>
    </div>*@

@*<div class="col-md-6 padding-bottom-15">
        <div class="inner-addon left-addon">
            <label class="control-label">SMPP Reload</label>
            @Html.TextBoxFor(x => x.SMPPReload, new { @class = "form-control", @placeholder = "SMPP Reload" })

        </div>
    </div>*@
