﻿
@model IEnumerable<EM.Factory.ViewModels.SubscriberViewModel>
<div class="app-title">
    @*<div>
            <h1><i class="app-menu__icon fa fa-folder-open"></i>Import Contact List Preview</h1>
        </div>*@
    @*<ul class="app-breadcrumb breadcrumb">
            @if (User.IsInRole("Admin"))
            {
                <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else if (User.IsInRole("SalesRep"))
            {
                <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else
            {
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            }
            <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/User/List">My Groups</a></li>
            <li class="breadcrumb-item">Subscribers</li>
        </ul>*@
</div>

<div class="row">



    <div class="col-md-12">

        <div class="tile">
            <div class="row margin-top-16">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 padding-top-6">
                    <div class="animated-checkbox margin-left-12">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-right">
                    <a class="mb-2 btn btn-outline-danger btn-width" href="javascript:void(0)" onclick="getAccountDetailsView()"> Cancel</a>
                    <a class="mb-2 btn btn-outline-success btn-width" href="javascript:void(0)" onclick="SaveImportSubscriberList('@ViewBag.ExcelFilePath',@ViewBag.ListId,$('#hdnUserId').val())"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Confirm And Proceed </a>
                </div>
            </div>
            <input type="hidden" id="ExcelFilePath" value="@ViewBag.ExcelFilePath" />
            <div class="table-responsive margin-top-16" id="">
                <table class="table table-striped text-14">
                    <thead>
                        <tr>
                            <th class="nomargin text-18 text-bold">Email</th>
                            <th class="nomargin text-18 text-bold">FirstName</th>
                            <th class="nomargin text-18 text-bold">LastName</th>
                            <th class="nomargin text-18 text-bold">City</th>
                            <th class="nomargin text-18 text-bold">State</th>
                            <th class="nomargin text-18 text-bold">Country</th>
                            <th class="nomargin text-18 text-bold">Zip Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle text-14">@item.Email</td>
                                    <td class="align-middle text-14">@item.FirstName</td>
                                    <td class="align-middle text-14">@item.LastName</td>
                                    <td class="align-middle text-14">@item.City</td>
                                    <td class="align-middle text-14">@item.State</td>
                                    <td class="align-middle text-14">@item.Country</td>
                                    <td class="align-middle text-14">@item.ZipCode</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">No Record Found</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>


