﻿
<ol class="breadcrumb">
    <li><a href="/Admin/Dashboard">Dashboard</a></li>
    <li class="active">Verified Email</li>

</ol>
<div class="white-bg-cont">
    @*Div to bind partial view html*@
    <div class="row">
        <div class="ml-2 col-md-12">
            <div class="ml-2 col-md-12">
                <div id="containerDiv">
                </div>
            </div>

        </div>
    </div>
    </div>
