﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    select {
        display: block;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
    <li class="active">Data</li>

</ol>
<div class="white-bg-cont">
    <!-- Search By Start here-->
    <div class="row search-by">
        <div class="col-sm-12"><h3>Search By</h3></div>
        <div class="col-sm-12">
            <form class="form-horizontal spend-res spend-data">
                <div class="col-sm-12 col-md-12 col-lg-6 datafeild">
                    <div class="input-field clearfix">
                        <div class="col-sm-3 col-xs-4 col-md-2 col-lg-2 col-xl-1">
                            <label class="form-group">TIME</label>
                        </div>
                        <div class="col-sm-3 col-xs-6 col-md-4 col-lg-4 col-xl-3">
                            <input type="checkbox" class="filled-in" id="chkDates" checked="checked" >
                            <label for="chkDates">ALL DATES</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="input-field clearfix">
                        <div class="col-sm-1 mrg-t-40">
                            <input name="group2" type="radio" class="with-gap" id="rbDate">
                            <label class="" for="rbDate"></label>
                        </div>
                        <div class="form-group col-sm-5"><label class="spend-label">Date Range</label><input type="text" class="form-control" id="txtFrom" disabled="disabled"></div>
                        <div class="form-group col-sm-5"><label class="spend-label">Through</label><input type="text" class="form-control" id="txtTo" disabled="disabled"></div>
                    </div>

                    <div class="input-field clearfix">
                        <div class="col-sm-1 mrg-t-40">
                            <input name="group2" type="radio" class="with-gap" id="rbYears">
                            <label class="" for="rbYears"></label>
                        </div>
                        <div class="col-sm-4">
                            <label class="spend-label">Year</label>
                            @Html.DropDownList("ddlYears", ViewData["ddlYears"] as IEnumerable<SelectListItem>, "--Years--", new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <div class="col-sm-3">
                            <label class="spend-label">Quarter</label>
                            <select class="form-control" id="ddlQuarter" disabled="disabled">
                                <option value="">--Quarters--</option>
                                <option value="1">Q1(Jan 01-Mar 31)</option>
                                <option value="2">Q2(Apr 01-Jun 30)</option>
                                <option value="3">Q3(Jul 01-Sept 31)</option>
                                <option value="4">Q4(Oct 01-Dec 31)</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label class="spend-label">Month</label>
                            @Html.DropDownList("ddlMonths", ViewData["ddlMonths"] as IEnumerable<SelectListItem>, "--Months--", new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>

                    <div class="input-field clearfix">
                        <div class="col-sm-1 hidden-xs-down"><label for="radio3" class="form-group"></label></div>
                        <div class="form-group col-sm-5">
                            <label class="spend-label">Member Type</label>
                            @Html.DropDownList("ddlPackage", (SelectList)ViewData["ddlPackage"], "--ALL Types--", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-sm-5">
                            <label class="spend-label">Status</label>
                            <select class="form-control" id="ddlAcType">
                                <option value="">All Accounts</option>
                                <option value="True">Active Accounts</option>
                                <option value="False">Inactive Accounts</option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="col-sm-12 col-md-12 col-lg-6 datafeild">
                    <div class="input-field clearfix">
                        <div class="col-sm-3 col-xs-4 col-md-3 col-lg-4 col-xl-2">
                            <label class="form-group spend-label">LOCATION</label>
                        </div>
                        <div class="col-sm-4 col-xs-8 col-md-4 col-lg-6 col-xl-4">
                            <input type="checkbox" class="filled-in" id="chkLocation" checked="checked">
                            <label for="chkLocation">ALL LOCATION</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="input-field clearfix">
                        <div class="col-sm-6">
                            <label class="spend-label">State</label>
                            @Html.DropDownList("ddlStates", (SelectList)ViewData["ddlStates"], "--States--", new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <div class="form-group col-sm-6"><label class="spend-label">City</label><input type="text" class="form-control" id="txtCity" disabled="disabled"></div>
                    </div>

                    <div class="input-field clearfix">
                        <div class="form-group col-sm-6">
                            <label class="spend-label">Zip</label>
                            <input type="text" class="form-control" id="txtZip" disabled="disabled">
                        </div>
                        <div class="col-sm-6">
                            <label class="spend-label">Time Zone</label>
                            @Html.DropDownList("ddlTimeZone", (SelectList)ViewData["ddlTimeZone"], "--Select--", new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>

                    <div class="input-field clearfix">
                        <div class="col-sm-12">
                            <label class="spend-label">Find Accounts</label>
                            <select class="form-control" id="ddlAccount">
                                <option value="">All Accounts</option>
                                <option value="1">Declined Billing</option>
                                <option value="2">Sent Messages</option>
                                <option value="3">Has Not Sent Messages</option>
                                <option value="4">New Registrants</option>
                                <option value="5">Has Logged In</option>
                                <option value="6">Has Not Logged In</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="col-sm-12 brd-top form-inline clearfix">
                    <div class="form-group">
                        <label for="">Campaign Type:</label>
                        @Html.DropDownList("ddlCampaignType", (SelectList)ViewBag.CampaignList, "Select", new { @class = "form-control spend-ddl-btm" })
                    </div>
                    <div class="form-group pull-right">
                        <a class="btn btn_default btn-search text-uppercase pull-right mrg-t-0" onclick="searchData()">Search</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Search Results data table -->

    <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
        <table id="DataTable" class="display new_grid" style="width:100%"></table>
    </div>


</div>

@section PageScript{
    <script type="text/javascript">
        initSignalDatePickerWithTime($('#txtFrom'));
        initSignalDatePickerWithTime($('#txtTo'));

    </script>
    <script src="~/Content/CustomJs/AdminDataTab.js?v=05272019"></script>
}