﻿@model EM.Web.Areas.Admin.Models.AdminUpcomingBillingViewModel


<!--Edit Modal-->
@using (Ajax.BeginForm("EditUpcomingBilling", "UpcomingBilling", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onBegin();", OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="modal" tabindex="-1" role="dialog" id="editUpcomingModal">

        <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">

            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Upcoming Billing Details</h4>

                </div>
                <!--Body-->
                <div class="modal-body edt-pop">

                    @Html.HiddenFor(m => m.BillingDetails.id)
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Member Type</label>
                            @Html.DropDownListFor(x => x.BillingDetails.PlanId, Model.MemberTypeList, new { @class = "form-control", onchange = "GetSubscriberBillingList()" })

                        </div>

                        <div class="col-sm-6 input-field">
                            <label for="sm-2">No. Of Subscriber</label>
                            @Html.DropDownListFor(x => x.BillingDetails.PackageId, Model.SubscriberList, new { @class = "form-control", onchange = "GetPackageDetailBilling()" })

                        </div>

                        
                        @*<div class="col-sm-6 input-field">
                                <label for="sm-2">Referral Code</label>

                                @Html.TextBoxFor(m => m.BillingDetails.referralcode, new { @class = "form-control" })


                            </div>*@

                    </div>
                    <div class="row">

                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Account Status</label>

                            @Html.DropDownListFor(m => m.BillingDetails.isactive, new List<SelectListItem> {
                                new SelectListItem { Text = "Active", Value = "true" },
                                 new SelectListItem { Text = "InActive", Value = "false" }, }, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Follow Up</label>

                            @Html.TextBoxFor(m => m.BillingDetails.followupdate, new { @class = "form-control" })

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Monthly Credits</label>

                            @Html.TextBoxFor(m => m.BillingDetails.monthlycredit, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Month Bill</label>

                            @Html.TextBoxFor(m => m.BillingDetails.monthlybilling, new { @class = "form-control" })

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Next Bill</label>

                            @Html.TextBoxFor(m => m.BillingDetails.nextbillingdate, new { @class = "form-control" })

                        </div>

                        <div class="col-sm-6 input-field">
                            <label for="sm-2">CHRG Date</label>

                            @Html.TextBoxFor(m => m.BillingDetails.chargeddate, new { @class = "form-control" })

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Referral Code</label>

                            @Html.TextBoxFor(m => m.BillingDetails.referralcode, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Billing Status</label>

                            @Html.DropDownListFor(x => x.BillingDetails.billingstatus, new List<SelectListItem> {
                new SelectListItem { Text = "Active", Value = "1" },
                new SelectListItem { Text = "InActive", Value = "-1" },}, new { @class = "form-control" })


                        </div>
                    </div>

                </div>


                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn_default">Save changes</button>

                </div>

            </div>
            <!--/.Content-->

        </div>
    </div>

}
<input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />

<script type="text/javascript">
    $(document).ready(function (e)
    {
        var billingdate = '@Model.BillingDetails.nextbillingdate';
        var chargedDate = '@Model.BillingDetails.chargeddate';
        var followUp = '@Model.BillingDetails.followupdate';
        $('#BillingDetails_nextbillingdate').val(billingdate);
        initSignalDatePickerWithTime($('#BillingDetails_nextbillingdate'));
        if (billingdate  == "")
        {
            $('#BillingDetails_nextbillingdate').val('');
        }
        $('#BillingDetails_chargeddate').val(chargedDate);
        initSignalDatePickerWithTime($('#BillingDetails_chargeddate'));
        if (chargedDate == "")
        {
            $('#BillingDetails_chargeddate').val('');
        }
        $('#BillingDetails_followupdate').val(followUp);
        initSignalDatePicker($('#BillingDetails_followupdate'));
        if (followUp == "")
        {
            $('#BillingDetails_followupdate').val('');
        }
    })
</script>

