﻿
@{
    ViewBag.Title = "UpcomingBilling";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Admin/Dashboard">Dashboard</a></li>
    <li class="active">Upcoming Billing</li>

</ol>
<div class="white-bg-cont">
    @*<h3 style="color: black">Upcoming Billing</h3>*@
    <div class="spend-result">
        <h4>DATE RANGE:</h4>
        <div class="row margin-bottom-16">

            <div class="col-md-8">
                <div class="col-md-1"><label class="control-label">From : </label></div>
                <div class="col-md-2"><input type="text" name="dateFrom" id="dateFrom" class="form-control" placeholder="From" /></div>
                <div class="col-md-1"><label class="control-label">To : </label></div>
                <div class="col-md-2"><input type="text" name="dateTo" id="dateTo" class="form-control" placeholder="To" /></div>
                <div class="col-md-2">
                    <a class="btn btn-primary" onclick="SearchNB(($('#dateFrom')) , ($('#dateTo')))"><i class="fa fa-search"></i> Search</a>

                </div>
            </div>

        </div>

    </div>

    <label style="color: dodgerblue">CLIENTS</label>
    <div class="container-fluid margin-top-10">
        @*<div id="jsGrid" class="text-10"></div>*@
        <table id="billingTable" class="display" style="width:100%"></table>


    </div>

</div>

<!--Edit upcoming data Modal-->
<div id="EditUpcomingBillingModal"></div>

@section PageScript
    {
    <script src="~/Content/CustomJs/Admin_UpcomingBilling.js?v=10182019"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            initSignalDatePickerWithTime($('#dateFrom'));
            initSignalDatePickerWithTime($('#dateTo'));
            $("#dateFrom").val('');
            $("#dateTo").val('');
            preventEnterForSubmittingForm();
        })
    </script>

}




