﻿@model List<EM.Factory.usp_getUserList_Result>
<style>
    .hide-content {
        display: none;
    }

    .form-row {
        margin-bottom: 30px;
    }
</style>


<div class="choose-template">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-check-square-o" aria-hidden="true"></i> Choose subscribers</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            @if (User.IsInRole("Admin"))
            {
                <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else
            {
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            }
            <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">Choose Subscribers</li>
        </ul>
    </div>
    <div class="row">

        <div class="clearfix"></div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="tile subscrib_wrap">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <div class="row">
                            <div class="col-12"><label class="control-label">To <span style="font-weight: normal;">(Who are you sending this campaign to?)</span><span class="RequiredField">*</span></label></div>
                        </div>
                        @if (Model != null && Model.Count() > 0)
                        {
                            <div class="row">
                                <div class="col-12 lh_28">
                                    <input type="checkbox" value="All" id="Allchk" onchange="selectAll(this)" /><span style="font-weight:bold"> Select All List</span>
                                </div>
                            </div>
                            <div class="form-row lh_28">
                                @foreach (var item in Model.OrderBy(item=>item.ListName))
                                {
                                    if (item.TotalSubscriber != 0)
                                    {
                                        <div class="col-md-6">
                                            <input type="checkbox" value="@item.ListId" class="selectedList" onchange="addList()" id="list_@item.ListId" contacts="@item.TotalSubscriber" ListNamesSelected="@item.ListName"/><span> @item.ListName</span>
                                            <span>(@item.TotalSubscriber)</span>
                                        </div>
                                    }
                                }
                            </div>
                        }
                        <span id='lstError' class='RequiredField'></span>
                    </div>
                    <div class="result_all">
                        Total number of contacts selected: <span id="lblTotalSubscribers"></span>
                        <div class="clearfix"></div>
                        @*<span class="hilight_txt">Please wait while we calcuate the total number of contacts(minus duplicates) before Clicking "Step 3"</span>*@
                    </div>
                </div>
                <div class="txt-info text-12">
                    @*<i class="fa fa-info-circle" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.*@
                </div>
                <div class="table-responsive margin-top-16">
                    <table class="table table-striped text-14">
                        <tbody id="subscriberList"></tbody>
                    </table>
                </div>

                @*<div class="text-right">
                        <span class="text-muted mr-2">Showing 1-15 out of 60</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>*@
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="tile p-0 mb-3">
                <div class="tile-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="right-template-box px-4 py-4">
                                <div class="image_box">
                                    <img src="/Content/imagesUser/template.jpg" class="img-fluid templateTempImage">
                                </div>
                                <div class="template_detail">
                                    <ul>
                                        <li><strong>Subject: <span class="subjectSpan"></span></strong></li>
                                        <li><span id="curDateCamp"></span></li>
                                        <li><strong>To: </strong><span id="toSpan"></span></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <button class="mt-4 btn btn-success btn-block btn-lg CampaignListSubscriberViewNextBtn" href="javascript:void(0)" onclick="NavigateTo('CreateCampaign')">Continue <span class="badge badge-pill badge-dark">2/3</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile p-0">
                <div class="tile-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="right-template-box px-4 py-4">
                                <div class="image_box">
                                    <strong>Emails:</strong>
                                </div>
                                <div class="Emailsdiv" style='overflow: scroll; max-height: 218px;'>

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bottom-fix">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success float-left" onclick="$('#isFlag').val(1),NavigateTo('CampaignEditorView')">Back</button>
            <button type="button" class="btn btn-success float-right CampaignListSubscriberViewNextBtn" onclick="NavigateTo('CreateCampaign')" disabled="disabled">Next</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#curDateCamp").html(moment().format("MMM DD, YYYY hh:mm A"));
        //var ListNames = $("#ListNamesHdn").val();
        //$("#toSpan").html(ListNames);
    });
</script>

