﻿@model IEnumerable<EM.Factory.usp_getCampaignList_Result>
@{ var ProfileDetails = EM.Web.Utilities.CurrentUser.getCurUserDetails();}
<table class="table table-striped text-14">
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var imagePath = "/Content/imagesUser/template.jpg";
                if (item.ContentImagePath != null && System.IO.File.Exists(Server.MapPath(item.ContentImagePath)))
                {
                    imagePath = Url.Content(item.ContentImagePath);
                }
                <tr>
                    <td class="align-middle text-left" style="width:10%;">
                        <div style=" max-width:350px;min-width:200px; width:100%; display:block; margin: 0 auto;">
                            <img src="@imagePath" class="img-border-gray" style="width: 100%;height: 100%;border: 1px solid #0794cc;">
                        </div>
                    </td>

                    <td class="align-middle text-left " style="width: 50%;">
                        <ul @*class="email-opened nomargin padding-left-16"*@ style="list-style:none">
                            <li>
                                @if (item.Status != null)
                                {
                                    if (item.Status.ToLower() == CampaginStatus.Sent.ToString().ToLower())
                                    {
                                        <span class="text-bold text-18"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Subject=@item.Subject&Recipient=@item.SubscriberIds&FromEmail=@item.FromEmail&CampaignName=@item.CamapignName&IsCampaignFlag=0">@Html.Raw(item.CamapignName)</a></span>
                                    }
                                    else
                                    {
                                        <span class="text-bold text-18"><a href="#" onclick="$('#CampaignId').val('@item.CampaignId');NavigateTo('CampaignNameView');">@Html.Raw(item.CamapignName)</a></span>
                                    }
                                }
                                <br>
                                <span class="text-gray text-13">@item.ListName</span>
                                @{
                                    var lastEditedDate = DateTime.Now;
                                    if (item.Status.ToLower() == CampaginStatus.Schedule.ToString().ToLower())
                                    {
                                        lastEditedDate = item.ScheduledDateTime == null ? item.CreatedDate : Convert.ToDateTime(item.ScheduledDateTime);
                                        <br>
                                        <span class="text-13"><b>Scheduled</b> on <span id="scheduledDateTime_@item.CampaignId">@lastEditedDate</span> by @item.EditedBy </span>
                                        <br>
                                    }
                                    else if (item.Status.ToLower() == CampaginStatus.Sent.ToString().ToLower())
                                    {
                                        lastEditedDate = item.SentDate == null ? item.CreatedDate : (Convert.ToDateTime(item.SentDate));
                                        <br>
                                        <span class="text-13"><b>Sent</b> on <span id="sentDateTime_@item.CampaignId">@lastEditedDate</span> by @item.EditedBy</span>
                                        <br>
                                    }
                                    else if (item.Status.ToLower() == CampaginStatus.Queued.ToString().ToLower())
                                    {
                                        lastEditedDate = item.SentDate == null ? Convert.ToDateTime(item.ScheduledDateTime) : Convert.ToDateTime(item.SentDate);
                                        <br>
                                        <span class="text-13"><b>Edited</b> on <span id="createdDateTime_@item.CampaignId">@lastEditedDate</span> by @item.EditedBy</span>
                                        <br>
                                    }
                                    else
                                    {
                                        lastEditedDate = item.LastModDate == null ? item.CreatedDate : Convert.ToDateTime(item.LastModDate);
                                        <br>
                                        <span class="text-13"><b>Edited</b> on <span id="cmDateTime_@item.CampaignId">@lastEditedDate</span> by @item.EditedBy</span>
                                        <br>
                                    }

                                }
                                @*<br>
                                    <span class="text-13"><b>Edited</b> on @lastEditedDate.ToString("MMMM")   @lastEditedDate.Day<sup>@DataHelper.GetDaySuffix(lastEditedDate.Day)</sup> @lastEditedDate.ToString("yyyy") @lastEditedDate.ToString("hh:mm") @lastEditedDate.ToString("tt") by @item.EditedBy</span>
                                    <br>*@
                                <span class="text-gray text-13">@item.Status</span>
                            </li>
                        </ul>
                    </td>

                    <td class="align-middle text-left " style="width: 77%;">
                        @if (item.Status == CampaginStatus.Sent.ToString())
                        {
                            if (item.TotalSent == 0 && item.TotalFailed == 0)
                            {
                                <span class="badge badge-success text-14 padding-6"><i class="fa fa-check" aria-hidden="true"></i>@item.Status</span>

                            }
                            else if (item.TotalSent != 0 && item.TotalFailed == 0)
                            {
                                @*<span class="badge badge-success text-14 padding-6">@item.TotalSent <i class="fa fa-check" aria-hidden="true"></i>@item.Status</span>*@
                                <span class="badge badge-success text-14 padding-6"><i class="fa fa-check" aria-hidden="true"></i>@item.Status</span>


                            }
                            else
                            {
                                int sentCount = item.TotalSent * 1000;
                                int failedCount = item.TotalFailed * 1000;
                                <span class="badge badge-success text-14 padding-6"><i class="fa fa-check" aria-hidden="true"></i>@sentCount @item.Status</span>
                                <span class="badge badge-danger text-14 padding-6"><i class="fa fa-check" aria-hidden="true"></i>@failedCount Failed</span>


                            }
                        }
                        else if (item.Status == CampaginStatus.Draft.ToString())
                        {
                            <span class="badge badge-secondary text-14 padding-6"><i class="fa fa-envelope-o" aria-hidden="true"></i>@item.Status</span>
                        }
                        else if (item.Status == CampaginStatus.Schedule.ToString())
                        {
                            <span class="badge badge-warning text-14 padding-6"><i class="fa fa-calendar" aria-hidden="true"></i>@item.Status</span>
                        }
                        else if (item.Status == CampaginStatus.Queued.ToString())
                        {
                            <span class="badge badge-warning text-14 padding-6"><i class="fa fa-link" aria-hidden="true"></i>@item.Status</span>
                        }
                        else
                        {
                            <span class="badge badge-danger text-14 padding-6"><i class="fa fa-remove" aria-hidden="true"></i>@item.Status</span>
                        }


                    </td>

                    <td class="align-middle text-center text-16" style="width: 10%;">
                        <div class="btn-group">
                            @if (item.Status.ToLower() == CampaginStatus.Sent.ToString().ToLower())
                            {
                                <button type="button" class="btn btn-info" onclick='getCampaignStat("@item.CamapignName","@item.CampaignId","@item.SentDate")'>
                                    Stats
                                </button>
                                <button type="button" class="btn btn-info ml-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" onclick='viewEmail(@item.CampaignId,"@item.CamapignName")'>View email</a>
                                    @if (ProfileDetails.BounceRate < Constants.BounceRateLimit)
                                    {
                                        <a class="dropdown-item" href="#" onclick="$('#CampaignId').val('@item.CampaignId');NavigateTo('CampaignReplecateNameView');">Replicate</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" style="cursor: not-allowed; opacity:0.65" title="You have exceed bounce rate limit.Please contact administrator.">Replicate</a>
                                    }
                                    <a class="dropdown-item" href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Subject=@item.Subject&Recipient=@item.SubscriberIds&FromEmail=@item.FromEmail">Report</a>

                                </div>
                            }
                            else if (item.Status.ToLower() == CampaginStatus.Failed.ToString().ToLower())
                            {
                                <button type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" onclick="$('#CampaignId').val('@item.CampaignId');NavigateTo('CampaignNameView');">Edit</button>
                                <button type="button" id="Resend" class="btn btn-info ml-1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" onclick="ResendCampaign(@item.CampaignId)">Resend</button>
                            }
                            else if (item.Status.ToLower() == CampaginStatus.Queued.ToString().ToLower())
                            {

                            }
                            else
                            {
                                <button type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" onclick="$('#CampaignId').val('@item.CampaignId');NavigateTo('CampaignNameView');">Edit</button>

                            }

                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">No Record Found</td>
            </tr>
        }


    </tbody>
</table>
<input type="hidden" id="offset">
<script type="text/javascript">
    $(document).ready(function ()
    {
        getTimeConvertCampaignList("scheduledDateTime_");
        getTimeConvertCampaignList("sentDateTime_");
        getTimeConvertCampaignList("createdDateTime_");
        getTimeConvertCampaignList("cmDateTime_");
        CampaignPage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')

    });
    var a = (new Date().getTimezoneOffset() * -1);


        //$("#Resend").click(function () {
        //    var CampaignId = $('#CampaignId').val();
        //    ResendCampaign('Send');
        //});
</script>

