﻿@model IEnumerable<EM.Factory.usp_getCampaignList_Result>
@{ var ProfileDetails = EM.Web.Utilities.CurrentUser.getCurUserDetails();}
<div class="app-title  PageNumberClass">
    <div>
        <h1 id="lblCampName"><i class="app-menu__icon fa fa-folder-open"></i> My Campaigns</h1>
        <p>Browse, manage and campaigns</p>
    </div>

    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item">My Campaigns</li>
    </ul>
</div>

<div class="row">

    <div class="col-md-12">
        @{
            var attribute = string.Empty;
            if (Model == null || Model.Count() == 0)
            {
                attribute = "disabled disbaledLink";
            }

        }
        <div class="tile">
            <div class="row mb-4 mt-2">
                <div class="col-md-2 col-sm-button">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @attribute>
                            <i class="fa fa-sort"></i> Sort By
                        </button>
                        <div class="dropdown-menu" id="sortCampaign">
                            <a class="dropdown-item" href="javascript:void(0)" onclick="SortCampaign('NameAsc')">Campaign Name (A-Z)</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="SortCampaign('NameDesc')">Campaign Name (Z-A)</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="SortCampaign('DateAsc')">Date Created Ascending</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="SortCampaign('DateDesc')">Date Created Descending</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-search">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="searchCampaign" placeholder="Search Campaign" onchange="SearchCampaign($('#searchCampaign'))" @attribute>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchCampaign($('#searchCampaign'))" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-right col-sm-campaign">
                    <a class="mb-2 btn btn-outline-success btn-width" href="javascript:void(0)" onclick="GetCampaignListGrid($('#PageNumber').val(), $('#sortCampaign').find('option:selected').val(), null)"><i class="fa fa-refresh" aria-hidden="true"></i>Refresh</a>
                    @if (ProfileDetails.BounceRate < Constants.BounceRateLimit && ProfileDetails.EmailSending==true)
                    {
                        <a class="mb-2 btn btn-outline-success btn-width" href="javascript:void(0)" onclick="NavigateTo('CampaignNameView','')"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Campaign</a>
                    }
                    else
                    {
                        <a class="mb-2 btn btn-outline-success btn-width" href="#" style="cursor: not-allowed; opacity:0.65" title="You have exceed bounce rate limit.Please contact administrator."><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Campaign</a>
                    }
                </div>
            </div>


            <div class="table-responsive margin-top-16" id="CampaignListGrid">
                @Html.Partial("CampaignListGrid", Model)
            </div>
            @if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecord > Constants.PageSize)
            {
                <div class="text-right">
                    <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" onclick="CampaignPagging('Back')" id="Back"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-primary btn-sm" type="button" onclick="CampaignPagging('Next')" id="Next"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            }
        </div>

    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        CampaignPage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')
        setInterval(function ()
        {
            GetCampaignListGrid($('#PageNumber').val(), $('#sortCampaign').find('option:selected').val(), null)

            //$.ajax({
            //    url: "/User/Campaign/getCampaignListGrid/",
            //    type: "Post",
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "html",
            //    data: JSON.stringify({ page: $("#PageNumber").val(), order: $('#sortCampaign').find('option:selected').val(), search: null }),
            //    success: function (result)
            //    {
            //        HideLoader();
            //        $("#CampaignListGrid").empty().html(result);

            //    },
            //    error: function (xhr, ajaxOptions, thrownError) {
            //        HideLoader();
            //    }
            //});
        }, 60000)
    });
</script>