﻿@model EM.Factory.ViewModels.CampaignViewModel
<style>
    

    .form-row {
        margin-bottom: 30px;
    }
</style>

<div class="row tile">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="">
            <!-- Add subscriber form starts -->
            <div class="row mt-4 mb-4">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <div class="">
                        @if (Model.CampaignId == 0)
                        {
                            <h2><i class="fa fa-envelope-open-o"></i> Create Campaign</h2>
                        }
                        else
                        {
                            <h2><i class="fa fa-envelope-open-o"></i> Replicate Campaign</h2>

                        }
                    </div>
                    Keep your subscribers engaged by sharing your latest  news, promoting a line of products, or announcing an event.
                    <p style="font-size:10px;line-height:1;"><br /></p>
                    <div class="form-group">
                        <label class="control-label text-18">Campaign Name <span class="RequiredField">*</span></label>
                        <input type="text" id="CampaignName" name="CampaignName" class="form-control" />
                        <span id='campaignError' class='RequiredField'></span>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-info" id="beginBtn" type="button" onclick="$('#isReplicate').val('1'); $('#CheckDuplicate').val('1'); NavigateTo('CheapestEmailTemplate')">Begin</button>
                        <button class="btn btn-info" type="button" onclick="CloseCampaignModelView()">Cancel</button>
                        <button class="btn btn-info hide-content" id="cancelBtn" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

</div>
@{
    var IsReset = "False";
    if (ViewBag.actionName == null || ViewBag.actionName == "")
    {
        IsReset = "True";
    }
}
<script type="text/javascript">
    var resetCase = '@IsReset';
    var isEdit = '@ViewBag.IsEdit';
    console.log(isEdit);
    $(document).ready(function () {
        if (resetCase == "True")
        {
            $("#ListIdHdn").val('@Model.ListId');
            $("#TemplateId").val('@Model.TemplateId');
            $("#CampaignId").val('@Model.CampaignId');
            $("#CampaignNameHdn").val("@Html.Raw(Model.CampaignName)" + ' ' + 'copy');
            $("#CampaignName").val("@Html.Raw(Model.CampaignName)" + ' ' + 'copy');
            $("#ContentImagePath").val('@Model.ContentImagePath');
            $("#subscriberIds").val('@Model.SubscriberIds');
            $("#FromNameHdn").val('@Model.FromName');
            $("#FromEmailHdn").val("@Html.Raw(Model.FromEmail)");
            $("#SubjectHdn").val("@Html.Raw(Model.Subject)");
            $("#PreviewTextHdn").val('@Model.PreviewText');
            $("#ScheduleDateHdn").val('@Model.ScheduleDate');
            $("#CampaignStatus").val('@Model.Status');
            $('#ListNamesHdn').val('@Model.ListName');
            $("#SendingFromEmail").val('@Model.SendingFromEmail');
            $('#EmailNamesHdn').val('@Model.ListEmails');
        }
    });
</script>

