﻿@model EM.Factory.ViewModels.TemplateViewModel
@{
    ViewBag.Title = "Email Marketing Bee-Plugin";
    var userDetails = Newtonsoft.Json.JsonConvert.SerializeObject(EM.Web.Utilities.CurrentUser.getCurUserDetails());
}

<style>
    .app-content {
        margin-top: 26px !important;
        padding-bottom: 0px !important;
    }

    #bee-plugin-container {
        min-height: -webkit-calc(100vh - 80px);
        min-height: -moz-calc(100vh - 80px);
        min-height: calc(100vh - 80px);
    }

    .template-strip-top {
        background-color: #505659;
        width: 100%;
        padding: 12px;
    }

    .text-12px {
        font-size: 11px !important;
        font-weight: 900;
    }


    .btn-info {
        color: #fff !important;
        background-color: #4cb9ea !important;
        border-color: #35b0e7 !important;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

        .btn-info:hover {
            background-color: #1da7e5 !important;
            border-color: #1da7e5 !important;
        }

    .btn.btn-info.btn-sm.text-12px {
        cursor: pointer;
    }

    body {
        background-color: #505659;
    }
</style>

<input type="hidden" id="TemplateId" name="TemplateId" />
<input type="hidden" id="TemplateName" name="TemplateName" />

<div class="row" style="margin-left:-30px; margin-right:-30px;">
    <div class="col-12 pl-0 pr-0">
        <div class="template-strip-top text-right btn_center_mobile">
            <button class="btn btn-info btn-sm text-12px btns_nopadding" onclick="bee.preview()">PREVIEW</button> &nbsp;&nbsp;<button class="btn btn-info btn-sm text-12px btns_nopadding" onclick="Flag = 'Save as Draft'; bee.save()">SAVE AS DRAFT</button> &nbsp;&nbsp;<button class="btn btn-info btn-sm text-12px btns_nopadding save-temp-btn" onclick="bee.saveAsTemplate()">SAVE AS TEMPLATE</button>
        </div>
    </div>

    <div id="bee-plugin-container" style="width:100%;"></div>


    <div class="col-12 pl-0 pr-0">
        <div class="bottom-fix">
            <div class="row ml-1 mr-1">
                <div class="col-6">
                    <button type="button" class="btn btn-success float-left" onclick="$('#TemplateId').val(0);NavigateTo('CheapestEmailTemplate')">Back</button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-success float-right" onclick="Flag = 'Save';NextPageAlert()">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="canvas"></div>


@*<div class="row" style="margin-right:-29px;margin-left:-29px;">
        <h2 style="color:green;text-align:center" id="heading">BeePlugin Editor</h2>
        <input type="hidden" id="TemplateId" name="TemplateId" />
        <input type="hidden" id="TemplateName" name="TemplateName" />
        <div class="template-strip-top text-right btn_center_mobile">
            <button class="btn btn-info btn-sm text-12px btns_nopadding" onclick="bee.preview()">PREVIEW</button> &nbsp;&nbsp;<button class="btn btn-info btn-sm text-12px btns_nopadding" onclick="Flag = 'Save as Draft'; bee.save()">SAVE AS DRAFT</button> &nbsp;&nbsp;<button class="btn btn-info btn-sm text-12px btns_nopadding" onclick="bee.saveAsTemplate()">SAVE AS TEMPLATE</button>
        </div>
        <div id="bee-plugin-container" style="width:100%; height: 100%;"></div>

        <div class="bottom-fix">

            <div class="col-12">
                <button type="button" class="btn btn-secondary float-left" onclick="$('#TemplateId').val(0);NavigateTo('CheapestEmailTemplate')">Back</button>
                <button type="button" class="btn btn-secondary float-right" onclick="NextPageAlert()">Next</button>
            </div>

        </div>
    </div>
    <div id="canvas"></div>*@

@*<script src="~/Scripts/BeePlugin.js"></script>*@
<script src="https://app-rsrc.getbee.io/plugin/BeePlugin.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

<script type="text/javascript">

    var userDetails = @Html.Raw(userDetails);
    userDetails.CompanyName = userDetails.CompanyName != null ? capitalizeWords(userDetails.CompanyName) : "";
    userDetails.Address1 = userDetails.Address1 != null ? capitalizeWords(userDetails.Address1) : "";
    userDetails.City = userDetails.City != null ? capitalizeWords(userDetails.City)+"," : "";
    userDetails.State = userDetails.State != null ? userDetails.State : "";
    userDetails.Country = userDetails.Country != null ? " - " +userDetails.Country : "";
    userDetails.Zip = userDetails.Zip != null ? userDetails.Zip : "";
    var uri = '/Templates/AuthorizeBEE';
    var unsubscribeUrl = "@Constants.ApiURL"+"Home/Unsubscribe?id=%tag2&e=%tag%&uid=" + userDetails.Id
    var footerNxtPreview = '<div class="bottom-fix">< div class="col-12" ><button type="button" class="btn btn-secondary float-left" onclick="$("#TemplateId").val(0);NavigateTo("LayoutTemplate")">Back</button> <button type="button" class="btn btn-secondary float-right" onclick="">Next</button></div > </div >';

        var specialLinks = [];

        var mergeTags = [
            {
                name: 'First Name',
                value: '%recipient.FirstName%'
            },
            {
                name: 'Last Name',
                value: '%recipient.LastName%'
            },
            {
                name: 'Email',
                value: '%recipient.Email%'
            }, {
                name: 'Contact',
                value: '%recipient.PhoneNo%'
            }
        ];

    var footerJson = {
        "type": "one-column-text",
        "name": "One Column (Text)",
        "icon": "https://app-rsrc.getbee.io/public/resources/setup/rows/one-column-text.svg",
        "container": {
            "style": {
                "background-color": "#444444"
            }
        },
        "content": {
            "style": {
                "background-color": "transparent",
                "color": "#333",
                "width": "500px"
            }
        },
        "columns": [{
            "grid-columns": 12,
            "modules": [{
                "type": "mailup-bee-newsletter-modules-text",
                "descriptor": {
                    "text": {
                        "html": "<p style=\"font-size: 18px; line-height: 21px; text-align: center;\" data-mce-style=\"font-size: 18px; line-height: 21px; text-align: center;\"><span style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 14px;\">"
                                 + userDetails.CompanyName +"</span><br><span style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 14px;\">"
                                 + userDetails.Address1 +"</span><br><span style=\"font-size: 14px; line-height: 16px;\" data-mce-style=\"font-size: 14px; line-height: 14px;\">"
                            + userDetails.City + "&nbsp;" + userDetails.State+' '+userDetails.Zip +""+ userDetails.Country +
                            "</span><br><strong><a style=\"font-size: 12px;text-decoration:none;\" href=\"%recipient.unsubUrl%\" target=\"_blank\">Unsubscribe from this list</a></strong></span></span><br><br><span style=\"font-size: 12px; line-height: 12px;\" data-mce-style=\"font-size: 12px; line-height: 12px;\">Powered By </span><strong><a style=\"font-size: 12px;text-decoration:none;\" href=\"https://www.app.cheapestemail.com\"target=\"_blank\"> CheapesteMail</a></strong></span></span></p> ",
                        "style": {
                            "color": "#bbbbbb",
                            "line-height": "120%",
                            "font-family": "inherit"
                        },
                        "computedStyle": {
                            "linkColor": "#C7702E"
                        }
                    },
                    "style": {
                        "padding-top": "10px",
                        "padding-right": "10px",
                        "padding-bottom": "10px",
                        "padding-left": "10px"
                    }
                }
            }],
            "style": {
                "background-color": "transparent",
                "padding-top": "25px",
                "padding-right": "0px",
                "padding-bottom": "25px",
                "padding-left": "0px",
                "border-top": "0px solid transparent",
                "border-right": "0px solid transparent",
                "border-bottom": "0px solid transparent",
                "border-left": "0px solid transparent"
            }
        }],
        "widgets": [{
            "type": "row",
            "items": [{
                "type": "mailup-bee-common-widgets-background-color",
                "context": "container.style",
                "configuration": {
                    "label": "mailup-bee-common-widgets-background-color-row.label"
                }
            }, {
                "type": "mailup-bee-common-widgets-background-color",
                "context": "content.style",
                "configuration": {
                    "label": "mailup-bee-common-widgets-background-color-content.label"
                }
            }]
        },
            {
            "name": "column-property-titles.1",
            "type": "column",
            "items": [{
                "type": "mailup-bee-common-widgets-background-color",
                "context": "columns[0].style",
                "configuration": {
                    "label": "mailup-bee-common-widgets-background-color-column.label"
                }
            },
                {
                "type": "mailup-bee-common-widgets-padding",
                "context": "columns[0].style",
                "configuration": {
                    "label": "mailup-bee-common-widgets-padding.label",
                    "label-more-options": "mailup-bee-common-widgets-padding.more-options",
                    "label-all-sides": "mailup-bee-common-widgets-padding.all-sides",
                    "label-top": "mailup-bee-common-widgets-padding.top",
                    "label-right": "mailup-bee-common-widgets-padding.right",
                    "label-bottom": "mailup-bee-common-widgets-padding.bottom",
                    "label-left": "mailup-bee-common-widgets-padding.left"
                }
                },
                {
                "type": "mailup-bee-common-widgets-border",
                "context": "columns[0].style",
                "configuration": {
                    "label": "mailup-bee-common-widgets-border.label",
                    "label-more-options": "mailup-bee-common-widgets-border.more-options",
                    "label-all-sides": "mailup-bee-common-widgets-border.all-sides",
                    "label-top": "mailup-bee-common-widgets-border.top",
                    "label-right": "mailup-bee-common-widgets-border.right",
                    "label-bottom": "mailup-bee-common-widgets-border.bottom",
                    "label-left": "mailup-bee-common-widgets-border.left"
                }
            }]
        }]
    };
    var mergeContents = [];
    var Flag = 'SAVE';
    var bee = null;

    var beeConfig = {
        uid: userDetails.Id,
        container: 'bee-plugin-container',
        autosave: 120,
        language: 'en-US',
        specialLinks: specialLinks,
        mergeTags: mergeTags,
        mergeContents: mergeContents,
        trackChanges: true,
        onChange: function (jsonFile, response) {

            if (response.description == "Link type") {
                if (!response.value.match(/https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}/g)) {
                    alert("Link should start with http or https.");
                    return false;
                    //var stringified = JSON.stringify(jsonFile);
                    //stringified = stringified.replace(response.value, 'http://' + response.value);
                    //var jsonObject = JSON.parse(stringified);
                    //bee.start(jsonObject);
                }
                else {
                    return true;

                }
            }
        },
        onSave: function (jsonFile, htmlFile) {
            if (Flag == 'Save As Template') {
                SaveBeeTemplateContent(htmlFile, jsonFile, $("#TemplateName").val());
            } else if (Flag == 'Save as Draft') {
                DraftCampaign(htmlFile, jsonFile, 'Draft');
            } else {
                showLoader();
                SaveBeeContent(htmlFile, jsonFile);
            }
            return false;
        },
        onSaveAsTemplate: function (jsonFile, htmlFile) {
            Flag = 'Save As Template';
            bee.save();

            //SaveBeeContent(htmlFile, jsonFile);
            return false;
            //console.log('onSaveAsTemplate.html', jsonFile);
        },
        onLoad: function (jsonFileLoad) {

            HideLoader();
            //
            //$(".row")[0].append(footerNxtPreview);
            // console.log('jsonFileLoad ', jsonFileLoad);
        },
        onAutoSave: function (jsonFile) {
            Draft1(jsonFile, 'Draft');

            //
            //console.log(new Date().toISOString() + ' autosaving...');
            //window.localStorage.setItem('newsletter.autosave', jsonFile);
        },
        onSend: function (jsonFile) {
            //
            //alert('a1');

            // console.log('onSend ', jsonFile);
        },
        onError: function (errorMessage) {
            showLoader();
	$.ajax({
		method: "GET",
		url: uri
	}).done(function (data) {
		var token = data;
		BeePlugin.create(JSON.parse(token), beeConfig, function (beePluginInstance) {
			bee = beePluginInstance;
			var templateId = '@ViewBag.TemplateId';
			var type = '@ViewBag.type';

			if (templateId == null || templateId == "") {
				templateId = 0;
			}
			var templateContent = '@ViewBag.TemplateContent';
			var templateURL = '';
			if (templateContent != null && templateContent != '') {
				templateURL = '/User/Campaign/GetTemplateByContent'
			} else {
				templateURL = '/User/Templates/GetTemplateById?id=' + templateId + '&type=' + type
			}
			$.ajax({
				type: "GET",
				url: templateURL,
				//url: 'https://rsrc.getbee.io/api/templates/m-bee'
			}).done(function (template) {
				$("#TemplateName").val(template.TemplateName);
				if ($("#CampaignId").val() != 0) {
					bee.start(JSON.parse(template.TemplateJSON));
				} else {
					var templateJson = JSON.parse(template.TemplateJSON);
					if ($("#isFlag").val() == 0) {
						templateJson.page.rows.push(footerJson);
					}
					bee.start(templateJson);
				}
			});
		});
	});
            console.log('onError ', errorMessage);
        },
        onTogglePreview: function (previewTemplate) {
            alert("hello Preview");
            // console.log('previewTemplate ', previewTemplate);
        }
    };
$(document).ready(function () {
	showLoader();
	$.ajax({
		method: "GET",
		url: uri
	}).done(function (data) {
		var token = data;
		BeePlugin.create(JSON.parse(token), beeConfig, function (beePluginInstance) {
			bee = beePluginInstance;
			var templateId = '@ViewBag.TemplateId';
			var type = '@ViewBag.type';

			if (templateId == null || templateId == "") {
				templateId = 0;
			}
			var templateContent = '@ViewBag.TemplateContent';
			var templateURL = '';
			if (templateContent != null && templateContent != '') {
				templateURL = '/User/Campaign/GetTemplateByContent'
			} else {
				templateURL = '/User/Templates/GetTemplateById?id=' + templateId + '&type=' + type
			}
			$.ajax({
				type: "GET",
				url: templateURL,
				//url: 'https://rsrc.getbee.io/api/templates/m-bee'
			}).done(function (template) {
				$("#TemplateName").val(template.TemplateName);
				if ($("#CampaignId").val() != 0) {
					bee.start(JSON.parse(template.TemplateJSON));
				} else {
					var templateJson = JSON.parse(template.TemplateJSON);
					if ($("#isFlag").val() == 0) {
						templateJson.page.rows.push(footerJson);
					}
					bee.start(templateJson);
				}
			});
		});
	});
});
</script>

<script type="text/javascript">
    function NextPageAlert() {
        bee.save();
        // GenerateAlert("Please Click Save button to save template", "", "info");

    }

    function SaveBeeTemplateContent(htmlFile, jsonFile, name) {
        var titleName = '';
        if (name != '' && name != undefined && $("#TemplateId").val() != '') {
            titleName = 'Are you sure you want to update?';
        } else {
            titleName = 'Please enter the template name!';
        }
        var dialog = bootbox.dialog({
            title: titleName,
            message: "<input type='text' id='templateName' placeholder='Enter Template Name' class='form-control' value='" + name + "'/><br/><span id='errmsg' style='color:red;'></span>",
            buttons: {
                cancel: {
                    label: "Cancel",
                    className: 'btn-danger',
                    callback: function () {
                        HideLoader();
                        $('#templateName').modal('hide');
                    }
                },
                success: {
                    label: "Submit",
                    callback: function () {
                        CheckDuplicacy(htmlFile, jsonFile, name, $("#TemplateId").val());
                        return false;
                    }
                }
            }
        });
    }
</script>

<a style="text-decoration:none"></a>
<div class="modal fade" id="myModalImage" role="dialog" style="opacity: 0">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="tempdata1">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModelImage">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    //setInterval(function DraftCampaign(htmlFile, jsonFile) {
    //    if (Flag != "Save As Template")
    //    {
    //        Flag = "Draft";
    //        bee.autosave();
    //    }

    //},120000);

    function Draft1(jsonFile, Status) {
        var campaignViewModel = {
            "TemplateId": $("#TemplateId").val(),
            "CampaignName": $("#CampaignNameHdn").val(),
            "CampaignId": $("#isReplicate").val() == "1" ? "0" : $("#CampaignId").val(),
            "Status": Status,
            // "HtmlContent": htmlFile,
            "JSONContent": jsonFile,
        };
        $.ajax({
            url: '/User/Campaign/DraftCampaign',
            type: 'Post',
            data: JSON.stringify(campaignViewModel),
            contentType: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {

            },
            failure: function (xhrFailure) {


            },
            error: function (xhrError) {


            }
        });
        return false;
    }
</script>


@*<script type="text/javascript">
        //window.onload = function () {
        window.onkeydown = function (event) {

            switch (event.keyCode) {
                case 116: //F5 button
                    event.returnValue = false;
                    event.keyCode = 0;
                    return false;
                case 82: //R button
                    if (event.ctrlKey) {
                        event.returnValue = false;
                        event.keyCode = 0;
                        return false;
                    }
            }
        };

        $("#ContainerDiv").onkeydown = function (event) {

            switch (event.keyCode) {
                case 116: //F5 button
                    event.returnValue = false;
                    event.keyCode = 0;
                    return false;
                case 82: //R button
                    if (event.ctrlKey) {
                        event.returnValue = false;
                        event.keyCode = 0;
                        return false;
                    }
            }
        };
        //}
    </script>*@


