﻿@model IEnumerable<EM.Factory.ViewModels.TemplateViewModel>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        var imagePath = "/Content/imagesUser/template.jpg";
        if (item.TemplatePath != null && System.IO.File.Exists(Server.MapPath(item.TemplatePath)))
        {
            imagePath = Url.Content(item.TemplatePath);
        }
        <div class="col-block-5 col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="template_box">
                <div class="card" onclick="$('#TemplateId').val('@item.TemplateId');NavigateTo('CampaignEditorView')" style="cursor:pointer">

                    <div class="card-body">
                        <img class="card-img-top" src="@imagePath" alt="">
                        <h5 class="card-title">@item.TemplateName</h5>
                        @*<p class="card-text">Market a line of products or promote seasonal items.</p>*@
                    </div>
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        CampaignPage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')
    });

    //$("#Resend").click(function () {
    //    var CampaignId = $('#CampaignId').val();
    //    ResendCampaign('Send');
    //});
</script>

