﻿<style>

    .form-row {
        margin-bottom: 30px;
    }
</style>
<div class="choose-template">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-paper-plane" aria-hidden="true"></i> Send <span class="campaignspan"></span></h1>
            <p class="padding-left-30"><span id="curDateCreateCamp"></span></p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            @if (User.IsInRole("Admin"))
            {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else
            {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            }
            <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">Send <span class="campaignspan"></span></li>
        </ul>
    </div>

    <div class="row">
        <input type="hidden" name="UniqueSubscriberIds" id="UniqueSubscriberIds" value="@ViewBag.UniqueSubscriberIds" />
        <input type="hidden" name="UniqueSubscriberIdsCount" id="UniqueSubscriberIdsCount" value="@ViewBag.UniqueSubscriberIdsCount" />
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="tile">
                <div class="template_block">
                    <div class="template_tab">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-recipients-tab" data-toggle="tab" href="#nav-recipients" role="tab" aria-controls="nav-recipients" aria-selected="true">Recipients</a>
                                @*<a class="nav-item nav-link disabled" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="false">Details</a>*@
                            </div>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <div class="template-content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active mt-4" id="nav-recipients" role="tabpanel" aria-labelledby="nav-recipients-tab">

                                <div class="row">
                                    <div class="col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="FromName" class="text-14"><strong>From Name</strong></label>
                                            <input type="text" class="form-control" id="FromName" name="FromName" aria-describedby="emailHelp" placeholder="From Name">
                                            <span id='fromError' class='RequiredField'></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="FromEmail" class="text-14"><strong>From Email</strong></label>
                                            <input type="email" class="form-control" id="FromEmail" name="FromEmail" aria-describedby="emailHelp" placeholder="From Email" list="ddlFromEmail">
                                            <datalist id="ddlFromEmail"></datalist>
                                            <span id='EmailError' class='RequiredField'></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Subject" class="text-14"><strong>Subject</strong></label>
                                            <input type="text" class="form-control" id="Subject" name="Subject" aria-describedby="emailHelp" placeholder="Subject" onchange="getsubject()">
                                            <span id='SubError' class='RequiredField'></span>
                                            <input type="hidden" class="form-control" id="PreviewText" name="PreviewText">
                                        </div>
                                    </div>
                                    @*<div class="col-12 mb-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="custom3">
                                            <label class="custom-control-label padding-top-2" for="custom3">Second Send: Get more people to view your email</label>
                                            <div class="clearfix"></div>
                                        </div>
                                        <span class="txt-gry d-inline-block text-12">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i> Send this promotion again with a different subject line if it hasn't been opened in 72 hours. To use Second Send, click and view tracking need to be enabled.
                                        </span>
                                    </div>

                                    <div class="col-12 mb-1 mt-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="custom4">
                                            <label class="custom-control-label padding-top-2" for="custom4">Facebook</label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="custom5">
                                            <label class="custom-control-label padding-top-2" for="custom5">Twitter</label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="custom6">
                                            <label class="custom-control-label padding-top-2" for="custom6">Google+</label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="custom7">
                                            <label class="custom-control-label padding-top-2" for="custom7">Pinterest</label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="custom8">
                                            <label class="custom-control-label padding-top-2" for="custom8">Linkedin</label>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <span class="d-block text-12 txt-gry"><i class="fa fa-info-circle" aria-hidden="true"></i> Check these boxes to include social sharing in your promotion</span>
                                    </div>*@
                                    <div class="clearfix"></div>

                                    <div class="col-12 mt-4">
                                        <div class="send-bottom p-2 pt-sm-2 pb-sm-2 pt-3 pb-3">
                                            <div class="row">
                                                <div class="float-left col-sm-12 col-12 text-sm-left text-center mb-sm-0 mb-0">
                                                    <button type="button" class="btn btn-success mr-2 mb_m-2" onclick="NavigateTo('CampaignListSubscriberView')">Back</button>
                                                    @*<button type="button" class="btn btn-secondary mr-2">Save</button>*@
                                                    <button type="button" class="btn btn-secondary mr-2 mb_m-2" id="draftBtn" onclick="SaveCampaign('Draft','')">Save As Draft</button>
                                                    @{
                                                        var authorization = Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result;
                                                        var attributes = "";
                                                        var IsSchedule = "False";
                                                        if (authorization != null && authorization.EmailScheduling != null && Convert.ToBoolean(authorization.EmailScheduling))
                                                        {
                                                            //attributes = "data-toggle='modal' data-target='#myModal'";
                                                            attributes = "onclick=getSchedulePopup()";
                                                            IsSchedule = "True";
                                                        }
                                                        if (authorization.TotalEmail != 0 && authorization != null)
                                                        {
                                                            if (authorization.TotalRemainingCredits != null && Convert.ToInt32(authorization.TotalRemainingCredits) > 0 &&
                                                            Convert.ToInt32(authorization.TotalRemainingCredits) > ViewBag.UniqueSubscriberIdsCount && authorization.NextPackageUpdateDate >= DateTime.Now.Date)
                                                            {
                                                                <input type="hidden" value="@authorization.TotalRemainingCredits" id="TotalRemainingCredits" />
                                                                <input type="hidden" value="@authorization.MonthlyCredit" id="MonthlyCredits" />
                                                                <input type="hidden" value="1" id="credit" />
                                                                <button type="button" class="btn btn-secondary disabled disbaledLink mb_m-2" id="scheduleBtn" disabled @attributes><i class="fa fa-clock-o t_1" aria-hidden="true"></i> Send later</button>

                                                                <button class="btn btn-success pull-right disabled disbaledLink send_btn mb_m-2 sendbuttonclass" id="sendBtn" disabled onclick="SaveCampaign('Queued','')"><i class="fa fa-paper-plane"></i>Send</button>
                                                            }
                                                            else
                                                            {

                                                                <button class="btn btn-secondary disabled disbaledLink" id="scheduleBtn" disabled type="button"><i class="fa fa-clock-o t_1" aria-hidden="true"></i>Send later</button>

                                                                <button class="btn btn-success pull-right disabled disbaledLink sendbuttonclass" id="sendBtn" disabled><i class="fa fa-paper-plane"></i>Send</button>
                                                                <input type="hidden" value="0" id="TotalRemainingCredits" />
                                                                <input type="hidden" value="0" id="credit" />
                                                                <input type="hidden" value="@authorization.MonthlyCredit" id="MonthlyCredits" />

                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (authorization.NextPackageUpdateDate >= DateTime.Now.Date)
                                                            {
                                                                <input type="hidden" value="@authorization.TotalRemainingCredits" id="TotalRemainingCredits" />
                                                                <input type="hidden" value="@authorization.MonthlyCredit" id="MonthlyCredits" />
                                                                <input type="hidden" value="1" id="credit" />
                                                                <button type="button" class="btn btn-secondary disabled disbaledLink mb_m-2" id="scheduleBtn" disabled @attributes><i class="fa fa-clock-o t_1" aria-hidden="true"></i> Send later</button>

                                                                <button class="btn btn-success pull-right disabled disbaledLink send_btn mb_m-2 sendbuttonclass" id="sendBtn" disabled onclick="SaveCampaign('Queued','')"><i class="fa fa-paper-plane"></i>Send</button>
                                                            }
                                                            else
                                                            {

                                                                <button class="btn btn-secondary disabled disbaledLink" id="scheduleBtn" disabled type="button"><i class="fa fa-clock-o t_1" aria-hidden="true"></i>Send later</button>

                                                                <button class="btn btn-success pull-right disabled disbaledLink sendbuttonclass" id="sendBtn" disabled><i class="fa fa-paper-plane"></i>Send</button>
                                                                <input type="hidden" value="0" id="TotalRemainingCredits" />
                                                                <input type="hidden" value="0" id="credit" />
                                                                <input type="hidden" value="@authorization.MonthlyCredit" id="MonthlyCredits" />

                                                            }
                                                        }
                                                    }

                                                    <input type="hidden" id="IsEmailSchedule" value="@IsSchedule" />
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="pt-sm-2 pb-sm-2 pt-3 pb-3">
                                            <div class="row">
                                                <div class="float-right col-sm-12 col-12 text-sm-right text-center mb-sm-0 mb-0">
                                                    <span id='SendError' class='RequiredField text-14'></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="tile p-0  mb-3">
                <div class="tile-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="right-template-box px-4 py-4">
                                <div class="image_box">
                                    <img src="/Content/imagesUser/template.jpg" class="img-fluid templateTempImage">
                                </div>
                                <div class="template_detail">
                                    <ul>
                                        <li><strong>Subject: <span class="subjectSpan"></span></strong></li>
                                        <li><span id="curDateProm"></span></li>
                                        <li><strong>To: </strong><span id="toSpan"></span></li>
                                        <li><strong>Total Number of Recipients: </strong><span>@ViewBag.UniqueSubscriberIdsCount</span></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <a class="mt-4 btn btn-success btn-block btn-lg disabled disbaledLink sendbuttonclass" href="javascript:void(0)" id="sidesendbtn" disabled onclick="$('#sendBtn').click()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="tile p-0">
                <div class="tile-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="right-template-box px-4 py-4">
                                <div class="image_box">
                                    <strong>Emails:</strong>
                                </div>
                                <div class="Emailsdiv" style='overflow: scroll;height: 200px;'>

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>


    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#curDateCreateCamp").html(moment().format("MMM DD, YYYY hh:mm A"));
        $("#curDateProm").html(moment().format("MMM DD, YYYY hh:mm A"));
        var ListNames = $("#ListNamesHdn").val();
        $("#toSpan").html(ListNames);
        var campaignName = $("#CampaignNameHdn").val();
        $(".campaignspan").html(campaignName);

        $.ajax({
            url: "/User/Campaign/GetConfirmedEmails",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#ddlFromEmail").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#ddlFromEmail").append('<option value="' + data[i] + '">' + data[i] + '</option>');
                }
                $("#ddlFromEmail").val($("#FromEmailHdn").val());
                $("#FromEmail").val($("#FromEmailHdn").val());

            }
        });
    });

</script>

@Html.Partial("ScheduledCampaign")


