﻿@{
    if (Session["UserAuthorizationInfo"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var Profile = EM.Web.Utilities.CurrentUser.getCurUserDetails();
    int TimeZoneId = 0;
    if (Profile.TimeZoneID != null)
    {
        TimeZoneId = Convert.ToInt32(Profile.TimeZoneID);
    }
}
<section class="content">
    @{var UserAuthorizationInfo = Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result; }
    @if (UserAuthorizationInfo != null && Convert.ToBoolean(UserAuthorizationInfo.CustomizableTemplate))
    {
        <input type="hidden" id="IsCustomizableTemplate" value="1" />
    }
    else
    {
        <input type="hidden" id="IsCustomizableTemplate" value="0" />
    }


    <input type="hidden" name="TemplateId" id="TemplateId" value="@ViewBag.TemplateId" />
    <input type="hidden" name="CampaignId" id="CampaignId" value="@ViewBag.CampaignId" />
    <input type="hidden" name="ListIdHdn" id="ListIdHdn" />
    <input type="hidden" name="ListNamesHdn" id="ListNamesHdn" />
    <input type="hidden" name="CampaignNameHdn" id="CampaignNameHdn" />
    <input type="hidden" name="IsTemplateEdited" id="IsTemplateEdited" />
    <input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />
    <input type="hidden" name="subscriberIds" id="subscriberIds" />
    <input type="hidden" name="ContentImagePath" id="ContentImagePath" />
    <input type="hidden" name="FromNameHdn" id="FromNameHdn" />
    <input type="hidden" name="FromEmailHdn" id="FromEmailHdn" />
    <input type="hidden" name="SubjectHdn" id="SubjectHdn" />
    <input type="hidden" name="PreviewTextHdn" id="PreviewTextHdn" />
    <input type="hidden" name="NewContentImagePath" id="NewContentImagePath" />
    <input type="hidden" name="ScheduleDateHdn" id="ScheduleDateHdn" />
    <input type="hidden" name="ScheduleType" id="ScheduleType" />
    <input type="hidden" name="CampaignStatus" id="CampaignStatus" />
    <input type="hidden" name="layOut" id="layOut" value="" />
    <input type="hidden" name="isReplicate" id="isReplicate" value="0" />
    <input type="hidden" name="isFlag" id="isFlag" value="0" />
    <input type="hidden" name="CheckDuplicate" id="CheckDuplicate" value="0" />
    <input type="hidden" name="TimeZoneId" id="TimeZoneId" value="@TimeZoneId" />
    <input type="hidden" name="TimeZoneName" id="TimeZoneName" />
    <input type="hidden" name="SendingFromEmail" id="SendingFromEmail" />
    <input type="hidden" name="EmailNamesHdn" id="EmailNamesHdn" />

    <div id="ContainerDiv">

    </div>
    <div id="ContainerDiv2">

    </div>
</section>
<div class="modal fade" id="myModalCampaignName" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="modelBodyData">

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalCampaignReplicateName" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="modelBodyDataReplicate">

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModalImage" role="dialog" style="opacity: 0">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="tempdata">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModelImage">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" role="dialog" id="campaignStatModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="lblCampaignName"></span> Statistics</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="/Content/imagesUser/contacts.jpg" alt="Card image cap">
                            <div class="card-body padding-40 text-center">
                                <h1 class="card-title nomargin" id="lblTotalSubscribers"></h1>
                                <p class="card-text text-18">Subscribers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="/Content/imagesUser/send.jpg" alt="Card image cap">
                            <div class="card-body padding-40 text-center">
                                <h1 class="card-title nomargin" id="lblTotalSent"></h1>
                                <p class="card-text text-18">Requests</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="/Content/imagesUser/delivered.jpg" alt="Card image cap">
                            <div class="card-body padding-40 text-center">
                                <h1 class="card-title nomargin" id="lblTotalDelivered"></h1>
                                <p class="card-text text-18">Delivered</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="/Content/imagesUser/opened.jpg" alt="Card image cap">
                            <div class="card-body padding-40 text-center">
                                <h1 class="card-title nomargin" id="lblTotalOpen"></h1>
                                <p class="card-text text-18">Unique Opened</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="/Content/imagesUser/clicked.jpg" alt="Card image cap">
                            <div class="card-body padding-40 text-center">
                                <h1 class="card-title nomargin" id="lblTotalClick"></h1>
                                <p class="card-text text-18">Unique Clicked</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="card">
                        <img class="card-img-top" src="~/Content/imagesUser/bouncedCampaign.png" alt="Card image cap">
                            <div class="card-body padding-40 text-center">
                                <h1 class="card-title nomargin" id="lblTotalBounce"></h1>
                                <p class="card-text text-18">Bounced/Dropped</p>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="clearfix"></div>




            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section CustomScript
{
    <script src="~/Content/CustomJs/campaign.js?v=03032020"></script>
    <script src="~/Content/CustomJs/template.js?v=04082020"></script>

    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script type="text/javascript">
        var pageSize = @Constants.PageSize;
        $(document).ready(function ()
        {
            //NavigateTo('CampaignNameView');
            $('.app-menu li a ').removeAttr('class').addClass("app-menu__item");
            $('#campaignMenu').removeAttr('class').addClass("app-menu__item active");
            var Page = '@ViewBag.Page';
            var TemplateId = '@ViewBag.TemplateId';
            var CampaignId = '@ViewBag.CampaignId';
            LoadHTMLWithoffset("User", "Campaign", "CampaignList");
            if (Page == "CampaignNameView" || Page == "EditCampaign") {
                NavigateTo(Page);
                @*LoadHTMLPage("User", "Campaign", "CampaignNameView", ['templateId', 'campaignId'], [@ViewBag.TemplateId,@ViewBag.CampaignId], "Get", $("#modelBodyData"));
                setTimeout(function () {
                    $('#myModalCampaignName').modal('toggle');
                    $('#myModalCampaignName').modal('show');
                }, 1000);*@
            }

            @{
                var tempData = Session["TemplateCampaignViewModel"] as EM.Factory.ViewModels.TemplateViewModel;
                Session.Remove("TemplateCampaignViewModel");
                var serverPath = Server.MapPath("~");
                if (tempData !=null && !string.IsNullOrEmpty(tempData.TemplatePath) && System.IO.File.Exists(serverPath+tempData.TemplatePath))
                {
                    System.IO.File.Delete(serverPath + tempData.TemplatePath);
                }
            }
            preventEnterForSubmittingForm();


            //$("#myModalCampaignName").on("hidden.bs.modal", function () {
            //    $("#ListIdHdn").val('');
            //    $("#TemplateId").val('');
            //    $("#CampaignId").val('');
            //    $("#CampaignNameHdn").val('');
            //    $("#ContentImagePath").val('');
            //    $("#subscriberIds").val('');
            //    $("#FromNameHdn").val('');
            //    $("#FromEmailHdn").val('');
            //    $("#SubjectHdn").val('');
            //    $("#PreviewTextHdn").val('');
            //});
        });
    </script>
}
