﻿<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Schedule Your Campaign</h4>
            </div>
            <div class="modal-body">

                <label class="control-label h5">
                    Set up your schedule
                </label>
                <div class="form-group">
                    <label for="TimeZoneByID">&nbsp;&nbsp;Time Zone</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select class="form-control" name="TimeZone" id="TimeZone"></select>
                </div>

                <div class="form-group" id="ScheduleddateTime">
                    <input type="radio" name="ScheduleType" id="ScheduleTypeByDate" value="ByDate" onclick="LoadSchedulerSection('ByDate')" />
                    <label for="ScheduleTypeByDate">&nbsp;&nbsp;By Date</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="ScheduleType" id="ScheduleTypeByHours" value="ByHours" onclick="LoadSchedulerSection('ByHours')" />
                    <label for="ScheduleTypeByHours">&nbsp;&nbsp;By Hours</label>
                </div>
                <div class="form-group hide-content" id="ByDate">
                    <input type="hidden" name="ScheduleDate" id="ScheduleDate" data-delete="ScheduleDate" value="@DateTime.UtcNow" />
                </div>
                <div class="form-group hide-content" id="ByHours">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="" id="scheduleCampaignBtn">Scheduled Campaign</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />
<script type="text/javascript">
    $(document).ready(function () {
        LoadTimeZone();
        //var dateTime = new Date($("#ScheduleDateHdn").val());
        //if (dateTime != null && dateTime.getFullYear() > new Date().getFullYear()) {
        //} else {
        //    dateTime = new Date();
        //}
        $("#scheduleCampaignBtn").click(function ()
        {
            timeZoneId = $('#TimeZone').find("option:selected").val();
            timeZone = $("#TimeZone").find("option:selected").attr("data-abbr");
            if (timeZoneId == 0) {
                GenerateAlert("", "Please select time zone first", "info");

            }
            else {
                var datevalue = '';
                switch ($('#ScheduleType').val()) {
                    case "ByDate":
                        datevalue = $('#ScheduleDate').val();
                        if (datevalue == '') {
                            $('#SchError').html("Scheduled Date is Required");
                            return false;
                        }
                        else
                        {
                            SaveCampaign('Schedule', datevalue, timeZoneId, timeZone);
                        }

                        break;
                    case "ByHours":
                        if ($('#ScheduleDate').find("option:selected").val() == "") {
                            GenerateAlert("", "Please select the item from By Hours List", "info");
                            return false;
                        } else {
                            datevalue = $('#ScheduleDate').find("option:selected").val();
                            SaveCampaign('Schedule', datevalue, timeZoneId, timeZone);
                        }
                        break;
                }
            }

           
        });

    });
    //$("#ScheduleTypeByDate").click(function () {
    //    var offset = $('#TimeZone').find("option:selected").text().split(0, '');
    //    LoadSchedulerSection('ByDate', offset);
    //});

    //$("#ScheduleTypeByHours").click(function () {
    //    var offset = $('#TimeZone').find("option:selected").text().split(0, '');
    //    LoadSchedulerSection('ByHours', offset);
    //});
</script>