﻿@model EM.Factory.ViewModels.CampaignViewModel
<div class="app-title  PageNumberClass">
    <div>
        <a href="/User/Campaign/Index"><h1 id="lblCampName"><i class="app-menu__icon fa fa-folder-open"></i> My Campaigns</h1></a>
        <p>View Email</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="/User/Campaign/Index">My Campaigns</a></li>
    </ul>
</div>

<div class="row">

    <div class="col-md-12">

        <div class="tile">
            @if (Model.HtmlContent != null)
            {
                @Html.Raw(Model.HtmlContent)
            }
        </div>
    </div>
</div>