﻿<!DOCTYPE html>
<html lang="en">
<head>



    <meta name="viewport" content="width=device-width" />
    <title>CheapestEmail Admin - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link href="~/Content/cssUser/mainNew.css" rel="stylesheet" />
    <link href="~/Content/cssUser/custom.css" rel="stylesheet" />
    <!-- Font-icon css-->
    <link href="~/Content/cssUser/font-awesome.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link href="~/Content/Loader.css" rel="stylesheet" />
    <link href="~/Content/admin/adminmenu.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>
    <div style="padding-left:5px;padding-right:5px;">
        <nav class="navbar navbar-custom" style="background-color: #0794cc;padding-right:30px;">
            <ul class="nav navbar-nav navbar-left">                
                <li><a href="/Admin/Dashboard/Index">Dashboard <span class="sr-only"></span></a></li>                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret">&nbsp;</span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Manage/ChangePassword?Layout=SalesRep"><i class="fa fa-lock"></i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="/Account/LogOff"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="container text-center">
            &nbsp;
        </div>
        <div class="container-fluid">
            <!-- Main Content-->
            <main>
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- Essential javascripts for application to work-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/jsUser/popper.min.js"></script>
    <script src="~/Content/jsUser/bootstrap.min.js"></script>
    <script src="~/Content/jsUser/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/Content/jsUser/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="~/Content/jsUser/plugins/bootstrap-notify.min.js"></script>
    <script src="~/Content/jsUser/plugins/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>

    <script src="~/Content/CustomJs/common.js"></script>

    @RenderSection("PageScript", false);
</body>
</html>

