﻿<!DOCTYPE html>
@{
    var Profile = EM.Web.Utilities.CurrentUser.getCurUserDetails();
    //var TimeZoneDetails = DataHelper.TimeZoneDetails();
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheapesteMail - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Main CSS-->
    <link href="~/Content/cssUser/main.css?v=09112019" rel="stylesheet" />
    <link href="~/Content/cssUser/custom.css?v=05292019" rel="stylesheet" />
    <!-- Font-icon css-->
    <link href="~/Content/cssUser/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Loader.css" rel="stylesheet" />
    <link href="~/Content/cssUser/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />



</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="/User/Dashboard/Index"><img src="~/Content/imagesUser/logo.png" class="img-fluid"></a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <li class="app-search text-light">

                <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 22px;"></i> &nbsp;&nbsp; <span id="curDate"></span>
            </li>
            <!--Notification Menu-->
            @*<li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
                    <ul class="app-notification dropdown-menu dropdown-menu-right"></ul>
                </li>*@
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu">
                    @{ }
                    @if (Profile != null && !string.IsNullOrEmpty(Profile.ProfileImage))
                    {
                        <img src="@Profile.ProfileImage" style="border-radius: 50%;" width="30" height="30" />
                    }
                    else
                    {
                        <i class="fa fa-user fa-lg"></i>
                    }
                </a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right" style="width: 220px;">
                    @*<li class="padding-left-20 padding-top-10"><span class="text-gray">User ID:</span> 5421545</li>*@
                    @*<li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i>Account Settings</a></li>*@
                    <li><a class="dropdown-item" href="/User/Dashboard/UserProfile"><i class="fa fa-user fa-lg"></i> Update Profile</a></li>
                    <li><a class="dropdown-item" href="/Manage/ChangePassword?Layout=User"><i class="fa fa-user fa-lg"></i> Change Password</a></li>
                    <li><a class="dropdown-item" href="/Account/LogOff"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>

    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            @if (Profile != null && !string.IsNullOrEmpty(Profile.ProfileImage))
            {
                <img class="app-sidebar__user-avatar" src="@Profile.ProfileImage" alt="User Image" style="border-radius: 50%;" width="40" height="40">
            }
            else
            {
                <img class="app-sidebar__user-avatar" src="~/Content/imagesUser/profile-pic.png" alt="User Image">
            }

            <div>
                <p class="app-sidebar__user-name">Welcome!</p>
                @if (Profile != null && !string.IsNullOrEmpty(Profile.FirstName))
                {
                    <p class="app-sidebar__user-designation">@Profile.FirstName</p>
                }
                else
                {
                    <p class="app-sidebar__user-designation">@Profile.Email</p>
                }

            </div>
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item active" href="/User/Dashboard" id="dasboardMenu"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
            @*<li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-envelope-o"></i><span class="app-menu__label">Campaigns</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">

                <li><a class="treeview-item" href="/User/Campaign?Page=CreateCampaign"><i class="icon fa fa-table"></i>Create Campaign</a></li>
                <li><a class="treeview-item" href="/User/Campaign/Index"><i class="icon fa fa-pie-chart"></i>Campaign</a></li>

            </ul>
        </li>*@
            <li><a class="app-menu__item" href="/User/Campaign/Index" id="campaignMenu"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Campaigns</span></a></li>
            <li class="treeview">
                <a class="app-menu__item" id="listMenu" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-folder-open"></i><span class="app-menu__label">Lists</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/User/List"><i class="app-menu__icon fa fa-search"></i>View Lists</a></li>
                    <li><a class="treeview-item" href="/User/List?Page=AddUserList"><i class="app-menu__icon fa fa-plus-square"></i>Add New List</a></li>
                </ul>
            </li>

            @if (Session["UserAuthorizationInfo"] != null && Convert.ToBoolean((Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result).CustomizableTemplate))
            {
                <li><a class="app-menu__item" id="templateMenu" href="/User/Templates/Index"><i class="app-menu__icon fa fa-file"></i><span class="app-menu__label">Templates</span></a></li>
            }
            else
            {
                <li title="This feature is not available in your current plan"><a class="app-menu__item" disabled href="javascript:void(0)"><i class="app-menu__icon fa fa-file"></i><span class="app-menu__label">Templates</span></a></li>
            }

            @*<li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Subscribers</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="/User/Dashboard/ViewSubsribers" title="Recent List subscribers"><i class="icon fa fa-search"></i>Browse All Subscribers</a></li>
                @if (Session["UserAuthorizationInfo"] != null)
                {
                    var authorization = Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result;
                    if (authorization.TotalSubscriberCreated < authorization.MaxSubscriber)
                    {
                        <li><a class="treeview-item" href="/User/Dashboard/AddSubsriber" title="Add subscriber in recent List"><i class="icon fa fa-user-plus"></i>Add New Subscribers</a></li>
                    }
                    else
                    {
                        <li title="Your max subscriber limit has been exceeded"><a class="treeview-item disabled disbaledLink" style="color:white" href="javascipt:void(0)"><i class="icon fa fa-user-plus"></i>Add New Subscribers</a></li>
                    }
                }

            </ul>
        </li>*@

            @*<li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-credit-card"></i><span class="app-menu__label">Payment Method</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" href="/User/Billing/Index"><i class="icon fa fa fa-eye"></i>View List</a></li>
                <li><a class="treeview-item" href="/User/Billing/Index?page=vwTrans"><i class="icon fa fa fa-dollar"></i>Invoice</a></li>
            </ul>
        </li>*@
            <!-- <li><a class="app-menu__item" href="charts.html"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Charts</span></a></li> -->
            @*<li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Reports</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item"  href="#"><i class="icon fa fa-bar-chart"></i> Campaign Reports</a></li>
                <li><a class="treeview-item"  href="#"><i class="icon fa fa-users"></i> Total Contacts</a></li>
            </ul>
        </li>*@
            <li class="treeview">
                <a class="app-menu__item" id="accountMenu" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">Account</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Manage/ChangePassword?Layout=User"><i class="app-menu__icon fa fa fa-unlock-alt"></i> Change Password</a></li>
                    <li><a class="treeview-item" href="/User/Dashboard/UserProfile"><i class="app-menu__icon fa fa fa-pencil-square-o"></i> Update Profile</a></li>
                    @*<a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-credit-card"></i><span class="app-menu__label">Payment Method</span><i class="treeview-indicator fa fa-angle-right"></i></a>*@

                    <li><a class="treeview-item" href="/User/Billing/Index"><i class="app-menu__icon fa fa-credit-card"></i>Payment Method</a></li>
                    <li><a class="treeview-item" href="/User/Billing/Index?page=vwTrans"><i class="app-menu__icon fa fa fa-dollar"></i>Invoices</a></li>
                </ul>

            </li>
            <li><a class="app-menu__item" id="reportMenu" href="/User/Report/Index"><i class="app-menu__icon fa fa-bar-chart-o"></i><span class="app-menu__label">Reports</span></a></li>
            <li><a class="app-menu__item" id="IntegrationMenu" href="/User/EventbriteIntegration/Index"><i class="app-menu__icon fa fa-arrows-alt"></i><span class="app-menu__label">Integrations</span></a></li>
        </ul>
        <div class="app-sidebar__user padding-left-18">
            <div>
                @Html.Partial("UserActivePlan")
            </div>
        </div>
    </aside>

    <!-- Main Content-->
    <main class="app-content">
        @RenderBody()
    </main>

    <div class="circle_loader" id="divLoader" style="display:none;">
        <div class="circle__item">
            <svg class="circle__spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
            </svg>
        </div>
    </div>

    @Scripts.Render("~/bundles/UserJQuery")

    <!--High Chart-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://rawgit.com/highcharts/rounded-corners/master/rounded-corners.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

    <script type="text/javascript">
        $(document).ready(function (e)
        {
              $("#curDate").html(moment().format("MMM DD, YYYY hh:mm A"));
                @*//$("#curDate").html(moment().tz("@TimeZoneDetails").format("MMM DD, YYYY hh:mm A"));*@


        });
        $('#demoNotify').click(function () {
            $.notify({
                title: "Update Complete : ",
                message: "Something cool is just updated!",
                icon: 'fa fa-check'
            }, {
                    type: "info"
                });
        });
        $('#demoSwal').click(function () {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this email campaign!",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plz!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("Deleted!", "Your email campaign has been deleted.", "success");
                } else {
                    swal("Cancelled", "Your email campaign is safe :)", "error");
                }
            });
        });
    </script>
    @RenderSection("CustomScript", false);
</body>
</html>
