﻿@if (Session["PlanName"] != null && Session["TotalEmails"] != null && Session["SubscriberMax"] != null)
{
    <div>
        <p class="app-sidebar__user-name">@Session["PlanName"].ToString()</p>
        <p class="app-sidebar__user-designation">
            @if (Session["TotalEmails"].ToString() == "0")
            {
                @: Unlimited Emails
            }
            else
            {
                @Session["TotalEmails"].ToString()
                @:Emails
            }
            <br />
        <p class="app-sidebar__user-designation">@Session["SubscriberMax"].ToString() Maxmium Subscribers</p>
        <p>
            <a href="/User/Dashboard/Upgrade" style="color:#2eb0e3;font-size: 17px">Change Plan</a>
        </p>
    </div>
}


