﻿@model EM.Factory.ViewModels.IPAddressViewModel

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="IPPool">
    <div class="modal-dialog modal-sm" role="document">
        <!--Content-->
        @using (Ajax.BeginForm("AddIP", "IPAddress", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddIP();", OnSuccess = "onAddIPSucess", OnFailure = "onAddIPFailure" }))
        {
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add IP Pool</h4>

                </div>
                <!--Body-->
                <div class="modal-body edt-pop">
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            @Html.HiddenFor(m => m.IP_Pool.Id)
                            <label for="form2">IP Pool Name</label>
                            @Html.TextBoxFor(m => m.IP_Pool.Name, new { @class = "form-control", @placeholder = "IP Pool Name", @maxlength = "50" })
                            <span class="RequiredField" id="lblPPool"></span>
                        </div>

                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer text_center">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn_default">Save</button>
                </div>
            </div>
        }
        <!--/.Content-->
    </div>
</div>

