﻿@model EM.Factory.IP_Address

<div class="modal" role="dialog" id="editIPPool">
    <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("IPAddressData", "IPAddress", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onEditIPAddress();", OnSuccess = "onAddIP_AddressSuccess", OnFailure = "onAddIP_AddressFailure" }))
            {

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Edit
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.HiddenFor(m => m.Id)

                            <div class="form-row">
                                <label class="control-label">IP Address</label>
                                @Html.TextBoxFor(m => m.IP, new { id = "txtIPAddressName", @class = "form-control", placeholder = "IP Address" })
                                <span id="IPAddressError" class="RequiredField"></span>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn_default">Save</button>
                </div>

            }
        </div>
    </div>
</div>
