﻿@model EM.Factory.ViewModels.IPAddressViewModel
@{
    ViewBag.Title = "IPAddressData";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<ol class="breadcrumb">
    <li><a href="/Admin/Data">Dashboard</a></li>
    <li class="active">Add IP Address</li>
</ol>

<div class="container-fluid">
    <div class="white-bg-cont">
        <div class="row">
            <div class="col-sm-12">
                <ul class="Master-ctrl-tab">
                    <li><span class="tablinks active">Add IP Address</span></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="row">
                    @using (Ajax.BeginForm("IPAddressData", "IPAddress", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddIP_Address();", OnSuccess = "onAddIP_AddressSuccess", OnFailure = "onAddIP_AddressFailure" }))
                    {
                        <div class="col-lg-12 col-md-12 no-mrg-xs">
                            <div class="white-bg-cont modal-pad-top">

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label">IP Pool Name</label>
                                        <div class="clearfix"></div>
                                        @Html.DropDownListFor(x => x.IPPool_Id, TempData["IPPool"] as SelectList, "Select IP Pool", new { @class = "form-control" })
                                        <span><a title="Add IP Pool" onclick="IPPoolModalPopup()"><img src="~/Content/imagesHome/add_icon.png" style="height:20px;width:20px;" /> </a></span>
                                        <span id="lblIPPool_Id" class="RequiredField"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">IP Address</label>
                                        <div class="clearfix"></div>
                                        @Html.DropDownListFor(m => m.SelectedIP, TempData["IPAddress"] as SelectList, new { @class = "form-control", multiple = "multiple" })
                                        <span id="lblName" class="RequiredField"></span>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6" style="margin-right:10px;margin-top:10px;">
                                            <button type="submit" class="btn btn_default">Save</button>
                                            <button type="button" class="btn btn-warning" onclick="Clearcontrol();">Reset</button>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    }
                </div>
            </div>
            @*<div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
                                <table id="IPAddressDataTable" class="display new_grid" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-sm-4" id="BindDatatable">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
                            <table id="IPAddressPoolDataTable" class="display new_grid" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit IP_Address Modal-->
<div id="editContainer"></div>

<div id="IPPoolContainer"></div>

@section PageScript
        {
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Content/CustomJs/IP_Address.js?v=05272019"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            preventEnterForSubmittingForm();
        });
    </script>
}