﻿@{
    string staticAppUrl = Constants.staticAppUrl;
    string curUsername = string.Empty;
    string dashboardUrl = string.Empty;
    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            curUsername = EM.Web.Utilities.CurrentUser.getAdminDetails()!=null?EM.Web.Utilities.CurrentUser.getAdminDetails().FirstName: string.Empty;
            dashboardUrl = "/Admin/Dashboard";
        }
        else if (User.IsInRole("SalesRep"))
        {
            curUsername = EM.Web.Utilities.CurrentUser.getSalesRep()!=null? EM.Web.Utilities.CurrentUser.getSalesRep().FirstName: string.Empty;
            dashboardUrl = "/SalesRep/Dashboard";


        }
        else if (User.IsInRole("User"))
        {
            curUsername = EM.Web.Utilities.CurrentUser.getCurUserDetails() != null ? EM.Web.Utilities.CurrentUser.getCurUserDetails().FirstName : string.Empty;
            dashboardUrl = "/User/Dashboard";

        }
    }
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CheapesteMail</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">

    @Styles.Render("~/Content/css")

    <style>
        .ui-datepicker-calendar {
            display: none;
        }

        .user-pos-r {
            position: relative;
            padding-left: 40px;
        }

        .user_name_letter {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #0794cc;
            color: #fff;
            text-align: center;
            display: inline-block;
            position: absolute;
            top: 0;
            line-height: 33px;
            left: 0px;
        }


        .customer-login-page .card-wrapper {
            min-width: 540px;
        }
    </style>
</head>
<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow navbar navbar-expand-lg header_wrap navbar-light">
        <h5 class="my-0 mr-md-5 font-weight-normal"><a href="/Home/Index"> <img src="/Content/imagesHome/logo.png"> </a></h5>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <nav class="my-2 my-md-0 mr-md-auto">
                <a class="p-3" href="@staticAppUrl">Home</a>
                <a class="p-3" href="@(staticAppUrl+"Features.aspx")">Features</a>
                <a class="p-3" href="/Home/PricingPlan">Pricing &amp; Plans</a>
                <a class="p-3" href="@(staticAppUrl+"SuccessStories.aspx")">Success Stories</a>
                <a class="p-3" href="@(staticAppUrl+"Industries.aspx")">Industries</a>
                <a class="p-3">FAQs</a>
                <a class="p-3">Blog</a>
            </nav>
            @if (User.Identity.IsAuthenticated && curUsername!=string.Empty)
            {
                <a class="btn btn-link user-pos-r" href="@dashboardUrl"><span class="user_name_letter">@curUsername.Substring(0, 1)</span>Hi, @curUsername</a>

            }
            else
            {
                <a class="btn btn-outline-primary margin-right-12" href="/Account/Register?Package=1&loc=us">Sign up Free</a>
                <a class="btn btn-link" href="/Account/Login"><i class="fa fa-user-o" aria-hidden="true"></i> Log In</a>
            }
        </div>
    </div>

    @RenderBody()

    <div class="circle_loader" id="divLoader" style="display:none;">
        <div class="circle__item">
            <svg class="circle__spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
            </svg>
        </div>
    </div>


    <!-- Section 6 Start -->
    <div class="section-eight">
        <span class="section_eight_bg"><img class="img-fluid bottom-img" src="~/Content/imagesHome/email-marketing.png"></span>
        <div class="container">
            <h2 class="h2 text-center text-white">Contact our support team today.</h2>
            <h5 class="h5 mrg-b30 text-center text-white">Live customer solutions is available 4AM-8PM ET Mon-Fri and 9AM-5PM ET Sat-Sun.</h5>

            <div class="row">
                @*<div class="col-md-4 padding-top-20">
                    <img src="~/Content/imagesHome/phone-icon.png" class="img-fluid margin-right-15" align="left">
                    <span class="text-white nomargin text-bold text-20">Call Us</span>
                    <br><span class="text-white">Toll Free: +1 888-351-8398</span>
                </div>*@
                <div class="col-md-6 padding-top-20">
                    <img src="~/Content/imagesHome/live-chat.png" class="img-fluid margin-right-15" align="left">
                    <span class="text-white nomargin text-bold text-20">Live Chat: <span class="text-warning">Online</span></span>
                    <br><span class="text-white">Chat with our customer solutions team during our available hours.</span>
                </div>
                <div class="col-md-6 padding-top-20">
                    <img src="~/Content/imagesHome/email-icon.png" class="img-fluid margin-right-15" align="left">
                    <a class="text-white nomargin text-bold text-20" href="mailto:support@CheapestEmail.com">Email Us </a>
                    <br><span class="text-white">Email us any time, you'll receive a prompt and thorough response.</span>
                </div>
            </div>


        </div>
    </div>

    <!-- End Section 6 -->
    <!-- Section 7 Start -->
    <div class="section-seven">
        <div class="container">
            <div class="row">
                <ul class="companies-list">
                    <li><img src="~/Content/imagesHome/macdonal.jpg" alt=""></li>
                    <li><img src="~/Content/imagesHome/bmw.jpg" alt=""></li>
                    <li><img src="~/Content/imagesHome/harley-davidson.jpg" alt=""></li>
                    <li><img src="~/Content/imagesHome/honda.jpg" alt=""></li>
                    <li><img src="~/Content/imagesHome/LAX.jpg" alt=""></li>
                    <li><img src="~/Content/imagesHome/msuzuki.jpg" alt=""></li>
                    <li><img src="~/Content/imagesHome/edible.jpg" alt=""></li>
                    <li><img src="~/Content/imagesHome/hrblockl.jpg" alt=""></li>
                    <li><img src="~/Content/imagesHome/secured.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Section 7 -->
    <!-- Footer Start Here -->
    <footer class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <h5>Industries</h5>
                    <ul class="list-unstyled text-small">
                        <li class="text-blue">Restaurants</li>
                        <li class="text-blue">Bars & Nightclubs</li>
                        <li class="text-blue">Churches & Social Groups</li>
                        <li class="text-blue">College/Universities</li>
                        <li class="text-blue">Real Estate</li>
                        <li class="text-blue">More...</li>
                    </ul>
                </div>
                <div class="col-12 col-md">
                    <h5>Pages</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="@(staticAppUrl+"Features.aspx")">Features</a></li>
                        <li><a href="/Home/PricingPlan">Pricing & Plans</a></li>
                        <li><a href="@(staticAppUrl+"SuccessStories.aspx")">Success Stories</a></li>
                        <li class="text-blue">FAQs</li>
                        <li class="text-blue">Blog</li>
                    </ul>
                </div>
                <div class="col-12 col-md">
                    <h5>Company</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="@(staticAppUrl+"AboutUs.aspx")">About</a></li>
                        <li><a href="/Home/ContactUs">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled text-small">
                        <li>Contact Support: <a href="mailto:Support@CheapestEmail.com">Support@CheapestEmail.com</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled social-ic">
                        <li class="mrg-b15">
                            <a><i class="fa fa-facebook-square"></i></a>
                            <a><i class="fa fa-twitter"></i></a>
                            <a><i class="fa fa-google-plus"></i></a>
                            <a><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><button type="button" class="btn btn-primary" disabled><i class=" fa fa-envelope-o"></i> Join Mailing List</button></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md text-center mrg-b50">
                    <img class="img-fluid" src="/Content/imagesHome/footer-logo.jpg" alt="" />
                </div>
            </div>
            <div class="row copyright">
                <div class="col-12 col-md mrg-b15 text-center">
                    <small class="mrg-r20">Copyright &copy; 2019 Cheapest<span class="text-blue">eMail</span>, LLC. All Rights Reserved.</small>
                    <a href="@(staticAppUrl+"TermOfUse.aspx")">Terms & Conditions</a> /
                    <a href="@(staticAppUrl+"PrivacyPolicy.aspx")">Privacy Statement</a> /
                    <a href="@(staticAppUrl+"RefundPolicy.aspx")">Refund Policy</a> /
                    <a>Security</a> /
                    <a>Anti-Spam</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends Here -->

    @Scripts.Render("~/bundles/jquery")

    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
    @RenderSection("CustomScript", false)

</body>
</html>
