﻿@model EM.Web.Models.ChangePasswordViewModel
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Change Password";
}

<div class="container-fluid header-signin">
    <h1>Reset Password</h1>
</div>
<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">

                <div class="card fat">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="card-body">
                            <h4 class="card-title text-center text-20 text-bold">Change Password</h4>
                            <div class="form-group">
                                <label for="password" class="text-16">Password</label>
                                <div class="icon-addon addon-lg">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "txtResPassword" })
                                    <span class="fa fa-key" rel="tooltip" title="password">Password should have min length 6 and contain 1 Upper case, 1 Lowercase, 1 digit and 1 special character</span>
                                    @Html.ValidationMessageFor(x => x.OldPassword)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-16">Confirm Password</label>
                                <div class="icon-addon addon-lg">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "txtConfirmPass" })
                                    <span class="fa fa-key" rel="tooltip" title="password"></span>
                                    @Html.ValidationMessageFor(x => x.NewPassword)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-16">Confirm Password</label>
                                <div class="icon-addon addon-lg">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtConfirmPass" })
                                    <span class="fa fa-key" rel="tooltip" title="password"></span>
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                </div>
                            </div>
                            <div class="form-group no-margin">
                                <input type="submit" value="Change password" class="btn btn-primary btn-block text-18" />
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomScript
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/CustomJs/Home.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("body").addClass("customer-login-page");
        })
    </script>
}



@model EM.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
