﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    if(Model!=null && Model.Exception!=null)
    {
       EM.Helpers.CreateLog.Log(Model.Exception.Message, Model.Exception);

    }

}

@*<h1 class="text-danger">Error.</h1>*@
@*<h2 class="text-danger">An error occurred while processing your request.</h2>*@

<div style="background-color: #FFFFFF; color: White; height: 10px;">
</div>
<div style="display: block; height: 450px; text-align:center; line-height:200px; background-color: #FFFFFF ;">
    <div style=" padding:120px;">
        <h4>
            Sorry, an error occurred while processing your request.
        </h4>
        <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home", new { area = "" },null)</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #FFFFFF; color: White; height: 10px;">
</div>  