﻿@if (Session["PlanName"] != null && Session["TotalEmails"] != null && Session["DaysLeft"] != null)
{
    <div>
        <p class="app-sidebar__user-name">@Session["PlanName"].ToString()</p>
        <p class="app-sidebar__user-designation">
            @Session["TotalEmails"].ToString() Emails<br /> And <br />
            @Session["DaysLeft"] Days Remaining<br>
            <a href="/User/Dashboard/Upgrade">Activate/Upgrade</a>
        </p>
    </div>
}
