﻿@model EM.Web.Areas.SalesRep.Models.LeadDashboardDataViewModel

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="AddMobileModal">
    <div class="modal-dialog modal-sm" role="document">
        <!--Content-->
        @using (Ajax.BeginForm("AddEditLeadMobile", "LeadDashboard", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddLeadMobile();", OnSuccess = "onAddLeadMobileSucess", OnFailure = "onAddLeadMobileFailure" }))
        {
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Mobile</h4>

                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            @Html.HiddenFor(m => m.numList.MobileRowId)
                            @Html.HiddenFor(m => m.numList.LeadId)
                            @Html.TextBoxFor(m => m.numList.MobileNumber, new { @class = "form-control", @placeholder = "", @maxlength = "50" })
                            <span class="RequiredField" id="lblMobile"></span>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <button type="button" class="btn btn-warning" onclick="ClearMobileField();">Clear</button>
                            <button type="submit" class="btn btn_default" id="btnSubmit">Add</button>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
                                <table id="leadMobileTable" class="display new_grid" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
            </div>
        }
        <!--/.Content-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#numList_MobileNumber').usPhoneFormat({
            format: '(xxx) xxx-xxxx',
        })
    })
    </script>



