﻿@model EM.Web.Areas.SalesRep.Models.LeadDashboardDataViewModel

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="AddEmailModal">
    <div class="modal-dialog modal-sm" role="document">
        <!--Content-->
        @using (Ajax.BeginForm("AddEditLeadEmail", "LeadDashboard", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddLeadEmail();", OnSuccess = "onAddLeadEmailSucess", OnFailure = "onAddLeadEmailFailure" }))
        {
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Email</h4>

                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            @Html.HiddenFor(m => m.idList.EmailRowId)
                            @Html.HiddenFor(m => m.idList.LeadId)
                            @Html.TextBoxFor(m => m.idList.Email, new { @class = "form-control", @placeholder = "Email", @maxlength = "50" })
                            <span class="RequiredField" id="lblEmail"></span>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <button type="button" class="btn btn-warning" onclick="ClearEmail();">Clear</button>
                            <button type="submit" class="btn btn_default" id="btnSubmit">Add</button>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
                                <table id="leadEmailTable" class="display new_grid" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Footer-->
            </div>
        }
        <!--/.Content-->
    </div>
</div>


