﻿@model EM.Web.Areas.SalesRep.Models.LeadDashboardDataViewModel
@{
    ViewBag.Title = "EditClientView";
}
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />

<!--Edit Modal-->
@using (Ajax.BeginForm("UpdateLeadData", "LeadDashBoard", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onBegin();", OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="modal" tabindex="-1" role="dialog" id="editLeadModal">

        <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Lead Details</h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    @Html.HiddenFor(m => m.LeadDashboardData.LeadId)
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">First Name</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.FirstName, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Last Name</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.Lastname, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Color</label>
                            @Html.DropDownListFor(x => x.LeadDashboardData.ColorId, Model.LeadColor, "Select", new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">State</label>
                            @Html.DropDownListFor(m => m.LeadDashboardData.State, Model.State, "Select", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Job Title</label>
                            @Html.TextBoxFor(m => m.LeadDashboardData.JobTitle, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Company</label>
                            @Html.TextBoxFor(m => m.LeadDashboardData.Company, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Industry</label>
                            @Html.DropDownListFor(x => x.LeadDashboardData.IndustryId, Model.Industry, "Select", new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Mobile Number</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.MobileNo, new { @class = "form-control disabled", @readonly = "true" })
                            <a  onclick="AddMobileModalPopup('@Model.LeadDashboardData.LeadId','')" href="#!"><img src="~/Content/imagesHome/add_icon.png" style="height:24px;width:24px;" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Phone Number</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.PhoneNo, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Email</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.Email, new { @class = "form-control disabled" , @readonly ="true" })
                            <a  onclick="AddEmailModalPopup('@Model.LeadDashboardData.LeadId','')" href="#!"><img src="~/Content/imagesHome/add_icon.png" style="height:24px;width:24px;" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Website</label>

                            @Html.TextBoxFor(x => x.LeadDashboardData.Website, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">LinkedIn</label>

                            @Html.TextBoxFor(x => x.LeadDashboardData.LinkedIn, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Twitter</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.Twitter, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Instagram</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.Instagram, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Facebook</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.Facebook, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Providers</label>
                            @Html.DropDownListFor(m => m.SelectedProviders, Model.ProvidersList, new { @class = "form-control mrg-3", multiple = "multiple" })
                            <input type="hidden" name="ProviderName" id="ProviderName" />
                            <a data-toggle="modal" data-target="#AddProviderModal" onclick="AddProviderModalPopup()"><img src="~/Content/imagesHome/add_icon.png" style="height:24px;width:24px;" /> </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">How Hot?</label>

                            @Html.DropDownListFor(x => x.LeadDashboardData.HotId, Model.LeadQuality, "Select", new { @class = "form-control mrg-3" })


                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Opportunity Amonut</label>
                            @Html.TextBoxFor(x => x.LeadDashboardData.OpportunityAmount, new { @class = "form-control" })
                        <span class="RequiredField" id="lblOppError"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Follow Up</label>

                            @Html.TextBoxFor(x => x.LeadDashboardData.FollowUpDate, new { @class = "form-control mrg-3" })


                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Sales Rep</label>
                            @Html.DropDownListFor(x => x.LeadDashboardData.SalesRepID, Model.SalesRep, "Select", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn_default">Save changes</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
}
@Html.Partial("AddProviders")

<!--Lead Email Pop Up-->
<div id="LeadEmailModalContainer"></div>

<!--Lead Mobile Pop Up-->
<div id="LeadMobileModalContainer"></div>


    <script src="~/Scripts/bootstrap-multiselect.js"></script>

    <script type="text/javascript">
        $('#SelectedProviders').multiselect();

    </script>
    <script>
        $(document).ready(function ()
        {
            $('#LeadDashboardData_PhoneNo').usPhoneFormat({
                format: '(xxx) xxx-xxxx',
            })
        var fDate = '@Model.LeadDashboardData.FollowUpDate';
        $('#LeadDashboardData_FollowUpDate').val(fDate);
        initSignalDatePicker($('#LeadDashboardData_FollowUpDate'));
        if (fDate == '') {
            $('#LeadDashboardData_FollowUpDate').val('');
        }
        setProviderValue();
       
        })

        function setProviderValue() {
            
            var data= '@Model.LeadDashboardData.ProviderId';
            var dataarray = data.split(",");
            $.each(dataarray, function (i, e) {
               
                $("#SelectedProviders option[value='" + e + "']").prop("selected", true);
                $("#SelectedProviders").multiselect("refresh");
            });
          
        }

    </script>