﻿
@{
    ViewBag.Title = "index";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>

    }
    <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
    <li class="active">Leads Dashboard</li>

</ol>

<div class="white-bg-cont">
    <!-- Search By Start here-->
    <div class="row">
        <div class="col-sm-12"><h4>Leads</h4></div>
        <div class="col-lg-12 col-md-12 no-mrg-xs">
            <div class="search-row search_leads">
                <form class="form-inline" role="form">
                    <div class="col-md-10 col-lg-10 border-r">
                        <div class="no-mrg-xs follow_lbl">
                            <label class="motaltext1">Quality of Leads:</label>
                        </div>
                        <div class="col-lg-2 col-md-12 no-mrg-xs">
                            @*<select class="form-control" id="ddlQualityLeads" style="margin:15px 0"></select>*@
                            @Html.DropDownList("ddlQualityLeads", ViewBag.QualityOfLeades as SelectList, "Select", new { @class = "form-control" })
                        </div>
                        <div class="no-mrg-xs follow_lbl">
                            <label class="motaltext1">Type of Lead:</label>
                        </div>
                        <div class="col-lg-2 col-md-12 no-mrg-xs">
                            <select class="form-control" id="ddlLeadType" style="margin:15px 0">
                                <option selected="selected" value="0">Select</option>
                                <option value="1">Less than 30 days</option>
                                <option value="2">Greater than 30 days</option>
                                <option value="3">Less than 90 days</option>
                                <option value="4">Greater than 90 days</option>
                            </select>
                        </div>
                        <div class="no-mrg-xs follow_lbl">
                            <label class="motaltext1">Type of Industry:</label>
                        </div>
                        <div class="col-lg-2 col-md-12 no-mrg-xs">
                            @Html.DropDownList("ddlIndustryType", ViewBag.IndustryList as SelectList, "Select Industry", new { @class = "form-control" })
                        </div>
                        <div class="pull-left btn_l-margin">

                            <a class="waves-effect waves-light btn btn_default btn-search text-uppercase pull-left" style="margin-right:10px;" id="btnRepActivity">Search</a>
                            @*<a class="waves-effect waves-light btn btn-warning btn-search text-uppercase pull-left" id="btnReset" onclick="ClearRepActivity();">Reset</a>*@
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 no-mrg-xs border-r" style="text-align:center;padding-top:10px">
                        <h6>Total Records<br><span class="client-count" id="DivTotalRecords" style="font-weight:bold;"></span></h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Search By Ends here-->
    <!-- Search Results data table Ends here-->
    <div class="spend-result6 activity-result table-responsive">
        <button id="leadsDashboardExport" class="pull-right" onclick="ExportLead();" style="border:none;color:#009ac3;background:none;opacity:0.4" disabled><i class="fa fa-file-excel-o"></i> Export</button>
        <table id="tdLead" class="display tablesaw" data-tablesaw-mode="swipe" data-minimap cellspacing="0" width="100%"></table>
    </div>
</div>

<!--Note Lead data Modal-->
<div id="divNoteModal"></div>

<!--Edit Lead data Modal-->
<div id="divEditLeadModal"></div>

@section PageScript{

    <script src="~/Content/CustomJs/LeadDashBoard.js?v=04132020"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            preventEnterForSubmittingForm();
        });
    </script>
}
