﻿@model EM.Factory.PromotionCode

<div class="modal" role="dialog" id="editPromotion">
    <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("AddEditPromotion", "PromotionCode", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onEditPromotionCode();", OnSuccess = "onEditPromotionSucess", OnFailure = "onAddPromotionFailure" }))
            {

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Edit
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.HiddenFor(m => m.PromotionCodeId)

                            <div class="form-row">
                                <label class="control-label">Promotion Name</label>
                                @Html.TextBoxFor(m => m.PromotionCodeName, new { @id= "txtPromotion" ,@class = "form-control", @placeholder = "Provider Name" })
                                <span id="lblPromotionNameError" class="RequiredField"></span>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn_default">Update</button>
                </div>

            }
        </div>
    </div>
</div>
