﻿@model EM.Factory.PromotionCode
@{
    ViewBag.Title = "MasterData";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <!-- <li><a href="#">Dashboard</a></li> -->
    <li><a href="/Admin/Dashboard">Dashboard</a></li>
    <li class="active">Promotion Code</li>

</ol>

<div class="container-fluid">
    <div class="white-bg-cont">
        <div class="row">
            <div class="col-sm-12">
                <ul class="Master-ctrl-tab">
                    <li><span class="tablinks active">Add Promotion</span></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="row">
                    @using (Ajax.BeginForm("AddEditPromotion", "PromotionCode", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddPromotion();", OnSuccess = "onAddPromotionSucess", OnFailure = "onAddPromotionFailure" }))
                    {
                        <div class="col-lg-12 col-md-12 no-mrg-xs">
                            <div class="white-bg-cont modal-pad-top">

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label">Promotion Name</label>
                                        @Html.TextBoxFor(m => m.PromotionCodeName, new { @class = "form-control", @placeholder = "Promotion Code" })
                                        <span id="lblPromotionName" class="RequiredField"></span>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6" style="margin-right:10px;margin-top:10px;">
                                            <button type="submit" class="btn btn_default">Add</button>
                                            <button type="button" class="btn btn-warning" onclick="Reset();">Reset</button>

                                        </div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
                            <table id="promotionTable" class="display new_grid" style="width:100%"></table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!--Edit Promotion Modal-->
<div id="editContainer"></div>

@section PageScript{
    <script src="~/Content/CustomJs/Admin_PromotionCode.js?v=05272019"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            preventEnterForSubmittingForm();
        });
    </script>
}

