﻿.circle_loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 1111;
    background-color: rgba(0,0,0,0.6);
}

.circle__item {
    width: 200px;
    height: 200px;
}

.circle__spinner {
    width: 200px;
    height: 200px;
}

.circle__spinner .path {
    stroke: #0093ee;
    stroke-linecap: round;
    animation: dash 5s linear infinite;
}
