﻿
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "/Views/Shared/_LayoutHome.cshtml";
}
<style>
    .card-wrapper-mobile {
        z-index: 9;
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
    }
</style>
<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper card-wrapper-mobile" style="position:relative; z-index:9999999999999">
                <p>
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>
</div>


