﻿
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<script src="~/Content/CustomJs/Home.js?v=09022019"></script>
<script>
    $(document).ready(function () {
        message = '@ViewBag.Message';
        //setRegistratonMessage('@ViewBag.Message');
    }
</script>
