﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Confirm Email";
}

<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <p>
                    @ViewBag.Message Please <a href="@ViewBag.Url">Click here to Create Password</a>
                </p>
            </div>
        </div>
    </div>
</div>

