﻿@model EM.Web.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Forgot password";
}

<div class="container-fluid header-signin">
    <h1>Forgot Password</h1>
</div>
<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper login_box">

                <div class="card fat">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {

                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                        <div class="card-body">
                            <h4 class="card-title text-center text-20 text-bold">Type your email address.</h4>


                            <div class="form-group">
                                <label for="email" class="text-16">E-mail</label>
                                <div class="icon-addon addon-lg">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtForEmail" })
                                    <span class="fa fa-user" rel="tooltip" title="email"></span>
                                    <span id='eError' class='RequiredField msg'>@ViewBag.Message</span>
                                </div>
                            </div>


                            <div class="form-group no-margin">
                                <input type="submit" class="btn btn-primary btn-block text-18" onclick="return ForgotAccValidation();" value="Forgot Password" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section CustomScript
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/CustomJs/Home.js?v=09022019"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("body").addClass("customer-login-page");
        })
    </script>
}
