﻿@model EM.Web.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";


}

<div class="container-fluid header-signin">
    <h1>Customer Sign In</h1>
</div>
<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper login_box">

                <div class="card fat">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <div class="card-body">
                            <h4 class="card-title text-center text-20 text-bold">Type your E-mail and password.</h4>


                            <div class="form-group">
                                <label for="email" class="text-16">E-mail</label>
                                <div class="icon-addon addon-lg">
                                    @*<input type="email" placeholder="" class="form-control" id="e_mail" name="Email" required>*@
                                    @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", type = "email", @class = "form-control" })
                                    <span class="fa fa-user" rel="tooltip" title="email"></span>
                                    <span id='eError' class='RequiredField'></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="password" class="text-16">
                                    Password
                                    <a href="/Account/ForgotPassword" class="float-right text-16">
                                        Forgot Password?
                                    </a>
                                </label>

                                <div class="icon-addon addon-lg">
                                    @*<input id="password" type="password" class="form-control" name="password" required data-eye>*@
                                    @Html.TextBoxFor(model => model.Password, new { @id = "txtPassword", type = "password", @class = "form-control" })
                                    <span class="fa fa-key" rel="tooltip" title="password"></span>
                                    <span id='pError' class='RequiredField'></span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="text-16">
                                    @*<input type="checkbox" name="RememberMe">*@
                                    @Html.CheckBoxFor(model => model.RememberMe) Remember the login info?
                                </label>
                            </div>

                            <div class="form-group no-margin">
                                <input type="submit" class="btn btn-primary btn-block text-18" onclick="return LoginAccValidation();" value="Log In To My Account" />
                                <span class='RequiredField'>@ViewBag.Message</span>

                            </div>

                            <div class="margin-top20 text-center text-16">
                                Don't have an account? <a href="/Home/PricingPlan">Sign up</a>.
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/CustomJs/Home.js?v=09022019"></script>

<script type="text/javascript">

    $(document).ready(function (e) {
        $("body").addClass("customer-login-page");


    });



</script>
