﻿@model EM.Web.Models.RegisterViewModel

@{

    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var totalEmails = Model.UnlimtedEmail != null && Model.UnlimtedEmail.Value ? "Unlimited Emails" : Model.TotalEmails + " Emails";
    string staticAppUrl = Constants.staticAppUrl;

}
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="container-fluid header-registration">
    <h1>Ready to grow revenue with email marketing?</h1>
    <p class="nomargin">Everything included, starting at just @if (ViewBag.loc == "CA") {<span> $12.01</span>} else {<span> $9</span>}  a month.</p>
    <p class="text-warning nomargin">Sign up Now!</p>
    <p class="nomargin"><img src="/Content/imagesHome/arrow-down.png" class="img-fluid"></p>
</div>

<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container">

        <div class="alert alert-success text-center">

            <strong>Plan Selected:</strong> @Model.PlanName $@Model.PackageBillingAmount/ Month (@Model.MaxSubscribers Subscribers) (@totalEmails/ Month )  &nbsp;&nbsp;<a href="/Home/PricingPlan" class="btn btn-warning">Change Plan</a>
        </div>

        <div class="row margin-top-35 margin-bottom-50">



            <div class="col-md-7">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    <p class="text-bold"><img src="/Content/imagesHome/user-icon.png"> &nbsp;Enter Personal Information</p>

                    <div class="form-row">

                        <div class="col-md-6 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                @Html.TextBoxFor(model => model.Email, new { @id = "txEmail", @placeholder = "Email Address", @class = "form-control form-control-lg" })
                                <span id='emError' class='RequiredField'></span>

                            </div>
                        </div>

                        <div class="col-md-6 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <i class="fa fa-building" aria-hidden="true"></i>
                                @Html.TextBoxFor(model => model.Company, new { @id = "txtCompany", @placeholder = "Company Name", @class = "form-control form-control-lg" })
                                <span id='cnError' class='RequiredField'></span>

                            </div>
                        </div>

                        <div class="col-md-6 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                @Html.TextBoxFor(model => model.FirstName, new { @id = "txtfirstname", @placeholder = "First Name", @class = "form-control form-control-lg" })
                                <span id='fnError' class='RequiredField'></span>
                            </div>
                        </div>

                        <div class="col-md-6 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                @Html.TextBoxFor(model => model.LastName, new { @id = "txtlastname", @placeholder = "Last Name", @class = "form-control form-control-lg" })
                                <span id='lnError' class='RequiredField'></span>

                            </div>
                        </div>




                        <div class="col-md-6 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                @Html.TextBoxFor(model => model.MobilePhone, new { @id = "txtPhone", @placeholder = "Phone Number", @class = "form-control form-control-lg", type = "text" })
                                <span id='MblError' class='RequiredField'></span>
                            </div>
                        </div>

                        <div class="col-md-6 padding-bottom-15">
                            <div class="inner-addon left-addon">
                                @Html.DropDownListFor(model => model.TimeZoneID, Model.TimeZoneList, "  Select TimeZone", new { @class = "form-control form-control-lg" })
                                <span id='TimeZoneError' class='RequiredField'></span>
                            </div>
                        </div>

                    </div>

                    if (Model.SelectedPackakgeId != null && Model.SelectedPackakgeId.Value != 1)
                    {
                        <p class="text-bold margin-top-15"><img src="/Content/imagesHome/billing-icon.png"> &nbsp;Enter Billing & Payment Information</p>

                        <div class="form-row">
                            <div class="col-md-12 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <i class="fa fa-address-book" aria-hidden="true"></i>
                                    @Html.TextBoxFor(model => model.Address1, new { @id = "txtAddress", @placeholder = "Address", @class = "form-control form-control-lg" })
                                    <span id='AddressError' class='RequiredField'></span>

                                </div>
                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                @Html.TextBoxFor(model => model.City, new { @id = "txtCity", @placeholder = "City", @class = "form-control form-control-lg" })
                                <span id='cityError' class='RequiredField'></span>

                            </div>
                            <div class="col-md-6 padding-bottom-15">

                                @if (ViewBag.loc == "CA")
                                {
                                    @Html.TextBox("State", null, new { @class = "form-control form-control-lg", @placeholder = "State / Territory" })
                                    <span id='stateError' class='RequiredField'></span>
                                }
                                else
                                {
                                    @Html.TextBox("txtState", null, new { @class = "form-control form-control-lg", @placeholder = "State / Territory" })
                                    <span id='stateError' class='RequiredField'></span>


                                    @Html.DropDownListFor(model => model.State, Model.StateList, new { @class = "form-control form-control-lg" })

                                }
                            </div>



                            <div class="col-md-6 padding-bottom-15">
                                @Html.TextBoxFor(model => model.Zip, new { @id = "txtpostal", @placeholder = "Postal Code", @class = "form-control form-control-lg" })
                                <span id='postalError' class='RequiredField'></span>

                            </div>
                            <div class="col-md-6 padding-bottom-15">
                                @if (ViewBag.loc == "CA")
                                {
                                    @Html.Label("Canada", new { @class = "form-control form-control-lg" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Country,Model.CountryList, new { @class = "form-control form-control-lg", onChange = "bindState(this.value)" })
                                }
                            </div>
                            <div class="col-md-12 padding-bottom-15">
                                <div class="inner-addon right-addon">
                                    <i class="fa fa-credit-card-alt text-20" aria-hidden="true"></i>
                                    @Html.TextBoxFor(model => model.CreditCardNo, new { @id = "txtCredit", @placeholder = "Credit Card Number", @class = "form-control form-control-lg" })
                                    <span id='CreditError' class='RequiredField'></span>

                                </div>
                            </div>


                            <div class="col-md-6 padding-bottom-15">
                                <div class="inner-addon right-addon">
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.ExpMonth, Model.MonthList, "Month", new { @class = "form-control form-control-lg" })
                                            <span id='ExMonthError' class='RequiredField'></span>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.ExpYear, Model.YearList, "Year", new { @class = "form-control form-control-lg" })
                                            <span id='ExYearError' class='RequiredField'></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 padding-bottom-15">
                                @Html.TextBoxFor(model => model.cvv, new { @class = "form-control form-control-lg", type = "password", placeholder = "CVV", maxlength = "4", @style = "color: gray" })
                            </div>
                            <div class="col-md-1 padding-top-12">
                                <a href="#" data-toggle="tooltip" data-placement="right" data-custom-class="tooltip-danger" title="Your security code is a three to four digit number on the back of your credit card."><i class="fa fa-question-circle text-20" aria-hidden="true"></i></a>
                            </div>

                        </div>
                    }


                    <div class="custom-control custom-checkbox margin-bottom-4" style="padding-left:0;">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
                        <label class="custom-control-label text-15" for="customCheck2" style="cursor:pointer; padding-left:22px;"> I agree to the <a href="@(staticAppUrl+"TermOfUse.aspx")">Terms & Conditions</a> and <a href="@(staticAppUrl+"PrivacyPolicy.aspx")">Privacy Policy</a> of CheapesteMail.</label><br />
                        <span id='CheckError' class='RequiredField'></span>
                    </div>

                    <div class="custom-control custom-checkbox" style="padding-left:0;">
                        <input type="checkbox" class="custom-control-input" id="customCheck3" checked="">
                        <label class="custom-control-label text-15" for="customCheck3" style="cursor:pointer; padding-left:22px;"> Keep me informed on Cheapest<span class="text-blue">eMail</span> marketing tips, exclusive offers, news, and webinars. You can update your preferences or unsubscribe at any time.</label>
                    </div>
                    @Html.HiddenFor(model => model.PackageBillingAmount)
                    @Html.HiddenFor(model => model.SelectedPackakgeId)
                    @Html.HiddenFor(model => model.location)
                    @Html.HiddenFor(model => model.PlanName)
                    @Html.HiddenFor(model => model.MaxSubscribers)
                    <input type="submit" class="btn btn-primary margin-top-20 form-control text-18" onclick="return RegisterAccValidation(@Model.SelectedPackakgeId);" value="Create My Account" style="height:50px;" />

                    <div class="margin-bottom-15"></div>
                }

            </div>

            <div class="col-md-5">
                <h5 class="text-bold text-22">What's included with your selected plan?</h5>
                <ul class="list-arrow-style">
                    <li>Email Subscribers (@Model.MinSubscribers-@Model.MaxSubscribers) <a href="#" data-toggle="tooltip" data-placement="right" data-custom-class="tooltip-danger" title="Pay as you grow and reach big milestones with email." style="color:#000;"><i class="fa fa-question-circle text-20" aria-hidden="true"></i></a></li>
                    <li>Contact Management <a href="#" data-toggle="tooltip" data-placement="right" data-custom-class="tooltip-danger" title="Get instant reply from our support staff at 24x7." style="color:#000;"><i class="fa fa-question-circle text-20" aria-hidden="true"></i></a></li>
                    <li>@totalEmails/ Month <a href="#" data-toggle="tooltip" data-placement="right" data-custom-class="tooltip-danger" title="You use us to send emails, so send as many as you want!" style="color:#000;"><i class="fa fa-question-circle text-20" aria-hidden="true"></i></a></li>
                    <li>Email Scheduling <a href="#" data-toggle="tooltip" data-placement="right" data-custom-class="tooltip-danger" title="Save time and delight subscribers with an automated educational course or welcome series." style="color:#000;"><i class="fa fa-question-circle text-20" aria-hidden="true"></i></a></li>
                    <li>Customizable Templates <a href="#" data-toggle="tooltip" data-placement="right" data-custom-class="tooltip-danger" title="Manage your contacts with name, email, phone number." style="color:#000;"><i class="fa fa-question-circle text-20" aria-hidden="true"></i></a></li>
                    <li>Educational Resources <a href="#" data-toggle="tooltip" data-placement="right" data-custom-class="tooltip-danger" title="Improve your emails when you track performance like opens, clicks and more." style="color:#000;"><i class="fa fa-question-circle text-20" aria-hidden="true"></i></a></li>
                    <li>Live Support <a href="#" data-toggle="tooltip" data-placement="right" data-custom-class="tooltip-danger" title="Choose a basic layout, pre-built theme, or a template based on the message you need to communicate." style="color:#000;"><i class="fa fa-question-circle text-20" aria-hidden="true"></i></a></li>
                </ul>

                <div class="row">
                    <div class="col-12 margin-top-15 testimonial-bg-home">
                        <p class="padding-left-32">The customer service is amazing. I can pick up the phone and I get through quickly to someone who is incredibly knowledgeable. Often they create a solution I couldn't have anticipated.</p>
                        <p class="padding-left-32">
                            <img src="/Content/imagesHome/testmonial-1.jpg" class="rounded-circle float-left margin-right-15">
                        <p class="text-bold nomargin">John C., Smart Business Revolution</p><p>Austin, TX</p>

                    </div>
                    <div class="col-12 padding-left-45 padding-top-20">
                        <p><a href="@(staticAppUrl + "SuccessStories.aspx")" class="btn btn-outline-primary">Read Success Stories</a></p>
                    </div>
                </div>


            </div>




        </div>
    </div>
</div>

@section CustomScript
{

    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>
    <script src="~/Content/CustomJs/Home.js?v=04082020"></script>
    <script src="~/Content/CustomJs/common.js?v=09022019"></script>
    <script>

        $(document).ready(function () {
            $("#txtState").hide();
            $("#txtState").attr('name', 'notState')
            initDateTimePicker($('#txtExpiryCard'), {
                viewMode: 'years',
                format: 'MM/YYYY',
                minDate: new Date()
            });
            var errMsg = $("<div/>").html('@ViewBag.Message').text();
            $('[data-toggle="tooltip"]').tooltip();
            if (errMsg != "" && errMsg.indexOf("Thank") != -1)
            {
                GenerateAlertWithHTML("", errMsg, "success", redirectToLogin);
            }
            else if (errMsg != "") {
                GenerateAlert("", errMsg, "info");

            }
        });

        $(document).ready(function (e) {
            $('#txtPhone').usPhoneFormat({
                format: '(xxx) xxx-xxxx',
            });
        });

        function redirectToLogin() {
            window.location.href = "Login";
        }

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>



}

