﻿@model EM.Web.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Reset password";
}

<div class="container-fluid header-signin">
    @if (ViewBag.create != null && ViewBag.create == "create")
    {
    <h1>Create Password</h1>
    }
    else
    {
    <h1>Reset Password</h1>
    }
</div>
<div class="container-fluid padding-top-30 padding-bottom-50">
    @if (ViewBag.Message != null && ViewBag.create != null)
    {
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper login_box">

                <div class="card fat">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                        @Html.HiddenFor(model => model.Code)
                        <div class="card-body">
                            
                            @*<span class='SuccessField'> @ViewBag.Message </span>*@
                            <div class="form-group no-margin">
                                @Html.ActionLink("Go Back To Login Page", "Login", "Account", new { @style = "float:right ; padding:8px" })
                            </div>
                        </div>
                     }
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">

                <div class="card fat">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model=>model.userid)
                        @Html.HiddenFor(model=>model.name)
                        @Html.HiddenFor(model => model.isNewUser)
                        @Html.HiddenFor(model => model.CompanyName)
                        <div class="card-body">
                            <h4 class="card-title text-center text-20 text-bold">Type your email address and password.</h4>
                            @*<span class='SuccessField'> @ViewBag.Message </span>*@

                            <div class="form-group">
                                <label for="email" class="text-16">E-mail</label>
                                <div class="icon-addon addon-lg">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtResEmail" })
                                    <span class="fa fa-user" rel="tooltip" title="email"></span>
                                    <span id='eError' class='RequiredField'></span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="password" class="text-16">Password</label>
                                <div class="icon-addon addon-lg">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "txtResPassword" })
                                    <span class="fa fa-key" rel="tooltip" title="password"></span>
                                    <span id='pError' class='msg'>Your password must contain at least 6 chars, one uppercase, 1 numeric and 1 special character.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-16">Confirm Password</label>
                                <div class="icon-addon addon-lg">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "txtConfirmPass" })
                                    <span class="fa fa-key" rel="tooltip" title="password"></span>
                                    <span id='cError' class='RequiredField'></span>
                                </div>
                            </div>
                            <div class="form-group no-margin">
                                @if (ViewBag.create != null && ViewBag.create == "create")
                                {
                                    <input type="submit" class="btn btn-primary btn-block text-18" onclick="return PasswordAccValidation();" value="Create Password" />
                                }
                                else
                                {
                                    <input type="submit" class="btn btn-primary btn-block text-18" onclick="return PasswordAccValidation();" value="Reset Password" />
                                }
                                
                                @Html.ActionLink("Go Back To Login Page", "Login", "Account", new { @style = "float:right ; padding:8px" })

                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>
@section CustomScript
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/CustomJs/Home.js?v=09022019"></script>
    <script type="text/javascript">
        var message = '@ViewBag.Message';
        console.log(message);
        $(document).ready(function (e) {
            //$('[data-toggle="tooltip"]').tooltip();
            $("body").addClass("customer-login-page");
            if (message != '') {
                GenerateAlert("",message, "success", redirectToDashboard);
            }
        });
        function redirectToDashboard() {
            var userId = '@ViewBag.UserId';
            window.location.href = "/Account/ResetPasswordLogin?userid=" + userId
        }
    </script>
}




