﻿@model List<EM.Web.Areas.User.Models.CampaignSummaryReportViewModel>

<table class="table table-striped text-14">
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var subject = HttpUtility.HtmlDecode(item.Subject);

        <tr>
            <td class="align-middle">
                <ul class="list-unstyled nomargin">
                    <li><span class="text-bold"><a title="View Report" href='/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Subject=@subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=0'>@Html.Raw(item.CampaignName)</a></span><br><span class="text-gray text-13" style="color:green;font-weight:bold">Sent</span> <span class="text-13" id="sentDate_@item.CampaignId"> @item.SentDate.ToString("MM/dd/yyyy hh:mm:ss tt")</span></li>
                </ul>
            </td>
            @if (item.Subscribers == 0)
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold">@item.Subscribers</p>Subscribers</td>
            }
            else
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Text=Recipient&Subject=@subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=1">@item.Subscribers</a></p>Subscribers</td>

            }
            @if (item.Sents == 0)
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold">@item.Sents</p>Requests</td>
            }
            else
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Text=Recipient&Subject=@subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=1">@item.Sents</a></p>Requests</td>

            }
            @if (item.Delivered == 0)
            {

                <td class="align-middle text-center"><p class="nomargin text-18 text-bold">@item.Delivered</p>Delivered</td>
            }
            else
            {

                <td class="align-middle text-center"><p class="nomargin text-18 text-bold"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Text=Delivered&Subject=@subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=1">@item.Delivered</a></p>Delivered</td>
            }
            @if (item.Opens == 0)
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold">@item.Opens</p>Unique Opened</td>
            }
            else
            {
                <td class="align-middle text-14 text-center"><p class="nomargin text-18 text-bold"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Text=Open&Subject=@subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=1">@item.Opens</a></p>Unique Opened</td>
            }
            @if (item.Clicks == 0)
            {
                <td class="align-middle text-14 text-center"><p class="nomargin text-18 text-bold">@item.Clicks</p>Unique Clicked</td>

            }
            else
            {
                <td class="align-middle text-14 text-center"><p class="nomargin text-18 text-bold"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Text=Click&Subject=@subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=1">@item.Clicks</a></p>Unique Clicked</td>

            }
            @if (item.Bounce == 0)
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold">@item.Bounce</p>Bounced</td>

            }
            else
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Text=Bounce&Subject=@subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=1">@item.Bounce</a></p>Bounced</td>

            }
            @if (item.Dropped == 0)
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold">@item.Dropped</p>Dropped</td>

            }
            else
            {
                <td class="align-middle text-center"><p class="nomargin text-18 text-bold"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Text=Bounce&Subject=@subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=1">@item.Dropped</a></p>Dropped</td>

            }
            @*<td class="align-middle text-right text-16">
            <button type="button" class="btn btn-info" disabled>
              View Report
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled></button>
                <div class="dropdown-menu">


                </div>
            </div>
        </td>*@
            <td></td>
        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">No Record Found</td>
            </tr>
        }


    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        CampaignPage($("#PageControl"), '@ViewBag.PageNumber','@ViewBag.TotalRecord')
    });
</script>
@*@section CustomScript{
    <script type="text/javascript">

        $(document).ready(function () {

            console.log("h");
            getTimeConvert("sentDate_");

    });
    </script>
    }*@