﻿
@{
    ViewBag.Title = "CampaignDetailedReport";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<style>
    #refresh {
        position: absolute;
        right: 20px;
    }
</style>

<section class="content white-bg-cont">
    <div class="choose-template">
        <div class="app-title">
            <div>
                <h1 id="lblReport"><i class="fa fa-check-square-o" aria-hidden="true"></i> Reports</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                @if (User.IsInRole("Admin"))
                {
                    <li class="breadcrumb-item"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else if (User.IsInRole("SalesRep"))
                {
                    <li class="breadcrumb-item"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else
                {
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                }
                <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/User/Report/">Reports</a></li>
                <li class="breadcrumb-item active">Detail Stat</li>
            </ul>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="tile report-box">

                    <ul class="nav nav-tabs font-weight-bold">
                        <li class="nav-item">
                            <a class="nav-link active"
                               onclick='showLoader(); getOverview("@ViewBag.CampaignId","@ViewBag.CampaignName")' data-toggle="tab" id="menuOverView">
                                Overview
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="menuActivity" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activity</a>
                            <div class="dropdown-menu" id="dropActivityMenu">
                                <a id="lnkRecipient" class="dropdown-item" onclick='getActivity("@ViewBag.CampaignId","@ViewBag.SentDate","Recipient","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Recipients</a>
                                <a id="lnkSentTo" class="dropdown-item" onclick='getActivity("@ViewBag.CampaignId","@ViewBag.SentDate","Delivered","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Sent To</a>
                                <a id="lnkOpened" class="dropdown-item" onclick='getActivity("@ViewBag.CampaignId","@ViewBag.SentDate","Open","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Opened</a>
                                <a id="lnkNotOpened" class="dropdown-item" onclick='getActivity("@ViewBag.CampaignId","@ViewBag.SentDate","DidntOpen","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Didn't Open</a>
                                <a id="lnkClicked" class="dropdown-item" onclick='getActivity("@ViewBag.CampaignId","@ViewBag.SentDate","Click","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Clicked</a>
                                <a id="lnkLinks" class="dropdown-item" onclick='getLinks("@ViewBag.CampaignId","@ViewBag.SentDate","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Links</a>
                                <a id="lnkBounced" class="dropdown-item" onclick='getActivity("@ViewBag.CampaignId","@ViewBag.SentDate","Bounce","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Bounced</a>
                                <a id="lnkUnsubscribed" class="dropdown-item" onclick='getActivity("@ViewBag.CampaignId","@ViewBag.SentDate","UnSubscribe","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Unsubscribed</a>
                                <a id="lnkSuppressed" class="dropdown-item" onclick='getActivity("@ViewBag.CampaignId","@ViewBag.SentDate","Suppressed","@ViewBag.Subject","@ViewBag.Subscriber","@ViewBag.FromEmail","@ViewBag.CampaignName")'>Suppressed</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick='getDetails("@ViewBag.CampaignId","@ViewBag.CampaignName")' data-toggle="tab" id="menuDetails">
                                Details
                            </a>
                        </li>
                        <li class="nav-item" id="refresh">
                            <a class="btn btn-outline-success" href="javascript:void(0)" onclick="getOverview(@ViewBag.CampaignId,'@ViewBag.CampaignName');"><i class="fa fa-refresh" aria-hidden="true"></i>Refresh</a>
                        </li>
                    </ul>


                    <div class="tab-content">
                        <div class="tab-pane active" id="Container">
                        </div>
                    </div>
                </div>



            </div>

        </div>

    </div>

</section>
@section CustomScript
{
    <script src="~/Content/CustomJs/CampaignDetailedReport.js?v=12042019"></script>
    <script type="text/javascript">
        var pageSize = @Constants.ReportPageSize;
          var CampaignId = @ViewBag.CampaignId;
            var CampaignName = "@ViewBag.CampaignName";
            var SentDate = "@ViewBag.SentDate";
        $(document).ready(function () {
            var Subject = "@ViewBag.Subject";
            var Receipents = @ViewBag.Subscriber;
            var IsCampaignFlag = @ViewBag.IsCampaignFlag;
            var FromEmail = "@ViewBag.FromEmail";
            var Text = "@ViewBag.Text";

            if (IsCampaignFlag == 0) {
                getOverview(CampaignId, CampaignName);
            }
            else {
                getActivity(CampaignId, SentDate, Text, Subject, Receipents, FromEmail, CampaignName, null, null);
            }
        });
    </script>

}


