﻿@model EM.Web.Areas.User.Models.CampaignSummaryReportViewModel

<style>
    table {
        margin-top: 30px;
    }

    tr, td {
        border: 0px solid #dee2e6;
    }

    .table td {
        padding: 15px 5px;
        border-top: 0px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    tr td:first-child {
        max-width: 65px;
        font-weight: 600;
    }

    .table-striped tbody tr:nth-of-type(odd), .table-hover tbody tr:hover {
        background-color: transparent;
    }

    .table tr:last-child td {
        border-bottom: 0px;
    }
    .modal-title{display:block !important; width:100%;font-weight:300;}
    .modal-body {padding-top:0px !important}
    .modal-body table{margin-top:0px;}
</style>

<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Details</h4> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body edt-pop col-md-12">
                <table class="table table-striped table-hover">
                    <tbody>

                        <tr>

                            <td scope="col">Opens</td>
                            <td>@Model.Opens</td>
                        </tr>
                        <tr>

                            <td scope="col">Clicks</td>
                            <td>@Model.Clicks</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
