﻿@model EM.Web.Areas.User.Models.CampaignSummaryReportViewModel

<style>
    table {
        margin-top: 30px;
    }

    tr, td {
        border: 0px solid #dee2e6;
    }

    .table td {
        padding: 15px 5px;
        border-top: 0px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    tr td:first-child {
        max-width: 65px;
        font-weight: 600;
    }

    .table-striped tbody tr:nth-of-type(odd), .table-hover tbody tr:hover {
        background-color: transparent;
    }

    .table tr:last-child td {
        border-bottom: 0px;
    }

    tr td:first-child::after {
        content: ':';
        margin-left: 0px;
    }
</style>
<div class="col-md-12">
    <table class="table table-striped table-hover">

        <tbody>
            @if (Model != null)
            {


                <tr>

                    <td scope="col">Delivery date & time</td>
                    <td><span id="sentDate_@Model.CampaignId">@Model.SentDate.ToString("dddd"), @Model.SentDate.ToString("MMM"), @Model.SentDate.ToString("dd") @Model.SentDate.ToString("yyyy") @Model.SentDate.ToString("hh:mm:ss") @Model.SentDate.ToString("tt")</span></td>
                </tr>
                <tr>
                    <td scope="col">From Name</td>
                    <td>@Model.FromName</td>
                </tr>
                <tr>
                    <td scope="col">From Email</td>
                    <td>@Model.FromEmail</td>
                </tr>
                <tr>
                    <td scope="col">Subject Line</td>
                    <td>@Model.Subject</td>
                </tr>
                @*<tr>
                    <td scope="col">Preview Text</td>
                    <td>@Model.PreviewText</td>
                </tr>*@
                <tr>
                    <td scope="col">Recipients</td>
                    <td>@Model.ListName</td>
                </tr>

            }
            else
            {

            }

        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#menuActivity,#menuOverView').removeClass("active");
        $('#menuDetails').addClass("active");
        getTimeConvertWithTimeFormatInReport("sentDate_");
    });
</script>
