﻿@{
    /**/
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<style>
    #refreshCam {
        position: absolute;
        right: 20px;
    }
</style>
<section class="content white-bg-cont">
    <div class="choose-template PageNumberClass">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-check-square-o" aria-hidden="true"></i>Reports</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                @if (User.IsInRole("Admin"))
                {
                    <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else if (User.IsInRole("SalesRep"))
                {
                    <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else
                {
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                }
                <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
                <li class="breadcrumb-item">Reports</li>
            </ul>
        </div>
        <div class="row">

            <div class="col-12">
                <div class="tile">
                    <div class="row top_form-section">
                        <div class="col-lg-8 col-md-12">
                            <label class="control-label">From : </label>
                            <input type="text" name="toDate" id="fromDate" class="form-control" placeholder="From" />
                            <label class="control-label">To : </label>
                            <input type="text" name="toDate" id="toDate" class="form-control" placeholder="To" disabled="disabled" />
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" class="btn btn-primary" onclick="searchReport()" id="applyReportFilter" disabled>Apply Filter</button>
                            <button type="button" class="btn btn-secondary" onclick="clearFilter()" id="btnClear" disabled>Clear Filter</button>
                            <button type="button" class="btn btn-outline-success" onclick="getCampaignSummaryReport($('#PageNumber').val())" id="refreshCam"><i class="fa fa-refresh" aria-hidden="true"></i>Refresh</button>

                        </div>

                  

                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="template_block">
                            <div class="template_tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-layouts-tab" data-toggle="tab" href="#nav-layouts" role="tab" aria-controls="nav-layouts" aria-selected="true">Campaigns</a>
                                    </div>
                                </nav>
                            </div>
                            <div class="clearfix"></div>
                            <div id="ContainerDiv" class="template-content">

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>



@section CustomScript
{
   
    <script type="text/javascript">
          var pageSize = @Constants.CampaignPageSize;
        $(document).ready(function ()
        {
         
            $('.app-menu li a').removeAttr('class').addClass("app-menu__item");
            $('#reportMenu').removeAttr('class').addClass("app-menu__item active");
         
        });
        initDatePickerForReport($('#fromDate'));

      
        //setTimeout(function ()
        //{
        //    window.location = "/Account/Login";
        //},15*60*1000); 
    </script>

    <script src="~/Content/CustomJs/CampaignSummaryReport.js?v=11262019"></script>
    }