﻿@model List<EM.Web.Areas.User.Models.CampaignSummaryReportViewModel>
<style>
    table {
        margin-top: 30px;
    }

    tr, td {
        border: 0px solid #dee2e6;
    }

    .table td {
        padding: 15px 5px;
        border-top: 0px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    tr td:first-child {
        max-width: 65px;
        font-weight: 600;
    }

    .table-striped tbody tr:nth-of-type(odd), .table-hover tbody tr:hover {
        background-color: transparent;
    }

    .table tr:last-child td {
        border-bottom: 0px;
    }

    .choose-template {
        padding-bottom: 0px !important
    }

    .tile.report-box {
        margin-bottom: 0px !important
    }

    .app-content {
        min-height: calc(100vh - 70px);
        padding-bottom: 0px;
    }

    .hide-row {
        display: none;
    }
</style>
@*<div class="col-md-12">
    <ul class="nav nav-tabs font-weight-bold">
        <li class="nav-item">
            <a class="nav-link" onclick='getLinks("@Model.FirstOrDefault().CampaignId","@Model.FirstOrDefault().CampaignName")' data-toggle="tab" id="menuLinks">
                Click Performance
            </a>
        </li>
    </ul>
    </div>*@
<div class="col-md-12 PageNumberClass">
    <div class="margin-top-25 screen-height">
        <h4>Click Performance</h4>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Total Clicked</th>
                    <th scope="col">Unique Clicked</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0 && Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:40%;">
                                <a href="@item.URL" target="_blank" style="word-break: break-word;">@item.URL</a>
                            </td>
                            <td style="width:20%;">
                                <a href="#" onclick='getActivity("@Model.FirstOrDefault().CampaignId","@Model.FirstOrDefault().SentDate","Click","@Model.FirstOrDefault().Subject","@Model.FirstOrDefault().Receipents","@Model.FirstOrDefault().FromEmail","@Model.FirstOrDefault().CampaignName")'>@item.Clicks (@item.ClickPercentage%)</a>
                            </td>
                            <td style="width:20%;">
                                <a href="#" onclick='getActivity("@Model.FirstOrDefault().CampaignId","@Model.FirstOrDefault().SentDate","Click","@Model.FirstOrDefault().Subject","@Model.FirstOrDefault().Receipents","@Model.FirstOrDefault().FromEmail","@Model.FirstOrDefault().CampaignName")'>@item.Unique_clicks (@item.UniqueClickPer%)</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">No Record Found</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#menuOverView,#menuDetails,#menuActivity').removeClass("active");
        $('#menuLinks').addClass("active");
        $("#dropActivityMenu a").removeClass("active");
        $("#lnkLinks").addClass("active");

    });
</script>

