﻿@model EM.Web.Areas.User.Models.CampaignSummaryReportViewModel

<div class="col-md-12">


    <div class="row margin-top-25">
        <div class="col-12">

            <h3>
                <span class="text-info">
                    @if (Model.Receipents == 0)
                    {
                    <a href="#">@Model.Receipents</a>
                        
                    }
                    else
                    {
                        <a title="View Recipients" href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","Recipient","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'>@Model.Receipents</a>
                    }
                </span> Recipients
            </h3>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">

            <p class="m-0"><span class="font-weight-bold">List:</span>@Model.ListName</p>
            <p class="m-0"><span class="font-weight-bold">Subject:</span> @Model.Subject</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <p class="m-0"><span class="font-weight-bold">Delivered:</span><span id="sentDate_@Model.CampaignId">@Model.SentDate.ToString("dddd"), @Model.SentDate.ToString("MMM"), @Model.SentDate.ToString("dd") @Model.SentDate.ToString("yyyy") @Model.SentDate.ToString("hh:mm:ss") @Model.SentDate.ToString("tt")</span></p>
            <p class="m-0"><a href="#" onclick='viewEmail("@Model.CampaignId","@Model.CampaignName")'>View email</a> · <a href="#" onclick="getExportCampaign(@Model.CampaignId,'@Model.SentDate')">Download</a></p>
        </div>
    </div>

    @*<div class="row margin-top-25">
            <div class="col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0"><a href="#">0</a></h4>
                        <p class="card-text text-center m-0">Orders</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0"><a href="#">$0.00</a></h4>
                        <p class="card-text text-center m-0"><a href="#" data-toggle="tooltip" data-placement="bottom" title="The average order total, minus shipping fees and taxes." class="border-dotted-bottom">Average order revenue</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0"><a href="#">$0.00</a></h4>
                        <p class="card-text text-center m-0"><a href="#" data-toggle="tooltip" data-placement="bottom" title="The order total, minus shipping fees and taxes." class="border-dotted-bottom">Total revenue</a></p>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="row">
        <div class="col-md-6 pt-3">
            <div class="row">
                <div class="col-6 font-weight-bold">Open Rate</div>
                <div class="col-6 text-right"><h5>@Model.OpenPercentage%</h5></div>
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @Model.OpenPercentage%;" aria-valuenow="@Model.OpenPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            @*<div class="row mt-2">
                    <div class="col-12">
                        <div class="row_rate">
                            <span class="left_rate">List average</span>
                            <span class="right_rate font-weight-bold">50.0%</span>
                        </div>
                        <div class="row_rate">
                            <span class="left_rate">Industry average</span>
                            <span class="right_rate"><a href="#">(Select your industry)</a></span>
                        </div>
                    </div>
                </div>*@

        </div>

        <div class="col-md-6 pt-3">

            <div class="row">
                <div class="col-6 font-weight-bold">Click Rate</div>
                <div class="col-6 text-right"><h5>@Model.ClickPercentage%</h5></div>
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @Model.ClickPercentage%;" aria-valuenow="@Model.ClickPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            @*<div class="row mt-2">
                    <div class="col-12">
                        <div class="row_rate">
                            <span class="left_rate">List average</span>
                            <span class="right_rate font-weight-bold">0.0%</span>
                        </div>
                        <div class="row_rate">
                            <span class="left_rate">Industry average</span>
                            <span class="right_rate"><a href="#">(Select your industry)</a></span>
                        </div>
                    </div>
                </div>*@

        </div>

    </div>

    <div class="row margin-top-25 card-campaign">
        <div class="col-lg-3 col-md-6 px-md-0 px-lg-0 px-md-3 px-3">
            <div class="card mb-3 rounded-left">
                <div class="card-body">
                    <h4 class="card-title text-center m-0">
                        @if (Model.Unique_opens == 0)
                        {
                            <a href="#">
                                @Model.Unique_opens
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","Open","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'>
                        @Model.Unique_opens</a>


                        }
                    </h4>
                        <p class="card-text text-center m-0">Unique Opened</p>
                    </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 px-lg-0 px-md-3 px-3">
            <div class="card mb-3 border-left-md-0">
                <div class="card-body">
                    <h4 class="card-title text-center m-0">
                        @if (Model.Unique_clicks == 0)
                        {
                            <a href="#">
                                @Model.Unique_clicks
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","Click","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'>
                                @Model.Unique_clicks
                            </a>
                        }
                    </h4>
                    <p class="card-text text-center m-0">Unique Clicked</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 px-lg-0 px-md-3 px-3">
            <div class="card mb-3 border-left-md-0">
                <div class="card-body">
                    <h4 class="card-title text-center m-0">
                        @if (Model.Bounce == 0)
                        {
                            <a href="#">
                                @Model.Bounce
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","Bounce","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'>
                                @Model.Bounce
                            </a>
                        }
                    </h4>
                    <p class="card-text text-center m-0">Bounced</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 px-md-0 pl-lg-0 px-md-3 px-3">
            <div class="card mb-3 rounded-right border-left-md-0">
                <div class="card-body">
                    <h4 class="card-title text-center m-0">
                        @if (Model.Unsubscribes == 0)

                        {
                            <a href="#">@Model.Unsubscribes</a>


                        }
                        else
                        {
                            <a href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","UnSubscribe","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'>@Model.Unsubscribes</a>
                        

                    }
                        </h4>
                        <p class="card-text text-center m-0">Unsubscribed</p>
                    </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="row mt-2">
                <div class="col-12 row_rate-campaign">
                    <div class="row_rate">
                        <span class="left_rate"><font>Successful deliveries</font></span>
                        @if (Model.Delivered == 0)
                        {
                            <span class="right_rate"><span class="font-weight-bold pr_10"><font>@Model.Delivered</font></span> <font>@Model.DeliveredPercentage%</font></span>
                        }
                        else
                        {
                            <span class="right_rate"><font><a href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","Delivered","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'>@Model.Delivered </a></font><font>@Model.DeliveredPercentage%</font></span>
                        }
                    </div>
                    <div class="row_rate">
                        <span class="left_rate"><font>Total opened</font></span>
                        @if (Model.Opens == 0)
                        {
                            <span class="right_rate"><font>@Model.Opens</font></span>

                        }
                        else
                        {
                            <span class="right_rate"><font><a href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","Open","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'>@Model.Opens </a></font></span>

                        }
                    </div>
                    <div class="row_rate">
                        <span class="left_rate"><font>Last opened</font></span>
                        @if (Model.LastOpened != null && Model.LastOpened != string.Empty)
                        {
                            <span class="right_rate"><font><span id="Date_@Model.CampaignId">@String.Format("{0:dd/MM/yyyy}", Model.LastOpened)</span></font></span>
                        }
                        else
                        {
                            <span class="right_rate"><font>0</font></span>
                        }
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="row mt-2">
                <div class="col-12 row_rate-campaign">
                    <div class="row_rate">
                        <span class="left_rate"><font>Clicks per unique opens</font></span>
                        @if (Model.Clicks == 0)
                        {
                            <span class="right_rate font-weight-bold"><font>@Model.ClickPerUniqueOpenPercentage%</font></span>
                        }
                        else
                        {
                            <span class="right_rate font-weight-bold"><font><a href="#" onclick='getLinks("@Model.CampaignId","@Model.SentDate","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'> @Model.ClickPerUniqueOpenPercentage% </a></font></span>
                        }

                    </div>
                    <div class="row_rate">
                        <span class="left_rate"><font>Total clicked</font></span>
                        @if (Model.Clicks == 0)
                        {
                            <span class="right_rate font-weight-bold"><font>@Model.Clicks</font></span>
                        }
                        else
                        {
                            <span class="right_rate font-weight-bold"><font><a href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","Click","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'> @Model.Clicks</a></font></span>
                        }
                    </div>
                    <div class="row_rate">
                        <span class="left_rate"><font> Last clicked </font></span>
                        @if (Model.LastClicked != null && Model.LastClicked != string.Empty)
                        {
                            <span class="right_rate"><font><span id="Date_@Model.CampaignId">@String.Format("{0:dd/MM/yyyy}", Model.LastClicked)</span></font></span>
                        }
                        else
                        {
                            <span class="right_rate"><font>0</font></span>
                        }
                    </div>
                    <div class="row_rate">
                        <span class="left_rate"><font>Total Suppressed</font></span>
                        @if (Model.Bounce == 0)
                        {
                            <span class="right_rate"><font>@Model.Bounce</font></span>

                        }
                        else
                        {
                            <span class="right_rate"><font><a href="#" onclick='getActivity("@Model.CampaignId","@Model.SentDate","Suppressed","@Model.Subject","@Model.Subscribers","@Model.FromEmail","@Model.CampaignName")'>@Model.Bounce </a></font></span>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-25">
        <div class="col-md-6"><h3>Weekly performance</h3></div>

        <div class="col-12">
            <div id="Chartcontainer1"></div>
        </div>
        @*<div class="col-md-6 text-right"><img src="~/Content/imagesUser/opens.png"> Opens &nbsp;&nbsp;&nbsp;&nbsp;<img src="~/Content/imagesUser/clicked-icon.png"> Clicks</div>
            <div class="col-12">
                <img src="~/Content/imagesUser/graph.png" class="img-fluid">
            </div>*@
    </div>

    @*<div class="row margin-top-25 margin-bottom-25">
            <div class="col-12">
                <h3>Top links clicked</h3>
            </div>
            <div class="col-md-9"><a href="http://www.mailchimp.com">http://www.mailchimp.com</a></div>
            <div class="col-md-3 font-weight-bold text-right">0</div>
        </div>*@
    <hr>

    @*<div class="row margin-top-25 margin-bottom-25">
            <div class="col-12">
                <h3>Subscribers with most opens</h3>
            </div>
            <div class="col-md-9"><a href="#">chitrangda.singh@srmtechsol.com</a></div>
            <div class="col-md-3 font-weight-bold text-right">1</div>
        </div>*@
    <hr>

    @*<div class="row margin-top-25">
            <div class="col-12 pb-2">
                <h3>Social performance</h3>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0">0</h4>
                        <p class="card-text text-center m-0">Tweets</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0"><a href="#">5</a></h4>
                        <p class="card-text text-center m-0">Campaign URL clicks</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0">0</h4>
                        <p class="card-text text-center m-0">Likes</p>
                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="row margin-top-25">
            <div class="col-12 pb-2">
                <h3>Top locations by opens</h3>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-8">
                        <img src="~/Content/imagesUser/flag-india.png"> &nbsp;India
                    </div>
                    <div class="col-4 text-right">
                        1 <span class="font-weight-bold">100.0%</span>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-6">
                <img src="~/Content/imagesUser/map-world.png" class="img-fluid">
            </div>
        </div>*@
</div>

<div id="ViewEmailDiv"></div>


<script type="text/javascript">
                $(document).ready(function()
            {
                    $('#menuActivity,#menuDetails').removeClass("active");
                    $('#menuOverView').addClass("active");
                    getTimeConvertWithTimeFormatInReport("sentDate_");
                    getTimeConvertWithTimeFormatInSingleReport("Date_")
            });
        var CampaignId = @Model.CampaignId;
    var SentDate = '@Model.SentDate';

    setInterval(function () {
        getOverview(@Model.CampaignId,"@Model.CampaignName");
    }, 60000);

</script>
