﻿@model List<EM.Web.Areas.User.Models.CampaignSummaryReportViewModel>
<style>
    table {
        margin-top: 30px;
    }

    tr, td {
        border: 0px solid #dee2e6;
    }

    .table th {
        white-space: nowrap;
        padding: 15px 10px;
    }

    .table td {
        padding: 15px 10px;
        border-top: 0px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    tr td:first-child {
        /* max-width: 65px;*/
        font-weight: 600;
    }

    .table-striped tbody tr:nth-of-type(odd), .table-hover tbody tr:hover {
        background-color: transparent;
    }

    .table tr:last-child td {
        border-bottom: 0px;
    }

    .choose-template {
        padding-bottom: 0px !important
    }

    .tile.report-box {
        margin-bottom: 0px !important
    }

    .app-content {
        min-height: calc(100vh - 70px);
        padding-bottom: 0px;
    }

    .hide-row {
        display: none;
    }
</style>
<div class="col-md-12 PageNumberClass">
    @{
        var attribute = string.Empty;
        if (Model == null || Model.Count() == 0)
        {
            attribute = "disabled disbaledLink";
        }

    }
    @if (ViewBag.Text == "Recipient")
    {
        <div class="margin-top-25 screen-height">
            <div class="row"><div class="col-md-6"><h2>@ViewBag.text</h2></div></div>
            <div class="row">
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="email" placeholder="Search by email" onchange="SearchActivity($('#email'),'Recipient')" @attribute />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchActivity($('#email'),'Delivered')" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                    <button class="mb-2 btn btn-outline-success btn-width @attribute" onclick="getExport('@ViewBag.CampaignId','@ViewBag.SentDate','Recipient',@ViewBag.Recipient)">Export <i class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
            <table class="table table-striped table-hover" id="tblReport">
                <thead>
                    <tr>
                        <th scope="col">Email Address</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>

                                    @item.EmailId
                                </td>

                                <td>
                                    @item.FirstName
                                </td>

                                <td>
                                    @item.LastName
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Record Found</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords > Constants.ReportPageSize)
        {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Back','Recipient')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Next','Recipient')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        }
    }
    else if (ViewBag.Text == "Delivered")
    {
        <div class="margin-top-25 screen-height">
            <div class="row"><div class="col-md-6"><h2>@ViewBag.text</h2></div></div>
            <div class="row">
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="email" placeholder="Search by email" onchange="SearchActivity($('#email'),'Delivered')" @attribute />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchActivity($('#email'),'Delivered')" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                    <button class="mb-2 btn btn-outline-success btn-width @attribute" onclick="getExport('@ViewBag.CampaignId','@ViewBag.SentDate','Delivered',@ViewBag.Recipient)">Export <i class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
            <table class="table table-striped table-hover" id="tblReport">
                <thead>
                    <tr>
                        <th scope="col">Email Address</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Sent Date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>

                                    <a href="#" onclick='getDetailsReportSendTo("@item.EmailId","@ViewBag.CampaignId","@ViewBag.FromEmail")'> @item.EmailId </a>
                                </td>

                                <td>
                                    @item.FirstName
                                </td>

                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    <span id="sentDate_">@item.SentDate</span>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Record Found</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords> Constants.ReportPageSize)
        {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Back','Delivered')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Next','Delivered')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        }

        <div id="divDetailModal">
        </div>
    }
    else if (ViewBag.Text == "Open")
    {
        <div class="margin-top-25 screen-height">
            <div class="row"><div class="col-md-6"><h2>Opened</h2></div></div>
            <div class="row">
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="email" placeholder="Search by email" onchange="SearchActivity($('#email'),'Open')" @attribute />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchActivity($('#email'),'Delivered')" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                    <button class="mb-2 btn btn-outline-success btn-width @attribute" id="lblButton" onclick="getExport('@ViewBag.CampaignId','@ViewBag.SentDate','Open',@ViewBag.Recipient)">Export <i class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
            <table class="table table-striped table-hover" id="tblReport">
                <thead>
                    <tr>
                        <th scope="col">List Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Total Opened</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Opened Date</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Count > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ListName
                                </td>
                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.Stat
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    <span id="sentDate_">@item.SentDate</span>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Record Found</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords > Constants.ReportPageSize)
        {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Back','Open')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Next','Open')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        }

    }
    else if (ViewBag.Text == "Click")
    {
        <div class="margin-top-25 screen-height">
            <div class="row"><div class="col-md-6"><h2>Clicked</h2></div></div>
            <div class="row">
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="email" placeholder="Search by email" onchange="SearchActivity($('#email'),'Click')" @attribute/>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchActivity($('#email'),'Click')" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                    <button class="mb-2 btn btn-outline-success btn-width @attribute" id="lblButton" onclick="getExport('@ViewBag.CampaignId','@ViewBag.SentDate','Click',@ViewBag.Recipient)">Export <i class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
            <table class="table table-striped table-hover" id="tblReport">
                <thead>
                    <tr>
                        <th scope="col">List Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Total Clicked</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Clicked Date</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Count > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ListName
                                </td>
                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.Stat
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    <span id="sentDate_">@item.SentDate</span>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Record Found</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords > Constants.ReportPageSize)
        {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Back','Click')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Next','Click')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        }
    }
    else if (ViewBag.Text == "Bounce")
    {
        <div class="margin-top-25 screen-height">
            <div class="row"><div class="col-md-6"><h2>Bounced</h2></div></div>
            
            <div class="row">
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="email" placeholder="Search by email" onchange="SearchActivity($('#email'),'Bounce')" @attribute/>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchActivity($('#email'),'Bounce')" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                    <button class="mb-2 btn btn-outline-success btn-width  @attribute" id="lblButton" onclick="getExport('@ViewBag.CampaignId','@ViewBag.SentDate','Bounce',@ViewBag.Recipient)">Export<i class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
            <table class="table table-striped table-hover" id="tblReport">
                <thead>
                    <tr>
                        <th scope="col">Email Address</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Sent Date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    <span id="sentDate_">@item.SentDate</span>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Record Found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords > Constants.ReportPageSize)
        {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Back','Bounce')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Next','Bounce')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        }
    }
    else if (ViewBag.Text == "DidntOpen")
    {
        <div class="margin-top-25 screen-height">
            <div class="row"><div class="col-md-6"><h2>Didn't Open</h2></div></div>
           
            <div class="row">
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="email" placeholder="Search by email" onchange="SearchActivity($('#email'),'DidntOpen')" @attribute/>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchActivity($('#email'),'DidntOpen')" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                    <button class="mb-2 btn btn-outline-success btn-width @attribute" id="lblButton" onclick="getExport('@ViewBag.CampaignId','@ViewBag.SentDate','DidntOpen',@ViewBag.Recipient)">Export <i class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
            <table class="table table-striped table-hover" id="tblReport">
                <thead>
                    <tr>
                        <th scope="col">Email Address</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Sent Date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0 && Model != null)
                    {

                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    <span id="sentDate_">@item.SentDate</span>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Record Found</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords > Constants.ReportPageSize)
        {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Back','DidntOpen')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Next','DidntOpen')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        }
    }
    else if (ViewBag.Text == "Suppressed")
    {
        <div class="margin-top-25 screen-height">
            <div class="row"><div class="col-md-6"><h2>Suppressed</h2></div></div>
            
            <div class="row">
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="email" placeholder="Search by email" onchange="SearchActivity($('#email'),'Suppressed')" @attribute />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchActivity($('#email'),'Suppressed')" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                    <button class="mb-2 btn btn-outline-success btn-width @attribute" id="lblButton" onclick="getExport('@ViewBag.CampaignId','@ViewBag.SentDate','Suppressed',@ViewBag.Recipient)">Export <i class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
            <table class="table table-striped table-hover" id="tblReport">
                <thead>
                    <tr>
                        <th scope="col">Email Address</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0 && Model != null)
                    {

                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Record Found</td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords > Constants.ReportPageSize)
        {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Back','Suppressed')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Next','Suppressed')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        }
    }
    else
    {
        <div class="margin-top-25 screen-height">
            <div class="row"><div class="col-md-6"><h2>Unsubscribed</h2></div></div>
            
            <div class="row">
                <div class="col-md-6">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="email" placeholder="Search by email" onchange="SearchActivity($('#email'),'UnSubscribe')" @attribute/>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" onclick="SearchActivity($('#email'),'UnSubscribe')" @attribute>
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                    <button class="mb-2 btn btn-outline-success btn-width @attribute" id="lblButton" onclick="getExport('@ViewBag.CampaignId','@ViewBag.SentDate','UnSubscribe',@ViewBag.Recipient)">Export <i class="fa fa-file-excel-o"></i></button>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">List Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.ListName
                                </td>
                                <td>
                                    @item.EmailId
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No Record Found</td>
                        </tr>
                    }



                </tbody>
            </table>

        </div>
        if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords > Constants.ReportPageSize)
        {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Back','UnSubscribe')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="ReportPagging('Next','UnSubscribe')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        }
    }

</div>
<input type="hidden" name="CampaignId" id="CampaignId" value="@ViewBag.CampaignId" />
<input type="hidden" name="Subject" id="Subject" value="@ViewBag.Subject" />
<input type="hidden" name="Recipients" id="Recipients" value="@ViewBag.Recipient" />
<input type="hidden" name="FromEmail" id="FromEmail" value="@ViewBag.FromEmail" />
<input type="hidden" name="SentDate" id="SentDate" value="@ViewBag.SentDate" />
<input type="hidden" name="CampaignName" id="CampaignName" value="@ViewBag.CampaignName" />
<script>

    var currentSubmenuItem = '@ViewBag.Text';
    $(document).ready(function ()
    {
       $('#menuOverView,#menuDetails').removeClass("active");
        $('#menuActivity').addClass("active");
        $("#dropActivityMenu a").removeClass("active");
        if (currentSubmenuItem == "Recipient") {
            $("#lnkRecipient").addClass("active");
        }
        else if (currentSubmenuItem == "Delivered") {
            $("#lnkSentTo").addClass("active");
        }
        else if (currentSubmenuItem == "Open") {
            $("#lnkOpened").addClass("active");
        }
        else if (currentSubmenuItem == "DidntOpen") {
            $("#lnkNotOpened").addClass("active");
        }
        else if (currentSubmenuItem == "Click") {
            $("#lnkClicked").addClass("active");
        }
        else if (currentSubmenuItem == "Bounce") {
            $("#lnkBounced").addClass("active");
        }
        else if (currentSubmenuItem == "UnSubscribe")
        {
            $("#lnkUnsubscribed").addClass("active");
        }
        else
        {
            $("#lnkSuppressed").addClass("active");
        }
        ActivityPage($("#PageControl"),@ViewBag.PageNumber, '@ViewBag.TotalRecord')
        getTimeConvert("sentDate_");
        //var hideRowCount = $('#tblReport tbody tr.hide-row').length;
        //var rowCount = $('#tblReport tbody tr.n').length;
        //if (hideRowCount > 0 && rowCount == 0)
        //{
        //    $('#tblReport tbody').append('<tr> <td colspan="6" class="text-center">No Record Found</td> </tr>');
        //    $('#lblButton').addClass('disabled disbaledLink');

        //}
    });
</script>
