﻿@model List<EM.Web.Areas.User.Models.CampaignSummaryReportViewModel>
@{
    int totalRecords = Model != null && Model.Count() > 0 ? Model.Count() : 0;
}
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-layouts" role="tabpanel" aria-labelledby="nav-layouts-tab">
        @*<h3 class="tile-title mt-4">Featured</h3>*@
        <div class="clearfix"></div>
        <div class="row PageNumberClass">
            <div class="table-responsive margin-top-16" id="reportContent">
                @Html.Partial("CampaignList", Model)
            </div>
        </div>
        @if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecords > Constants.CampaignPageSize)
        {
        <div class="text-right">
            <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
            <div class="btn-group">
                <button class="btn btn-primary btn-sm" type="button" onclick="CampaignPagging('Back')" id="Back"><i class="fa fa-chevron-left"></i></button>
                <button class="btn btn-primary btn-sm" type="button" onclick="CampaignPagging('Next')" id="Next"><i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        }
    </div>
    <div class="tab-pane fade" id="nav-themes" role="tabpanel" aria-labelledby="nav-themes-tab">...</div>
    <div class="tab-pane fade" id="nav-templates" role="tabpanel" aria-labelledby="nav-templates-tab">...</div>
    <div class="tab-pane fade" id="nav-campaigns" role="tabpanel" aria-labelledby="nav-campaigns-tab">...</div>
    <div class="tab-pane fade" id="nav-code" role="tabpanel" aria-labelledby="nav-code-tab">...</div>
</div>

<script type="text/javascript">

    $(document).ready(function ()
    {
        setInterval(function () {
            getCampaignSummaryReport($("#PageNumber").val());
            //$.ajax({
            //    url: "/User/Report/CampaignList/",
            //    type: "Post",
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "html",
            //    data: JSON.stringify({ "startDate": $("#fromDate").val(), "endDate": $("#toDate").val(), "pageNumber": $("#PageNumber").val() }),
            //    success: function (result) {
            //        HideLoader();
            //        $("#CampaignList").empty().html(result);

            //    },
            //    error: function (xhr, ajaxOptions, thrownError) {
            //        HideLoader();
            //    }
            //});
        }, 60000);

        var totalRecord = @totalRecords;
        if (totalRecord == 0) {
            GenerateAlert("Not Found", "No campaign found!", "info");
        }

        CampaignPage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')
        getTimeConvert1("sentDate_");

    });
</script>




