﻿@model EM.Web.Areas.User.Models.CampaignSummaryReportViewModel

<div class="modal" role="dialog" id="Email">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h6 id="lblCampName"><i class="app-menu__icon fa fa-folder-open"></i>Campaign</h6>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <div class="tile">
                        @if (Model.HtmlContent != null)
                        {
                            @Html.Raw(Model.HtmlContent)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
