﻿@model EM.Web.Areas.SalesRep.Models.ClientDataViewModel
@{
    ViewBag.Title = "EditClientView";
}


<!--Edit Modal-->
@using (Ajax.BeginForm("UpdateFollowUp", "FollowUp", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onBegin();", OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="modal" tabindex="-1" role="dialog" id="editFollowUpModal">

        <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit FollowUp Details</h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    @Html.HiddenFor(m => m.ClientDetails.Id)
                    <div class="row">

                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Follow Up</label>
                            @Html.TextBoxFor(m => m.ClientDetails.FollowUpDate, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Sales Rep</label>
                            @Html.DropDownListFor(x => x.ClientDetails.SalesRepId, Model.SalesRepList, new { @class = "form-control" })

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Member Type</label>
                            @Html.DropDownListFor(x => x.ClientDetails.PlanId, Model.PlanList, new { @class = "form-control" , onchange = "GetSubscriberFollowList()" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">No.Of Subscriber</label>
                            @Html.DropDownListFor(x => x.ClientDetails.PackageId, Model.SubscriberList, new { @class = "form-control" })
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Account Status</label>
                            @Html.DropDownListFor(m => m.ClientDetails.IsActive, new List<SelectListItem> {
                             new SelectListItem { Text = "Active", Value = "true" },
                             new SelectListItem { Text = "InActive", Value = "false" }, }, new { @class = "form-control" })
                        </div>

                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Client Type</label>
                            @Html.DropDownListFor(x => x.ClientDetails.ClientType, Model.ClientTypeList, new { @class = "form-control" })
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Referral Code</label>
                            @Html.TextBoxFor(m => m.ClientDetails.PromotionCode, new { @class = "form-control" })

                        </div>
                    </div>


                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn_default">Save changes</button>
                    </div>
                </div>
            <!--/.Content-->
        </div>
    </div>
}
    <input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />
<script>
    $(document).ready(function () {

        var fDate = '@Model.ClientDetails.FollowUpDate';
        $('#ClientDetails_FollowUpDate').val(fDate);
        initSignalDatePicker($('#ClientDetails_FollowUpDate'));
        if (fDate == '') {
            $('#ClientDetails_FollowUpDate').val('');
        }
        

    })
</script>