﻿
@{
    ViewBag.Title = "FollowUp";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>

    }
    <!-- <li><a href="#">Dashboard</a></li> -->
    <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
    <li class="active">Follow-Up</li>

</ol>

<div class="white-bg-cont">
    <!-- Mini chart Start here-->
    <!-- Mini chart Ends here-->
    <!-- Search Start here-->
    <div class="row">
        <div class="col-lg-12 col-md-12 no-mrg-xs">
            <div class="search-row search_leads">
                <form class="form-inline" role="form">
                    <div class="col-md-10 col-lg-10 border-r">
                        <div class="no-mrg-xs follow_lbl">
                            <label class="motaltext1">Date Range</label>
                        </div>
                        <div class="col-lg-2 col-md-12  date_wrap">

                            @Html.TextBox("Date Range", "", new { @id = "txtFollowUpDateRangeFrom", @class = "form-control inputtext", @placeholder = "MM/DD/YYYY" })

                        </div>
                        <div class="no-mrg-xs follow_lbl">
                            <label class="motaltext1">Through</label>
                        </div>
                        <div class="col-lg-2 col-md-12  date_wrap">

                            @Html.TextBox("Through", "", new { @id = "txtFollowUpDateTo", @class = "form-control inputtext", @placeholder = "MM/DD/YYYY" })
                        </div>


                        <div class="col-lg-4 col-md-4 no-mrg-xs date_wrap pull-left btn_l-margin">

                            <a class="waves-effect waves-light btn btn_default btn-search text-uppercase pull-left" style="margin-right:10px;" id="btnFollowUp">Search</a>
                            <a class="waves-effect waves-light btn btn-warning btn-search text-uppercase pull-left" id="btnReset" onclick="ClearFollowUp();">Reset</a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 no-mrg-xs border-r" style="text-align:center;padding-top:10px">
                        <h6>Total Records<br><span class="client-count" id="DivRepActivityTotalRecords" style="font-weight:bold;"></span></h6>
                    </div>
                </form>
            </div>
        </div>
    <!-- Search Ends here-->
    <!-- Table Data Start here-->
    <div class="row">

        <div class="col-sm-12 col-md-12" style="position:relative;">
            <div class="tbl_btn-wrap">
                <a class="waves-effect waves-light btn btn_f" id="btnCurrent"><img src="~/Content/admin/images/Current.png" />Current</a>
                <a class="waves-effect waves-light btn btn_p" id="btnPast"><img src="~/Content/admin/images/Back.png" />Past</a>

            </div>
            <button id="followExport" class="pull-right mb8 export-excelBtsn" onclick="ExportFollowUp();" style="border:none;color:#009ac3;background:none;opacity:0.4" disabled><i class="fa fa-file-excel-o"></i> Export</button>
            <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
                <table id="FollowTable" class="display new_grid" style="width:100%"></table>
            </div>
        </div>


    </div>

</div>
<!--Note Modal-->
<div id="divNoteModal"></div>

<!--Edit client data Modal-->
<div id="divEditModal"></div>

<input id="hdBtnType" type="hidden" />
@section PageScript{
    <script type="text/javascript">
        initSignalDatePickerWithTime($('#txtFollowUpDateRangeFrom'));
        initSignalDatePickerWithTime($('#txtFollowUpDateTo'));
        $('#txtFollowUpDateRangeFrom').val('');
        $('#txtFollowUpDateTo').val('');
        preventEnterForSubmittingForm();

    </script>
    <script src="~/Content/CustomJs/SalesRep_FollowUp.js?v=04132020"></script>
}