﻿@model EM.Factory.ViewModels.ListViewModel

<div class="app-title">
    <div>
        @if (Model.ListId == 0)
        {
            <h1><i class="app-menu__icon fa fa-folder"></i>Add New List</h1>
        }
        else
        {
            <h1><i class="app-menu__icon fa fa-folder"></i> Edit List</h1>

        }
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item"><a href="/Admin/Data"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/User/List/Index">My Lists</a></li>
        @if (Model.ListId == 0)
        {
            <li class="breadcrumb-item">Add New List</li>
        }
        else
        {
            <li class="breadcrumb-item">Edit List</li>

        }
    </ul>
</div>

<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="tile">

            <!-- Add subscriber form starts -->
            <div class="row mt-4 mb-4">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @if (Model.ListId == 0)
                    {
                        <h3 class="tile-title mt-2">Create List</h3>
                    }
                    else
                    {
                        <h3 class="tile-title mt-2">Edit List</h3>

                    }
                    @if (Session["UserAuthorizationInfo"] != null)
                    {
                    var authorization = Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result;
                    if (authorization.IsCSVActive == true)
                    {
                    <div class="alert alert-warning" role="alert" id="import_alert">
                        Want to add more than one at a time? <a href="javascript:void(0)" class="dottedlink" onclick="LoadUserListHTML('ImportList');">Import from file</a>
                    </div>
                    }
                    else
                    {

                    <div class="alert alert-warning">
                        Your are not allowed to upload the list
                    </div>
                    }
                    }
                    <div class="tile-body">
                        @using (Ajax.BeginForm("AddUserList", "List", new { area = "User" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddListBegin();", OnSuccess = "onAddListSucess", OnFailure = "onAddListFailure" }))
                        {

                            @*<form id="createList" method="post" action="">*@
                            <div class="form-row">
                                <div class="col-md-6 padding-bottom-15">
                                    @Html.Hidden("ListId")
                                    <label class="control-label">List Name <span class="RequiredField">*</span></label>
                                    @Html.TextBoxFor(model => model.ListName, new { @id = "txtListName", @class = "form-control", @type = "text", @placeholder = "" })
                                    <span id='lstError' class='RequiredField'></span>
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Default <i>From email address <span class="RequiredField">*</span></i></label>
                                    @Html.TextBoxFor(model => model.FromEmail, new { @id = "txtListEmail", @class = "form-control", @type = "text", @placeholder = "" })
                                    <span id='lstEmailError' class='RequiredField'></span>
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Default <i>From name <span class="RequiredField">*</span></i></label>
                                    @Html.TextBoxFor(model => model.FromName, new { @id = "txtName", @class = "form-control", @type = "text", @placeholder = "" })
                                    <span id='lstNameError' class='RequiredField'></span>
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Company/Organization</label>
                                    @Html.TextBoxFor(model => model.Company, new { @id = "txtCompName", @class = "form-control", @type = "text", @placeholder = "" })
                                    @*<span id='lstCompError' class='RequiredField'></span>*@
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Address</label>
                                    @Html.TextBoxFor(model => model.Address1, new { @id = "txtAddress1", @class = "form-control", @type = "text", @placeholder = "" })
                                    @*<span id='lstAddError' class='RequiredField'></span>*@
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Country</label>
                                    @Html.DropDownListFor(model => model.Country, TempData["Country"] as SelectList, new { @class = "form-control", onchange = "bindState(this.value)" })
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">State</label>
                                    @Html.TextBox("txtState", null, new { @class = "form-control", @placeholder = "", @style = "display: none;" })
                                    @Html.DropDownListFor(model => model.State, TempData["State"] as SelectList, new { @class = "form-control", @style = "display: none;" })
                                    @*<span id='lstCityError' class='RequiredField'></span>*@
                                    @* <input class="form-control" name="city" id="city" type="text" placeholder="">*@
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">City</label>
                                    @Html.TextBoxFor(model => model.City, new { @id = "txtCity", @class = "form-control", @type = "text", @placeholder = "" })
                                    @*<span id='lstCityError' class='RequiredField'></span>*@
                                    @* <input class="form-control" name="city" id="city" type="text" placeholder="">*@
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Zip/Postal Code</label>
                                    @Html.TextBoxFor(model => model.Zip, new { @id = "txtZip", @class = "form-control", @type = "text", @placeholder = "" })
                                    @*<span id='lstZipError' class='RequiredField'></span>*@
                                    @*<input class="form-control" name="city" id="city" type="text" placeholder="">*@
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Phone</label>
                                    @Html.TextBoxFor(model => model.Phone, new { @id = "txtPhone", @class = "form-control", @type = "text", @placeholder = "" })
                                    @*<span id='lstPhnError' class='RequiredField'></span>*@
                                    @*<input class="form-control" name="phone" id="phone" type="text" placeholder="">*@
                                </div>

                            </div>




                            @*<div class="form-group">
                    <label class="control-label">
                        Campaign URL settings
                        <br><span class="text-normal">
                            https://cheapestemail.com/[xxxxx] (generate randomly)
                            To customize your campaign URLs, upgrade to a paid account and verify domain.
                        </span><br>Remind people how they signed up to your list
                    </label>
                    @Html.TextAreaFor(model => model.Remainder, new { @id = "txtListRem", @class = "form-control", @type = "text", @placeholder = "Write a short reminder about how the recipient joined your list.", @style = "height: 100px;" })
                    <span id='lstRemError' class='RequiredField'></span>
                </div>*@


                            @*<div class="form-group">
                    <label class="control-label">Address2</label>
                    @Html.TextAreaFor(model => model.Address2, new { @id = "txtAddress2", @class = "form-control", @type = "text", @placeholder = "" })
                </div>*@






                            @*
                <h3 class="tile-title mt-2">Form Settings</h3>
                <div class="animated-checkbox">

                    @Html.CheckBoxFor(model => model.Optin)
                    <input type="checkbox" name="Optin">
                    <span class="label-text"> Enable double opt-in</span>
                    <div class="text-normal ml-4">Send contacts an opt-in confirmation email when they subscribe to your list.</div>


                </div>
                <div class="animated-checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.GDPR)
                        <input type="checkbox" name="GDPR">
                        <span class="label-text"> Enable GDPR fields</span>

                    </label>
                </div>
                <h3 class="tile-title mt-2 mb-0">Notifications</h3>
                <p>Sent to john.doe414@gmail.com <a href="#">Edit</a></p>
                <div class="animated-checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.Subscriber_Unsubscriber)
                        <input type="checkbox" name="Subscriber_Unsubscriber">
                        <span class="label-text"> Daily summary</span>
                        <div class="text-normal ml-4">Summary of subscribe/unsubscribe activity.</div>
                    </label>
                </div>
                <div class="animated-checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.Subscriber)
                        <input type="checkbox" name="Subscriber">
                        <span class="label-text"> One-by-one</span>
                        <div class="text-normal ml-4">Subscribe notifications as they happen.</div>
                    </label>
                </div>
                <div class="animated-checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.Unsubscriber)
                         <input type="checkbox" name="Subscriber">
                        <span class="label-text"> One-by-one</span>
                        <div class="text-normal ml-4">Unsubscribe notifications as they happen.</div>
                    </label>
                </div>

                            *@

                            <div class="tile-footer">
                                @*<input type="submit" class="btn btn-primary" value="Save" />
                    <i class="fa fa-fw fa-lg fa-check-circle"></i>*@
                                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-secondary" href="/User/List"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                            </div>

                        }

                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>

            <!-- Subscriber form ends -->
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<script type="text/javascript">
    var a = "@Model.Country";
    $(document).ready(function (e)
    {
        BindCountry();
        phoneFormat($('#txtPhone'));
    });

         //pageload for bind state and countery
    function BindCountry()
     {
            if (a == "United States" || a == "")
            {
                $("#txtState").hide();
                $("#txtState").attr('name', 'notState')
                $("#State").css("display", "block");
    }
    else {

                $("#txtState").css("display", "none");
                $("#txtState").css("display", "block");
        $("#txtState").attr('name', 'State')
        $("#txtState").val("@Model.State");
    }


}
</script>




