﻿
<div class="app-title">
    <div>
        <h1><i class="app-menu__icon fa fa-user-plus"></i> Import List</h1>
        <p>Import from file</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard/Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/User/List">My Lists</a></li>
        <li class="breadcrumb-item">Import List</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="text-center">
                <input type="file" name="ListSheet" id="ListSheet" style="display:none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <img src="~/Content/imagesUser/ExcelUpload.png" width="100" height="100" onclick="$('#ListSheet').click();" style="cursor:pointer"/>
                <br /><br />  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="btn btn-success " onclick="ImportList()">Save</a>

                <br />
                <a href="@Constants.ListSampleURL" download title="List Sample"><img src="~/Content/imagesUser/file.png" width="30" height="30" class="pull-right" /></a>
            </div>
            <label></label>
        </div>
    </div>
</div>
