﻿@{
    /**/

    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div id="ContainerDiv">

    </div>
</section>

@section CustomScript
{
    <input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />
    <input type="hidden" name="UserId" id="UserId" value="@EM.Web.Utilities.CurrentUser.getCurUserId()" />
    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>
    <script src="~/Content/CustomJs/UserList.js?v=04082020"></script>
    <script type="text/javascript">
        var pageSize = @Constants.PageSize;
        $(document).ready(function () {

            $('.app-menu li a ').removeAttr('class').addClass("app-menu__item");
            $('#listMenu').removeAttr('class').addClass("app-menu__item active");
            var Page = '@ViewBag.Page';
            if (Page != null && Page != "") {
                LoadUserListHTML(Page);
            } else {
                LoadUserListHTML("UserList");
            }

            preventEnterForSubmittingForm();

        });
    </script>
}