﻿@model IEnumerable<EM.Factory.usp_getUserList_Result>
@{
    var TotalRecrod = 0;
    if (Model != null && Model.Count() > 0)
    {
        TotalRecrod = @Model.Count();
    }
}
@{

    if (Session["UserAuthorizationInfo"] != null)
    {
        var authorization = Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result;
        {
            if (authorization.TotalSubscriberCreated > authorization.MaxSubscriber || authorization.NextPackageUpdateDate < DateTime.Now.Date)
            {
                <style type="text/css">
                    #import_alert {
                        display: none;
                    }
                </style>
                <div class="alert alert-upgrade" role="alert">
                    Want to add more subscribers?  <a href="javascript:void(0)" class="dottedlink" style="color:white" title="Upgrade" onclick="window.location.href = '/User/Dashboard/Upgrade';">Upgrade Now</a>
                </div>
            }
        }
    }
}
<table class="table table-striped text-14">
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        <div class="animated-checkbox">
                            <label><input type="checkbox" class="SelectedCheckBox" value="@item.ListId" onchange="selectchk()"><span class="label-text"></span></label>
                        </div>
                    </td>
                    <td class="align-middle">
                        <ul class="list-unstyled nomargin">
                            @{
                                var CreatedDate = item.CreatedDate == null ? DateTime.Now : Convert.ToDateTime(item.CreatedDate);
                                var LastModDate = item.LastModDate == null ? DateTime.Now : Convert.ToDateTime(item.LastModDate);
                                //var FormattedDate = string.Format("{0} {1}, {2} {3} {4}", CreatedDate.ToString("MMM"), CreatedDate.Day, CreatedDate.Year, CreatedDate.ToString("HH:mm:ss"), CreatedDate.ToString("tt"));
                            }
                            <li>
                                <span class="text-bold"><a title="Edit List" onclick="getUserListView(@item.ListId)" href="#">@item.ListName </a></span><br>
                                @if (item.CreatedDate == item.LastModDate)
                                {
                                    <span class="text-gray text-13">Created on</span> <span class="text-13" id="createdDate_@item.ListId">@CreatedDate</span>
                                }
                                else
                                {
                                    <span class="text-gray text-13">Edited on</span><span class="text-13" id="createdDate_@item.ListId">@LastModDate</span>
                                }
                            </li>
                        </ul>
                    </td>
                    <td class="align-middle text-center">
                        @if (item.TotalSubscriber > 0)
                        {
                            <a href="/User/Subscriber/Index/@item.ListId?name=@item.ListName&method=ViewSubscriber">
                                <p class="nomargin text-18 text-bold">@item.TotalSubscriber</p>

                            </a>
                        }
                        else
                        {
                            <p class="nomargin text-18 text-bold">@item.TotalSubscriber</p>

                        }
                        Subscribers
                    </td>
                    <td class="align-middle text-center">
                        @if (item.TotalUnSubscriber > 0)
                        {
                            <a href="/User/Subscriber/Index/@item.ListId?name=@item.ListName&method=ViewUnsubscriber">
                                <p class="nomargin text-18 text-bold">@item.TotalUnSubscriber</p>
                            </a>
                        }
                        else
                        {
                            <p class="nomargin text-18 text-bold">@item.TotalUnSubscriber</p>

                        }UnSubscribers
                    </td>
                    <td class="align-middle text-center">
                        @if (item.TotalSupressed > 0)
                        {
                            <a href="/User/Subscriber/Index/@item.ListId?name=@item.ListName&method=ViewSuppressed">
                                <p class="nomargin text-18 text-bold">@item.TotalSupressed</p>
                            </a>
                        }
                        else
                        {
                            <p class="nomargin text-18 text-bold">@item.TotalSupressed</p>

                        }Suppressed
                    </td>
                    @*<td class="align-middle text-14 text-center"><p class="nomargin text-18 text-bold">@item.Opens%</p>Opens</td>
                        <td class="align-middle text-14 text-center"><p class="nomargin text-18 text-bold">@item.Clicked%</p>Clicked</td>*@
                    <td class="align-middle text-right text-16">
                        @if (Session["UserAuthorizationInfo"] != null)
                        {
                            var authorization = Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result;
                            if (authorization.TotalSubscriberCreated < authorization.MaxSubscriber && authorization.NextPackageUpdateDate >= DateTime.Now.Date)
                            {
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i> Add Subscribers

                                    </button>
                                    <div class="dropdown-menu">
                                        @if (authorization.IsCSVActive == true)
                                        {
                                            <a class="dropdown-item" href="/User/Subscriber/Index/@item.ListId?name=@item.ListName&method=import"><i class="fa fa-download" aria-hidden="true"></i>Import from a file</a>
                                        }
                                        else
                                        {

                                            <a disabled class="dropdown-item" title="Your are not allowed to upload the file" style="cursor: not-allowed;"><i class="fa fa-download" aria-hidden="true"></i>Import from a file</a>
                                        }
                                        <a class="dropdown-item" href="/User/Subscriber/Index/@item.ListId?name=@item.ListName&method=add"><i class="fa fa-user-plus" aria-hidden="true"></i> Add a subscriber</a>
                                    </div>
                                </div>
                            }
                            else
                            {

                                <button type="button" disabled class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i> Add Subscribers
                                </button>

                            }
                        }

                        <div class="btn-group">

                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#!" onclick="getUserListView(@item.ListId)"><i class="fa fa-edit"></i>Edit</a>
                                <a class="dropdown-item" href="/User/Subscriber/Index/@item.ListId?name=@item.ListName&method=ViewSubscriber"><i class="fa fa-eye"></i>View Subscribers</a>
                                <a class="dropdown-item" href="/User/Subscriber/Index/@item.ListId?name=@item.ListName&method=ViewSuppressed"><i class="fa fa-eye"></i>Suppressed</a>
                                <a class="dropdown-item" href="/User/Setting/Index?listId=@item.ListId&page="><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>

                            </div>


                        </div>
                    </td>
                    <td></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">No Record Found</td>
            </tr>
        }


    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function ()
    {
        getTimeConvertWithTimeFormatInList("createdDate_");
        PageList($("#PageControl"),@ViewBag.PageNumber, '@ViewBag.TotalRecord')
    });

</script>
