﻿@model IEnumerable<EM.Factory.usp_getDeletedUserList_Result>
<div class="app-title PageNumberClass">
    <div>
        <h1><i class="app-menu__icon fa fa-folder-open"></i> Deleted Lists</h1>
        <p>Browse, manage and create Lists</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/User/List">My List</a></li>
        <li class="breadcrumb-item">Deleted List</li>
    </ul>
</div>

<div class="row">



    <div class="col-md-12">
        @{
            var attribute = string.Empty;
            if (Model == null || Model.Count() == 0)
            {
                attribute = "disabled disbaledLink";
            }

        }
        <div class="tile">
            <div class="col-md-6">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" id="lstName" placeholder="Search by name" onchange="Dsearch($('#lstName'))" @attribute/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" onclick="Dsearch($('#lstName'))" @attribute>
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row margin-top-16">

                <div class="col-12 col-sm-12 col-md-12 col-lg-2 padding-top-6">
                    <div class="animated-checkbox margin-left-12">
                        <label><input type="checkbox" onclick="SelectAllCheckBox(this);" id="MasterCheckbox" @attribute> <span class="label-text">Select All</span></label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                    <button class="btn btn-outline-secondary form-control" id="demoSwal" type="button" onclick="RestoreList()" @attribute>Recover All</button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">
                    <select class="form-control" onchange='DsortList(this);' id="ddlSorting" @attribute>
                        <option value="">Sort By</option>
                        <option value="NameAsc">List Name(A-Z)</option>
                        <option value="NameDesc">List Name(Z-A)</option>
                        <option value="DateAsc">Date Created Ascending</option>
                        <option value="DateDesc">Date Created Descending</option>
                    </select>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-right">
                    @*<a class="mb-2 btn btn-outline-success btn-width" href="javascript:void(0)" onclick="LoadUserListHTML('AddUserList');"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create New</a>
                        <a class="mb-2 btn btn-outline-success btn-width @attribute" href="@Url.Action("ExportDeletedList","List",new {area="User" })"><i class="fa fa-upload" aria-hidden="true"></i> Export List</a>*@

                </div>
            </div>
            @*<div class="alert alert-warning" role="alert">
                    Want to add more than one at a time? <a href="javascript:void(0)" class="dottedlink" onclick="LoadUserListHTML('ImportList');">Import from file</a>
                </div>*@
            <div class="table-responsive margin-top-16" id="gridUserList">
                @Html.Partial("DeletedUserListGrid", Model)
            </div>
            @if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecord > Constants.PageSize)
            {
                <div class="text-right">
                    <span class="text-muted mr-2" id="PageControl"> Showing 1-15 out of 60</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" onclick="Pagging('Back',1)" id="Back"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-primary btn-sm" type="button" onclick="Pagging('Next',1)" id="Next"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {

        PageList($("#PageControl"),@ViewBag.PageNumber,'@ViewBag.TotalRecord')
    });

</script>


