﻿@model EM.Factory.ViewModels.CampaignViewModel
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
} 

    <div class="app-title">
        <div>
            <h1><i class="fa fa-bullhorn"></i> Create Campaign</h1>
            <p>Browse, manage and create campaigns</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">Create Campaign</li>
        </ul>
    </div>

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="tile">


                <!-- Add subscriber form starts -->

                <div class="row mt-4 mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">

                        <h3 class="tile-title mt-2">Create Campaign</h3>

                        <div class="tile-body">
                            <form id="createList" method="post" action="">
                                <div class="form-group">
                                    <label class="control-label">Campaign Name *</label>
                                    @Html.TextBoxFor(m => m.CamapignName , new {@id= "listname" , @class= "form-control" , @type="text" , @placeholder = "" })
                                    @*<input class="form-control" name="listname" id="listname" type="text" placeholder="">*@
                                </div>

                                <div class="form-group">
                                    <label class="control-label">To <span style="font-weight: normal;">(Who are you sending this campaign to?)</span></label>
                                    @Html.DropDownListFor(m=>m.ListId, TempData["List"] as SelectList, new { @class = "form-control" })                                
                                    @*<select name="to_email" class="form-control">
                                        <option selected="">Select List</option>
                                        <option>New Customers (10 Subscribers)</option>
                                        <option>Regular Customers (15 Subscribers)</option>
                                    </select>*@
                                </div>

                                <div class="form-group">
                                    <label class="control-label">From <span style="font-weight: normal;">(Who is sending this campaign?)</span></label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m=> m.FormName , new { @id = "fromname", @class = "form-control", @type = "text", @placeholder = "Name" })
                                            @*<input class="form-control" name="fromname" id="fromname" type="text" placeholder="Name">*@
                                            <span class="text-12">Use something subscribers will instantly recognize, like your company name.</span>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.FormEmail, new { @id = "email_id", @class = "form-control", @type = "email", @placeholder = "Email" })
                                            @*<input class="form-control" name="email_id" id="email_id" type="email" placeholder="Email">*@
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Subject
                                        <br><span class="text-normal">What's the subject line for this campaign?</span>
                                    </label>

                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.Subject, new { @id = "subject", @class = "form-control", @type = "text", @placeholder = "Subject" })
                                            @*<input class="form-control" name="fromname" id="fromname" type="text" placeholder="Subject">*@
                                            <span class="text-12">How do I write a good subject line?</span>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.PreviewText, new { @id = "preview", @class = "form-control", @type = "text", @placeholder = "Preview Text" })
                                            @*<input class="form-control" name="email_id" id="email_id" type="text" placeholder="Preview Text">*@
                                            <span class="text-12">This snippet will appear in the inbox after the subject line.</span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="control-label">Content<br><span class="text-normal">Design the content for your email by selecting and editing a template.</span></label>
                                    <div class="row">
                                        <div class="col-2 text-center"><a href="#"><img src="images/template1.jpg" class="img-fluid"></a><br><a href="#">Edit</a></div>
                                        <div class="col-2 text-center"><a href="#"><img src="images/template2.jpg" class="img-fluid"></a><br><a href="#">Edit</a></div>
                                        <div class="col-2 text-center"><a href="#"><img src="images/template3.jpg" class="img-fluid"></a><br><a href="#">Edit</a></div>
                                        <div class="col-2 text-center"><a href="#"><img src="images/template4.jpg" class="img-fluid"></a><br><a href="#">Edit</a></div>
                                    </div>
                                </div>

                                <hr>

                                @*<h3 class="tile-title mb-0">Share Your Campaign</h3>
                                <span><b>Campaign Link</b></span><br>
                                <span>https://mailchi.mp/[xxxxxx]/[xxxxxx] <a href="#">Edit</a></span><br>
                                <span>Want to brand your campaign link? Click edit to create a custom URL.</span>

                                <h3 class="tile-title mt-4 mb-0">Add A Social Post To Your Campaign</h3>
                                <p class="mt-2"><img src="images/facebook-icon.png"> Facebook <a href="#">Connect Facebook</a></p>
                                <p class="mt-2"><img src="images/twitter-icon.png"> Twitter <a href="#">Connect Twitter</a></p>
                                <p class="mt-2"><img src="images/instagram-icon.png"> Instagram <a href="#">Connect Instagram</a></p>

                                <div class="row m-0">
                                    <div class="col-12 p-3" style="background-color: #eeeeee;">
                                        <span><b>Settings & Tracking</b></span> &nbsp;&nbsp;&nbsp;<a href="#">Edit</a>
                                        <ul class="m-0 mt-2">
                                            <li>You're <b>not using Conversations</b> to manage replies.</li>
                                            <li>Your <b>embedded videos will not auto-convert</b> into linked thumbnail images.</li>
                                            <li>You're <b>tracking opens</b>.</li>
                                            <li>You're <b>tracking clicks</b>.</li>
                                            <li>You're <b>not tracking plain-text clicks.</b></li>
                                            <li>You're <b>not tracking e-commerce link activity.</b></li>
                                        </ul>
                                    </div>
                                </div>*@


                                <div class="tile-footer">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                                </div>


                            </form>
                        </div>


                    </div>
                    <div class="col-md-1"></div>
                </div>


                <!-- Subscriber form ends -->

            </div>
        </div>
        <div class="col-md-1"></div>

    </div>
