﻿
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-bullhorn"></i> My Campaigns</h1>
            <p>Browse, manage and create email campaigns</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            @if (User.IsInRole("Admin"))
            {
                <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else if (User.IsInRole("SalesRep"))
            {
                <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else
            {
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            }
            <li class="breadcrumb-item"><a href="/Admin/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">My Campaigns</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a class="mb-2 btn btn-success btn-block btn-lg" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Campaign</a>
            <div class="tile p-0">
                <div class="tile-body">
                    <ul class="nav nav-pills flex-column mail-nav padding-top-12 padding-bottom-12 margin-top-20">
                        <li class="nav-item active text-16"><a class="nav-link" href="#"><i class="fa fa-history fa-fw"></i> Recent<span class="badge badge-pill badge-warning float-right">12</span></a></li>
                        <li class="nav-item active text-16"><a class="nav-link" href="#"><i class="fa fa-long-arrow-right fa-fw"></i> Ongoing<span class="badge badge-pill badge-primary float-right">74</span></a></li>
                        <li class="nav-item active text-16"><a class="nav-link" href="#"><i class="fa fa-pencil fa-fw"></i> Draft<span class="badge badge-pill badge-secondary float-right">52</span></a></li>
                        <li class="nav-item active text-16"><a class="nav-link" href="#"><i class="fa fa-check fa-fw"></i> Completed<span class="badge badge-pill badge-success float-right">241</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tile">

                <div class="row">
                    <div class="col-md-6">
                        <div id="custom-search-input">
                            <form method="get">
                                <div class="input-group">
                                    <input type="text" class="form-control input-lg" placeholder="Find a campaign by name, type or list" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 text-right">

                        <div class="row">
                            <div class="col-4 text-right nopadding padding-top-6">Sort By</div>
                            <div class="col-8">
                                <select class="form-control">
                                    <option value="Last Updated" selected="Last Updated">Last Updated</option>
                                    <option value="Sent">Sent</option>
                                    <option value="Sheduled">Sheduled</option>
                                    <option value="Drafts">Drafts</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row margin-top-16">
                    <div class="col-2 padding-top-6">
                        <div class="animated-checkbox margin-left-12">
                            <label><input type="checkbox"> <span class="label-text">Select All</span></label>
                        </div>
                    </div>
                    <div class="col-10">
                        <button class="btn btn-outline-secondary" id="demoSwal" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Selected</button>
                    </div>
                </div>


                <div class="table-responsive margin-top-16">
                    <table class="table table-striped text-14">
                        <tbody>
                            <tr>
                                <td class="align-middle">
                                    <div class="animated-checkbox">
                                        <label><input type="checkbox"><span class="label-text"></span></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <ul class="email-opened nomargin padding-left-16">
                                        <li><span class="text-bold"><a href="#">Subernova Black Friday Discount</a></span><br><span class="text-gray">Sent</span> Tue, June 26th 2018 2:35 AM <span class="text-gray">to</span> 12 recipents</li>
                                    </ul>
                                </td>
                                <td class="align-middle"><span class="badge badge-success text-12 padding-6"><i class="fa fa-check" aria-hidden="true"></i> Sent</span></td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">100.0%</span> 12 Opens</td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Clicked</td>
                                <td class="align-middle text-right text-16"><a href="#"><i class="fa fa-trash-o margin-right-16" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <div class="animated-checkbox">
                                        <label><input type="checkbox"><span class="label-text"></span></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <ul class="email-opened nomargin padding-left-16">
                                        <li><span class="text-bold"><a href="#">Expressmail launch day newsletter</a></span><br><span class="text-gray">Sent</span> Tue, June 26th 2018 2:35 AM <span class="text-gray">to</span> 12 recipents</li>
                                    </ul>
                                </td>
                                <td class="align-middle"><span class="badge badge-success text-12 padding-6"><i class="fa fa-check" aria-hidden="true"></i> Sent</span></td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">85.24%</span> 9 Opens</td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">55.17%</span> 7 Clicked</td>
                                <td class="align-middle text-right text-16"><a href="#"><i class="fa fa-trash-o margin-right-16" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <div class="animated-checkbox">
                                        <label><input type="checkbox"><span class="label-text"></span></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <ul class="email-closed nomargin padding-left-16">
                                        <li><span class="text-bold"><a href="#">Sample newsletter</a></span><br><span class="text-gray">Created</span> Tue, June 26th 2018 2:35 AM</li>
                                    </ul>
                                </td>
                                <td class="align-middle"><span class="badge badge-secondary text-12 padding-6">Draft</span></td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Opens</td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Clicked</td>
                                <td class="align-middle text-right text-16"><a href="#"><i class="fa fa-pencil margin-right-16" aria-hidden="true"></i></a> <a id="demoSwal" href="#"><i class="fa fa-trash-o margin-right-16" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <div class="animated-checkbox">
                                        <label><input type="checkbox"><span class="label-text"></span></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <ul class="email-opened nomargin padding-left-16">
                                        <li><span class="text-bold"><a href="#">Sample scheduled newsletter</a></span><br><span class="text-gray">Sent</span> Tue, June 26th 2018 2:35 AM <span class="text-gray">to</span> 12 recipents</li>
                                    </ul>
                                </td>
                                <td class="align-middle"><span class="badge badge-warning text-12 padding-6">Scheduled</span></td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">100.0%</span> 12 Opens</td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Clicked</td>
                                <td class="align-middle text-right text-16"><a href="#"><i class="fa fa-pencil margin-right-16" aria-hidden="true"></i></a> <a id="demoSwal" href="#"><i class="fa fa-trash-o margin-right-16" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <div class="animated-checkbox">
                                        <label><input type="checkbox"><span class="label-text"></span></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <ul class="email-closed nomargin padding-left-16">
                                        <li><span class="text-bold"><a href="#">Sample newsletter</a></span><br><span class="text-gray">Created</span> Tue, June 26th 2018 2:35 AM</li>
                                    </ul>
                                </td>
                                <td class="align-middle"><span class="badge badge-secondary text-12 padding-6">Draft</span></td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Opens</td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Clicked</td>
                                <td class="align-middle text-right text-16"><a href="#"><i class="fa fa-pencil margin-right-16" aria-hidden="true"></i></a> <a id="demoSwal" href="#"><i class="fa fa-trash-o margin-right-16" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <div class="animated-checkbox">
                                        <label><input type="checkbox"><span class="label-text"></span></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <ul class="email-closed nomargin padding-left-16">
                                        <li><span class="text-bold"><a href="#">Sample newsletter</a></span><br><span class="text-gray">Created</span> Tue, June 26th 2018 2:35 AM</li>
                                    </ul>
                                </td>
                                <td class="align-middle"><span class="badge badge-secondary text-12 padding-6">Draft</span></td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Opens</td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Clicked</td>
                                <td class="align-middle text-right text-16"><a href="#"><i class="fa fa-pencil margin-right-16" aria-hidden="true"></i></a> <a id="demoSwal" href="#"><i class="fa fa-trash-o margin-right-16" aria-hidden="true"></i></a></td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <div class="animated-checkbox">
                                        <label><input type="checkbox"><span class="label-text"></span></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <ul class="email-closed nomargin padding-left-16">
                                        <li><span class="text-bold"><a href="#">Sample newsletter</a></span><br><span class="text-gray">Created</span> Tue, June 26th 2018 2:35 AM</li>
                                    </ul>
                                </td>
                                <td class="align-middle"><span class="badge badge-secondary text-12 padding-6">Draft</span></td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Opens</td>
                                <td class="align-middle text-14"><span class="badge badge-secondary padding-6">0.00%</span> 0 Clicked</td>
                                <td class="align-middle text-right text-16"><a href="#"><i class="fa fa-pencil margin-right-16" aria-hidden="true"></i></a> <a id="demoSwal" href="#"><i class="fa fa-trash-o margin-right-16" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="text-right">
                    <span class="text-muted mr-2">Showing 1-15 out of 60</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
      $('#demoNotify').click(function(){
        $.notify({
          title: "Update Complete : ",
          message: "Something cool is just updated!",
          icon: 'fa fa-check'
        },{
          type: "info"
        });
      });
      $('#demoSwal').click(function(){
        swal({
          title: "Are you sure?",
          text: "You will not be able to recover this email campaign!",
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          cancelButtonText: "No, cancel plz!",
          closeOnConfirm: false,
          closeOnCancel: false
        }, function(isConfirm) {
          if (isConfirm) {
            swal("Deleted!", "Your email campaign has been deleted.", "success");
          } else {
            swal("Cancelled", "Your email campaign is safe :)", "error");
          }
        });
      });
</script>

