﻿@model List<EM.Factory.usp_getUserDashboardData_Result>
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var ProfileDetails = EM.Web.Utilities.CurrentUser.getCurUserDetails();
    string startDate = Model != null && Model.Count() > 0 ? Model.Last().createddate.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd");
    if (Model != null && Model.Count() > 0)
    {
        Session["PlanName"] = Model.FirstOrDefault().PlanName;
        Session["TotalEmails"] = Model.FirstOrDefault().TotalEmails;
        Session["DaysLeft"] = Model.FirstOrDefault().DaysLeft;
        Session["SubscriberMax"] = Model.FirstOrDefault().SubscriberMax;
    }

}



<div class="app-title">
    <div class="row w-100">
        <div class="col-lg-6 col-12 pl-0">
            <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
            <p>Welcome to CheapesteMail Dashboard</p>
        </div>
        <div class="col-lg-6 col-12 px-0">
            <ul class="app-breadcrumb breadcrumb d-flex align-items-center justify-content-lg-end mt-lg-1 mt-2">
                <li>
                    <div class="col-md-12 col-lg-4 pl-0">
                        @if (ProfileDetails.BounceRate < Constants.BounceRateLimit && ProfileDetails.EmailSending == true)
                        {
                            <button class="btn btn-info btn-group font-18" href="javascript:void(0)" onclick="window.location.href='/User/Campaign/Index?page=CampaignNameView'">Create Campaign</button>
                        }
                        else
                        {
                            string title = ProfileDetails.EmailSending == false ? "Curently email sending is not allowed by admin." : "You have exceed bounce rate limit.Please contact administrator.";
                            <button class="btn btn-info btn-group font-18 disabled" style="cursor: not-allowed;" title="@title">Create Campaign</button>
                            /*<p style="font-size: 13px;display:inline-block ; color:red;overflow: hidden; white-space: nowrap;">You have exceed bounce rate limit.Please contact administrator.</p>*/
                        }
                    </div>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else if (User.IsInRole("SalesRep"))
                {
                    <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else
                {
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                }
                <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center padding-top-20 padding-bottom-10">
        <div class="col-12 text-center padding-top-20 padding-bottom-10">
            <h1 class="nomargin">Hi, @Model.FirstOrDefault().NAME! </h1>
            <p class="text-16">Please follow the steps below to validate your account.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-4">
        <div class="widget-small info coloured-icon">
            <span class="icon">1</span>
            <div class="info">
                <h4>Complete your profile</h4>
                <p><b><a href="/User/Dashboard/UserProfile">Click here</a></b></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="widget-small info coloured-icon">
            <span class="icon">2</span>
            <div class="info">
                <h4>Import all of your contacts</h4>
                <p><b><a href="/User/List">Click here</a></b></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="widget-small info coloured-icon">
            <span class="icon">3</span>
            <div class="info">
                <h4>Create & schedule your campaign</h4>
                <p><b><a href="/User/Campaign?Page=CreateCampaign">Click here</a></b></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 pb-4">
        <div class="card">
            <img class="card-img-top" src="/Content/imagesUser/contacts.jpg" alt="Card image cap">
            <div class="card-body padding-15 text-center">
                <h1 class="card-title nomargin">
                    @if (Model.FirstOrDefault().TotalContact == 0)
                    {
                        @Model.FirstOrDefault().TotalContact
                    }
                    else
                    {
                        <a href="#" onclick="getSubscriberDetails()">@Model.FirstOrDefault().TotalContact</a>

                    }

                </h1>
                <p class="card-text text-20">Contacts</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 pb-4">
        <div class="card">
            <img class="card-img-top" src="/Content/imagesUser/opened.jpg" alt="Card image cap">
            <div class="card-body padding-15 text-center">
                <h1 class="card-title nomargin" id="lblTotalOpen">@Model.FirstOrDefault().TotalOpen</h1>
                <p class="card-text text-20">Total Opened</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 pb-4">
        <div class="card">
            <img class="card-img-top" src="/Content/imagesUser/clicked.jpg" alt="Card image cap">
            <div class="card-body padding-15 text-center">
                <h1 class="card-title nomargin" id="lblTotalClick">@Model.FirstOrDefault().TotalClicked</h1>
                <p class="card-text text-20">Total Clicked</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 pb-4">
        <div class="card">
            <img class="card-img-top" src="/Content/imagesUser/blacklisted.jpg" alt="Card image cap">
            <div class="card-body padding-15 text-center">
                <h1 class="card-title nomargin">
                    @if (Model.FirstOrDefault().TotalUnsubscribers == 0)
                    {
                        @Model.FirstOrDefault().TotalUnsubscribers
                    }
                    else
                    {
                        <a href="#" onclick="getUnSubscriberDetails()">@Model.FirstOrDefault().TotalUnsubscribers</a>

                    }
                </h1>
                <p class="card-text text-20">Unsubscribers</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="tile">
            <div class="row top_form-section">
                <div class="col-lg-8 col-md-12">
                    <label class="control-label">From : </label>
                    <input type="text" name="fromDate" id="fromDate" class="form-control" placeholder="From Date" />
                    <label class="control-label">To : </label>
                    <input type="text" name="toDate" id="toDate" class="form-control" placeholder="To Date" disabled="disabled" />
                </div>
                <div class="col-lg-4 col-md-12">
                    <button type="button" class="btn btn-primary" onclick="search()" id="applyReportFilter" disabled>Search</button>
                    <button type="button" class="btn btn-secondary" onclick="clearFields()" id="btnClear" disabled>Reset</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-6 padding-top-10">
        <div class="tile">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="nomargin" id="statuschartHeading">Last 7 days Campaign's Email Status</h3>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-primary btn-fluid" onclick="getEmailStatusChart()"><i class="fa fa-repeat" aria-hidden="true"></i>Refresh</button>
                </div>
            </div>
            <div>
                <div id="Chartcontainer1"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-6 padding-top-10">
        <div class="tile">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="nomargin" id="Updateheading">All Time Campaign's Updates</h3>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-primary btn-fluid" onclick="getAllEmailStatusChart()"><i class="fa fa-repeat" aria-hidden="true"></i>Refresh</button>
                </div>
            </div>

            <div class="row">
                <div id="Chartcontainer2"></div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title" id="campaignheading">Latest Campaigns</h3>
            <div class="table-responsive" id="tblLatestCampaign">

                @Html.Partial("LatestCampaign", Model)
            </div>

        </div>
    </div>
</div>


<div id="divSubscriberModal"></div>

<div id="divOpenClickModal"></div>

<div id="divUnSubscriberModal"></div>



@section CustomScript{
    <script type="text/javascript">
        var pageSize = @Constants.PageSize;
        var StatusMessage = '@ViewBag.StatusMessage';
        var startDate = '@startDate';
        var offSet = getCurLocOffset();
        var BounceRate = @ProfileDetails.BounceRate;
        var BounceRateLimit = @Constants.BounceRateLimit;
        $(document).ready(function () {

            UserDashboardSweetAlert(StatusMessage);

            if (BounceRate > BounceRateLimit) {
                GenerateAlert("You have exceed bounce rate limit.Please contact administrator.", "", "error");
            }


            // var offset = (new Date().getTimezoneOffset() * -1);

            getTimeConvert("scheduleDate_");
            getTimeConvert("createddate_");
            getTimeConvert("sentDate_");
            getTimeConvert("QueuedDate_");

            //$('*[id^="scheduleDate_"]').each(function (index, value) {
            //    var _Date = $(this).html();

            //   _Date = moment(_Date).add(offSet, "minutes") .format('MMM Do YYYY, h:mm:ss A');
            //    //    .format('LTS');
            //    $(this).html(_Date);
            //})
        });
        initDatePickerDashboard($('#fromDate'));
        //preventEnterForSubmittingForm();
    </script>
    <script src="~/Content/CustomJs/UserDashboard.js?v=10242019"></script>
    <script src="~/Content/CustomJs/HighChartGeneartor.js?v=09022019"></script>



}
