﻿@model List<EM.Factory.usp_getUserDashboardData_Result>
<table class="table table-striped text-14" id="tblCampaign">
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var campgain in Model)
            {
                if (campgain.CampaignId != -1)
                {
        <tr>
            <td class="align-top">
                <input type="hidden" value="@campgain.CampaignId" />
                <ul class="email-opened nomargin">
                    <li>
                        @if (campgain.status == CampaginStatus.Sent.ToString())
                        {
                            <span class="text-bold"><a href="/User/Report/CampaignDetailedReport?CampaignId=@campgain.CampaignId&SentDate=@campgain.sentdate&Subject=@campgain.Subject&Recipient=@campgain.Subscribers&FromEmail=@campgain.FromEmail&CampaignName=@campgain.camapignname&IsCampaignFlag=0">@campgain.camapignname</a></span>
                            <br>
                            <span class="text-gray">Sent</span>
                            <span id="sentDate_@campgain.CampaignId">@campgain.sentdate</span>
                            <span class="text-gray">to</span> @campgain.Subscribers <span>recipients</span>

                        }
                        else if (campgain.status == CampaginStatus.Draft.ToString())
                        {
                            <span class="text-bold"><a href="/User/Campaign?Page=CampaignNameView&CampaignId=@campgain.CampaignId">@campgain.camapignname</a></span>
                            <br>
                            <span class="text-gray">Created</span>
                            <span id="createddate_@campgain.CampaignId">@campgain.createddate</span>
                            <span class="text-gray">to</span> @campgain.Subscribers <span>recipients</span>

                        }
                        else if (campgain.status == CampaginStatus.Schedule.ToString())
                        {
                            <span class="text-bold"><a href="/User/Campaign?Page=CampaignNameView&CampaignId=@campgain.CampaignId">@campgain.camapignname</a></span>
                            <br>
                            <span class="text-gray">Schedule</span>

                            <span id="scheduleDate_@campgain.CampaignId">@campgain.scheduleddatetime</span>
                            <span class="text-gray">to</span> @campgain.Subscribers <span>recipients</span>
                        }
                        else
                        {
                            <span class="text-bold">@campgain.camapignname</span>
                            <br>
                            <span class="text-gray">Failed</span>

                            <span id="scheduleDate_@campgain.CampaignId">@campgain.scheduleddatetime</span>
                            <span class="text-gray">to</span> @campgain.Subscribers <span>recipients</span>
                        }

                    </li>
                </ul>
            </td>
            <td class="align-top">
                @if (campgain.status == CampaginStatus.Sent.ToString())
                {
                    <span class="badge badge-success text-12 padding-6"><i class="fa fa-check" aria-hidden="true"></i> Sent</span>
                }
                else if (campgain.status == CampaginStatus.Draft.ToString())
                {
                    <span class="badge badge-secondary text-12 padding-6"><i class="fa fa-envelope-o" aria-hidden="true"></i> Draft</span>

                }
                else if (campgain.status == CampaginStatus.Schedule.ToString())
                {
                    <span class="badge badge-warning text-12 padding-6"><i class="fa fa-calendar" aria-hidden="true"></i> Scheduled</span>

                }
                else
                {
                    <span class="badge badge-warning text-12 padding-6"><i class="fa fa-remove" aria-hidden="true"></i>Failed</span>
                }

            </td>
            @if (campgain.Subscribers != 0 && campgain.status == CampaginStatus.Sent.ToString())
            {

                <td class="align-top text-14 text-center"><span class="badge badge-secondary padding-6" id="subscriber_@campgain.CampaignId">
                    <a href="/User/Report/CampaignDetailedReport?CampaignId=@campgain.CampaignId&SentDate=@campgain.sentdate&Text=Recipient&Subject=@campgain.Subject
                       &Recipient=@campgain.Subscribers&FromEmail=@campgain.FromEmail&CampaignName=@campgain.camapignname&IsCampaignFlag=1" style="color: white">
                    @campgain.Subscribers
                        </a></span><br />Subscribers</td>
            }
            else
            {
                <td class="align-top text-14 text-center"><span class="badge badge-secondary padding-6" id="subscriber_@campgain.CampaignId">@campgain.Subscribers</span> <br />Subscribers</td>


            }
            @if (campgain.Processed != 0 && campgain.status == CampaginStatus.Sent.ToString())
            {
                <td class="align-top text-14 text-center">
                    <span class="badge badge-secondary padding-6" id="sent_@campgain.CampaignId">
                        <a href="/User/Report/CampaignDetailedReport?CampaignId=@campgain.CampaignId&SentDate=@campgain.sentdate&Text=Recipient&Subject=@campgain.Subject&Recipient=@campgain.Subscribers&FromEmail=@campgain.FromEmail&CampaignName=@campgain.camapignname&IsCampaignFlag=1" style="color: white">
                            @campgain.Processed
                        </a>
                    </span><br />Requests
                </td>

            }
            else
            {

                <td class="align-top text-14 text-center"><span class="badge badge-secondary padding-6" id="sent_@campgain.CampaignId">@campgain.Processed</span><br />Requests</td>

            }
            @if (campgain.Delivered != 0 && campgain.status == CampaginStatus.Sent.ToString())
            {
                <td class="align-top text-14 text-center">
                    <span class="badge badge-secondary padding-6" id="delivered_@campgain.CampaignId">
                        <a href="/User/Report/CampaignDetailedReport?CampaignId=@campgain.CampaignId&SentDate=@campgain.sentdate&Text=Delivered&Subject=@campgain.Subject&Recipient=@campgain.Subscribers&FromEmail=@campgain.FromEmail&CampaignName=@campgain.camapignname&IsCampaignFlag=1" style="color: white">
                            @campgain.Delivered
                        </a>
                    </span><br />Delivered
                </td>

            }
            else
            {

                <td class="align-top text-14 text-center"><span class="badge badge-secondary padding-6" id="delivered_@campgain.CampaignId">@campgain.Delivered</span><br />Delivered</td>

            }
            @if (campgain.Opens != 0 && campgain.status == CampaginStatus.Sent.ToString())
            {
                <td class="align-top text-14 text-center">
                    <span class="badge badge-secondary padding-6" id="opentCount_@campgain.CampaignId">
                        <a href="/User/Report/CampaignDetailedReport?CampaignId=@campgain.CampaignId&SentDate=@campgain.sentdate&Text=Open&Subject=@campgain.Subject&Recipient=@campgain.Subscribers&FromEmail=@campgain.FromEmail&CampaignName=@campgain.camapignname&IsCampaignFlag=1" style="color: white">
                            @campgain.Opens
                        </a>
                    </span><br />Unique Opened
                </td>

            }
            else
            {

                <td class="align-top text-14 text-center"><span class="badge badge-secondary padding-6" id="opentCount_@campgain.CampaignId">@campgain.Opens</span><br />Unique Opened</td>

            }
            @if (campgain.Clicks != 0 && campgain.status == CampaginStatus.Sent.ToString())
            {
                <td class="align-top text-14 text-center">
                    <span class="badge badge-secondary padding-6" id="clickCount_@campgain.CampaignId">
                        <a href="/User/Report/CampaignDetailedReport?CampaignId=@campgain.CampaignId&SentDate=@campgain.sentdate&Text=Click&Subject=@campgain.Subject&Recipient=@campgain.Subscribers&FromEmail=@campgain.FromEmail&CampaignName=@campgain.camapignname&IsCampaignFlag=1" style="color: white">
                            @campgain.Clicks
                        </a>
                    </span><br />Unique Clicked
                </td>

            }
            else
            {
                <td class="align-top text-14 text-center"><span class="badge badge-secondary padding-6" id="clickCount_@campgain.CampaignId">@campgain.Clicks</span><br />Unique Clicked</td>


            }
            @if (campgain.Bounce != 0 && campgain.status == CampaginStatus.Sent.ToString())
            {
                <td class="align-top text-14 text-center">
                    <span class="badge badge-secondary padding-6" id="bounce_@campgain.CampaignId">
                        <a href="/User/Report/CampaignDetailedReport?CampaignId=@campgain.CampaignId&SentDate=@campgain.sentdate&Text=Bounce&Subject=@campgain.Subject&Recipient=@campgain.Subscribers&FromEmail=@campgain.FromEmail&CampaignName=@campgain.camapignname&IsCampaignFlag=1" style="color: white">
                            @campgain.Bounce
                        </a>
                    </span><br />Bounced/Dropped
                </td>

            }
            else
            {
                <td class="align-top text-14 text-center"><span class="badge badge-secondary padding-6" id="bounce_@campgain.CampaignId">@campgain.Bounce</span><br />Bounced/Dropped</td>


            }
        </tr>
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No campaign found
                        </td>
                    </tr>
                }
            }

        }
        else
        {
            <tr>
                <td colspan="5">
                    No campaign found
                </td>
            </tr>
        }
    </tbody>
</table>