﻿@model List<EM.Web.Areas.User.Models.CampaignSummaryReportViewModel>

<div class="modal fade" id="openclickDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            @if (ViewBag.Text == "Open")
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Open Details</h4>
                    <a href="#" class="close" onclick="Close()" data-dismiss="modal" aria-label="close">&times;</a>
                </div>
                <!--Body-->
                <div class="modal-body edt-pop PageNumberClass screen-height">
                    <table class="table table-striped text-14">
                        <thead>
                            <tr>
                                <th class="align-middle text-center" scope="col">Campaign Name</th>
                                <th class="align-middle text-center" scope="col">Opens</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle text-center"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Subject=@item.Subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=0">@item.CampaignName</a></td>
                                        <td class="align-middle text-center">@item.Opens</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center">No Record Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                if (Model.FirstOrDefault().TotalRecords > Constants.PageSize)
                {
                <div class="text-right">
                    <span class="text-muted mr-2" id="PageControl"> Showing 1-15 out of 60</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" onclick="SubPagging('Back','Open')" id="Back"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-primary btn-sm" type="button" onclick="SubPagging('Next','Open')" id="Next"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
                }
            }
            else
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Click Details</h4>
                    <a href="#" class="close" onclick="Close()" data-dismiss="modal" aria-label="close">&times;</a>
                </div>
                <!--Body-->
                <div class="modal-body edt-pop PageNumberClass screen-height">
                    <table class="table table-striped text-14">
                        <thead>
                            <tr>
                                <th class="align-middle text-center" scope="col">Campaign Name</th>
                                <th class="align-middle text-center" scope="col">Click</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle text-center"><a href="/User/Report/CampaignDetailedReport?CampaignId=@item.CampaignId&SentDate=@item.SentDate&Subject=@item.Subject&Recipient=@item.Subscribers&FromEmail=@item.FromEmail&CampaignName=@item.CampaignName&IsCampaignFlag=0">@item.CampaignName</a></td>
                                        <td class="align-middle text-center">@item.Clicks</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center">No Record Found</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                if (Model.FirstOrDefault().TotalRecords > Constants.PageSize)
                {
                <div class="text-right">
                    <span class="text-muted mr-2" id="PageControl"> Showing 1-15 out of 60</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" onclick="SubPagging('Back','Click')" id="Back"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-primary btn-sm" type="button" onclick="SubPagging('Next','Click')" id="Next"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $(document).ready(function ()
    {
        SubscriberDetail($("#PageControl"),@ViewBag.PageNumber,'@ViewBag.TotalRecord')
    });

</script>

