﻿
@model List<EM.Factory.ViewModels.UserInfoViewModel>

<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">UnSubscriber Details</h4>
                <a href="#" class="close" onclick="Close()" data-dismiss="modal" aria-label="close">&times;</a>

            </div>
            <!--Body-->
            <div class="modal-body edt-pop PageNumberClass screen-height">
                <table class="table table-striped text-14">
                    <thead>
                        <tr>
                            <th class="align-middle text-center" scope="col">Email Address</th>
                            <th class="align-middle text-center" scope="col">First Name</th>
                            <th class="align-middle text-center" scope="col">Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle text-center">@item.Email</td>
                                    <td class="align-middle text-center">@item.FirstName</td>
                                    <td class="align-middle text-center">@item.LastName</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">No Record Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model.FirstOrDefault().TotalRecord > Constants.PageSize)
            {
            <div class="text-right">
                <span class="text-muted mr-2" id="PageControl"> Showing 1-15 out of 60</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button" onclick="SubPagging('Back','UnSubscribe')" id="Back"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-primary btn-sm" type="button" onclick="SubPagging('Next','UnSubscribe')" id="Next"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        SubscriberDetail($("#PageControl"),@ViewBag.PageNumber,'@ViewBag.TotalRecord')
    });

</script>

