﻿@model EM.Web.Models.PacakagesViewModel
@{

    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var userInfo = EM.Web.Utilities.CurrentUser.getCurUserDetails();
    int PlanId = 0, PackageId = 0;
    if (userInfo!=null)
    {
        PlanId = userInfo.planId;
        PackageId = userInfo.SelectedPackakgeId != null ? userInfo.SelectedPackakgeId.Value : 0;
    }
    string county = "United States";
    if (userInfo != null)
    {
        county = userInfo.Country;
    }
}
<style type="text/css">
    .price .price-numeric {
        font-size: 40px;
        color: #0a1b23;
        font-weight: 800;
    }
    .price sup {
        font-size: 14px;
        color: #585c5e;
        top: -18px;
    }
    .price sub {
        font-size: 14px;
        color: #585c5e;
        top: 0px;
    }
</style>
<section class="pricing-table">
    <div class="container">
        <div class="block-heading">
            <h2>Choose the right plan, at the right price.</h2>
            <p>Choose the plan that's right for your business. Whether you're just getting started with email marketing or well down the path to personalization, we've got you covered.</p>
            @*<p class="font-weight-bold mt-2 text-danger">Quarterly and Annual billing options also available.</p>
                <p>You can select monthly, quarterly or annually billing options from the dropdown below.</p>*@
        </div>
        <div class="row justify-content-md-center">
            <input type="hidden" id="APIURL" value="@Constants.ApiURL" />
            @foreach (var plan in Model.planList)
            {
                if (plan.PlanId == 1)
                {
                    continue;
                }
                var packages = Model.packagesList.Where(r => r.PlanId == plan.PlanId);
                var deafultPackage = packages.First();
                var src = "";
                var currenPlanClass = "";
                var btnClass = "btn-outline-primary";
                var isDisabled = "";
                if (plan.PlanId == PlanId)
                {
                    currenPlanClass = "pricing-box-blue";
                    btnClass = "btn-primary";
                  //  deafultPackage = packages.FirstOrDefault(r => r.Id == PackageId);
                    isDisabled = "disabled=disabled";

                }
                if (plan.PlanId == 2)
                {
                    if (plan.PlanId == PlanId)
                    {
                        src = "~/Content/imagesHome/silver-plan.png";

                    }
                    else
                    {
                        src = "~/Content/imagesHome/silver-plan-black.png";
                    }

                }
                else if (plan.PlanId == 3)
                {
                    if (plan.PlanId == PlanId)
                    {
                        src = "~/Content/imagesHome/gold-plan-white.png";

                    }
                    else
                    {
                        src = "~/Content/imagesHome/gold-plan.png";
                    }
                }
                else if (plan.PlanId == 4)
                {
                    if (plan.PlanId == PlanId)
                    {
                        src = "~/Content/imagesHome/platinum-plan-white.png";

                    }
                    else
                    {
                        src = "~/Content/imagesHome/platinum-plan.png";
                    }
                }
                <div class="col-md-6 col-lg-4">

                    <div class="item @currenPlanClass">

                        <div class="heading">
                            <h2 class="text-center mt-4 mb-0">
                                @plan.PlanName
                            </h2>
                            <p class="text-center">@plan.Descrption</p>
                            <div class="col-12 text-center">
                                <img src="@Url.Content(src)">
                            </div>
                            <div class="price">
                                <span class="price-numeric">
                                    <sup>$</sup>
                                    @if (county == "Canada")
                                    {
                                        <span id="lblBillingamount_@plan.PlanId">
                                            @deafultPackage.BillingAmount_Canada
                                        </span>

                                    }
                                    else
                                    {
                                        <span id="lblBillingamount_@plan.PlanId">
                                            @deafultPackage.BillingAmount
                                        </span>
                                    }
                                    <sub>/Month</sub>
                                </span>

                            </div>
                        </div>
                        <div class="features mt-3 mb-3">
                            <h4><span class="feature">Subscribers</span>: <span class="value" id="lblSubscriber_@plan.PlanId">@deafultPackage.NoOfSubscribersMax</span></h4>
                            <h4>
                                <span class="feature">Contact Management</span>:
                                @if (plan.ContactManagement == true)
                                {
                                    <span class="value text-success">Yes</span>
                                }
                                else
                                {
                                    <span class="value text-danger">No</span>}

                            </h4>
                            <h4>
                                <span class="feature">Unlimited Emails</span>:
                                @if (plan.UnlimitedEmails == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span id="lblTotalEmails_@plan.PlanId">@deafultPackage.NoOfCredits</span>
                                }
                            </h4>

                            <h4>
                                <span class="feature">Email Scheduling</span>:
                                @if (plan.EmailScheduling == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                            <h4>
                                <span class="feature">Customizable Templates</span>:
                                @if (plan.CustomizableTemplates == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                            <h4>
                                <span class="feature">Educational Resources</span>:
                                @if (plan.EducationalResources == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                            <h4>
                                <span class="feature">Live Support</span>:
                                @if (plan.LiveSupport == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                        </div>
                        <select name="contacts" class="form-control contacts-dropdown" onchange="getDetails(this,@plan.PlanId)" id="ddlContacts_@plan.PlanId">
                            @foreach (var package in packages)
                            {
                                var isSelected = package.Id == PackageId ? "selected" : "";
                                var bilingAmount = county == "Canada" ? package.BillingAmount_Canada : package.BillingAmount;
                                <option value="@package.Id" totalEmails="@package.NoOfCredits" billingAmount="@bilingAmount" @isSelected>@package.NoOfSubscribersMax Subscribers</option>
                            }
                        </select>
                        <button class="btn btn-block mt-2 @btnClass" onclick="upgradeConfirmation(@plan.PlanId)" @isDisabled id="btn_@plan.PlanId">Upgrade</button>

                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Modal -->

<div class="modal" tabindex="-1" role="dialog" id="upgradeConfrimModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-16">Confirmation will proceed to deduct the amount <span id="lblamount"></span> from your credit card.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnConfirm">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section CustomScript{
    <script type="text/javascript">
        var planId =@PlanId;
        var packageId = @PackageId;
        var country = '@county';
        function getDetails(oControl, id) {
            if ($("option:selected", oControl).attr("totalEmails") != "0") {
                $("#lblTotalEmails_" + id).html($("option:selected", oControl).attr("totalEmails"));
            }
            $("#lblBillingamount_" + id).html($("option:selected", oControl).attr("billingAmount"));
            $("#lblSubscriber_" + id).html($("option:selected", oControl).text().replace("Subscribers", ""));
            if (id == planId && $(oControl).val() == packageId) {
                $("#btn_" + id).attr("disabled", "disabled");
            }
            else {
                $("#btn_" + id).removeAttr("disabled");

            }
        }

        function upgradeConfirmation(planId) {
            $("#lblamount").html("$"+$("#lblBillingamount_" + planId).html());
            $('#upgradeConfrimModal').modal('show')
            $("#btnConfirm").attr("onclick", "chargeCustomer(" + $("#ddlContacts_" + planId).val() + ")")

        }
        function chargeCustomer(packageId) {
            showLoader();
            $.ajax({
                url: '/User/Dashboard/UpgradePlan/',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "packageId": packageId }),
                async: true,
                success: function (result) {
                    if (result) {
                        HideLoader();
                        if (result.status == true) {
                            GenerateAlert("", result.msg, "success", redirectToDashboard);
                        }
                        else {
                            if (result.msg == "authentication failed") {
                                GenerateAlert("", result.msg, "info", redirectToLogin);
                            }
                            else if (result.msg == "Please add payment profile") {
                                GenerateAlert("", result.msg, "info", redirectToPayment);

                            }
                            else {
                                GenerateAlert("", result.msg, "info");
                            }

                        }
                    }
                    else {
                        HideLoader();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    HideLoader();
                }

            });
            function redirectToLogin() {
                window.location.href = "/Account/LogOff"
            }
            function redirectToPayment() {
                window.location.href = "/User/Billing"
            }
            function redirectToDashboard() {
                window.location.href = "/User/Dashboard/Index"
            }
        }
    </script>



}

