﻿@model List<EM.Factory.usp_geAllPlans_Result>
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var monthlyPlanList = Model.ToList().Where(r => r.TotalMonth == 1 && r.BillingAmount != 0);

}
<div class="app-title">
    <div class="top_left-header">
        <h1><i class="fa fa-credit-card"></i> Update Plan</h1>
        <p>Choose the plan that’s right for your business.</p>
    </div>
    <ul class="app-breadcrumb breadcrumb top_right-header">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item">Update Billing Plan</li>
    </ul>
</div>

<section class="pricing-table">
    <div class="container">
        <div class="block-heading">
            <h2>Choose the right plan, at the right price.</h2>
            <p>Choose the plan that's right for your business. Whether you're just getting started with email marketing or well down the path to personalization, we've got you covered.</p>
            <p class="font-weight-bold mt-2 text-danger">Quarterly and Annual billing options also available.</p>
            <p>You can select monthly, quarterly or annually billing options from the dropdown below.</p>
        </div>
        <div class="row justify-content-md-center">
            <input type="hidden" id="APIURL" value="@Constants.ApiURL" />
            @foreach (var plan in monthlyPlanList)
            {
                var billingPackageList = Model.ToList().Where(r => r.PlanId == plan.PlanId).ToList();
                <div class="col-md-6 col-lg-4">
                    <div class="item">
                        <div class="heading">
                            <div class="price">
                                <h4><sup class="text-18">$</sup><span>@plan.BillingAmount/</span><span class="text-16">Month</span></h4>
                            </div>
                        </div>
                        <div class="features mt-3 mb-3">
                            <h4><span class="feature">Subscribers</span> : <span class="value">@plan.NoOfSubscribersMax</span></h4>
                            <h4>
                                <span class="feature">Contact Management</span> :
                                @if (plan.ContactManagement == true)
                                {
                                    <span class="value text-success">Yes</span>
                                }
                                else
                                {
                                    <span class="value text-danger">No</span>}

                            </h4>
                            <h4>
                                <span class="feature">Unlimited Emails</span> :
                                @if (plan.UnlimitedEmails == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                            @*<h4>
                                    <span class="feature">Automation</span> :
                                    @if (plan.Automation == true)
                                    {
                                        <span class="value text-success">Yes</span>

                                    }
                                    else
                                    {
                                        <span class="value text-danger">No</span>
                                    }
                                </h4>
                                <h4>
                                    <span class="feature">Segmenting</span> :
                                    @if (plan.Segmenting == true)
                                    {
                                        <span class="value text-success">Yes</span>

                                    }
                                    else
                                    {
                                        <span class="value text-danger">No</span>
                                    }
                                </h4>
                                <h4>
                                    <span class="feature">Analytics</span> :
                                    @if (plan.Analytics == true)
                                    {
                                        <span class="value text-success">Yes</span>

                                    }
                                    else
                                    {
                                        <span class="value text-danger">No</span>
                                    }
                                </h4>*@
                            <h4>
                                <span class="feature">Email Scheduling</span> :
                                @if (plan.EmailScheduling == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                            <h4>
                                <span class="feature">Customizable Templates</span> :
                                @if (plan.CustomizableTemplates == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                            <h4>
                                <span class="feature">Educational Resources</span> :
                                @if (plan.EducationalResources == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                            <h4>
                                <span class="feature">Live Support</span> :
                                @if (plan.LiveSupport == true)
                                {
                                    <span class="value text-success">Yes</span>

                                }
                                else
                                {
                                    <span class="value text-danger">No</span>
                                }
                            </h4>
                        </div>
                        <select class="form-control upgrade-plan mb-2" id="package_@plan.id">
                            @foreach (var item in billingPackageList)
                            {
                                <option value="@item.id" data-val="@item.BillingAmount">$@item.BillingAmount / @item.TotalMonth Months</option>
                            }
                        </select>
                        <button class="btn btn-block btn-outline-primary" onclick="upgradeConfirmation('#package_@plan.id')">Upgrade</button>

                    </div>
                </div>
            }
            <div class="col-md-6 col-lg-4">
                <div class="item">
                    <div class="heading">
                        <div class="price">
                            <h4>Get Quote</h4>
                        </div>
                    </div>
                    <div class="features mt-3 mb-3">
                        <h4><span class="feature">Subscribers</span> : <span class="value">25,000+</span></h4>
                        <h4><span class="feature">Contact Management</span> : <span class="value text-success">Yes</span></h4>
                        <h4><span class="feature">Unlimited Emails</span> : <span class="value text-success">Yes</span></h4>
                        @*<h4><span class="feature">Automation</span> : <span class="value text-success">Yes</span></h4>
                            <h4><span class="feature">Segmenting</span> : <span class="value text-success">Yes</span></h4>
                            <h4><span class="feature">Analytics</span> : <span class="value text-success">Yes</span></h4>*@
                        <h4><span class="feature">Email Scheduling</span> : <span class="value text-success">Yes</span></h4>
                        <h4><span class="feature">Customizable Templates</span> : <span class="value text-success">Yes</span></h4>
                        <h4><span class="feature">Educational Resources</span> : <span class="value text-success">Yes</span></h4>
                        <h4><span class="feature">Live Support</span> : <span class="value text-success">Yes</span></h4>
                    </div>
                    <button class="btn btn-block btn-danger" type="button" onclick="window.location.href='/Home/ContactUs'">CONTACT US</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->

<div class="modal" tabindex="-1" role="dialog" id="upgradeConfrimModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-16">Confirmation will proceed to deduct the amount <span id="lblamount"></span> from your credit card.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnConfirm">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section CustomScript{
    <script type="text/javascript">
        function upgradeConfirmation(selectId) {
            var selectedAmount = $(selectId + " option:selected").text();
            $("#lblamount").html(selectedAmount.substring(0, selectedAmount.indexOf("/")));
            $('#upgradeConfrimModal').modal('show')
            $("#btnConfirm").attr("onclick", "chargeCustomer(" + $(selectId).val() + ")")

        }
        function chargeCustomer(packageId) {
            showLoader();
            $.ajax({
                url: '/User/Dashboard/UpgradePlan/',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ "packageId": packageId }),
                async: true,
                success: function (result) {
                    if (result) {
                        HideLoader();
                        if (result.status == true) {
                            GenerateAlert("", result.msg, "success", redirectToDashboard);
                        }
                        else {
                            if (result.msg == "authentication failed") {
                                GenerateAlert("", result.msg, "info", redirectToLogin);
                            }
                            else if (result.msg == "Please add payment profile") {
                                GenerateAlert("", result.msg, "info", redirectToPayment);

                            }
                            else {
                                GenerateAlert("", result.msg, "info");
                            }

                        }
                    }
                    else {
                        HideLoader();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    HideLoader();
                }

            });
            function redirectToLogin() {
                window.location.href="/Account/LogOff"
            }
            function redirectToPayment() {
                window.location.href = "/User/Billing"
            }
            function redirectToDashboard() {
                window.location.href = "/User/Dashboard/Index"
            }
        }
    </script>



}

