﻿@model EM.Factory.ViewModels.UserInfoViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    string dateOfBirth = Model.DOB != null ? Model.DOB.Value.ToString("MM-dd-yyyy") : "";
}
<form action="/User/Dashboard/UserProfile" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="app-title">
        <div>
            <h1><i class="fa fa-user"></i> Update Profile</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            @if (User.IsInRole("Admin"))
            {
                <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else if (User.IsInRole("SalesRep"))
            {
                <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else
            {
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            }
            <li class="breadcrumb-item"><a href="/Admin/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">Update Profile</li>
        </ul>
    </div>

    <section class="content">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <input type="file" name="UserProfilePhoto" id="UserProfilePhoto" accept="image/*" class="form-control" style="display:none" onchange="UploadPic(this);" />

                            <input type="hidden" value="@Model.ProfileImage" name="ProfileImage" id="ProfileImage" />
                            <div class="margin-bottom-10" style="text-align:center !important;cursor:pointer">
                                <a href="#" onclick="triggerFileUpload()">
                                    @if (!string.IsNullOrEmpty(Model.ProfileImage))
                                    {
                                        <img src="@Model.ProfileImage" id="ProfileImageId" style="border-radius: 50%;" width="100" height="100" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/imagesUser/profile-pic.png" id="ProfileImageId" style="border-radius: 50%;background-color:gray" width="100" height="100" />
                                    }
                                </a>
                                <a href="javascript:void(0)" onclick="$('#UserProfilePhoto').click()"><h6 style="margin-top:10px;">Change Profile Image</h6></a>
                            </div>

                            <p class="text-bold"><img src="/Content/imagesHome/user-icon.png"> &nbsp;Personal Information</p>
                            <div class="form-row">
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        @Html.HiddenFor(x => x.Id)
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control ", @placeholder = "Last Name" })
                                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email Name", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control", @placeholder = "Phone Number" })
                                        @Html.ValidationMessageFor(x => x.MobilePhone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        @Html.DropDownListFor(x => x.IndustryRefId, TempData["IndustryList"] as SelectList, "Select Industry", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.IndustryRefId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                                        @Html.ValidationMessageFor(x => x.CompanyName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <p class="text-bold margin-top-15"><img src="/Content/imagesHome/billing-icon.png"> &nbsp;Contact Information</p>

                            <div class="form-row">
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        @Html.TextBoxFor(x => x.Address1, new { @class = "form-control", @placeholder = "Address" })
                                        @Html.ValidationMessageFor(x => x.Address1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", @placeholder = "City" })
                                    @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    @Html.TextBox("txtState", null, new { @class = "form-control", @placeholder = "State", @style = "display: none;" })
                                    @Html.DropDownListFor(model => model.State, TempData["State"] as SelectList, new { @class = "form-control", @style = "display: none;" })
                                    @Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    @Html.TextBoxFor(x => x.Zip, new { @class = "form-control", @placeholder = "Postal Code", @onkeypress = "return IsNumeric(event,5)" })
                                    @Html.ValidationMessageFor(x => x.Zip, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6 padding-bottom-15">

                                    @Html.DropDownListFor(x => x.Country, TempData["Country"] as SelectList, "Country", new { @class = "form-control", onChange = "bindState(this.value)" })

                                </div>

                                <div class="col-md-6 padding-bottom-15">

                                    @Html.DropDownListFor(x => x.TimeZoneID, TempData["TimezoneList"] as SelectList, "Select Timezone", new { @class = "form-control"})

                                </div>

                                <div class="col-md-6 padding-bottom-15">

                                    @Html.TextBoxFor(x => x.DOB, new { @placeholder = "DOB", @class = "form-control", style = "display:none;" })

                                </div>
                                @*<div class="col-md-12 padding-bottom-15">
            <div class="inner-addon right-addon">
                <i class="fa fa-credit-card-alt text-20" aria-hidden="true"></i>
                @Html.TextBoxFor(model => model.CreditCardNumber, new { @id = "txtCredit", @placeholder = "Credit Card Number", @class = "form-control form-control-lg" })
                @Html.ValidationMessageFor(x => x.CreditCardNumber, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="col-md-6 padding-bottom-15">
            @Html.TextBoxFor(model => model.ExpiryDate, new { @placeholder = "Expiry Date (MM/YYYY)", @class = "form-control form-control-lg" })
            @Html.ValidationMessageFor(x => x.ExpiryDate, "", new { @class = "text-danger" })

        </div>*@
                            </div>

                            <div class="form-row">

                                <button class="btn btn-primary mr-2" type="submit"><i class="fa fa-fw fa-lg fa-check-circle" onclick="showLoader();"></i>Save</button>
                                <a class="btn btn-secondary" href="~/User/Dashboard/Index"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>


</form>

@section CustomScript
{
    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>
    <script src="~/Content/jsUser/daterangepicker.min.js"></script>
    <script src="~/Content/jsUser/plugins/sweetalert.min.js"></script>
    <script src="~/Content/CustomJs/common.js?v=11282019"></script>
    <script src="~/Content/CustomJs/User.js?v=05272019"></script>

    <script type="text/javascript">
         var a = "@Model.Country";
        var _dob = '@dateOfBirth';
        $(document).ready(function () {
           
            // Initilize the DatePicker by Passing Control in initSignalDatePicker function of Custom.js file.
            initSignalDatePicker($("#ExpiryDate"));
            initSignalDatePickerWithTime($("#DOB"));
            preventEnterForSubmittingForm();
            //$('#DOB').val(_dob).show();
            $('#MobilePhone').usPhoneFormat({
                format: '(xxx) xxx-xxxx',
            });
            bindwithCountry();
        });
        var UpdateStatus = '@ViewBag.UpdateStatus';
        if (UpdateStatus != null && UpdateStatus != "" && UpdateStatus == 'true')
        {
            HideLoader();
            GenerateAlert("Profile Updated Successfully", "", "success");
        } else if (UpdateStatus == "false") {
            HideLoader();
            GenerateAlert("Something went wrong!", "", "info");
        }
         //pageload for bind state and countery
        function bindwithCountry()
        {
          
            if (a == "United States" ||  a == "")
            {
           $("#txtState").hide();
                $("#txtState").attr('name', 'notState')
                $("#State").css("display", "block");

    }
    else {

                $("#txtState").css("display", "none");
                $("#txtState").css("display", "block");
        $("#txtState").attr('name', 'State')
        $("#txtState").val("@Model.State");
    }


}
    </script>
}