﻿@model EM.Factory.ViewModels.UserInfoViewModel
@{
    /**/

    ViewBag.Title = "Client";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <!-- <li><a href="#">Dashboard</a></li> -->
    <li><a href="/Admin/Dashboard">Dashboard</a></li>
    <li class="active">Create New Account</li>

</ol>
<div class="white-bg-cont">
    @using (Ajax.BeginForm("createNewAccount", "Client", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddUserBegin();", OnSuccess = "onAddUserSucess", OnFailure = "onAddUserFailure" }))
    {
        <div class="app-title">

            <div>
                <h3><i class="fa fa-user-plus"></i> Create New Account</h3>
            </div>
        </div>

        <div class="content card">
            <div class="row card-body">
                <!-- /.col -->
                <div class="col-md-5">
                    <div class="row">
                        <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;Account Information</p>
                        <div class="col-md-12 card account-box even-box-bg-color">
                            @Html.HiddenFor(x => x.SelectedPackakgeId)

                            <div class="row padding-bottom-15 mr-l-r-10">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Email</label>
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.TextBoxFor(x => x.Email, new { @id = "txtUserEmail", @class = "form-control", @placeholder = "Email" })
                                    <span class="RequiredField" id="eError"></span>
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Password</label>
                                    @Html.TextBoxFor(x => x.Password, new { @id = "txtUserPassword", @class = "form-control", @placeholder = "Password", @type = "Password" })
                                    <span class="RequiredField" id="pError"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.nav-tabs-custom -->

                <div class="col-md-5" style="margin-left:50px;">
                    <div class="row">
                        <p class="mr-l-10"><img src="~/Content/imagesHome/billing-icon.png"> &nbsp;Contact Information</p>
                        <div class="col-md-12 card account-box odd-box-bg-color">
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    @Html.TextBoxFor(x => x.Address1, new { @class = "form-control", @placeholder = "Address" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", @placeholder = "City" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    @Html.TextBox("txtState", null, new { @class = "form-control mt-2", @placeholder = "State" })
                                    @Html.DropDownListFor(x => x.State, TempData["States"] as SelectList, new { @class = "form-control mt-2" })
                                    @*@Html.TextBoxFor(x => x.State, new { @class = "form-control", @placeholder = "State" })*@
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    @Html.TextBoxFor(x => x.Zip, new { @class = "form-control", @placeholder = "Postal Code", @onkeypress = "return IsNumeric(event,5)" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    @Html.DropDownListFor(x => x.Country, TempData["Country"] as SelectList, "Select Country", new { @class = "form-control" , onchange = "bindState(this.value)" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5" style="margin-left:10px;">
                    <div class="row">
                        <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png"> &nbsp;Personal Information</p>
                        <div class="col-md-12 card account-box odd-box-bg-color">

                            <div class="row padding-bottom-15 mr-l-r-10">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">First Name</label>
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                                    <span id="fError" class="RequiredField"></span>
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Last Name</label>
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control ", @placeholder = "Last Name" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Phone Number</label>
                                    @Html.TextBoxFor(x => x.MobilePhone, new { @id = "MobilePhone", @class = "form-control", @placeholder = "Phone Number" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Industry</label>
                                    @Html.DropDownListFor(x => x.IndustryRefId, TempData["IndustryList"] as SelectList, "Select Industry", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Company Name</label>
                                    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                                      <span class="RequiredField" id="cmError"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-md-5" style="margin-left:550px ; padding:20px!important; ">
                    <div class="row">
                        <p class="mr-l-10"></p>

                        <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>
                        <a class="btn btn-secondary" href="~/Admin/Client/Index"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>

    }
</div>
@section PageScript{
    <script src="~/Content/CustomJs/AdminCreateNewAccount.js?v=12052019"></script>
}
    <script type="text/javascript">
        var a = "@Model.Country";
       function BindCountry() {
    if (a == "United States" || a == "") {
        $("#txtState").hide();
        $("#txtState").attr('name', 'notState')
    }
    else {
        $("#State").hide();
        $("#txtState").show();
        $("#txtState").attr('name', 'State')
        $("#txtState").val("@Model.State");
    }
}

        
    </script>