﻿@model EM.Factory.ViewModels.UserInfoViewModel
@using (Ajax.BeginForm("UpdateUserDetails", "Client", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onClientEditBegin();", OnSuccess = "onClientEditSucess", OnFailure = "onClientEditFailure" }))
{
    <div class="white-bg-cont">
        <div class="row">
            <div class="ml-2 col-md-12">
                <div class="app-title">
                    <div>
                       <h4><i class="fa fa-edit"></i>Edit Client</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">First Name *</label>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    <span id='FirstNameError' class='RequiredField'></span>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Last Name</label>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    <span id='LastNameError' class='RequiredField'></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="control-label">Mobile Number</label>
                                    @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                    <span id='LastNameError' class='RequiredField'></span>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">City</label>
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label class="control-label">State</label>
                                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Country</label>
                                    @Html.DropDownListFor(model => model.Country, TempData["Country"] as SelectList, new { @class = "form-control mt-2" })
                                    @*@Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })*@
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="col-md-6  padding-bottom-15">
                                    <label class="control-label">Zip</label>
                                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                               
                            </div>
                        </div>

                        @*<div class="form-row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="control-label">Zip</label>
                    @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>*@

                        <div class="col-md-12">
                            <div class="row">
                                @Html.HiddenFor(model => model.Id)
                                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-secondary" href="#" onclick="$('#ContainerDiv').empty(); $('#userTable_wrapper').show();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    $(document).ready(function (e) {
        phoneFormat($('#MobilePhone'));
    })
</script>
