﻿@model EM.Web.Areas.Admin.Models.DashboardModel
@{
    /**/

    ViewBag.Title = "Client";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .redirectToDetails {
        cursor: pointer;
    }
</style>
<ol class="breadcrumb">
    <li href="/Admin/Dashboard">Dashboard</li>
    <li class="active">Clients</li>

</ol>
<div class="white-bg-cont">
    <table id="userTable" class="display" style="width:100%"></table>
    <div id="ContainerDiv"></div>
    <!-- Modal Popup Start Here -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <input type="hidden" id="clientId" />
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Client</h4>
                </div>
                <!--Body-->
                <div class="modal-body edt-pop">
                    <div class="row">
                        <div class="col-sm-12 input-field">

                            <label for="form2">Active/InActive</label>
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                listItems.Add(new SelectListItem
                                {
                                    Text = "Active",
                                    Value = "Active"
                                });
                                listItems.Add(new SelectListItem
                                {
                                    Text = "InActive",
                                    Value = "InActive",
                                    //Selected = true
                                });
                            }
                            @Html.DropDownList("IsActiveInActive", listItems, new { @class = "form-control", maxlength = "100" })
                        </div>

                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" id="activeInActiveModelClose">Close</button>
                    @*<input type="button" class="btn btn_default" onclick="SaveActive();" title="Save changes" />*@
                    <button type="button" class="btn btn_default" onclick="SaveActive($('#IsActiveInActive'));">Save changes</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
@section PageScript{
    <script>
    var StatusMessage = '@ViewBag.StatusMessage';
    if (StatusMessage != null && StatusMessage !="") {
        GenerateAlert(StatusMessage, "", "success");
        var uri = window.location.toString();
        if (uri.indexOf("?") > 0) {
            var clean_uri = uri.substring(0, uri.indexOf("?"));
            window.history.replaceState({}, document.title, clean_uri);
        }
    }
    </script>
    <script src="~/Content/CustomJs/Admin_Clients.js?v=05272019"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            preventEnterForSubmittingForm();
        });
    </script>


}
