﻿@model EM.Factory.ViewModels.SalesRepInfoViewModel
@using (Ajax.BeginForm("AddEditSalesRep", "SalesRep", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddBegin();", OnSuccess = "onAddSucess", OnFailure = "onAddFailure" }))
{

    @*Div to bind partial view html*@
    <div class="row">
        <div class="ml-2 col-md-12">
            <div class="app-title">
                <div>
                    @if (Model == null)
                    {
                        <h4><i class="fa fa-plus"></i>Add Sales Rep</h4>
                    }
                    else
                    {
                        <h4><i class="fa fa-edit"></i>Edit Sales Rep</h4>
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="col-md-6 padding-bottom-15">
                                @if (Model == null)
                                {
                                    <label class="control-label">Password</label>
                                }
                                else
                                {
                                    <label class="control-label">Change Password</label>

                                }
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "txtPswd", title = "Password should have min length 6 and contain 1 upper case, 1 lowercase, 1 digit and 1 special character" } })
                                <span id='pswdError' class='RequiredField'></span>
                            </div>
                            <div class="col-md-6 padding-bottom-15">
                                <label class="control-label">Verify Password</label>
                                @Html.Password("confirmPassword", "", new { @class = "form-control" })
                                <span id='confrimPswdError' class='RequiredField'></span>

                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="col-md-6 padding-bottom-15">
                                <label class="control-label">First Name *</label>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "txtFname" })
                                <span id='fnError' class='RequiredField'></span>
                            </div>
                            <div class="col-md-6 padding-bottom-15">
                                <label class="control-label">Last Name</label>
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="col-md-6 padding-bottom-15">
                                <label class="control-label">Mobile Number</label>
                                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-6 padding-bottom-15">
                                <label class="control-label">Email</label>
                                @if (Model == null)
                                {
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "txtEmail" } })

                                }
                                else
                                {
                                    <div class="form-control">
                                        @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.HiddenFor(model => model.Email)
                                    </div>

                                }
                                <span id='emailError' class='RequiredField'></span>
                            </div>
                        </div>
                    </div>
                    @if (Model != null)
                    {
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="col-md-6 padding-bottom-15">
                                    <label class="control-label">Active/InActive</label>
                                    @Html.DropDownListFor(model => model.IsActive, new SelectList(new List<Object> { new { value = true, text = "Active" }, new { value = false, text = "InActive" }, }, "value", "text", Model.IsActive), new { @class = "form-control" })
                                    <span id='emailError' class='RequiredField'></span>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="col-md-12">
                        <div class="row">
                            @Html.HiddenFor(model => model.Id)
                            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-secondary" href="#" onclick="cancelAdd()"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


}
<script type="text/javascript">
    $(document).ready(function (e) {
        phoneFormat($('#ContactNo'));
    })
</script>
