﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Admin/Dashboard">Dashboard</a></li>
    <li class="active">SalesRep</li>

</ol>

<div id="ContainerDiv" class="white-bg-cont"></div>
@section PageScript{
    <script type="text/javascript">
        var salesRepId = '@ViewBag.salesRepId';
        var curView = '@ViewBag.curView'
    </script>
    <script src="~/Content/CustomJs/Admin_SalesRep.js?v=04132020"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            preventEnterForSubmittingForm();
        });
    </script>
}

