﻿<div class="container-fluid">
    <table id="userTable" class="display" data-tablesaw-mode="swipe" data-minimap cellspacing="0" width="100%"></table>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="EditStatusModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit SalesRep</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body edit-pop">
                <input type="hidden" id="hdnSalesRepId" />
                <div class="row">
                    <div class="col-md-12 padding-bottom-15">
                        <label class="control-label">Active/InActive</label>
                        <select id="ddlStatus" class="form-control">
                            <option value="true">Active</option>
                            <option value="false">InActive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="changeAccountStatus()">Save Changes</button>
            </div>
        </div>
    </div>
</div>

