﻿@model EM.Factory.ViewModels.AccountDetailsViewModel
@{
    ViewBag.Title = "Account Details";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>


    }
    <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
    <li class="active">Account Details</li>

</ol>
<div class="white-bg-cont">
    @using (Html.BeginForm("AccountDetails", "Dashboard", FormMethod.Post))
    {
        <div class="app-title">
            <div class="row">
                <div class="col-md-6 sub_btn-wrap">
                    <h4>Account Details</h4>
                </div>
                <div class="col-md-3">
                    <a href="/UserUpload/SubscriberListSample.xlsx" style="cursor:pointer;">
                        <i class="fa fa-download"></i>
                        Download Excel Format For Contacts
                    </a>
                </div>
                <div class="col-md-3 sub_btn-wrap text-nowrap">
                    <div class="btn_wrapper">
                        <a class="btn btn-primary" id="ImportContacActive" data-toggle="modal"
                           data-target="#ImportView">Import</a>
                    </div>
                    <div class="btn_wrapper">
                        <a class="btn btn-primary" href="/SalesRep/Dashboard/ViewUserActivity/@Model.UserId ">View User Activity</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content card">
            <div class="row card-body">
                <!-- /.col -->
                <div class="col-md-5">
                    <div class="row">
                        <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;User Information</p>
                        <div class="col-md-12 card account-box even-box-bg-color">
                            @Html.HiddenFor(x => x.UserId)


                            <div class="row padding-bottom-15 mr-l-r-10">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Email:</label>
                                    @Html.TextBoxFor(x => x.Email, new { @id = "txtUser", @class = "form-control", @placeholder = "", @readonly = true })

                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">New Password:</label>
                                    @Html.PasswordFor(x => x.ChangePassword, new { @class = "form-control", @placeholder = "Change Password" })
                                    <span id="chError" class="RequiredField"></span>
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Verify New Password:</label>
                                    @Html.PasswordFor(x => x.VerifyPassword, new { @class = "form-control", @placeholder = "Verify Password" })
                                    <span id="vError" class="RequiredField"></span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 card account-box odd-box-bg-color">
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">First Name:</label>
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First Name" })

                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Last Name:</label>
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Industry</label>
                                    @Html.DropDownListFor(x => x.IndustryRefId, Model.IndustryList, "Select Industry", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Company Name:</label>
                                    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 card account-box even-box-bg-color">

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Street Address:</label>
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder = "Address" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">City:</label>
                                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", @placeholder = "City" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">State:</label>
                                    @Html.TextBox("txtState", null, new { @class = "form-control", @placeholder = "State", @style = "display: none;" })
                                    @Html.DropDownListFor(x => x.State, Model.StateList, new { @class = "form-control", @style = "display: none;" })
                                   
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Country</label>
                                    @Html.DropDownListFor(x => x.Country, Model.CountryList, "Select Country", new { @class = "form-control", onchange = "bindState(this.value)" })

                                   
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Zip:</label>
                                    @Html.TextBoxFor(x => x.Zip, new { @id = "txtZip", @class = "form-control", @placeholder = "Zip" })
                                    <span class="RequiredField" id="ZipError"></span>
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Phone Number:</label>
                                    @Html.TextBoxFor(x => x.MobileNumber, new { @id = "txtPhone", @class = "form-control", @placeholder = "Phone Number" })
                                </div>
                            </div>
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                </div>
                <div class="col-md-5" style="margin-left:50px;">
                    <div class="row">
                        <p class="mr-l-10"><img src="/Content/imagesHome/billing-icon.png"> &nbsp;Credit Card Information</p>
                        <div class="col-md-12 card account-box odd-box-bg-color">

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">CardHolder Name:</label>
                                    @Html.TextBoxFor(x => x.CardHolderName, new { @class = "form-control", @placeholder = "Name On Card" })

                                </div>
                            </div>
                            @if (Model.CardNumber != null)
                            {
                                <div class="row mr-l-r-10 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Card Number:</label>
                                        @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control ", @placeholder = "Card Number", @readonly = true })

                                    </div>
                                </div>

                                <div class="row mr-l-r-10 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Expiration Date:</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(x => x.ExpMonth, new { @id = "ExpMonth", @class = "form-control", @readonly = true })
                                                @*@Html.DropDownListFor(x => x.ExpMonth, Model.MonthList, "Select Month", new { @id = "ExpMonth", @class = "form-control", @readonly = true })*@
                                            </div>

                                            <div class="col-md-6">
                                                @Html.TextBoxFor(x => x.ExpYear, new { @id = "ExpYear", @class = "form-control", @readonly = true })
                                                @*@Html.DropDownListFor(x => x.ExpYear, Model.YearList, "Select Year", new { @id = "ExpYear", @class = "form-control", @readonly = true })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row mr-l-r-10 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Card Number:</label>
                                        @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control ", @placeholder = "Card Number" })
                                        <span id="CardError" class="RequiredField"></span>
                                    </div>
                                </div>

                                <div class="row mr-l-r-10 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Expiration Date:</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(x => x.ExpMonth, Model.MonthList, "Select Month", new { @id = "ExpMonth", @class = "form-control" })
                                            </div>

                                            <div class="col-md-6">
                                                @Html.DropDownListFor(x => x.ExpYear, Model.YearList, "Select Year", new { @id = "ExpYear", @class = "form-control" })
                                            </div>
                                        </div>
                                        <span id='ExpMonthError' class='RequiredField'></span>
                                        <span id='ExpYearError' class='RequiredField'></span>

                                    </div>
                                </div>
                            }

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Security Code:</label>
                                    @Html.PasswordFor(x => x.CVv, new { @class = "form-control", @placeholder = "CVV", maxlength = "3" })

                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 card account-box even-box-bg-color">
                            @*<p class="text-bold mr-top-10"><img src="/Content/imagesHome/billing-icon.png"> &nbsp;Credit Card Information Address</p>*@
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Billing Address</label>
                                    @Html.TextBoxFor(x => x.BillingAddress, new { @class = "form-control", @placeholder = "Billing Address" })

                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">City</label>
                                    @Html.TextBoxFor(x => x.BillingCity, new { @class = "form-control", @placeholder = "City" })

                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">State</label>
                                    @Html.TextBoxFor(x => x.BillingState, new { @class = "form-control", @placeholder = "State" })

                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Zip</label>
                                    @Html.TextBoxFor(x => x.BillingZip, new { @class = "form-control", @placeholder = "Zip" })
                                    <span class="RequiredField" id="Ziperror"></span>
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Phone Number</label>
                                    @Html.TextBoxFor(x => x.BillingPhone, new { @id = "txtBillingPhone", @class = "form-control", @placeholder = "Phone Number" })

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">

                        <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Update</button>
                        <a class="btn btn-secondary" href="/SalesRep/Dashboard"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>

                    </div>
                </div>
                <div class="col-md-1"></div>
                <!-- /.row -->
            </div>
        </div>
    }
    @{
        Html.RenderPartial("ImportSaleRepContact");
    }
   
        @Html.Partial("CreateList",Model.listmodel)
   
    
</div>



    @section PageScript
{
        <script type="text/javascript">
            var a = '@Model.Country';
            $(document).ready(function ()
            {
                bindwithCountry();

            var msg = '@ViewBag.msg';
            if (msg != '') {
                if (msg != "Error") {
                    GenerateAlert("", msg ,"success", redirectToDashboard);

                }
                else {
                    GenerateAlert("", msg, "info");

                }
            }
        });

        function redirectToDashboard() {
            window.location.href = "/SalesRep/Dashboard";
            }
             function bindwithCountry()
     {
            if (a == "United States" || a =="")
            {
                $("#txtState").hide();
                $("#txtState").attr('name', 'notState')
                $("#State").css("display", "block");

    }
    else {

                $("#txtState").css("display", "none");
                $("#txtState").css("display", "block");
              $("#txtState").attr('name', 'State')
               $("#txtState").val("@Model.State");
    }


            }
            ///toggle in state on Countery Change
            function bindState(CountryName) {
                if (CountryName != "United States") {
                    $("#State").hide();
                    $("#txtState").show();
                    $("#txtState").attr('name', 'State')
                }
                else {
                    $("#State").show();
                    $("#txtState").attr('name', 'notState')
                    $("#txtState").hide();
                }

            }

        </script>
        <script src="~/Content/CustomJs/ImportSalesRepContact.js?v=02042020"></script>
    }

