﻿@model EM.Web.Areas.SalesRep.Models.NoteViewModel

<style type="text/css">
    .preNotePane {
        clear: both;
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;
    }
    .pNdescription {
        clear: both;
        padding: 5px 0 0;
        font-size: 12px;
    }
    .PreNotwrap {
        max-height: 200px;
        overflow-y: auto;
        padding: 15px;
    }
</style>

<div class="modal" role="dialog" id="repNote">
    <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("AddNote", "Dashboard", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddNote();", OnSuccess = "onAddNoteSucess", OnFailure = "onAddNoteFailure" }))
            {

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <img src="~/Content/imagesHome/note-ic.png" style="width:20px;" alt="">
                        Notes
                    </h4>
                    
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.HiddenFor(m => m.newNote.NoteId)
                            @Html.HiddenFor(m => m.newNote.UserId)
                            <div class="form-row">
                                <label class="control-label">Description</label>
                                <a class="creat_new pull-right text-13" href="#!" onclick="Clear();">Clear</a>
                                @Html.TextAreaFor(m => m.newNote.NoteDescription, new { @id = "txtNotes", @class = "form-control", @rows = "5" })
                                @*<textarea type="text" id="" class="form-control" rows="3"></textarea>*@
                                <span id="noteError" class="RequiredField"></span>
                                &nbsp;
                            </div>
                            <div class="form-row">
                                <label class="control-label"><i class="fa fa-calendar-check-o"></i> Follow Up Date</label>
                                @Html.TextBoxFor(m => m.newNote.FollowUpDate, new { @id = "followDT", @class = "form-control" })
                                @*<input type="text" id="followDT" class="form-control" placeholder="Follow Up" />*@
                                <span id="followError" class="RequiredField"></span>
                                &nbsp;
                            </div>
                            <div class="form-row">
                                <label class="control-label">Follow Up Type</label>
                                @Html.DropDownListFor(x => x.newNote.NoteTypeId, new List<SelectListItem> {
                                                                    new SelectListItem { Text = "Call", Value = "1" },
                                                                    new SelectListItem { Text = "Text", Value = "2" },
                             new SelectListItem { Text = "Email", Value = "3" },
                             new SelectListItem { Text = "Others", Value = "4" }}, "Select", new { @id = "notetype", @class = "form-control" })

                                <span id="noteTypeError" class="RequiredField"></span>
                                &nbsp;
                            </div>

                            <div class="form-row">
                                <label class="control-label">Time Zone</label>
                                @Html.DropDownListFor(x => x.newNote.TimeZone, Model.TimeZoneList, "--Select--", new { @id = "timeZone", @class = "form-control" })
                                <span id="timeZoneError" class="RequiredField"></span>
                                &nbsp;
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" style="float: right;text-align: right;">
                            <button type="button" class="btn btn-warning" data-dismiss="modal" id="salesRepAddNoteModel">Close</button>
                            @if (Model.newNote.NoteId == 0)
                            {
                                <button type="submit" class="btn btn_default" id="btnNoteSubmit">Add</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn_default" id="btnNoteSubmit">Update</button>
                            }
                        </div>
                    </div>

                    <h4 class="prv-title margin-top-5">Previous Notes:</h4>
                    <div class="PreNotwrap text-14">
                        @if (Model.noteList != null && Model.noteList.Count() > 0)
                        {
                            foreach (var item in Model.noteList)
                            {
                                var data = Newtonsoft.Json.JsonConvert.SerializeObject(item);
                                var CreatedDate = item.CreatedDate == null ? DateTime.UtcNow : Convert.ToDateTime(item.CreatedDate);
                                var FormattedDate = string.Format("{0} {1}/{2}/{3}", CreatedDate.Date.ToString("dddd"), CreatedDate.Month, CreatedDate.Day, CreatedDate.Year);
                                <div class="row preNotePane">
                                    <div class="col-md-12 text-13">
                                        <div class="col-md-8">
                                            <span class="text-bold">
                                                @FormattedDate by @item.CreatedBy
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            <a onclick="editNote(@data)" href="#">Edit</a>
                                            |
                                            <a onclick="deleteNoteConfirmation(@item.NoteId)" href="#">Delete</a>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-10 pNdescription">
                                            <span class="text-13"> @item.NoteDescription</span>

                                        </div>

                                    </div>

                                </div>
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    No Record Found
                                </div>
                            </div>
                        }

                    </div>
                </div>
               
            }
        </div>
    </div>
</div>

