﻿@model EM.Web.Areas.SalesRep.Models.ClientDataViewModel
@{
    ViewBag.Title = "EditClientView";
}


<!--Edit Modal-->
@using (Ajax.BeginForm("UpdateClientData", "Dashboard", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onBegin();", OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="modal" tabindex="-1" role="dialog" id="editSalesRepModal">

        <div class="modal-dialog modal-dialog-centered  modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Client Details</h4>
                </div>
                <!--Body-->
                <div class="modal-body">
                    @Html.HiddenFor(m => m.ClientDetails.Id)
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Sales Rep</label>
                            @Html.DropDownListFor(x => x.ClientDetails.SalesRepId, Model.SalesRepList, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Member Type</label>
                            @Html.DropDownListFor(x => x.ClientDetails.PlanId, Model.PlanList, new { @Id = "ddlplanlist", @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Referral Code</label>
                            @Html.TextBoxFor(m => m.ReferralCode, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">No Of Subscribers</label>
                            @Html.DropDownListFor(m => m.ClientDetails.PackageId, Model.SubscriberList, new { @Id = "ddlSublist", @class = "form-control", onchange = "GetPackageDetails()" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Account Status</label>
                            @Html.DropDownListFor(m => m.ClientDetails.IsActive, new List<SelectListItem> {
                             new SelectListItem { Text = "Active", Value = "true" },
                             new SelectListItem { Text = "InActive", Value = "false" }, }, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Monthly Credits</label>
                            @Html.TextBoxFor(m => m.ClientDetails.MonthlyCredit, new { @class = "form-control" })
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Month Bill</label>
                            @Html.TextBoxFor(m => m.ClientDetails.BillingAmount, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Client Type</label>
                            @Html.DropDownListFor(x => x.ClientDetails.ClientType, Model.ClientTypeList, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Billing Status</label>
                            @Html.DropDownListFor(x => x.ClientDetails.BillingStatus, new List<SelectListItem> {
                                new SelectListItem { Text = "Active", Value = "1" },
                                new SelectListItem { Text = "InActive", Value = "-1" },}, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Next Bill</label>
                            @Html.TextBoxFor(m => m.ClientDetails.NextPackageUpdateDate, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Follow Up</label>
                            @Html.TextBoxFor(m => m.ClientDetails.FollowUpDate, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">CSV Upload</label>

                            @Html.DropDownListFor(m => m.ClientDetails.IsCSVActive, new List<SelectListItem> {
                                new SelectListItem { Text = "Active", Value = "True" },
                                new SelectListItem { Text = "InActive", Value = "False" },}, new { @class = "form-control" })

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Sample Message</label>

                            @Html.DropDownListFor(m => m.ClientDetails.CustomizableTemplates, new List<SelectListItem> {
                                new SelectListItem { Text = "On", Value = "True" },
                                new SelectListItem { Text = "Off", Value = "False" },}, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">Time Zone</label>
                            @Html.DropDownListFor(m => m.ClientDetails.TimeZoneID, Model.TimeZone, "Select", new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 input-field">
                            <label for="sm-2">IP Pool</label>
                            @Html.DropDownListFor(m => m.ClientDetails.IPPoolId, Model.IPPoolList, "Select", new { @class = "form-control" })
                        </div>
                        <div />
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn_default">Save changes</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    </div>

    <input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />
}
<script>
    $(document).ready(function () {
        preventEnterForSubmittingForm();
        var fDate = '@Model.ClientDetails.FollowUpDate';
        var packageDate = '@Model.ClientDetails.NextPackageUpdateDate';
        $('#ClientDetails_FollowUpDate').val(fDate);
        initSignalDatePicker($('#ClientDetails_FollowUpDate'));
        if (fDate == '') {
            $('#ClientDetails_FollowUpDate').val('');
        }
        $('#ClientDetails_NextPackageUpdateDate').val(packageDate);
        initSignalDatePickerWithTime($('#ClientDetails_NextPackageUpdateDate'));
        if (packageDate == '') {
            $('#ClientDetails_NextPackageUpdateDate').val('');
        }

    })
</script>
<script src="~/Content/CustomJs/SalesRepDashboard.js?v=03042020"></script>