﻿<div class="modal fade bs-example-modal-md" id="ImportView" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">


    <div class="modal-dialog modal-md" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="listmodalclose">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">Import Subscriber</h4>
            </div>
            <!--Body-->
            <div class="white-bg-cont">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="form-group box_group add_file" style="padding:10px;">
                        <div class="row col-lg-12 col-sm-12 col-xs-12 col-ms-12">
                            <div class=" motaltext col-lg-3 col-sm-3 col-xs-3 col-ms-3">
                                Select List<span style='color:red'>*</span>
                            </div>
                            <div class="col-lg-5 col-sm-5 col-xs-5 col-ms-5">
                                <select class="form-control mrg-3" data-val="true" data-val-number="The field GroupId must be a number." data-val-required="The GroupId field is required." id="ddllistName" name="ListId">Select</select>
                                <span id="lblFileContacts"></span>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4 col-ms-4">
                                <button type="submit" class="waves-effect waves-light btn btn_default" value="Submit" id="btnCreateList" style="margin:3px;" onclick="CreateList();"> Create a List</button>
                            </div>
                        </div>
                        <div class="row col-lg-12 col-sm-12 col-xs-12 col-ms-12">
                            <div class="motaltext col-lg-3 col-sm-3 col-xs-3 col-ms-3">

                                Add File<span style='color:red'>*</span>
                            </div>
                            <div class="col-lg-9 col-sm-9 col-xs-9 col-ms-9 padd0">
                                <div id="updUploadFile" class="updcontactFile">
                                    <input id="uploadContacts" class="form-control" name="uploadFile" type="file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                    <span id="lblmsg"></span>
                                    <span id="lblFileUpload"></span>

                                </div>

                            </div>
                        </div>


                        <div class="row col-lg-12 col-sm-12 col-xs-12 col-ms-12" style="margin-top:10px;">
                            <div class="col-lg-3 col-sm-3 col-xs-3 col-ms-3 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3 col-ms-offset-3">
                                <button id="btnImportContacts" type="submit" class="waves-effect waves-light btn btn_default" value="Upload">
                                    <i class="fa fa-upload"></i>
                                    Upload
                                </button>

                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4 col-ms-4">
                                <button type="submit" class="btn btn-warning waves-effect waves-light" value="Submit" id="btnNewImportLead" style="margin:3px;" onclick="ClearContactUploadFile();"> Reset</button>


                            </div>



                        </div>

                        <div class="row">
                            <div class="clearfix"></div>
                            <span class="dat_file_cont col-lg-9 col-sm-9 col-xs-9 col-ms-9 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3">(Please upload xls,xlsx,csv file)</span>
                            <span class="dat_file_cont col-lg-9 col-sm-9 col-xs-9 col-ms-9 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3">(Please upload upto @Constants.SubscriberLimit Records)</span>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                        @*<a href="/UserUpload/SubscriberListSample.xlsx" download="" title="Subscriber List Sample"><img src="/Content/imagesUser/file.png" width="30" height="30" class="pull-right" title="Click here to download the Subscriber List Sample!" style="cursor:pointer"></a>*@

                        @*Footer*@
                    </div>
        </div>
        <!--/.Content-->
    </div>
</div>
</div>
