﻿@model EM.Web.Areas.SalesRep.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}

<style>
    select {
        display: block;
    }
</style>
<ol class="breadcrumb">
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>


    }
    <li class="active">Dashboard</li>

</ol>
<div class="white-bg-cont">
    <!-- Mini chart Start here-->
    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="mini-charts-item">
                    <div class="chart-top-brd"></div>
                    <div class="chart-bot-brd"></div>
                    <div class="col-xs-12 text-xs-center clnt-header">
                        <i class="fa new-client" aria-hidden="true"><img src="~/Content/admin/images/new-client.png" alt="" /></i>
                        <h4 class="ci-title text-green">Today’s New Clients</h4>
                    </div>
                    <div class="col-xs-12 text-xs-center clnt-fooret">
                        <div class="col-xs-6 border-r pdn-5">@Model.todaysData.ClientBilling <span class="text-dark-green">Total Billing <img src="~/Content/admin/images/up-green-arrow.png" alt="" /></span></div>
                        <div class="col-xs-6 pdn-5">@Model.todaysData.TotalClient <span>Total Accounts</span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mini-charts-item bd">
                    <div class="chart-top-brd"></div>
                    <div class="chart-bot-brd"></div>
                    <div class="col-xs-12 text-xs-center clnt-header">
                        <i class="fa bill-due" aria-hidden="true"><img src="~/Content/admin/images/bill-due.png" alt="" /></i>
                        <h4 class="ci-title text-orange">Today’s Monthly Bill Due</h4>
                    </div>
                    <div class="col-xs-12 text-xs-center clnt-fooret">
                        <div class="col-xs-6 border-r pdn-5"> @Model.todaysData.BillDue <span class="text-dark-green">Total Billing <img src="~/Content/admin/images/up-green-arrow.png" alt="" /></span></div>
                        <div class="col-xs-6 pdn-5">@Model.todaysData.BillDeclined <span>Total Declined <img src="~/Content/admin/images/down-red-arrow.png" alt="" /></span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mini-charts-item sp">
                    <div class="chart-top-brd"></div>
                    <div class="chart-bot-brd"></div>
                    <div class="col-xs-12 text-xs-center clnt-header">
                        <i class="fa sms-purchas" aria-hidden="true"><img src="~/Content/admin/images/email-icon.png" alt="" /></i>
                        <h4 class="ci-title text-blue-dark">Today’s Plan Purchased</h4>
                    </div>
                    <div class="col-xs-12 text-xs-center clnt-fooret">
                        <div class="col-xs-6 border-r pdn-5">@Model.todaysData.PacakagePurchase <span class="text-dark-green">Total Billing <img src="~/Content/admin/images/up-green-arrow.png" alt="" /></span></div>
                        <div class="col-xs-6 pdn-5">@Model.todaysData.PackageDeclined <span>Total Declined <img src="~/Content/admin/images/down-red-arrow.png" alt="" /></span></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Mini chart Ends here-->
    <!-- Search-->
    <div class="row">
        <div class="col-lg-12 col-md-12 no-mrg-xs">
            <div class="search-row">

                <div class="col-md-12 col-lg-2 border-r l-h-65">
                    Total Clients: <span class="client-count">@Model.todaysData.AllClients</span>
                </div>
                <div class="col-md-12 col-lg-8 border-r">
                    <label class="label-heddin">Search By:</label>
                    <div class="col-lg-4 col-md-12 no-mrg-xs mrg-l-30">
                        <div class="input-field">
                            <select class="form-control" id="ddlsearchoption">
                                <option value="Name" selected>Name on account</option>
                                <option value="Email">Email address</option>
                                <option value="MobilePhone">Mobile number</option>
                                <option value="CardName">Name on card</option>
                                @*<option value="PlanName">Member Type</option>*@
                                <option value="PromotionCode">Promotion code</option>
                                <option value="City">City</option>
                                <option value="State">State</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 no-mrg-xs">
                        <div class="input-field">
                            <input type="text" id="txtsearch" class="form-control" onkeypress="getFilterDataonEnter(event)" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 no-mrg-xs">
                        <div class="input-field">
                            @Html.DropDownList("ddlClientType", Model.ClientTypeList, "All Client", new { @id = "ddlClientType", @class = "form-control" })
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn btn_default btn-search text-uppercase" id="btnSearch" onclick="getFilterData()">Search</a>
                </div>

                <div class="col-md-12 col-lg-2 border-r">
                    <label class="label-heddin">Member Type:</label>
                    <div class="col-lg-12 col-md-12 no-mrg-xs">
                        <div class="input-field">
                            @Html.DropDownList("ddlMemberType", Model.MemberTypeList, "Select", new { @id = "ddlMemberType", @class = "form-control", onchange = "getFilterData();" })
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- Search Results data table -->

    <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
        <table id="dashboardDataTable" class="display new_grid" style="width:100%"></table>
    </div>


</div>

<!--Note Modal-->
<div id="divNoteModal"></div>

<!--Edit client data Modal-->
<div id="divEditModal"></div>



<input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />

@section PageScript{

    <script type="text/javascript">

        var viewRepActivity = '@Model.repActivity';
        if (viewRepActivity == 'True') {
            $("#repActivityTab").show();
        }
        else {
            $("#repActivityTab").hide();

        }
        var isExport = @Newtonsoft.Json.JsonConvert.SerializeObject(Model.canExport);
        var dColumnsDef = [
            {
                "targets": [0],
                "visible": true,
                "searchable": false,
                "orderable": false,
                "className": 'text-center'
            },
            {
                "targets": [22],
                "visible": isExport,
                "searchable": false,
                "orderable": false,
                "className": 'text-center'
            }
        ];

    </script>
    <script src="~/Content/CustomJs/SalesRepDashboard.js?v=03042020"></script>



}