﻿
@model IEnumerable<EM.Factory.ViewModels.SubscriberViewModel>
@{
    ViewBag.Title = "Account Details";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}
<div class="white-bg-cont">

    <div class="app-title">
        <ol class="breadcrumb">
            @if (User.IsInRole("Admin"))
            {
                <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
                <li><a href="/Admin/SalesRep">Sales Rep</a></li>


            }
            <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
            <li class="active">Account Details</li>

        </ol>
    </div>

    <div class="row">



        <div class="col-md-12">

            <div class="tile">
                <div class="row margin-top-16">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 padding-top-6">
                        <div class="animated-checkbox margin-left-12">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-right">
                        <a class="mb-2 btn btn-outline-danger btn-width" href="/SalesRep/Dashboard/AccountDetails/@ViewBag.userId"> Cancel</a>
                        <a class="mb-2 btn btn-outline-success btn-width" href="javascript:void(0)" onclick="SaveImportSubscriberList('@ViewBag.ExcelFilePath',@ViewBag.ListId,'@ViewBag.userId')"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Confirm And Proceed </a>
                    </div>
                </div>
                <input type="hidden" id="ExcelFilePath" value="@ViewBag.ExcelFilePath" />
                <div class="table-responsive margin-top-16" id="">
                    <table class="table table-striped text-14">
                        <thead>
                            <tr>
                                <th class="nomargin text-18 text-bold">FirstName</th>
                                <th class="nomargin text-18 text-bold">LastName</th>
                                <th class="nomargin text-18 text-bold">Email</th>
                                <th class="nomargin text-18 text-bold">City</th>
                                <th class="nomargin text-18 text-bold">State</th>
                                <th class="nomargin text-18 text-bold">Country</th>
                                <th class="nomargin text-18 text-bold">Zip Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle text-14">@item.FirstName</td>
                                        <td class="align-middle text-14">@item.LastName</td>
                                        <td class="align-middle text-14">@item.Email</td>
                                        <td class="align-middle text-14">@item.City</td>
                                        <td class="align-middle text-14">@item.State</td>
                                        <td class="align-middle text-14">@item.Country</td>
                                        <td class="align-middle text-14">@item.ZipCode</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center">No Record Found</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

</div>
@section PageScript
{
    <script src="~/Content/CustomJs/ImportSalesRepContact.js?v=02042020"></script>
}