﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}

<style>
    select {
        display: block;
    }
</style>
<ol class="breadcrumb">
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>


    }
    <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
    <li class="active">Account Activity</li>

</ol>
<div class="white-bg-cont">
    <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
        <table id="UserActivityTable" class="display new_grid" style="width:100%"></table>
    </div>


</div>

@section PageScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            bindUserActivity('@ViewBag.Id');
        });
        </script>
        <script src="~/Content/CustomJs/SalesRepDashboard.js?v=03042020"></script>
}
