﻿
@{
    ViewBag.Title = "indec";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <!-- <li><a href="#">Dashboard</a></li> -->

    <li class="active"><a href="/Admin/Dashboard">Dashboard</a></li>
    <li class="">Sales Rep Activity</li>

</ol>
<div class="white-bg-cont">
    <!-- Search By Start here-->
    <div class="row">
        <div class="col-sm-12"><h4>Search By</h4></div>
        <div class="col-lg-12 col-md-12 no-mrg-xs">
            <div class="search-row">
                <form class="form-inline" role="form">
                    <div class="col-md-10 col-lg-10 border-r pb_14">
                        <div class="no-mrg-xs follow_lbl">
                            <label class="motaltext1">Date Range</label>
                        </div>
                        <div class="col-lg-2 col-md-12 no-mrg-xs date_wrap">

                            @Html.TextBox("Date Range", "", new { @id = "txtRepActivityDateRangeFrom", @class = "form-control inputtext", @placeholder = "Date Range" })


                        </div>
                        <div class="no-mrg-xs follow_lbl">
                            <label class="motaltext1">Through</label>
                        </div>
                        <div class="col-lg-2 col-md-12 no-mrg-xs date_wrap">
                            @Html.TextBox("Through", "", new { @id = "txtRepActivityDateRangeTo", @class = "form-control inputtext", @placeholder = "Through" })
                        </div>
                        <div class="no-mrg-xs follow_lbl">
                            <label class="motaltext1">Select Rep</label>
                        </div>
                        <div class="col-lg-2 col-md-12 no-mrg-xs">
                            <div class="input-field" style="margin-top:16px;">
                                <select id="ddlRepActivitySalesRep" class="form-control"></select>
                            </div>

                        </div>
                        <div class="pull-left btn_l-margin">

                            <a class="waves-effect waves-light btn btn_default btn-search text-uppercase pull-left" style="margin-right:10px;" id="btnRepActivity">Search</a>
                            <a class="waves-effect waves-light btn btn-warning btn-search text-uppercase pull-left" id="btnReset" onclick="ClearRepActivity();">Reset</a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 no-mrg-xs border-r" style="text-align:center;padding-top:10px">
                        <h6>Total Records<br><span class="client-count" id="DivRepActivityTotalRecords" style="font-weight:bold;"></span></h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Search By Ends here-->
    <!-- Search Results data table Ends here-->
    <div class="spend-result6 activity-result table-responsive">
        @*<a class="pull-right" onclick="ExportRepActivity();"><i class="fa fa-file-excel-o"></i> Export</a>*@
        <button id="export" class="pull-right" onclick="ExportRepActivity();" style="border:none;color:#009ac3;background:none;opacity:0.4" disabled><i class="fa fa-file-excel-o"></i> Export</button>
        <table id="tdRepActivity" class="display tablesaw" data-tablesaw-mode="swipe" data-minimap cellspacing="0" width="100%"></table>
    </div>
    <div id="ContainerDiv" class="white-bg-cont"></div>
    <div class="modal fade bs-example-modal-md" id="myModalComments" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" onclick="noteClosePopUp('MainDashBrd');">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><img src="" style="width:20px;" alt=""> Comments</h4>
                </div>
                <!--Body-->
                <div class="modal-body" style="padding-top:0px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="white-bg-cont modal-pad-top">
                                <!-- Add Notes Start here-->
                                <div class="row add-notes">
                                    <div class="">
                                        <div class="all-border">
                                            <div class="col-sm-12" id="notesSavePnl">
                                                <div style="height:22px;">
                                                    <span class="popUp_msg" id="popUpMessage"></span>
                                                </div>
                                                <div class="input-field clearfix" style="margin-top:0px;">
                                                    <label class="note_lbl">Add Comments</label>
                                                    <textarea type="text" id="txtAreaNotes" class="txFont_new form-control" rows="3" onkeyup="countChar(this)"></textarea>
                                                </div>
                                                <div class="clearfix col-lg-12 col-xs-12 no-mrg">

                                                    <div class="clearfix col-lg-2 col-xs-12 text-xs-right no-mrg">
                                                        <small><span id="charNum">500</span> char left</small>
                                                    </div>
                                                </div>
                                                <div class="clearfix col-lg-12 col-xs-12 text-xs-right no-mrg">
                                                    <a class="btn btn-warning btn-search text-uppercase" onclick="noteClosePopUp('MainDashBrd');">Close</a>
                                                    <a class="btn btn_default btn-search text-uppercase" id="btnSaveNote" onclick="SaveNUpdateComment('RepActivity')">Add</a>

                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <h4 class="prv-title">Previous Comments:</h4>

                                                <div class="row">
                                                    <div class="PreNotwrap" id="previousNoteList">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Notes Ends here-->
                            </div>
                        </div>
                    </div>
                </div>
                @*Footer*@

            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
@section PageScript{
    <script type="text/javascript">
        initSignalDatePickerWithTime($('#txtRepActivityDateRangeFrom'));
        initSignalDatePickerWithTime($('#txtRepActivityDateRangeTo'));

    </script>
    <script src="~/Content/CustomJs/AdminRepActivity.js?v=04082020"></script>
}
