﻿@model EM.Web.Areas.SalesRep.Models.LeadDataViewModel

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="ProviderModal">
    <div class="modal-dialog modal-sm" role="document">
        <!--Content-->
        @using (Ajax.BeginForm("AddEditProviders", "Leads", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddProvider();", OnSuccess = "onAddProviderSucess", OnFailure = "onAddProviderFailure" }))
        {
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Provider</h4>

                </div>
                <!--Body-->
                <div class="modal-body edt-pop">
                    <div class="row">
                        <div class="col-sm-12 input-field">
                            @Html.HiddenFor(m => m.providers.ProviderId)
                            <label for="form2">Provider Name</label>
                            @Html.TextBoxFor(m => m.providers.ProviderName, new { @class = "form-control", @placeholder = "Provider Name", @maxlength = "50", @style = " text-transform: uppercase;" })
                            <span class="RequiredField" id="lblProviderName"></span>
                        </div>

                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer text_center">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn_default">Save</button>
                </div>
            </div>
        }
        <!--/.Content-->
    </div>
</div>
