﻿@model EM.Web.Areas.SalesRep.Models.LeadDataViewModel
@{
    /**/

    ViewBag.Title = "Client";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<ol class="breadcrumb">
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>
    }
    <!-- <li><a href="#">Dashboard</a></li> -->
    <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
    <li class="active">Create New Lead</li>

</ol>
<div class="white-bg-cont">
    @using (Ajax.BeginForm("CreateNewLead", "Leads", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddLeadBegin();", OnSuccess = "onAddLeadSucess", OnFailure = "onAddLeadFailure" }))
    {
        <div class="app-title">

            <div>
                <h3><i class="fa fa-user-plus"></i> Create Lead</h3>
            </div>
        </div>

        <div class="content card center-block">
            <div class="row card-body">
                <!-- /.col -->
                <div class="col-md-5">
                    <div class="row">
                        <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;Personal Information</p>
                        <div class="col-md-12 card account-box even-box-bg-color">

                            <div class="row padding-bottom-15 mr-l-r-10">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">First Name</label>
                                    @Html.HiddenFor(m => m.salesPortal_Leads.LeadId)
                                    @Html.TextBoxFor(m => m.salesPortal_Leads.FirstName, new { @class = "form-control", @placeholder = "First Name", @maxlength = "50" })
                                    <span class="RequiredField" id="lblFirstName"></span>
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Last Name</label>
                                    @Html.TextBoxFor(m => m.salesPortal_Leads.LastName, new { @class = "form-control", @placeholder = "Last Name", @maxlength = "50" })
                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Job Title</label>
                                    @Html.TextBoxFor(m => m.salesPortal_Leads.JobTitle, new { @class = "form-control", @placeholder = "Job Title", @maxlength = "50" })
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Company</label>
                                    @Html.TextBoxFor(m => m.salesPortal_Leads.Company, new { @class = "form-control", @placeholder = "Company", @maxlength = "50" })
                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Industry</label>

                                    @Html.DropDownListFor(m => m.salesPortal_Leads.IndustryId, Model.IndustryList, "Select", new { @class = "form-control mrg-0" })

                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Mobile</label>
                                    @Html.TextBoxFor(m => m.salesPortal_Leads.MobileNo, new { @class = "form-control", @placeholder = "Mobile Number" })

                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Phone</label>
                                    @Html.TextBoxFor(m => m.salesPortal_Leads.PhoneNo, new { @class = "form-control", @placeholder = "Phone Number" })

                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Email</label>

                                    @Html.TextBoxFor(m => m.salesPortal_Leads.Email, new { @class = "form-control", @placeholder = "Email", @maxlength = "50" })
                                    <span class="RequiredField" id="lblEmail"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 account_tbl" style="margin-left:50px;">
                    <div class="row">
                        <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;Account Information</p>
                        <div class="col-md-12 card account-box even-box-bg-color">

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Website</label>

                                    @Html.TextBoxFor(m => m.salesPortal_Leads.Website, new { @class = "form-control", @placeholder = "Website", @maxlength = "100" })

                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Providers</label>
                                    <div class="clearfix"></div>
                                    @Html.DropDownListFor(m => m.SelectedProviders, Model.ProvidersList, new { @class = "form-control mrg-3", multiple = "multiple" })
                                    <input type="hidden" name="ProviderName" id="ProviderName" />
                                    <a data-toggle="modal" data-target="#ProviderModal" onclick="ProviderModalPopup()"><img src="~/Content/imagesHome/add_icon.png" style="height:24px;width:24px;" /> </a>


                                </div>

                            </div>
                            @*<div class="inner-addon left-addon">
                                @Html.ListBoxFor(m => m.ProvidersList, Model.ProvidersList, new {@class = "form-control", @Multiple = "Multiple", @style = "display:none" })
                                @*<a href="#!" data-toggle="modal" data-target="#ProviderModal" onclick="ClearProviderPopup();"><img src="~/Content/imagesHome/add_icon.png" style="height:24px;width:24px;" /> </a>*@




                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <img src="~/Content/imagesHome/linkedin.png" />
                                    <label class="control-label">LinkedIn</label>

                                    @Html.TextBoxFor(m => m.salesPortal_Leads.LinkedIn, new { @class = "form-control", @placeholder = "LinkedIn", @maxlength = "100" })
                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <img src="~/Content/imagesHome/twitter.png" />
                                    <label class="control-label">Twitter</label>

                                    @Html.TextBoxFor(m => m.salesPortal_Leads.Twitter, new { @class = "form-control", @placeholder = "Twitter", @maxlength = "100" })
                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <img src="~/Content/imagesHome/instagram.png" />
                                    <label class="control-label">Instagram</label>

                                    @Html.TextBoxFor(m => m.salesPortal_Leads.Instagram, new { @class = "form-control", @placeholder = "Instagram", @maxlength = "100" })
                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <img src="~/Content/imagesHome/facebook.png" />
                                    <label class="control-label">Facebook</label>

                                    @Html.TextBoxFor(m => m.salesPortal_Leads.Facebook, new { @class = "form-control", @placeholder = "Facebook", @maxlength = "100" })
                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">How Hot?</label>

                                    @Html.DropDownListFor(m => m.salesPortal_Leads.HotId, Model.LeadsQualityList, "Select", new { @class = "form-control mrg-3" })


                                </div>
                            </div>


                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Opportunity Amount</label>

                                    @Html.TextBoxFor(m => m.salesPortal_Leads.OpportunityAmount, new { @class = "form-control", @placeholder = "Opportunity Amount", @maxlength = "100" })
                                    <span class="RequiredField" id="lblOpportunityAmount"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div>
                    </div>
                </div>

                <div class="col-md-5" style="margin-left:550px ; padding:20px!important; ">
                    <div class="row">
                        <p class="mr-l-10"></p>

                        <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Create</button>
                        <a class="btn btn-secondary" href="~/SalesRep/Dashboard/Index"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>

                    </div>

                    <!-- /.col -->
                </div>

            </div>
        </div>

    }

</div>
@Html.Partial("AddProviders")

@section PageScript
    {
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Content/CustomJs/SalesRep_Lead.js?v=05272019"></script>
    <script type="text/javascript">
        $('#SelectedProviders').multiselect();

    </script>
}
