﻿@{

    ViewBag.Title = "Leads";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}
<style>
    .redirectToDetails {
        cursor: pointer;
    }
</style>

<ol class="breadcrumb">
    <!-- <li><a href="#">Dashboard</a></li> -->
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>

    }
    <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
    <li class="active">Create New Lead</li>

</ol>
<div class="white-bg-cont">

    <div id="ContainerDiv"></div>


</div>
@section PageScript{
<script type="text/javascript">
        $(document).ready(function () {

            preventEnterForSubmittingForm();
        });
</script>
    }
