﻿<div class="tile">
    <h3 class="mb-3 heading_count"><span class="count">2</span>Select List Option </h3>

    <div class="white-bg-cont">
        <div class="row">
            <div class="clearfix"></div>
            <div class="form-group w-100" style="padding:30px;">
                <div class="row col-lg-12 col-sm-12 col-xs-12 col-ms-12">

                    <span class="d-inline-block w-100 mb-2 d-flex align-items-center"><input type="radio" name="AttendeesSelect" value="radioCML" class="mr-1" onclick="CreateMasterList();">Create Master List </span>
                    <span class="d-inline-block w-100 mb-2 d-flex align-items-center"><input type="radio" name="AttendeesSelect" value="radioSL" class="mr-1" onclick="CreateSeparateList();">Create separate list for each event</span>

                </div>
                <div class="row" style="padding:30px; display:none" id="MasterList">
                    <div class="form-group w-100" style="padding:30px;">
                        <div class="row col-lg-12 col-sm-12 col-xs-12 col-ms-12">
                            <div class=" motaltext col-lg-4 col-sm-4 col-xs-4 col-ms-4 text-right pt-2">
                                List<span style='color:red'>*</span>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-6 col-ms-6">
                                <input type="text" class="form-control" placeholder="Enter List Name" id="txtListName" style="max-width:65%" />
                                <span id="txtError" class="RequiredField"></span>
                            </div>
                        </div>


                    </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <button type="submit" class="btn btn-info d-inline-block" id="SyncSecBtn" disabled="disabled" onclick="SyncProceedSingle();">
                                <i class="fa fa-assistive-listening-systems"></i>
                                Sync
                            </button>


                            <button type="submit" class="btn btn-warning waves-effect waves-light d-inline-block" onclick="ClearFields();">Cancel</button>
                    </div>
    </div>
</div>
    </div>
        </div>
    </div>

<div id="ShowMessage" class="popup_show align-items-center justify-content-center" style="visibility:hidden">
    <div class="white-bg-cont p-3">
        <div class="row" id="Container4">
            <div class="col-12 text-center">
                <div class="circle_loader" id="divLoaderPop"><div class="circle__item"><svg class="circle__spinner" viewBox="0 0 50 50">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle></svg></div></div>
                <span class="SuccessField d-inline-block w-50 text-center">
                    Our system is now adding your subscribers to your account! Depending upon whether
                    you are loading a few subscribers,or a lot of subscribers.It can take either a couple of minutes, or considerably longer.A pop-up will appear
                    when the upload has been completed.Please be patient.
                </span>
            </div>
        </div>
    </div>
</div>
