﻿<div class="modal fade bs-example-modal-md" id="CreateListPopUp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel1">Create List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalclose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="white-bg-cont">
                <div class="row">
                    <div class="clearfix"></div>
                    <div class="form-group w-100" style="padding:30px;">
                        <div class="row col-lg-12 col-sm-12 col-xs-12 col-ms-12">
                            <div class=" motaltext col-lg-4 col-sm-4 col-xs-4 col-ms-4 text-right pt-2">
                                List<span style='color:red'>*</span>
                            </div>
                            <div class="col-lg-8 col-sm-8 col-xs-8 col-ms-8">
                                <input type="text" class="form-control" placeholder="Enter List Name" id="txtListName" align="right" />
                                <span id="txtError" class="RequiredField"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center my-3">
                                <button type="submit" class="btn btn-info d-inline-block" onclick="AddList();">
                                    <i class="fa fa-assistive-listening-systems"></i>
                                    Proceed
                                </button>


                                <button type="submit" class="btn btn-warning waves-effect waves-light d-inline-block" onclick="ResetField();"> Reset</button>

                             
                            </div>
                        </div>
                    </div>


                </div>


                <div class="clearfix"></div>
            </div>
            <div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--/.Content-->
</div>



<div id="ShowMessage" class="popup_show align-items-center justify-content-center" style="visibility:hidden">
    <div class="white-bg-cont p-3">
        <div class="row" id="Container4">
            <div class="col-12 text-center">
                <div class="circle_loader" id="divLoaderPop"><div class="circle__item"><svg class="circle__spinner" viewBox="0 0 50 50">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle></svg></div></div>
                <span class="SuccessField d-inline-block w-50 text-center">
                    Our system is now adding your subscribers to your account! Depending upon whether
                    you are loading a few subscribers,or a lot of subscribers.It can take either a couple of minutes, or considerably longer.A pop-up will appear
                    when the upload has been completed.Please be patient.
                </span>
            </div>
        </div>
    </div>
</div>