﻿@model IEnumerable<EM.Factory.usp_getUserList_Result>

<div id="AttendesE" class="tile">
    <h3 class="mb-3 heading_count"><span class="count">2</span>Select which CE list</h3>
    <div class="margin-top-10 screen-height">
        <div class="row" align="right">
            <div class="col-12">
                <a class="mb-4 btn btn-outline-success btn-width float-right" href="javascript:void(0)" onclick="CreateList();"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create New</a>
            </div>

        </div>

        <table class="table table-bg">
            <thead>
                <tr>
                    @*<th scope="col"></th>*@
                    <th scope="col">List Name</th>
                    <th scope="col">Total Subscribers</th>
                    <th scope="col">Sync</th>
                </tr>
            </thead>
            <tbody class="content">

                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {

                        <tr>
                            @*<td style="width:5%;"><input type="checkbox" /></td>*@
                            <td style="width:40%;">
                                @item.ListName
                            </td>
                            <td style="width:40%;">
                                @item.TotalSubscriber
                            </td>
                            <td style="width:20%;">
                                <button class="btn btn-info" type="button" onclick="SyncSingleData('@item.ListId');"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> Sync</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center">No Record Found</td>
                    </tr>
                }

            </tbody>
        </table>



    </div>
    <div class="row">
        <div class="col-12 text-right">
            <button id="CancleBtn" class="btn btn-secondary" type="button" onclick="window.location.href='/User/EventbriteIntegration/GetEventBriteEventslist'"><i class="fa fa fa-fw fa-lg fa-times-circle" aria-hidden="true"></i>Cancel</button>
        </div>
    </div>
</div>


@{
    @Html.Partial("CreateList");
}

