﻿@model EM.Web.Areas.User.Models.EventViewModel

@{
    /**/
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<input type="hidden" name="Accesscode" id="Accesscode" value="@ViewBag.AccessCode" />
<style>
    table {
        margin-top: 30px;
    }

    tr, td {
        border: 0px solid #dee2e6;
    }

    .table td {
        padding: 15px 5px;
        border-top: 0px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
    }

    tr td:first-child {
        max-width: 65px;
        font-weight: 600;
    }

    .table-striped tbody tr:nth-of-type(odd), .table-hover tbody tr:hover {
        background-color: transparent;
    }

    .table tr:last-child td {
        border-bottom: 0px;
    }

    .choose-template {
        padding-bottom: 0px !important
    }

    .tile.report-box {
        margin-bottom: 0px !important
    }

    .app-content {
        min-height: calc(100vh - 70px);
        padding-bottom: 0px;
    }

    .hide-row {
        display: none;
    }

    .svg_auto {
        width: 27px;
    }
</style>
<section class="content white-bg-cont">
    <div class="choose-template PageNumberClass">
        <div class="app-title">
            <div>
                <h1><img src="~/Content/imagesUser/eventbrite_logo.png" class="img-border-gray svg_auto"> Eventbrite Data Syncing</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                @if (User.IsInRole("Admin"))
                {
                    <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else if (User.IsInRole("SalesRep"))
                {
                    <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else
                {
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                }
                <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/User/EventbriteIntegration/Index">Integrations</a></li>
            </ul>
        </div>
        <div class="row" id="divselectattendee" style="display:block">

            <div class="col-12">
                <div class="tile">
                    <h3 class="mb-3 heading_count"><span class="count">1</span>Select which attendees</h3>

                    <p class="mb-1"> <strong>You can either sync all the attendees across your events or pick only specific events to sync.</strong></p>

                    @if (Model != null)
                    {
                        <span class="d-inline-block w-100 mb-2 d-flex align-items-center"><input type="radio" name="Attendees" value="radio1" class="mr-1" onclick="SelectCEList();"> Attendees from all my events</span>
                        <span class="d-inline-block w-100 mb-2 d-flex align-items-center"><input type="radio" name="Attendees" value="radio2" class="mr-1" onclick="SelectedEventAttendees();"> Attendees from the selected event</span>
                    }
                    else
                    {
                        <span class="d-inline-block w-100 mb-2 d-flex align-items-center"><input type="radio" name="Attendees" value="radio1" class="mr-1" onclick="SelectCEList();" disabled="disabled"> Attendees from all my events</span>
                        <span class="d-inline-block w-100 mb-2 d-flex align-items-center"><input type="radio" name="Attendees" value="radio2" class="mr-1" onclick="SelectedEventAttendees();" disabled="disabled"> Attendees from the selected event</span>
                    }

                    <div class="margin-top-25 screen-height">
                        <table class="table table-bg">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Event Name</th>
                                    <th scope="col">Attendees</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model != null)
                                {
                                    foreach (var item in Model.events)
                                    {
                                        <tr>
                                            @if (item.capacity == 0)
                                            {
                                                <td style="width:5%;"><input type="checkbox" disabled="disabled" value="@item.id" attr="@item.name.text" /></td>
                                            }
                                            else
                                            {
                                                <td style="width:5%;"><input type="checkbox" class="eventCheck" value="@item.id" attr="@item.name.text" onclick="SyncBtnEnableDisable();" /></td>
                                            }
                                            <td style="width:40%;">@item.name.text</td>
                                            <td style="width:20%;">@item.capacity</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" class="text-center">No Events Found</td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <div class="col-12 text-right" id="btndiv">
                            <button id="SyncBtn" class="btn btn-info" type="button" onclick="Proceed()" disabled="disabled"><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>Proceed</button>
                            <button id="CancleBtn" class="btn btn-secondary" type="button" onclick="window.location.href='/User/EventbriteIntegration/Index'"><i class="fa fa fa-fw fa-lg fa-times-circle" aria-hidden="true"></i>Cancel</button>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="table-responsive margin-top-16" id="grideventList" style="display:none">
        </div>
        <div class="margin-top-16" id="createMasterSepList" style="display:none">
            @Html.Partial("CreateMasterList")
        </div>

    </div>
</section>





<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/CustomJs/EventBrite.js?04012020"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $("input[name=Attendees][value=radio2]").attr('checked', 'checked');
    });
</script>





