﻿@model EM.Web.Areas.User.Models.EventbrieUserInfoViewModel
@{
    /**/
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<style>
    #refreshCam {
        position: absolute;
        right: 20px;
    }

    .svg_auto {
        width: 125px;
    }
</style>
<section class="content white-bg-cont">
    <div class="choose-template PageNumberClass">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-arrows-alt" aria-hidden="true"></i> Integrations</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                @if (User.IsInRole("Admin"))
                {
                    <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else if (User.IsInRole("SalesRep"))
                {
                    <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

                }
                else
                {
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                }
                <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
                <li class="breadcrumb-item">Integrations</li>
            </ul>
        </div>
        <div class="row">

            <div class="col-12">
                <div class="tile">

                    <div class="row">&nbsp;</div>
                    <div class="template_block">
                        <div class="template_tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-layouts-tab" data-toggle="tab" href="#nav-layouts" role="tab" aria-controls="nav-layouts" aria-selected="true">Available Integrations</a>
                                </div>
                            </nav>
                        </div>
                        <div class="clearfix"></div>
                        <div id="ContainerDiv" class="template-content">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-layouts" role="tabpanel" aria-labelledby="nav-layouts-tab">
                                    @*<h3 class="tile-title mt-4">Featured</h3>*@
                                    <div class="clearfix"></div>
                                    <div class="row PageNumberClass">
                                        <div class="table-responsive margin-top-16" id="reportContent">
                                            <table class="table table-striped text-14">
                                                <tbody>

                                                    <tr onclick="redirectToAuth();" style="cursor:pointer;">
                                                        <td class="align-middle text-left" style="width:30%;">
                                                            <div>
                                                                <img src="~/Content/imagesUser/eventbrite.svg" class="img-border-gray svg_auto">
                                                            </div>
                                                        </td>
                                                        @*<td class="align-middle text-center " style="width: 50%;color:#0794cc;">
                                                                <span class="text-bold text-18">EventBrite</span>
                                                            </td>*@

                                                        <td class="align-middle text-center text-16" style="width: 5%;">
                                                            <div class="btn-group">
                                                                @if (Model == null)
                                                                {
                                                                    <button type="button" class="btn btn-info" onclick="redirectToAuth();">Integrate</button>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge badge-success text-12 padding-6"><i class="fa fa-check" aria-hidden="true"></i> Connected as @Model.name</span>
                                                                }
                                                               
                                                            </div>
                                                        </td>
                                                    </tr>



                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-themes" role="tabpanel" aria-labelledby="nav-themes-tab">...</div>
                                <div class="tab-pane fade" id="nav-templates" role="tabpanel" aria-labelledby="nav-templates-tab">...</div>
                                <div class="tab-pane fade" id="nav-campaigns" role="tabpanel" aria-labelledby="nav-campaigns-tab">...</div>
                                <div class="tab-pane fade" id="nav-code" role="tabpanel" aria-labelledby="nav-code-tab">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section CustomScript
{
    <script type="text/javascript">
        
        var clientId = '@System.Configuration.ConfigurationManager.AppSettings["EventBriteAPIkey"]';
        var orgId = '@ViewBag.OrgId';
        var accessCode = '@ViewBag.AccessToken';
        $(document).ready(function () {
            $('.app-menu li a').removeAttr('class').addClass("app-menu__item");
            $('#IntegrationMenu').removeAttr('class').addClass("app-menu__item active");
        })
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/CustomJs/EventBrite.js?04012020"></script>

}

