﻿@model EM.Web.Models.ContactUsViewModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="container-fluid header-signin">
    <h1>Schedule a Demo</h1>
</div>
<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">

                <div class="card fat">
                    @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
                    {
                        <div class="card-body">
                            <h4 class="card-title text-center text-20 text-bold">Schedule a Demo</h4>
                            <span class='SuccessField'>@ViewBag.Message</span>

                            <div class="form-group">
                                <label for="Name" class="text-16">Name</label>
                                @Html.TextBoxFor(model => model.Name, new { id = "txtCntName", type = "text", @class = "form-control" })
                                <span id='nError' class='RequiredField'></span>
                            </div>

                            <div class="form-group">
                                <label for="email" class="text-16">Email/Company Email</label>
                                @Html.TextBoxFor(model => model.Email, new { id = "txtCntEmail", type = "email", @class = "form-control" })
                                <span id='eError' class='RequiredField'></span>
                            </div>

                            <div class="form-group">
                                <label for="Phone" class="text-16">Phone Number in this Format 123-456-7890</label>
                                @Html.TextBoxFor(model => model.PhoneNumber, new { id = "txtPhn", type = "text", @class = "form-control" })
                                <span id='PhnError' class='RequiredField'></span>
                            </div>

                            <div class="form-group">
                                <label for="Comments" class="text-16">Comment</label>
                                @Html.TextAreaFor(model => model.Comment, new { id = "txtComm", type = "textarea", @class = "form-control" })
                                <span id='CmtError' class='RequiredField'></span>
                            </div>
                            <div class="form-group no-margin">
                                <input type="submit" class="btn btn-primary btn-block text-18" onclick="return ContAccValidation();" value="Submit" />

                                @*</div>*@
                                @*<br />*@

                                @*<div class="form-group no-margin">*@
                                <input type="button" class="btn btn-primary btn-block text-18" onclick="window.location.href='/Home/Index';" value="Cancel" />

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomScript
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>
    <script src="~/Content/CustomJs/Home.js?v=09022019"></script>
    <script src=" ~/Content/CustomJs/common.js?v=09022019"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("body").addClass("customer-login-page");
            phoneFormat($('#txtPhn'));
        });
    </script>
}


