﻿@model EM.Web.Models.GetAQuoteViewModel
@{
                /**/

                Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container-fluid header-signin">
    <h1>Get A Quote</h1>
</div>
<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">

                <div class="card fat">
                    @using (Html.BeginForm("GetAQuote", "Home", FormMethod.Post))
                    {
                        <div class="card-body">
                            <h4 class="card-title text-center text-20 text-bold">Get A Quote</h4>
                            <span class='RequiredField'>@ViewBag.Message</span>

                            <div class="form-group">
                                <label for="Name" class="text-16">Name</label>
                                <div class="icon-addon addon-lg">
                                    @Html.TextBoxFor(model => model.Name, new { id = "txtQuoteName", type = "text", @class = "form-control" })
                                    <span id='nError' class='RequiredField'></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="text-16">Email/Company Email</label>
                                <div class="icon-addon addon-lg">
                                    @Html.TextBoxFor(model => model.Email, new { id = "txtQuoteEmail", type = "email", @class = "form-control" })
                                    <span id='eError' class='RequiredField'></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Phone" class="text-16">Subject</label>
                                <div class="icon-addon addon-lg">
                                    @Html.TextBoxFor(model => model.Subject, new { id = "txtSub", type = "text", @class = "form-control" })
                                    <span id='SubError' class='RequiredField'></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Comments" class="text-16">Message</label>
                                <div class="icon-addon addon-lg">
                                    @Html.TextAreaFor(model => model.Message, new { id = "txtMsg", type = "text", @class = "form-control" })
                                    <span id='MsgError' class='RequiredField'></span>
                                </div>
                            </div>
                            <div class="form-group no-margin">
                                <input type="submit" class="btn btn-primary btn-block text-18" onclick="return QuoteValidation();" value="Send Now" />

                                <input type="button" class="btn btn-primary btn-block text-18" onclick="window.location.href='/Home/PricingPlan';" value="Cancel" />

                            </div>



                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomScript
{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src=" ~/Content/CustomJs/common.js?v=09022019"></script>
    <script src="~/Content/CustomJs/Home.js?v=09022019"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("body").addClass("customer-login-page");
        })

    </script>
}


