﻿@model EM.Web.Models.PacakagesViewModel
@{

    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="container-fluid pricing-page-bg">
    <input type="hidden" id="APIURL" value="@Constants.ApiURL" />
    <div class="container padding-top-70">
        <h1 class="text-center text-bold">Try Cheapest<span class="text-blue">eMail</span> Free for 30 Days</h1>
        <h4 class="text-center margin-bottom-30">And get all the tools you need to succeed.</h4>
        <div class="row">
            <div class="col-md-4" id="image">

                <img src="~/Content/imagesHome/price-tag.png" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h4 class="text-bold">What's included in your account:</h4>
                <ul class="check-list">
                    <li>Access to our email experts who are here 7 days a week to help you grow.</li>
                    <li>Easy-to-use tools to help you create emails, sign up forms and more to engage your subscribers.</li>
                    <li>Industry-leading deliverability to help make sure your emails make it to the inbox.</li>
                    <li>Simple email automation to get the right message to the right person at the right time.</li>
                </ul>
                <p class="margin-top-40"><a href="/Account/Register?Package=1&loc=US" class="btn btn-primary padding-15 padding-left-40 padding-right-40 text-uppercase text-bold">Get Started for Free</a></p>
            </div>
        </div>


        <div class="row">
            <div class="col-12 padding-top-40">
                <h3 class="text-center text-bold margin-top-30">Choose the right plan, at the right price.</h3>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8"><p class="text-center">Choose the plan that’s right for your business. Whether you’re just getting started with email marketing or well down the path to personalization, we’ve got you covered.</p></div>
            <div class="col-md-2"></div>
        </div>


        <div class="row">
            <div class="col-12 pricing-table margin-top-30 padding-25 padding-bottom-25">

                <div class="row currency-dropdown">
                    <div class="col-md-7 col-sm-3"></div>
                    <div class="col-md-3 col-sm-6 text-right pt-2">
                        Location
                    </div>
                    <div class="col-md-2 col-sm-3 pt-2">
                        <select name="currency" class="form-control" onchange="getPrice($(this))" id="ddlLoc">
                            <option value="US" selected="selected">US</option>
                            <option value="CA">Canada</option>
                        </select>
                    </div>
                </div>
                <hr class="mb-4">

                <div class="row">

                    @foreach (var plan in Model.planList)
                    {
                        var packages = Model.packagesList.Where(r => r.PlanId == plan.PlanId).OrderBy(r => r.NoOfSubscribersMax);
                        var src = "";
                        var boxClass = "pricing-box-gray";
                        var btnClass = "btn-primary";
                        var imgCheck = "~/Content/imagesHome/checkmark.png";
                        var imgCross = "~/Content/imagesHome/cross-icon.png";
                        if (plan.PlanId == 1)
                        {
                            src = "~/Content/imagesHome/free-plan.png";
                        }
                        else if (plan.PlanId == 2)
                        {
                            src = "~/Content/imagesHome/silver-plan.png";
                            boxClass = "pricing-box-blue";
                            btnClass = "btn-light";
                            imgCheck = "~/Content/imagesHome/checkmark-blue.png";
                            imgCross = "~/Content/imagesHome/cross-white.png";
                        }
                        else if (plan.PlanId == 3)
                        {
                            src = "~/Content/imagesHome/gold-plan.png";
                        }
                        else if (plan.PlanId == 4)
                        {
                            src = "~/Content/imagesHome/platinum-plan.png";
                        }
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="row m-0 p-0">
                                <div class="col-12 @boxClass p-0">
                                    <h2 class="text-center mt-4 mb-0">
                                        @plan.PlanName
                                    </h2>
                                    <p class="text-center">@plan.Descrption</p>
                                    <hr>
                                    <div class="row m-0">
                                        <div class="col-12 text-center">
                                            <img src="@Url.Content(src)">
                                        </div>
                                        <div class="col-12 pb-3 text-center">
                                            <span class="price-numeric">
                                                <sup>$</sup><span id="lblBillingamount_@plan.PlanId" class="usprice">@packages.First().BillingAmount</span><span id="lblBillingamountCanada_@plan.PlanId" style="display:none" class="canadaprice">@packages.First().BillingAmount_Canada</span><sub>/mo</sub>
                                            </span>
                                        </div>
                                        <div class="col-12 text-center price-bg">
                                            <select name="contacts" class="form-control contacts-dropdown" onchange="getDetails(this,@plan.PlanId)" id="ddlContacts_@plan.PlanId">
                                                @foreach (var package in packages)
                                                {
                                                    <option value="@package.Id" totalEmails="@package.NoOfCredits" billingAmount="@package.BillingAmount" billngAmountCanada="@package.BillingAmount_Canada">@package.NoOfSubscribersMax Subscribers</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12 text-left">
                                            <ul class="list-unstyled">
                                                <li>
                                                    @if (plan.ContactManagement.Value)
                                                    {
                                                        <img src="@Url.Content(imgCheck)">

                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(imgCross)">
                                                    }
                                                    &nbsp;Contact Management
                                                </li>
                                                <li>
                                                    @if (plan.UnlimitedEmails.Value)
                                                    {
                                                        <img src="@Url.Content(imgCheck)">
                                                        @: &nbsp; Unlimited Emails

                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(imgCheck)">
                                                        <span id="lblTotalEmails_@plan.PlanId">@packages.First().NoOfCredits</span>@: Emails
                                                    }
                                                </li>

                                                <li>
                                                    @if (plan.EmailScheduling.Value)
                                                    {
                                                        <img src="@Url.Content(imgCheck)">

                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(imgCross)">

                                                    }
                                                    &nbsp;Email Scheduling
                                                </li>
                                                <li>
                                                    @if (plan.CustomizableTemplates.Value)
                                                    {
                                                        <img src="@Url.Content(imgCheck)">

                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(imgCross)">
                                                    }

                                                    &nbsp;Customizable Templates
                                                </li>
                                                <li>
                                                    @if (plan.EducationalResources.Value)
                                                    {
                                                        <img src="@Url.Content(imgCheck)">

                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(imgCross)">
                                                    }
                                                    &nbsp;Educational Resources
                                                </li>
                                                <li>
                                                    @if (plan.LiveSupport.Value)
                                                    {
                                                        <img src="@Url.Content(imgCheck)">

                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content(imgCross)">
                                                    }
                                                    &nbsp;Live Support
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 text-center pb-4">
                                            <button class="btn @btnClass font-weight-bold" onclick="selectPlan($('#ddlContacts_@plan.PlanId'))">Sign Up!</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-0">
                                    <img src="~/Content/imagesHome/bottom-corner-gray.jpg" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <p class="text-center mt-5 pricing-box-text-bottom">Your Cheapest<span class="text-primary">eMail</span> subscription will be automatically renewed and billed to your payment method on file each month.<br>If you wish to cancel your subscription, you can do so online in your Cheapest<span class="text-primary">eMail</span> account or by contacting <a href="mailto:Support@CheapestEmail.com">Support@CheapestEmail.com</a>.</p>

            </div>
        </div>


        <div class="row padding-bottom-50">
            <div class="col-12">
                <h3 class="text-center margin-top-45 margin-bottom-40 text-bold">Frequently Asked Questions</h3>
            </div>
            <div class="col-md-6">
                <h5 class="text-bold nomargin text-18">Does the free trial limit my access to features?</h5>
                <p class="margin-bottom-30">Your free trial includes access to all features.</p>
                <h5 class="text-bold nomargin text-18">Can I change my plan later?</h5>
                <p class="margin-bottom-30">Of course! You can change your billing plan at any time in your Control Panel.</p>
                <h5 class="text-bold nomargin text-18">What payment methods do you offer?</h5>
                <p class="margin-bottom-30">We accept all major credit cards, PayPal, and (in select countries) direct debit. We also accept checks and money orders.</p>
                <h5 class="text-bold nomargin text-18">Am I locked into a contract?</h5>
                <p class="margin-bottom-30">There are no long-term contracts with our monthly plans.</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-bold nomargin text-18">Are there any setup fees?</h5>
                <p class="margin-bottom-30">There are no setup fees or hidden charges with any of our account plans. Order your first month for free and get instant access to your new campaign.</p>
                <h5 class="text-bold nomargin text-18">Do you have pricing for high volume senders?</h5>
                <p class="margin-bottom-30">Yes. If you want to send a list of more than 25,001 subscribers, please contact support and we will give best discounted price for a high volume plan for you.</p>
                <h5 class="text-bold nomargin text-18">Do you offer discount on any plan?</h5>
                <p class="margin-bottom-30">Yes. we are currently offering flat discount 25% on quarterly and 35% on yearly plan.</p>

            </div>
            <div class="col-md-12">
                <h5 class="text-bold nomargin text-18">What is your Refund Policy?</h5>
                <p class="margin-bottom-30">
                    Cheapest Email is a month-to-month, pay-as-you-go service that does not require any contracts. This means we do not provide refunds for services already used unless a system malfunction caused a problem or your account was terminated without cause.
                    <br /> <br />Your account will be billed every 30 days and you can cancel at any time. You won’t be charged again, but you are responsible for any charges already incurred. Simply email us at <a href="mailto:Support@CheapestEmail.com">Support@CheapestEmail.com</a> requesting to cancel your account with your registered email address on file.
                </p>
            </div>

        </div>

    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/CustomJs/Home.js?v=09022019"></script>
<!-- Facebook Pixel Code -->
<script type="text/javascript">
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1923706367643743');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=1923706367643743&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
