﻿@model List<EM.Factory.usp_geAllPlans_Result>
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var monthlyPlanList = Model.ToList().Where(r => r.TotalMonth == 1);
}
<div class="container-fluid pricing-page-bg">
    <input type="hidden" id="APIURL" value="@Constants.ApiURL" />
    <div class="container padding-top-70">
        <h1 class="text-center text-bold">Try Cheapest<span class="text-blue">eMail</span> Free for 30 Days</h1>
        <h4 class="text-center margin-bottom-30">And get all the tools you need to succeed.</h4>
        <div class="row">
            <div class="col-md-4">
                <img src="/Content/imagesHome/price-tag.png" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h4 class="text-bold">What's included in your account:</h4>
                <ul class="check-list">
                    <li>Access to our email experts who are here 7 days a week to help you grow.</li>
                    <li>Easy-to-use tools to help you create emails, sign up forms and more to engage your subscribers.</li>
                    <li>Industry-leading deliverability to help make sure your emails make it to the inbox.</li>
                    <li>Simple email automation to get the right message to the right person at the right time.</li>
                </ul>
                <p class="margin-top-40"><a href="/Account/Register?Package=16&loc=" class="btn btn-primary padding-15 padding-left-40 padding-right-40 text-uppercase text-bold">Get Started for Free</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 padding-top-40">
                <h3 class="text-center text-bold margin-top-30">Choose the right plan, at the right price.</h3>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8"><p class="text-center">Choose the plan that’s right for your business. Whether you’re just getting started with email marketing or well down the path to personalization, we’ve got you covered.</p></div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-12 pricing-table margin-top-30 padding-25 padding-bottom-45">
                <div class="table-responsive">
                    <table class="table table-striped text-16">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th class="text-bold text-center">Max Subscribers</th>
                                <th class="text-bold text-center">Contact Management</th>
                                <th class="text-bold text-center">Unlimited Emails</th>
                                <th class="text-bold text-center">Email Scheduling</th>
                                <th class="text-bold text-center">Customizable Templates</th>
                                <th class="text-bold text-center">Educational Resources</th>
                                <th class="text-bold text-center">Live Support</th>
                                @*<th class="text-bold text-center">Automation</th>
                                    <th class="text-bold text-center">Segmenting</th>
                                    <th class="text-bold text-center">Analytics</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var plan in monthlyPlanList)
                            {
                                var billingPackageList = Model.ToList().Where(r => r.PlanId == plan.PlanId).ToList();
                                <tr>
                                    <td class="text-center text-bold">
                                        @if (billingPackageList.Count() == 1 && billingPackageList.FirstOrDefault().BillingAmount == 0)
                                        {
                                            <button type="button" class="btn btn-primary form-control margin-top-10" onclick="selectPlan(@billingPackageList.FirstOrDefault().id)">Free</button>

                                        }
                                        else
                                        {
                                            <select class="form-control" onchange="selectPlan($(this))">
                                                @foreach (var package in billingPackageList)
                                                {
                                                    <option value="@package.id">

                                                            $@package.BillingAmount / @package.TotalMonth month
                                                    </option>
                                                }
                                            </select>
                                        }
                                    </td>
                                    <td class="text-center">@plan.NoOfSubscribersMax</td>
                                    <td class="text-center">
                                        @if (plan.ContactManagement != null && plan.ContactManagement.Value == true)
                                        {
                                            <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                        }
                                        else
                                        {
                                            <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (plan.UnlimitedEmails != null && plan.UnlimitedEmails.Value == true)
                                        {
                                            <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                        }
                                        else
                                        {
                                            <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                        }
                                    </td>

                                    <td class="text-center">
                                        @if (plan.EmailScheduling != null && plan.EmailScheduling.Value == true)
                                        {
                                            <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                        }
                                        else
                                        {
                                            <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (plan.CustomizableTemplates != null && plan.CustomizableTemplates.Value == true)
                                        {
                                            <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                        }
                                        else
                                        {
                                            <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (plan.EducationalResources != null && plan.EducationalResources.Value == true)
                                        {
                                            <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                        }
                                        else
                                        {
                                            <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (plan.LiveSupport != null && plan.LiveSupport.Value == true)
                                        {
                                            <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                        }
                                        else
                                        {
                                            <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                        }
                                    </td>
                                    @*<td class="text-center">
                                            @if (plan.Automation != null && plan.Automation.Value == true)
                                            {
                                                <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                            }
                                            else
                                            {
                                                <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (plan.Segmenting != null && plan.Segmenting.Value == true)
                                            {
                                                <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                            }
                                            else
                                            {
                                                <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (plan.Analytics != null && plan.Analytics.Value == true)
                                            {
                                                <img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid">
                                            }
                                            else
                                            {
                                                <img src="~/Content/imagesHome/cross-mark-red.png" class="img-fluid">

                                            }
                                        </td>*@

                                </tr>
                            }
                            <tr>
                                <td><a href="/Home/GetAQuote" class="btn btn-outline-primary text-16">Get a Quote</a></td>
                                <td class="text-center">25,001+</td>
                                <td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>
                                <td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>
                                <td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>
                                <td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>
                                <td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>
                                <td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>
                                @*<td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>
                                    <td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>
                                    <td class="text-center"><img src="~/Content/imagesHome/check-mark-green.png" class="img-fluid"></td>*@

                            </tr>
                            @*<tr>
                                    <td>&nbsp;</td>
                                    <td class="text-center">
                                        <select class="form-control">
                                            <option value="">$15 / 1 month</option>
                                            <option value="">$11 / 3 months</option>
                                            <option value="">$10 / 6 months</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control">
                                            <option value="">$15 / 1 month</option>
                                            <option value="">$11 / 3 months</option>
                                            <option value="">$10 / 6 months</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control">
                                            <option value="">$15 / 1 month</option>
                                            <option value="">$11 / 3 months</option>
                                            <option value="">$10 / 6 months</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control">
                                            <option value="">$15 / 1 month</option>
                                            <option value="">$11 / 3 months</option>
                                            <option value="">$10 / 6 months</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control">
                                            <option value="">$15 / 1 month</option>
                                            <option value="">$11 / 3 months</option>
                                            <option value="">$10 / 6 months</option>
                                        </select>
                                    </td>
                                    <td class="text-center"><a href="#" class="btn btn-outline-primary padding-left-20 padding-right-20">Get a Quote</a></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary form-control">Select Plan</button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary form-control">Select Plan</button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary form-control">Select Plan</button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary form-control">Select Plan</button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary form-control">Select Plan</button>
                                    </td>
                                    <td class="text-center">&nbsp;</td>
                                </tr>*@
                        </tbody>
                    </table>

                </div>

                <h5 class="text-bold text-center margin-top-15 margin-bottom-0">Quarterly and Annual billing options also available.</h5>
                <p class="text-center nomargin">You can select monthly, quarterly or annually billing options from the dropdown.</p>

            </div>
        </div>

        <div class="row padding-bottom-50">
            <div class="col-12">
                <h3 class="text-center margin-top-45 margin-bottom-40 text-bold">Frequently Asked Questions</h3>
            </div>
            <div class="col-md-6">
                <h5 class="text-bold nomargin text-18">Does the free trial limit my access to features?</h5>
                <p class="margin-bottom-30">Your free trial includes access to all features.</p>
                <h5 class="text-bold nomargin text-18">Can I change my plan later?</h5>
                <p class="margin-bottom-30">Of course! You can change your billing plan at any time in your Control Panel.</p>
                <h5 class="text-bold nomargin text-18">What payment methods do you offer?</h5>
                <p class="margin-bottom-30">We accept all major credit cards, PayPal, and (in select countries) direct debit. We also accept checks and money orders.</p>
                <h5 class="text-bold nomargin text-18">Am I locked into a contract?</h5>
                <p class="margin-bottom-30">There are no long-term contracts with our monthly plans.</p>
            </div>
            <div class="col-md-6">
                <h5 class="text-bold nomargin text-18">Are there any setup fees?</h5>
                <p class="margin-bottom-30">There are no setup fees or hidden charges with any of our account plans. Order your first month for free and get instant access to your new campaign.</p>
                <h5 class="text-bold nomargin text-18">Do you have pricing for high volume senders?</h5>
                <p class="margin-bottom-30">Yes. If you want to send a list of more than 25,001 subscribers, plesae contact support and we will give best discounted price for a high volume plan for you.</p>
                <h5 class="text-bold nomargin text-18">Do you offer discount on any plan?</h5>
                <p class="margin-bottom-30">Yes. we are currently offering flat discount 25% on quarerly and 35% on yearly plan.</p>
            </div>

        </div>

    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="~/Content/CustomJs/Home.js"></script>
