﻿
@{
    ViewBag.Title = "Unsubscribe";
}

<div class="container-fluid padding-top-30 padding-bottom-50">
    <div class="container padding-top-30 padding-bottom-30">
        <p>Your email is successfully unsubscribed!</p>
    </div>
</div>

