﻿@{
    /**/

    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <input type="hidden" value="@ViewBag.ListId" id="ListId"/>
    <div id="ContainerDiv">

    </div>
</section>
@section CustomScript
{
    <script src="~/Content/CustomJs/fields.js?v=05272019"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var Page = '@ViewBag.Page';
            if (Page != null && Page != "") {
                LoadUserListHTML(Page);
            } else {
                LoadHTMLWithId("User", "Setting", "ViewFields",@ViewBag.ListId);
            }
        });
    </script>
}