﻿<ul class="nav nav-tabs font-weight-bold">
    <li class="nav-item">
        <a class="nav-link" href="#" id="fieldMenu">Fields</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle disabled disbaledLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Other</a>
        <div class="dropdown-menu">
            <a id="hdn" class="dropdown-item" href="#">Overview</a>
        </div>
    </li>
    
</ul>


