﻿
@model IEnumerable<EM.Factory.ViewModels.FieldsViewModel>

<div class="app-title">
    <div>
        <h1><i class="app-menu__icon fa fa-user-plus"></i> Field Details</h1>
        @*<p>Add new subscriber in this.</p>*@
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item">Field List</li>
    </ul>
</div>

<div class="row PageNumberClass">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="tile">
            @Html.Partial("SettingMenu")
            <div class="row margin-top-25">
                @*<div class="col-12 col-sm-12 col-md-12 col-lg-2 padding-top-6">
                   
                </div>*@
                <div class="col-12 col-sm-12 col-md-12 col-lg-5 pb-3">
                    @if (Model != null && Model.Count() > 0)
                    {
                        var fieldsItemFalse = Model.Where(x => x.IsActivated == false).ToList();
                        <select class="form-control"  id="actionSettingFields">
                            <option value="0">Select Fields</option>
                            @foreach (var item in fieldsItemFalse)
                            {
                                <option value="@item.Id">@item.FieldName</option>
                            }
                        </select>
                    }
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                    <button class="btn btn-success" onclick='FieldAction($("#actionSettingFields").find("option:selected"),"Activate");'>Add in the List</button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-right">
                  
                </div>
            </div>
            <input type="hidden" value="@ViewBag.ListId" id="ListId" />


              
                <div class="table-responsive margin-top-16" id="gridSubscriberList">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Field Name</th>
                                @*<th scope="col">Status</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                var fieldsItemTrue = Model.Where(x => x.IsActivated == true).ToList();
                                var counter = 0;
                                foreach (var item in fieldsItemTrue)
                                {
                                    counter = counter + 1;
                            <tr>
                                <td>@counter</td>

                                <td>@item.FieldName</td>
                                @*<td>@item.IsActivated</td>*@
                                <td>

                                    <button onclick='FieldAction(@item.Id,"Remove")' class="btn btn-danger">Remove</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" class="text-center">No Record Found</td>
                        </tr>
                    }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="col-md-1"></div>
</div>
<script>
    $(function () {
        $("#fieldMenu").addClass("active")
    });
</script>

