﻿@model EM.Factory.ViewModels.SubscriberViewModel
@{
    EM.Web.Areas.User.Models.SubscriberMenuViewmodel menuModel = new EM.Web.Areas.User.Models.SubscriberMenuViewmodel();
    if (ViewBag.ListId != null && ViewBag.ListId > 0)
    {
        menuModel.ListId = ViewBag.ListId;
        menuModel.ListName = ViewBag.ListName;
    }
}
<style>
    .animated-checkbox input[type="checkbox"] {
        display: block;
    }
</style>
<div class="app-title">
    <div>

        @if (Model != null && Model.SubscriberId != 0)
        {

            <h1><i class="app-menu__icon fa fa-edit"></i>Edit Subscriber</h1>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <h1>
                <i class="app-menu__icon fa fa-user-plus"></i>Add Subscriber
            </h1>
        }

        <p>Add new subscribers in <span style="font-weight:bold"> @ViewBag.ListName</span></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard/Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick='LoadHTML("User", "List","UserList")'>My Lists</a></li>
        @if (Model != null && Model.SubscriberId != 0)
        {
            <li class="breadcrumb-item"> Edit Subscriber</li>

        }
        else
        {
            <li class="breadcrumb-item"> Add Subscriber</li>
        }
    </ul>
</div>

<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="tile">
            @Html.Partial("SubscriberMenu", menuModel)

            <!-- Add subscriber form starts -->
            <div class="row mt-4 mb-4">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    @if (Model != null && Model.SubscriberId != 0)
                    {
                        <h3 class="tile-title mt-2">Edit Subscriber</h3>
                    }
                    else
                    {
                        <h3 class="tile-title mt-2">Add Subscriber</h3>

                    }
                    @if (Session["UserAuthorizationInfo"] != null)
                    {
                        var authorization = Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result;
                        if (authorization.TotalSubscriberCreated < authorization.MaxSubscriber)
                        {
                            <div class="alert alert-warning" role="alert">
                                Want to subscribe more than one person at a time? <a href="javascript:void(0)" onclick="LoadHTMLWithId('User', 'Subscriber', 'ImportSubscriberList','@Model.ListId','&Listname=@ViewBag.ListName');" class="dottedlink">Import from file</a>
                            </div>
                        }
                    }

                    @using (Ajax.BeginForm("AddEditSubscriber", "Subscriber", new { area = "User" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddSubscriberBegin();", OnSuccess = "onAddSubscriberSucess", OnFailure = "onAddSubscriberFailure" }))
                    {
                        @*@Html.HiddenFor(x => x.SubscriberId)*@
                        <input type="hidden" value="@Model.SubscriberId" name="SubscriberId" id="SubscriberId" />
                        @Html.HiddenFor(x => x.ListId)

                        <div class="form-row">
                            <div class="col-md-6 padding-bottom-15">
                                <label class="control-label">Email Address <span class="RequiredField">*</span></label>
                                @if (Model.Email == null)
                                {
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "text", @placeholder = "" })
                                    <span id='EmailError' class='RequiredField'></span>
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "text", @placeholder = "", @readonly = true })

                                }
                                @*<input class="form-control" name="email" id="email" type="email" placeholder="">*@
                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                <label class="control-label">First Name</label>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @type = "text", @placeholder = "" })
                                @*<span id='FirstNameError' class='RequiredField'></span>*@
                                @*<input class="form-control" name="firstname" id="firstname" type="text" placeholder="">*@

                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                <label class="control-label">Last Name</label>
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @type = "text", @placeholder = "" })
                                @*<span id='LastNameError' class='RequiredField'></span>*@
                                @*<input class="form-control" name="lastname" id="lastname" type="text" placeholder="">*@
                            </div>

                            <div class="col-md-6 padding-bottom-15">
							 <label class="control-label">Phone Number</label>
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @type = "text", @placeholder = "" })
                                @*<span id='PhoneNumberError' class='RequiredField'></span>*@
                             
                            </div>

                        </div>

                        <label class="control-label">Address</label>

                        <div class="form-row">
                            <div class="col-md-6 padding-bottom-15">
                                @Html.TextAreaFor(model => model.Address1, new { @class = "form-control mt-2", @type = "text", @placeholder = "Street Address" })
                                @*<span id='Address1Error' class='RequiredField'></span>*@
                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                @Html.TextAreaFor(model => model.Address2, new { @class = "form-control mt-2", @type = "text", @placeholder = "Address Line 2" })
                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control mt-2", @type = "text", @placeholder = "City" })
                                @*<span id='CityError' class='RequiredField'></span>*@
                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                @Html.TextBox("txtState", null, new { @class = "form-control mt-2", @placeholder = "State/Prov/Region"})
                                @Html.DropDownListFor(model => model.State, TempData["States"] as SelectList, new { @class = "form-control mt-2"})
                                @*<span id='StateError' class='RequiredField'></span>*@
                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control mt-2", @type = "text", @placeholder = "Postal/Zip" })
                                @*<span id='ZipCodeError' class='RequiredField'></span>*@
                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                @Html.DropDownListFor(model => model.Country, TempData["Country"] as SelectList, new { @class = "form-control mt-2", onchange = "bindState(this.value)" })
                                @*<span id='CountryError' class='RequiredField'></span>*@
                            </div>

                            <div class="col-md-6 padding-bottom-15">
                                  <label class="control-label">Birthday</label>
                                @Html.TextBoxFor(x => x.DOB, new { @placeholder = "DOB", @class = "form-control" })
                                @*<span id='DOBError' class='RequiredField'></span>*@
                            </div>

                        </div>
                         <div class="tile-footer">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>&nbsp;&nbsp;&nbsp;
                                 <a class="btn btn-secondary" href="javascript:void(0)" onclick='LoadSubscriberHTML("User","Subscriber","ViewSubscriber",@Model.ListId,"","Parting")'><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                         </div>

                        
                    }
                </div>
                <div class="col-md-1"></div>
            </div>

            <!-- Subscriber form ends -->


        </div>
    </div>
    <div class="col-md-1"></div>

</div>
<script>
   var a = "@Model.Country";
    $(document).ready(function (e) {
        BindCountry();
        var dob = '@Model.DOB';
        $('#DOB').val(dob);
        initSignalDatePickerWithTime($('#DOB'));
        if (dob == '') {
            $('#DOB').val('');
        }
        $("#addSubscriberMenu").addClass("active").next("div").find("a").removeClass("active");
        $("#lnkAddSubscriber").addClass("active");

        $('#PhoneNumber').usPhoneFormat({
            format: '(xxx) xxx-xxxx',
        });
        var SubscriberId = '@Model.SubscriberId';
        if (SubscriberId == 0) {
            $("#Country").val("United States");
        }
         
        function BindCountry() {
           if (a == "United States" || a == "")
            {
                $("#txtState").hide();
               $("#txtState").attr('name', 'notState')
            }
            else {
                $("#State").hide();
                $("#txtState").show();
                $("#txtState").attr('name', 'State')
                $("#txtState").val("@Model.State");
            }
        }
    })
</script>