﻿@model IEnumerable<EM.Factory.usp_getDeletedSubscriberList_Result>
@{
    var TotalRecrod = 0;
    if (Model != null && Model.Count() > 0)
    {
        TotalRecrod = @Model.Count();
    }
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Email Address</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address & Contact</th>
            <th scope="col">Date Created</th>

            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var address = item.Address1 != null && item.Address1.Trim() != "" ? item.Address1.Trim() + "," : string.Empty;
                address += item.City != null && item.City.Trim() != "" ? " " + item.City.Trim() + "," : string.Empty;
                address += item.State != null && item.State.Trim() != "" ? " " + item.State.Trim() : string.Empty;
                address += item.Country != null && item.Country.Trim() != "" ? "<br/>" + item.Country : string.Empty;
                address += item.ZipCode != null && item.ZipCode.Trim() != "" ? ", " + item.ZipCode : string.Empty;
                address += item.PhoneNumber != null && item.PhoneNumber.Trim() != "" ? "<br/>" + item.PhoneNumber : string.Empty;
                var EditEvent = string.Format("onclick=RecoverDeleteSubscriber({0})",item.SubscriberId);
                string _dateCreated = item.CreatedDate != null ? item.CreatedDate.Value.ToString("dd-MMM-yy") : "";
        <tr>
            <td scope="row">
                <div class="animated-checkbox">
                    <label><input type="checkbox" value="@item.SubscriberId" class="SelectedCheckBox" onchange="selectchk()"><span class="label-text"></span></label>
                </div>
            </td>
            <td>@item.Email</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>

            <td>
                @Html.Raw(address)
            </td>


            <td><span id="sentDate_@item.SubscriberId">@_dateCreated</span></td>

            <td>
                <a class="btn btn-info" href="#!" onclick="@EditEvent"><i class="fa fa-edit"></i>Recover</a>
            </td>
        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" class="text-center">No Record Found</td>
            </tr>
        }


    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#viewSubscriberMenu").addClass("active");
        SubscriberPage($("#PageControl"),@ViewBag.PageNumber,'@ViewBag.TotalRecord')
    });

</script>
