﻿@*<link href="/Content/admin/css/mdb.min.css" rel="stylesheet">*@
<div class="app-title">
    <div>
        <h1><i class="app-menu__icon fa fa-user-plus"></i>Import Subscribers</h1>
        @*<p>Import from file</p>*@
        <p>Add Subscribers in <span style="font-weight:bold"> @ViewBag.ListName</span></p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard/Index">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/User/List">My Lists</a></li>
        <li class="breadcrumb-item"><a href="/User/Subscriber/Index/@ViewBag.ListId?name=@ViewBag.ListName&method=ViewSubscriber">Subscribers</a></li>
        <li class="breadcrumb-item">Import Subscriber</li>
    </ul>
</div>


<div class="content">
    <div class="mx-auto col-md-7  card-body card account-box">
        <div class="mx-auto col-md-9 text-15">
            <div class="row form-group">
                <div class="col-md-12" style="text-align:center">
                    <h3>Import From File</h3>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    You can import a list of prospects with your own custom fields.To be valid, your list must contain an email column.You can upload an excel in different formats like xlsx,csv,xls.
                </div>
            </div>
            @*<div class="row form-group">
                    <div class="col-md-3 text-bold">
                        ListName
                    </div>
                    <div class="col-md-9">
                        @Html.Label("listName", (string)ViewBag.ListName,new {id="lblListName" })
                    </div>
                </div>*@
            <div class="row form-group">
                @*<div class="col-md-3">
                        @Html.Label("Add File", new { @class = "text-14" })
                        <span style='color:red'>*</span>
                    </div>*@
                <div class="col-md-9">
                    <div id="updUploadFile" class="updcontactFile">
                        <input type="file" name="SubscriberSheet" class="form-control" id="SubscriberSheet" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style=" border:none;" />
                        <input type="hidden" value="@ViewBag.ListId" id="ListId" />

                        @*<img src="~/Content/imagesUser/ExcelUpload.png" title="Click here to Import the Subscriber List!" width="100" height="100" onclick="$('#SubscriberSheet').click();" style="cursor:pointer" />*@

                    </div>

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-8 mx-auto">
                    <input type="hidden" value="@ViewBag.ListId" id="ListId" />
                    <button class="btn btn-primary" onclick="ImportSubscriberList()"><i class="fa fa-fw fa-lg fa-check"></i>Upload</button>
                    <a class="btn btn-outline-danger" href="javascript:void(0)" onclick='LoadSubscriberHTML("User","Subscriber","ViewSubscriber",@ViewBag.ListId,null,"@ViewBag.ListName")'><i class="fa fa-fw fa-lg fa-close"></i>Cancel</a>
                </div>
            </div>


        </div>
        <div class="row form-group">
            <div class="col-md-12 mx-auto text-right">
                <a href="@Constants.SubscriberListSampleURL" download title="Subscriber List Sample">
                    <span>Download Excel Format For Subscriber</span>

                    <span>
                        <img src="~/Content/imagesUser/file.png" width="30" height="30" title="Click here to download the Subscriber List Sample!" style="cursor:pointer" />
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>





