﻿@{
    /**/

    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div id="ContainerDiv">

    </div>
</section>

@section CustomScript
{
    <input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />
    <input type="hidden" name="UserId" id="UserId" value="@EM.Web.Utilities.CurrentUser.getCurUserId()" />
    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>
    <script src="~/Content/CustomJs/subscriber.js?v=04082020"></script>
    <script src="~/Content/CustomJs/unsubscriber.js?v=04082020"></script>
    <script src="~/Content/CustomJs/SuppressedSubscribers.js?v=09032019"></script>
    <script type="text/javascript">
         var pageSize = @Constants.PageSize;
        $(document).ready(function ()
        {
            var _method = '@ViewBag.Action';
            if (_method== 'add') {
                LoadSubscriberHTML("User", "Subscriber", "AddEditSubscriber",@ViewBag.ListId, "", "@ViewBag.ListName");
            }
            else if (_method == 'import')
            {
                LoadHTMLWithId('User', 'Subscriber', 'ImportSubscriberList', '@ViewBag.ListId', '&Listname=@ViewBag.ListName');
            }
            else if (_method == 'ViewUnsubscriber') {
                LoadUnSubscriberHTML("User", "Subscriber", "ViewUnSubscriber",@ViewBag.ListId, "@ViewBag.ListName");
            }
            else if(_method == 'ViewSuppressed')
            {
                LoadSuppressedSubscriberHTML("User", "Subscriber", "ViewSuppressed",@ViewBag.ListId, "@ViewBag.ListName");
            }
            else {
                LoadSubscriberHTML("User", "Subscriber", "ViewSubscriber",@ViewBag.ListId, "", "@ViewBag.ListName");

            }
            getTimeConvertSubscriber("sentDate_");
            preventEnterForSubmittingForm();
        });

    </script>
}