﻿@model EM.Web.Areas.User.Models.SubscriberMenuViewmodel
<ul class="nav nav-tabs font-weight-bold">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle disabled disbaledLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stats</a>
        <div class="dropdown-menu">
            <a id="hdn" class="dropdown-item" href="#">Overview</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="manageSubscriberMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage Subscribers</a>
        <div class="dropdown-menu">
            <a id="lnkViewsubscriber" class="dropdown-item active" href="javascript:void(0)" onclick='LoadSubscriberHTML("User","Subscriber","ViewSubscriber",@Model.ListId,"","@Model.ListName")'>View Subscribers</a>
            <a id="lnkViewSuppressedsubscriber" class="dropdown-item" href="javascript:void(0)" onclick='LoadSuppressedSubscriberHTML("User","Subscriber","ViewSuppressed",@Model.ListId,"@Model.ListName")'>View Suppressed Subscribers</a>
            <a id="lnkViewUnsubscriber" class="dropdown-item" href="javascript:void(0)" onclick='LoadUnSubscriberHTML("User","Subscriber","ViewUnSubscriber",@Model.ListId,"@Model.ListName")'>View Unsubscribers</a>
            <a id="lnkDeleteAll" class="dropdown-item" href="javascript:void(0)" onclick='DeleteAll(@Model.ListId)'>Delete All Subscribers</a>
            <a id="lnkViewDeletedsubscriber" class="dropdown-item" href="javascript:void(0)" onclick='LoadUnSubscriberHTML("User","Subscriber","ViewDeletedSubscriber",@Model.ListId,"@Model.ListName")'>Restore Subscribers</a>
        </div>
    </li>
    @if (Session["UserAuthorizationInfo"] != null)
    {
        var authorization = Session["UserAuthorizationInfo"] as EM.Factory.usp_getAuthorization_Result;
        if (authorization.TotalSubscriberCreated < authorization.MaxSubscriber && authorization.NextPackageUpdateDate >= DateTime.Now.Date)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="addSubscriberMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add Subscribers</a>
                <div class="dropdown-menu">
                    <a id="lnkAddSubscriber" class="dropdown-item" href="javascript:void(0)" onclick='LoadSubscriberHTML("User","Subscriber","AddEditSubscriber",@Model.ListId,"","@Model.ListName")'>Add a Subscriber</a>
                    @if (authorization.IsCSVActive == true)
                    {
                        <a class="dropdown-item" href="#" onclick="LoadHTMLWithId('User', 'Subscriber', 'ImportSubscriberList','@Model.ListId','&Listname=@Model.ListName')">Import Subscribers</a>
                    }
                    else
                    {
                        <a disabled class="dropdown-item" title="Your are not allowed to upload the file" style="cursor: not-allowed;">Import Subscribers</a>
                    }

                </div>
            </li>
        }
        else
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled disbaledLink" disabled id="addSubscriberMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add/Edit Subscribers</a>
            </li>
        }
    }

    <li class="nav-item">
        <a class="nav-link disabled disbaledLink" href="#" id="settingMenu">Settings</a>
    </li>
</ul>
