﻿@model IEnumerable<EM.Factory.usp_getSuppressedSubscribersByListId_Result>
@{
    EM.Web.Areas.User.Models.SubscriberMenuViewmodel menuModel = new EM.Web.Areas.User.Models.SubscriberMenuViewmodel();
    if (ViewBag.ListId != null && ViewBag.ListId > 0)
    {

        menuModel.ListId = ViewBag.ListId;
        menuModel.ListName = ViewBag.ListName;
    }
}
<div class="app-title">
    <div>
        <h1><i class="app-menu__icon fa fa-eye"></i> View Suppressed Subscribers</h1>
        <p style="font-weight:bold">@ViewBag.ListName.</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/User/List">My Lists</a></li>
        <li class="breadcrumb-item">Add Subscriber</li>
    </ul>
</div>

<div class="row PageNumberClass">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        @{
            var attribute = string.Empty;
            if (Model == null || Model.Count() == 0)
            {
                attribute = "disabled disbaledLink";
            }
        }
        <div class="tile">
            @Html.Partial("SubscriberMenu", menuModel)
            <div class="col-md-6 mt-1">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" id="srchSubscriber" placeholder="Search by name, email, contact or address" onchange="SearchSuppresedSubscriber($('#srchSubscriber'))" @attribute/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" onclick="SearchSuppresedSubscriber($('#srchSubscriber'))" @attribute>
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row margin-top-25">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">


                    <select class="form-control" onchange='SortSuppressedSubscriber(this);' id="SortSubscriber" @attribute>
                        <option value="">Sort By</option>
                        <option value="NameAsc">Name Ascending</option>
                        <option value="NameDesc">Name Descending</option>
                        <option value="DateAsc">Date Created Ascending</option>
                        <option value="DateDesc">Date Created Descending</option>
                    </select>

                </div>
                @*<div class="col-12 col-sm-12 col-md-12 col-lg-4 text-right">

                    <a class="mb-2 btn btn-outline-success btn-width @attribute" href="@Url.Action("ExportSuppressedSubscribers","Subscriber",new { area = "User", listId =ViewBag.ListId})"><i class="fa fa-upload" aria-hidden="true"></i> Export Subscribers</a>

                </div>*@
            </div>

            <div class="table-responsive margin-top-16" id="gridSuppressedSubscriberList">
                @Html.Partial("ViewSuppressedSubscriberListGrid", Model)
            </div>
            <input type="hidden" value="@ViewBag.ListId" id="ListId" />
            @if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecord > Constants.PageSize)
            {
                <div class="text-right">
                    <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" onclick="PaggingSuppressedSubscriber('Back')" id="Back"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-primary btn-sm" type="button" onclick="PaggingSuppressedSubscriber('Next')" id="Next"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-md-1"></div>


</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#manageSubscriberMenu").addClass("active").next("div").find("a").removeClass("active");
        $("#lnkViewSuppressedsubscriber").addClass("active");
         SuppressedSubscriberPage($("#PageControl"),@ViewBag.PageNumber,'@ViewBag.TotalRecord')
      });

</script>