﻿@model IEnumerable<EM.Factory.usp_getUnSubscriberList_Result>
@{
    EM.Web.Areas.User.Models.SubscriberMenuViewmodel menuModel = new EM.Web.Areas.User.Models.SubscriberMenuViewmodel();
    if (ViewBag.ListId != null && ViewBag.ListId > 0)
    {
        menuModel.ListId = ViewBag.ListId;
        menuModel.ListName = ViewBag.ListName;
    }
}
<div class="app-title PageNumberClass">
    <div>
        <h1><i class="app-menu__icon fa fa-user-plus"></i>UnSubscriber</h1>
        <p>UnSubscriber in this @ViewBag.ListName.</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick='LoadHTML("User", "List","UserList")'>My Lists</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)" onclick='LoadSubscriberHTML("User","Subscriber","ViewSubscriber",@ViewBag.ListId,"","@ViewBag.ListName")'>Subscribers</a></li>
        <li class="breadcrumb-item"> UnSubscriber</li>
    </ul>
</div>

<div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        @{
            var attribute = "";
            if (Model != null && Model.Count() > 0)
            {
                attribute = "";
            }
            else
            {
                attribute = "disabled";
            }
        }
        <div class="tile">

            @Html.Partial("SubscriberMenu", menuModel)
            <div class="col-md-6 mt-1">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" id="srchUnsubscriber" placeholder="Search by name, email, contact or address" onchange="SearchUnSubscriber($('#srchUnsubscriber'))" @attribute/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button" onclick="SearchUnSubscriber($('#srchUnsubscriber'))" @attribute>
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row margin-top-25">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 padding-top-6">
                    <div class="animated-checkbox margin-left-12">
                        @*<label><input type="checkbox"> <span class="label-text">Select All</span></label>*@
                        <label><input type="checkbox" onclick="SelectAllUnCheckBox(this);" id="MasterCheckbox" @attribute> <span class="label-text">Select All</span></label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                    <button class="btn btn-outline-secondary form-control" id="demoSwal" type="button" onclick="AllSubscriber()" @attribute><i class="fa fa-check" aria-hidden="true"></i>Subscribed in this list</button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">


                    <select class="form-control" onchange='SortUnsubscriber(this);' id="SortSubscriber" @attribute>
                        <option value="">Sort By</option>
                        <option value="NameAsc">Name Ascending</option>
                        <option value="NameDesc">Name Descending</option>
                        <option value="DateAsc">Date Created Ascending</option>
                        <option value="DateDesc">Date Created Descending</option>
                    </select>

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-right">

                    @*<a class="mb-2 btn btn-outline-success btn-width" href="#"><i class="fa fa-upload" aria-hidden="true"></i> Export Subscribers</a>

                    <a class="mb-2 btn btn-outline-success btn-width" href="@Url.Action("ExportList","Subscriber",new { area = "User", listId =ViewBag.ListId})"><i class="fa fa-upload" aria-hidden="true"></i> Export Contacts</a>*@

                </div>
            </div>

            <div class="table-responsive margin-top-16" id="gridSubscriberList">
                @Html.Partial("UnSubscriberListGrid", Model)
            </div>
            <input type="hidden" value="@ViewBag.ListId" id="ListId" />
            @if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecord > Constants.PageSize)
            {
                <div class="text-right">
                    <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" onclick="Pagging('Back')" id="Back"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-primary btn-sm" type="button" onclick="Pagging('Next')" id="Next"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-md-1"></div>


</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#manageSubscriberMenu").addClass("active").next("div").find("a").removeClass("active");
        $("#lnkViewUnsubscriber").addClass("active");
        UnSubscriberPage($("#PageControl"),@ViewBag.PageNumber, '@ViewBag.TotalRecord')
     });

</script>