﻿@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 1600px) {
}

@media only screen and (max-width: 1470px) {

/*.label-heddin{ display:none;}*/
.btn-search{ padding:8px 14px;}
.mrg-l-30{ margin:0px;}
.l-h-65{ line-height:77px;}
.search-row label{ padding-left:15px;}
    .user-menu {padding:1.27rem 1.35rem 1.27rem 0.4rem;}
    .navbar-dark .navbar-nav .nav-link {padding:1rem 10px 0.87rem 10px}
}
@media only screen and (min-width: 1300px) and (max-width: 1366px){
.dataTables_scrollHead, .dataTables_scrollBody{ width:100% !important;}

}

@media only screen and (max-width: 1170px) {
	.l-h-65{ line-height:38px;}
    .login_bg_img { background-size: inherit;}
}

@media only screen and (max-width: 1023px) {
.lefttablescrollx{ overflow: auto !important; width:50%;}
.DTFC_LeftWrapper{ overflow-x: auto !important; width:50% !important;}
.DTFC_LeftBodyWrapper{overflow-x: auto !important;}
.dataTables_scroll{ left:50% !important; width:100% !important; overflow:auto !important;}
.mini-charts .col-md-3{ width:50%;}
.no-mrg-xs{ padding:0px;}
.l-h-65{ line-height:44px;}
.search-row label{ line-height: normal; padding-left:0;}
.btn-search {display: block;position: relative;left: 8px;}
.button-collapse{ padding:15px; position:absolute; top:1px; right:0px;}
.navbar-dark .navbar-brand{ position:relative; margin-right:0; margin-top:-10px;}
.fa-bars{ font-size:30px;}
.DTFC_Cloned .form-control{ width:100px;}
.search-row .border-r{ border:none;}
.search-row{ padding-bottom:15px; margin-bottom:15px;}
.search-row label{ margin-bottom:0px;}
}
@media only screen and (max-width: 1000px) {
    .title_top .row .col-md-6, .title_top .row .col-md-3 {
        width:100%;
    }
    .title_top .sub_btn-wrap .btn_wrapper {
        top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        width: auto;
    }
}

    @media only screen and (max-width: 991px) {
        .btn-search {
            position: static;
        }

        .btn-search {
            margin-top: 15px;
            position: static;
            left: 8px;
            clear: both;
            display: inline-block;
            width: 100%;
            margin-bottom: 15px;
        }

        .sales_wrapper .btn-search {
            width: calc(49% + 1px);
            float: left;
            clear: none;
        }

        .sm_full {
            width: 100%;
        }

        .search-row .border-r {
            display: inline-block;
            width: 100%;
        }
    }

    @media only screen and (max-width: 767px) {
        .mini-charts .col-md-3 {
            width: 100%;
        }

        .search-row .border-r {
            border: none;
        }

        .account_tbl {
            margin-left: 0px !important;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 640px) {
        .login_inner {
            top: 110%;
        }
    }

    @media only screen and (max-width: 670px) {
        .sales_wrapper .btn-search {
            width: 100%;
            margin-bottom: 0px;
        }
    }

    @media only screen and (max-width: 550px) {
        .account_tbl b.caret {
            margin-left: -5px;
        }
    }

    @media only screen and (max-width: 479px) {
        .login_inner {
            top: 77%;
        }

        .multiselect.dropdown-toggle .multiselect-selected-text {
            overflow: hidden;
        }

        .account_tbl .dropdown-toggle::after {
            margin-top: -8px;
        }
    }

    @media (min-width: 544px) {
        .modal-sm {
            width: 500px;
        }
    }
@media only screen and (max-width: 375px) {
    .title_top.app-title {
        padding: 15px;
    }
    .title_top .sub_btn-wrap .btn_wrapper a{
        padding-left:10px;
        padding-right:10px;
        font-size:13px;
    }
}