﻿/* YOUR CUSTOM STYLES */
body{overflow-x:hidden !important;}
.bg-primary {
    background-color: #01a0c7 !important;
    box-shadow: none;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    padding: 1rem 1.8rem 0.87rem 1.8rem;
}

.navbar-nav .nav-item + .nav-item {
    margin-left: 0;
}

.navbar-dark .navbar-brand {
    background-color: #fff;
    padding: 10px;
    position: absolute;
    left: 0px;
    width: 200px;
    height: 81px;
}

    .navbar-dark .navbar-brand img {
        max-width: 100%;
        display: inline-block;
        padding-top: 18px;
    }

.navbar-desktop {
    float: left;
    width: 100%;
    padding-left: 200px;
}

.navbar-nav .nav-item {
    border-right: solid 1px #0c6479;
    box-shadow: 1px 0px 0px #43b8d5;
    position: relative;
}

    .navbar-nav .nav-item.active {
        background: #0195b9;
    }

        .navbar-nav .nav-item.active:after {
            border-bottom: 10px solid #b0dd38;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            height: 0;
            width: 0;
            content: '';
            top: 88%;
            left: 42%;
            position: absolute;
            z-index: 99;
        }

.nav-b-border .navbar-nav .nav-item .nav-link i {
    background: url(../images/nav-splitic.png) no-repeat;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.nav-b-border .navbar-nav .nav-item.sales-nav-item .nav-link i {
    background: url(../images/salesnav-splitic.png) no-repeat;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

    .nav-b-border .navbar-nav .nav-item.sales-nav-item .nav-link i.dashboard {
        background-position: 0px 0;
    }

    .nav-b-border .navbar-nav .nav-item.sales-nav-item .nav-link i.follow {
        background-position: -32px 0;
    }

    .nav-b-border .navbar-nav .nav-item.sales-nav-item .nav-link i.data {
        background-position: -64px 0;
    }

.nav-b-border .navbar-nav .nav-item .nav-link i.dashboard {
    background-position: -45px 0;
}

.nav-b-border .navbar-nav .nav-item .nav-link i.follow {
    background-position: -17px 0;
}

.nav-b-border .navbar-nav .nav-item .nav-link i.data {
    background-position: -78px 0;
}

.nav-b-border .navbar-nav .nav-item .nav-link i.spend {
    background-position: -146px 0;
}

.nav-b-border .navbar-nav .nav-item .nav-link i.leads {
    background-position: -114px 0;
}

.nav-b-border .navbar-nav .nav-item .nav-link i.createac {
    background-position: -160px 0;
}

.nav-b-border .navbar-nav .nav-item.sales-nav-item.active .nav-link i.dashboard {
    background-position: 0px -32px;
}

.nav-b-border .navbar-nav .nav-item.sales-nav-item.active .nav-link i.follow {
    background-position: -32px -32px;
}

.nav-b-border .navbar-nav .nav-item.sales-nav-item.active .nav-link i.data {
    background-position: -64px -32px;
}



.nav-b-border .navbar-nav .nav-item.active .nav-link i.dashboard {
    background-position: -32px -32px;
}

.nav-b-border .navbar-nav .nav-item.active .nav-link i.follow {
    background-position: -48px -32px;
}

.nav-b-border .navbar-nav .nav-item.active .nav-link i.data {
    background-position: -78px -32px;
}

.nav-b-border .navbar-nav .nav-item.active .nav-link i.spend {
    background-position: -146px -32px;
}

.nav-b-border .navbar-nav .nav-item.active .nav-link i.leads {
    background-position: -114px -32px;
}

.nav-b-border .navbar-nav .nav-item.active .nav-link i.createac {
    background-position: -160px -32px;
}


.user-menu {
    padding: 1.27rem 1.5rem 1.27rem 0.5rem;
    background: #0195b9;
    border-right: solid 1px #0c6479;
    box-shadow: -1px 0px 0px #43b8d5;
    border-left: solid 1px #0c6479;
    position: relative;
}

    .user-menu a {
        color: #fff;
        font-size: 13px;
    }

.navbar-nav > .user-menu > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
    padding: 1px 0 0;
}

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        background-color: #eceeef;
        height: 175px;
        padding: 10px;
        text-align: center;
    }

        .navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
            border: 3px solid rgba(255, 255, 255, 0.2);
            height: 90px;
            width: 90px;
            z-index: 5;
        }

    .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
        background-color: #f9f9f9;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
    }

.user-image {
    border-radius: 50%;
    float: left;
    height: 44px;
    margin-right: 10px;
    margin-top: -2px;
    width: 44px;
    border: solid 2px #89c4d3;
}

.nav-b-border {
    border-bottom: solid 6px #b0dd38;
}

.btn_default {
    background-color: #009ac3;
    color: #fff;
    border-radius: 2px;
}

.l-h-40 {
    line-height: 40px;
}

.text-13 {
    font-size: 13px;
}

.w-color {
    color: #fff;
}

.d-block {
    display: block;
}

.pdn-0 {
    padding: 0px;
}

.fa-bell-o {
    color: #fff;
}

.notify {
    display: inline-block;
    margin: 18px 20px;
    padding: 10px;
}

.notifications {
    min-width: 420px;
}

.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}

.menu-title {
    color: #ff7788;
    font-size: 1rem;
    display: inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left: 10px;
}

.notification-heading, .notification-footer {
    padding: 2px 10px;
}

.dropdown-menu.divider {
    margin: 5px 0;
}

.item-title {
    font-size: 0.9rem;
    color: #000;
}

.item-info {
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 0px;
}

.notifications a.content {
    text-decoration: none;
    background: #ccc;
}

.notification-item {
    padding: 10px;
    margin: 5px;
    background: #f7f7f7;
    border-radius: 4px;
}

.notification-icon::after {
    background: red none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    content: attr(data-count);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11.004px;
    font-weight: 600;
    height: 13.755px;
    line-height: 13.755px;
    margin-left: -6.8775px;
    margin-top: -6.8775px;
    min-width: 13.755px;
    padding: 0 4px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.page-title {
    font-size: 12px;
    padding-top: 15px;
    text-transform: uppercase;
}

.white-bg-cont {
    background: #fff;
    padding: 22px;
}

.mini-charts .col-md-3 {
    width: 20%;
}

.mini-charts-item {
    margin-bottom: 20px;
    position: relative;
    border: solid 1px #a2d028;
    overflow: hidden;
}

    .mini-charts-item.bd {
        border-color: #fa8a4d;
    }

    .mini-charts-item.sp {
        border-color: #01a0c7;
    }

    .mini-charts-item.kp {
        border-color: #68cce5;
    }

    .mini-charts-item.pc {
        border-color: #3fd2d4;
    }

.clnt-header {
}

    .clnt-header i {
        margin: 10px 0 0 0;
    }

    .clnt-header .new-client {
        background: #a2d028 padding-box;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
    }

    .clnt-header .bill-due {
        background: #fa8a4d padding-box;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
    }

    .clnt-header .sms-purchas {
        background: #01a0c7 padding-box;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
    }

    .clnt-header .key-purchas {
        background: #68cce5 padding-box;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
    }

    .clnt-header .payg-clint {
        background: #3fd2d4 padding-box;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 50px;
    }

    .clnt-header .ci-title {
        font-size: 12px;
        margin: 10px 0;
        text-transform: uppercase;
    }

.clnt-fooret {
    background: #f7f7f7;
    border-top: solid 1px #e3e3e3;
    padding: 0 5px;
    font-size: 13px;
}

    .clnt-fooret span {
        display: block;
    }

.chart-top-brd {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99;
}

    .chart-top-brd:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 44px;
        border: solid 1px #a2d028;
        content: ""
    }

    .chart-top-brd:after {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 44px;
        border: solid 1px #a2d028;
        content: ""
    }

.chart-bot-brd {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 99;
}

    .chart-bot-brd:before {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 44px;
        border: solid 1px #a2d028;
        content: ""
    }

    .chart-bot-brd:after {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 44px;
        border: solid 1px #a2d028;
        content: ""
    }

.mini-charts-item.bd .chart-top-brd:before {
    border-color: #fa8a4d;
}

.mini-charts-item.bd .chart-top-brd:after {
    border-color: #fa8a4d;
}

.mini-charts-item.bd .chart-bot-brd:before {
    border-color: #fa8a4d;
}

.mini-charts-item.bd .chart-bot-brd:after {
    border-color: #fa8a4d;
}

.mini-charts-item.sp .chart-top-brd:before {
    border-color: #01a0c7;
}

.mini-charts-item.sp .chart-top-brd:after {
    border-color: #01a0c7;
}

.mini-charts-item.sp .chart-bot-brd:before {
    border-color: #01a0c7;
}

.mini-charts-item.sp .chart-bot-brd:after {
    border-color: #01a0c7;
}

.mini-charts-item.kp .chart-top-brd:before {
    border-color: #68cce5;
}

.mini-charts-item.kp .chart-top-brd:after {
    border-color: #68cce5;
}

.mini-charts-item.kp .chart-bot-brd:before {
    border-color: #68cce5;
}

.mini-charts-item.kp .chart-bot-brd:after {
    border-color: #68cce5;
}

.mini-charts-item.pc .chart-top-brd:before {
    border-color: #3fd2d4;
}

.mini-charts-item.pc .chart-top-brd:after {
    border-color: #3fd2d4;
}

.mini-charts-item.pc .chart-bot-brd:before {
    border-color: #3fd2d4;
}

.mini-charts-item.pc .chart-bot-brd:after {
    border-color: #3fd2d4;
}

.search-row {
    border-top: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
    display: inline-block;
    width: 100%;
}

    .search-row ul {
        width: 100%;
        float: left;
        margin: 0px;
        padding: 0px;
    }

        .search-row ul li {
            display: inline-block;
            border-right: solid 1px #e3e3e3;
        }

.sear.search-rowch-row ul li:last-child {
    border-right: none;
}

.input-field input {
    background-color: transparent;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    height: 2.6rem !important;
    margin-bottom: 0 !important;
    padding-left: 5px !important;
}

.select-wrapper input.select-dropdown {
    line-height: 2rem;
}

.select-wrapper span.caret {
    right: 10px;
}

.input-field {
    margin-top: 1rem;
    position: relative;
}

.btn-search {
    padding: 8px 20px;
    margin: 0px;
    margin-top: 1rem;
}
.sales_wrapper .btn-search {
    margin-top: 12px;
}
.sales_wrapper .date_wrap .form-control {
    box-sizing: border-box;
    height:40px !important;
}

.search-row label {
    position: relative;
    padding-left: 46px;
    display: block;
    margin: 0.8rem 0 -4px 0;
}

.sorting_desc {
    background: url(../images/sort_desc.png) no-repeat right center;
}

.sorting_asc {
    background: url(../images/sort_asc.png) no-repeat right center;
}

.sorting {
    background: url(../images/sort_both.png) no-repeat right center;
}

table.dataTable thead .sorting_asc::after {
    content: ""
}

table.dataTable thead .sorting_desc::after {
    content: ""
}

table.dataTable thead .sorting::after {
    content: ""
}

.tablWrap .input-field {
    margin-top: 0rem;
    position: relative;
}

    .tablWrap .input-field input {
        background-color: #fff;
        border: 1px solid #ccc !important;
        border-radius: 4px;
        box-sizing: border-box;
        color: #000;
        height: 1.8rem !important;
        margin-bottom: 0 !important;
        padding-left: 5px !important;
        font-size: 12px;
    }

.tablWrap .select-wrapper span.caret {
    top: 8px;
    z-index: 99;
}

.tablWrap .dropdown-content li > a, .dropdown-content li > span {
    font-size: 13px;
}

.sSky TH:nth-child(5), .sSky TD:nth-child(5) {
    border-right: solid 1px #eacd6b !important;
}

table.display tr.odd.gradeA {
    background-color: #fff;
}

table.display tr.even.gradeA {
    background-color: #eeeeee;
}

table.display tr.odd.gradeA {
    background-color: #fff;
}

table.display tr.even.gradeA {
    background-color: #eeeeee;
}

tr.odd.gradeA td.sorting_1 {
    background-color: #fffff2;
}

tr.even.gradeA td.sorting_1 {
    background-color: #fffff2;
}

table.DTFC_Cloned tr.odd.gradeA {
    background-color: #fffff2;
    border-right: solid 1px #eacd6b;
}

table.DTFC_Cloned tr.even.gradeA {
    background-color: #fffff2;
    border-right: solid 1px #eacd6b;
}

table.DTFC_Cloned tr.odd.gradeA {
    background-color: #fffff2;
    border-right: solid 1px #eacd6b;
}

table.DTFC_Cloned tr.even.gradeA {
    background-color: #fffff2;
    border-right: solid 1px #eacd6b;
}

table.display td {
    border-right: #ececec 1px solid !important;
    padding: 8px 9px 8px 9px !important;
    border-top: #ffffff 0px solid !important;
    border-left: #ececec solid 1px !important;
    border-bottom: #ececec 1px solid !important;
    white-space: nowrap;
    font-size: 13px;
}

table.display thead th {
    background-color: #01a0c7;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    padding: 10px 15px;
    border-right: 1px solid #ffffff;
}

/*div.dataTables_wrapper div.dataTables_filter {
    display: none;
}*/

div.dataTables_wrapper div.dataTables_info {
    display: none;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal !important;
}

table.dataTable thead th, table.dataTable tbody {
    text-align: center !important;
}


.search-row .form-inline .form-control {
    width: 100%;
    border-radius: 0.25rem;
    margin-top: 0px;
    height: 40px;
}

.display .input-field {
    margin-top: 0px;
}

.display .form-control {
    width: 100%;
    border-radius: 0.25rem;
    margin-top: 0px;
    padding: 5px 0;
    margin-bottom: 0px;
    background: #fff;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}

.DTFC_LeftBodyWrapper {
    background: #fffff2;
}



/*Login CSS*/
.login_bg_img {
    width: 100%;
    height: 100%;
    background-image: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.login_inner {
    max-width: 472px;
    width: 95%;
    padding: 10px;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.row .col.s12 {
    left: auto;
    margin-left: auto;
    right: auto;
    width: 100%;
}

.row .col {
    box-sizing: border-box;
    float: left;
    padding: 0 0.75rem;
}

.mt_15 {
    margin-top: 15px !important;
}

.mb_50 {
    margin-bottom: 50px !important;
}

.lg-bg {
    background: #f8f8f8;
    border-radius: 4px;
}

.head-t-brd {
    background: #01a0c7 url(../images/login-top-bg.png) repeat-y;
    width: 100%;
    height: 8px;
    border-radius: 4px 4px 0 0;
}

.login-header {
    background: #01a0c7;
}

    .login-header .title {
        font-size: 30px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        padding: 24px 0;
        margin: 0px;
    }

.input-field2 .prefix {
    color: #fff;
    text-align: center;
    line-height: 46px;
}

.material-icons {
    direction: ltr;
    display: inline-block;
    font-family: "Material Icons";
    font-feature-settings: "liga";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}

.input-field2 .prefix ~ input, .input-field2 .prefix ~ textarea {
    margin-left: 2rem;
    width: 92%;
    width: calc(100% - 3rem);
    color: #333;
    padding-left: 1rem;
    box-sizing: border-box;
    border: none !important;
    box-shadow: none;
    height: 3.3rem !important;
    border-radius: 0px;
}

.input-field .prefix {
    position: absolute;
    font-size: 2rem;
    transition: color .2s
}

.login-body-panel {
    padding: 16px 32px;
    background: #fff;
}

.inpux-box {
    background-color: #fff;
    border: 2px solid #ebebeb !important;
    box-shadow: 0 4px 0 #ebebeb;
    border-radius: 4px;
    height: 56px;
    margin-top: 26px;
}

.btn_login {
    font-size: 25px;
    font-weight: 500;
    height: 58px;
    line-height: 58px;
    opacity: 1;
    box-shadow: 0 4px 0 #07819f;
    border-radius: 4px;
    background-color: #009ac3 !important;
}

    .btn_login:hover {
        box-shadow: 0 4px 0 #07819f;
        background: #01a7d0;
    }

.lg-forgot {
    padding: 30px 0 !important;
}

    .lg-forgot a {
        font-size: 20px;
        color: #01a0c7;
        font-weight: 300;
    }

        .lg-forgot a:hover {
            color: #0081a1;
        }

.copyright {
    font-size: 13px;
    color: #d2d2d2;
    text-align: center;
    padding: 30px 0;
}

.copyright2 {
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 30px 0;
}


.text-dark-green {
    color: #48bd14;
}

.text-green {
    color: #678e00;
}

.text-orange {
    color: #c4632e;
}

.text-blue-dark {
    color: #007e9d;
}

.text-blue-light {
    color: #228ba5;
}

.text-syan-blue {
    color: #19989a;
}

.text-13 {
    font-size: 13px;
}

.border-r {
    border-right: solid 1px #e3e3e3;
}

.pdn-5 {
    padding: 5px;
}

.l-h-65 {
    line-height: 77px;
}

.client-count {
    font-size: 28px;
    color: #01a0c7
}

.bg-dark-blue {
    background: #0085a5 !important
}

.bg-light-blue {
    background: #01a0c7 !important
}

.bg-light-yellow {
    background: #fffff2 !important
}

.yellow-r-b {
    border-right: solid 1px #eacd6b;
}

.no-mrg {
    padding: 0px;
}

.pdn-0 {
    padding: 0px !important;
}

.mrg-l-30 {
    margin-left: 30px;
}

.no-wrap {
    white-space: nowrap;
}


.breadcrumb {
    background: none;
    margin-bottom: 0px;
    padding: 0.75rem 1rem 0.75rem 0;
}

.add-notes textarea {
    height: auto;
}

.add-notes .list-group {
    box-shadow: none;
}

.add-notes .list-group-item p {
    margin-bottom: 0px;
}

.search-form label {
    font-size: 0.9rem
}

.form-inline.search-form .form-control {
    width: 100%;
}

.form-inline.search-form select.form-control {
    width: 100%;
}

.rs-col1 {
    width: 25px;
    float: left;
    padding-top: 2px;
}

.rs-col2 {
    width: 100px;
    float: left;
    text-align: right;
}

.rs-col3 {
    width: 212px;
    float: left;
}

.rs-col4 {
    width: 324px;
    float: left;
    margin-right: 10px;
}

.spend-res .input-field .form-group {
    margin-right: 0px;
}

.spend-res label {
    font-size: 1rem
}

.lable-mrg-r {
    margin-right: 10px;
    padding-top: 10px;
}

.form-inline.spend-res .form-control {
    width: 100%;
}

.spend-res .input-field input {
    background-color: transparent;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    height: 2.6rem !important;
    margin-bottom: 0 !important;
    padding-left: 5px !important;
}

.mrg-t-0 {
    margin-top: 0px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 30px;
    text-align: right;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        border: 1px solid transparent;
        border-radius: 2px;
        box-sizing: border-box;
        color: #333 !important;
        display: inline-block;
        font-size: 14px;
        margin-left: 2px;
        min-width: 1.5em;
        padding: 0.3em 0.7em;
        text-align: center;
        text-decoration: none !important;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            background-color: #fff;
            border: 1px solid #979797;
            color: #333 !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
            background: transparent none repeat scroll 0 0;
            border: 1px solid transparent;
            box-shadow: none;
            color: #666 !important;
            cursor: default;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background-color: #5593c5;
            color: #fff !important;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:active {
            background-color: #5593c5;
            box-shadow: 0 0 3px #111 inset;
            outline: medium none;
        }

    .dataTables_wrapper .dataTables_paginate .ellipsis {
        padding: 0 1em;
    }

.spend-res {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 15px 0 0 0;
}

.dataTables_length {
    padding-top: 13px;
    float: right;
}

    .dataTables_length select {
        display: inline-block;
        border: solid 1px #ccc;
        border-radius: 4px;
        padding: 5px;
    }

    .dataTables_length label {
        width: 150px;
    }

.mrg-tb {
    margin: 9px 0;
}

.mrg-t-49 {
    margin-top: 49px;
}

.brd-top {
    border-top: solid 1px #ccc;
    padding: 15px;
    margin-top: 15px;
    background: #f8f8f8;
}

.spend-result h6 {
    margin: 20px 0;
}

.spend-res .form-control {
    border-radius: 4px;
}

.seprt {
}
/*.seprt:before{ content:":"; position:absolute; left:0px; top:10px;}*/
.create-rep {
}

.form-horizontal .form-control {
    border: solid 1px #ccc;
    height: auto;
}

.pdn-lr-15 {
    padding: 0 15px;
}

.text-label {
    font-size: 0.9rem !important;
    font-weight: 600;
}

[type="radio"]:checked + label, [type="radio"]:not(:checked) + label, [type="checkbox"] + label {
    padding-left: 26px;
}

.spend-res .dtp {
    margin-bottom: 15px !important;
}

.spend-res .form-group {
    margin: 0 0 15px 0 !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.mt10 {
    margin-top: 10px;
}

#example td {
    text-align: center !important;
}

.wrapper_pagination {
    text-align: center;
}

    .wrapper_pagination ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom: 1;
        *display: inline;
    }

    .wrapper_pagination li {
        float: left;
        padding: 2px 5px;
        border: 1px solid black;
    }

#jsGrid .jsgrid-header-row th {
    background-color: #01a0c7;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 10px 15px;
    border-right: 1px solid #ffffff !important;
}

.jsgrid-cell {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}

    .jsgrid-cell a {
        text-decoration: underline;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 14px !important;
    }

    .jsgrid-cell input[type="checkbox"] {
        visibility: visible !important;
        left: auto !important;
    }

.btn-jsGridHeader {
    background-color: white;
    color: #01a0c7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}
/*.jsgrid-pager-current-page {
    display: none;
}

.jsgrid-pager {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem
}

.jsgrid-pager-page {
    display: inline;
}

.jsgrid-pager-page a {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}
.jsgrid-pager-nav-button a {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}
.jsgrid-pager-nav-inactive-button {
    color: #818a91;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
    display:inline-block !important;
}*/
.sweet-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    outline: none !important;
    z-index: 10000;
}

#jsGrid .jsgrid-header-row th {
    background-color: #01a0c7;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 10px 15px;
    border-right: 1px solid #ffffff !important;
}

.jsgrid-cell {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}

    .jsgrid-cell a {
        text-decoration: underline;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 14px !important;
    }

    .jsgrid-cell input[type="checkbox"] {
        visibility: visible !important;
        left: auto !important;
    }

.btn-jsGridHeader {
    background-color: white;
    color: #01a0c7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}
/*.jsgrid-pager-current-page {
    display: none;
}

.jsgrid-pager {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem
}

.jsgrid-pager-page {
    display: inline;
}

.jsgrid-pager-page a {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}
.jsgrid-pager-nav-button a {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #0275d8;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}
.jsgrid-pager-nav-inactive-button {
    color: #818a91;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
    display:inline-block !important;
}*/

.sweet-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    outline: none !important;
    z-index: 10000;
}

.sweet-alert {
    background-color: white;
    width: 478px;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -259px;
    margin-top: -200px;
    -webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: none;
    z-index: 99999;
}

@media all and (max-width: 540px) {
    .sweet-alert {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        left: 15px;
        right: 15px;
    }
}

.sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    text-transform: none;
    position: relative;
    margin: 15px 0 0 0;
    padding: 0;
    line-height: 40px;
    display: block;
}

.sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.sweet-alert fieldset {
    border: none;
    position: relative;
}

.sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    -webkit-transition: padding 0.15s, max-height 0.15s;
    -o-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s;
}

    .sweet-alert .sa-error-container.show {
        padding: 10px 0;
        max-height: 100px;
        webkit-transition: padding 0.2s, max-height 0.2s;
        -webkit-transition: padding 0.25s, max-height 0.25s;
        -o-transition: padding 0.25s, max-height 0.25s;
        transition: padding 0.25s, max-height 0.25s;
    }

    .sweet-alert .sa-error-container .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #ea7d7d;
        color: white;
        line-height: 24px;
        text-align: center;
        margin-right: 3px;
    }

    .sweet-alert .sa-error-container p {
        display: inline-block;
    }

.sweet-alert .sa-input-error {
    position: absolute;
    top: 22px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

    .sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
        content: "";
        width: 20px;
        height: 6px;
        background-color: #f06e57;
        border-radius: 3px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 50%;
        margin-left: -9px;
    }

    .sweet-alert .sa-input-error::before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .sweet-alert .sa-input-error::after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .sweet-alert .sa-input-error.show {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

.sweet-alert input {
    display: none;
    width: 100%;
    height: 40px;
    padding: 8px 12px 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.44;
    color: #555;
    margin-top: 10px;
    margin-bottom: 17px;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
}

    .sweet-alert input:focus {
        border-color: #009688;
        outline: none;
    }

.sweet-alert.show-input input {
    display: block;
}

.sweet-alert .sa-confirm-button-container {
    display: inline-block;
    position: relative;
}

.sweet-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden;
}

.sweet-alert button {
    background-color: #009688 !important;
    color: white;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    padding: 8px 20px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

    .sweet-alert button:focus {
        outline: none;
        -webkit-box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    }

    .sweet-alert button:hover {
        background-color: #00877a;
    }

    .sweet-alert button:active {
        background-color: #00635a;
    }

    .sweet-alert button.cancel {
        background-color: #C1C1C1 !important;
    }

        .sweet-alert button.cancel:hover {
            background-color: #b9b9b9;
        }

        .sweet-alert button.cancel:active {
            background-color: #a8a7a7;
        }

        .sweet-alert button.cancel:focus {
            -webkit-box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
            box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
        }

    .sweet-alert button[disabled] {
        opacity: .6;
        cursor: default;
    }

    .sweet-alert button.confirm[disabled] {
        color: transparent;
    }

        .sweet-alert button.confirm[disabled] ~ .la-ball-fall {
            opacity: 1;
            visibility: visible;
            -webkit-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }

    .sweet-alert button::-moz-focus-inner {
        border: 0;
    }

.sweet-alert[data-has-cancel-button=false] button {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px;
}

.sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    .sweet-alert .sa-icon.sa-error {
        border-color: #F27474;
    }

        .sweet-alert .sa-icon.sa-error .sa-x-mark {
            position: relative;
            display: block;
        }

        .sweet-alert .sa-icon.sa-error .sa-line {
            position: absolute;
            height: 5px;
            width: 47px;
            background-color: #F27474;
            display: block;
            top: 37px;
            border-radius: 2px;
        }

            .sweet-alert .sa-icon.sa-error .sa-line.sa-left {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                left: 17px;
            }

            .sweet-alert .sa-icon.sa-error .sa-line.sa-right {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                right: 16px;
            }

    .sweet-alert .sa-icon.sa-warning {
        border-color: #F8BB86;
    }

        .sweet-alert .sa-icon.sa-warning .sa-body {
            position: absolute;
            width: 5px;
            height: 47px;
            left: 50%;
            top: 10px;
            border-radius: 2px;
            margin-left: -2px;
            background-color: #F8BB86;
        }

        .sweet-alert .sa-icon.sa-warning .sa-dot {
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin-left: -3px;
            left: 50%;
            bottom: 10px;
            background-color: #F8BB86;
        }

    .sweet-alert .sa-icon.sa-info {
        border-color: #C9DAE1;
    }

        .sweet-alert .sa-icon.sa-info::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 29px;
            left: 50%;
            bottom: 17px;
            border-radius: 2px;
            margin-left: -2px;
            background-color: #C9DAE1;
        }

        .sweet-alert .sa-icon.sa-info::after {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin-left: -3px;
            top: 19px;
            background-color: #C9DAE1;
        }

    .sweet-alert .sa-icon.sa-success {
        border-color: #A5DC86;
    }

        .sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
            content: '';
            border-radius: 40px;
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 120px;
            background: white;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .sweet-alert .sa-icon.sa-success::before {
            border-radius: 120px 0 0 120px;
            top: -7px;
            left: -33px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 60px 60px;
            -ms-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }

        .sweet-alert .sa-icon.sa-success::after {
            border-radius: 0 120px 120px 0;
            top: -11px;
            left: 30px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0px 60px;
            -ms-transform-origin: 0px 60px;
            transform-origin: 0px 60px;
        }

        .sweet-alert .sa-icon.sa-success .sa-placeholder {
            width: 80px;
            height: 80px;
            border: 4px solid rgba(165, 220, 134, 0.2);
            border-radius: 40px;
            border-radius: 50%;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            position: absolute;
            left: -4px;
            top: -4px;
            z-index: 2;
        }

        .sweet-alert .sa-icon.sa-success .sa-fix {
            width: 5px;
            height: 90px;
            background-color: white;
            position: absolute;
            left: 28px;
            top: 8px;
            z-index: 1;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .sweet-alert .sa-icon.sa-success .sa-line {
            height: 5px;
            background-color: #A5DC86;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 2;
        }

            .sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
                width: 25px;
                left: 14px;
                top: 46px;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .sweet-alert .sa-icon.sa-success .sa-line.sa-long {
                width: 47px;
                right: 8px;
                top: 38px;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

    .sweet-alert .sa-icon.sa-custom {
        background-size: contain;
        border-radius: 0;
        border: none;
        background-position: center center;
        background-repeat: no-repeat;
    }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }

    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }

    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

@keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

.btn-active {
    color: #FFF !important;
    background-color: #007065 !important;
    border-color: #00635a !important;
}



.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.50rem;
}

    .card > hr {
        margin-right: 0;
        margin-left: 0;
    }

    .card > .list-group:first-child .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .card > .list-group:last-child .list-group-item:last-child {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link .card-link {
    margin-left: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    .card-header .list-group .list-group-item:first-child {
        border-top: 0;
    }

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.50rem - 1px);
    border-top-right-radius: calc(0.50rem - 1px);
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .card-deck .card {
        margin-bottom: 15px;
    }

@media (min-width: 576px) {
    .card-deck {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

        .card-deck .card {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 15px;
            margin-bottom: 0;
            margin-left: 15px;
        }
}

.card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

    .card-group > .card {
        margin-bottom: 15px;
    }

@media (min-width: 576px) {
    .card-group {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

        .card-group > .card {
            -webkit-box-flex: 1;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            margin-bottom: 0;
        }

            .card-group > .card .card {
                margin-left: 0;
                border-left: 0;
            }

            .card-group > .card:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

                .card-group > .card:first-child .card-img-top,
                .card-group > .card:first-child .card-header {
                    border-top-right-radius: 0;
                }

                .card-group > .card:first-child .card-img-bottom,
                .card-group > .card:first-child .card-footer {
                    border-bottom-right-radius: 0;
                }

            .card-group > .card:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

                .card-group > .card:last-child .card-img-top,
                .card-group > .card:last-child .card-header {
                    border-top-left-radius: 0;
                }

                .card-group > .card:last-child .card-img-bottom,
                .card-group > .card:last-child .card-footer {
                    border-bottom-left-radius: 0;
                }

            .card-group > .card:only-child {
                border-radius: 0.25rem;
            }

                .card-group > .card:only-child .card-img-top,
                .card-group > .card:only-child .card-header {
                    border-top-left-radius: 0.25rem;
                    border-top-right-radius: 0.25rem;
                }

                .card-group > .card:only-child .card-img-bottom,
                .card-group > .card:only-child .card-footer {
                    border-bottom-right-radius: 0.25rem;
                    border-bottom-left-radius: 0.25rem;
                }

            .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
                border-radius: 0;
            }

                .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
                .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
                .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
                .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
                    border-radius: 0;
                }
}

.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }

        .card-columns .card {
            display: inline-block;
            width: 100%;
        }
}

.accordion .card:not(:first-of-type):not(:last-of-type) {
    border-bottom: 0;
    border-radius: 0;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0;
}

.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion .card:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-box {
    margin: 20px;
}

.mr-10 {
    margin: 10px;
}

.mr-l-r-10 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.odd-box-bg-color {
    background-color: #f9f9f9;
}

.even-box-bg-color {
    background-color: #fff;
}

.mr-top-10 {
    margin-top: 10px;
}

.mr-l-10 {
    margin-left: 24px;
}

.jsgrid-cell a {
    color: #01a0c7 !important;
}

.wrapword {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

.jsgrid-header-sort-asc::before {
    border-width: 0 5px 5px;
    border-color: transparent transparent #fff !important;
}

.jsgrid-header-sort-desc::before {
    border-width: 5px 5px 0;
    border-color: #fff transparent transparent !important;
}

.jsgrid-header-sort::before {
    content: " ";
    display: block;
    float: right !important;
    width: 0;
    height: 0;
    border-style: solid;
    background-color: #009a67;
}

.dataTables_wrapper .dataTables_filter label::before {
    color: #000;
    content: "\f002";
    font-family: FontAwesome;
    font-size: 18px;
    left: 85px;
    position: relative;
    top: 2px;
}

.dataTables_length {
    float: right;
    padding: 0px 80px 0 10px;
}



/*#dataTable_paginate ul {
    box-shadow: none !important;
}

    #dataTable_paginate ul a {
        color: #000;
    }

        #dataTable_paginate ul a:hover {
            color: #fff;
        }

#dataTable_paginate.paginate_button a:hover {
    color: #fff;
}

#dataTable_paginate .dataTables_wrapper .dataTables_paginate .paginate_button { color: #fff; }*/
.search-row label.label-heddin {
    font-size: .8rem;
    color: darken #ccc,90%;
    margin: 5px 0 -12px 0;
}

.search-row .col-md-12.col-lg-8.border-r, .search-row .col-md-12.col-lg-2.border-r {
    min-height: 82px;
}

.over-x-hidden {
    overflow-x: hidden;
}

.new_grid .dataTables_length {
    float: right;
    padding: 0px 80px 0 10px;
}

.new_grid-wrap .dataTables_wrapper .row:first-child .dataTables_filter {
    font-size: .8rem;
}

.new_grid-wrap .dataTables_wrapper .row:first-child .col-sm-6 {
    width: auto;
    float: right;
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.new_grid-wrap .dataTables_wrapper .row:nth-child(2) .col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.new_grid-wrap .dataTables_length {
    padding-right: 95px;
}

.new_grid-wrap .dataTables_wrapper .row:first-child .dataTables_filter input, .new_grid-wrap .dataTables_wrapper .row:first-child select {
    height: 33px;
}

.new_grid-wrap .dataTables_wrapper .row:first-child .dataTables_filter input {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    font-size: 13px;
    padding: 6px 10px 6px 35px;
}

.paginate_button.active a {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
    background-color: #fff;
    border: 1px solid #979797;
    color: #01a0c7 !important;
}

.paginate_button a {
    background-color: #fff;
    color: #333 !important;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin-left: 0px;
    min-width: 1.5em;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none !important;
    border: 1px solid transparent;
}

.paginate_button {
    padding: 0px !important;
    margin: 0px;
    display: inline-block;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    background: transparent;
    margin-left: 2px !important;
}

    .paginate_button a:hover {
        color: white !important;
        border: 1px solid #111;
        background-color: #585858;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
        background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
        background: -moz-linear-gradient(top, #585858 0%, #111 100%);
        background: -ms-linear-gradient(top, #585858 0%, #111 100%);
        background: -o-linear-gradient(top, #585858 0%, #111 100%);
        background: linear-gradient(to bottom, #fff 0%, #01a0c7 100%);
    }

    .paginate_button.disabled a {
        color: rgba(0,0,0,0.1) !important;
        cursor: default;
    }

    .paginate_button.disabled:hover a {
        color: rgba(0,0,0,0.1) !important;
        cursor: default;
        background: transparent !important;
        border-color: transparent !important;
    }

label {
    font-size: .8rem;
    color: darken #ccc,90%;
}

.edt-pop input.form-control, .edt-pop select.form-control {
    margin-bottom: 0.5rem !important;
    border-radius: 0px !important;
    height: 33px !important;
}

.modal-dialog .input-field {
    margin-top: 0px;
}

.modal-footer .btn {
    border-radius: 0px;
    vertical-align: top;
}

a {
    color: #009ac3
}

.daterangepicker select {
    display: inline-block;
}

table.dataTable thead .sorting_desc {
    background-image: url(../images/sort_desc.png) !important;
}

table.dataTable thead .sorting_asc {
    background-image: url(../images/sort_asc.png) !important;
}

    table.dataTable thead .sorting_asc:after {
        content: none !important
    }

table.dataTable thead .sorting_desc:after {
    content: none !important
}


.DTFC_LeftHeadWrapper .DTFC_Cloned {
    margin-bottom: 0px !important;
}

.DTFC_LeftBodyWrapper .DTFC_LeftBodyLiner .DTFC_Cloned {
    margin-top: 0px !important;
}

.DTFC_LeftBodyWrapper .DTFC_LeftBodyLiner {
    z-index: 2;
}

.follow_lbl label {
    font-size: 18px;
    padding-top: 0px;
    margin-top: 7px;
}

.follow_lbl {
    display: inline-block;
    float: left;
    margin-top: 13px;
}

.date_wrap .form-control {
    height: 30px !important;
    padding-bottom: 5px;
    border-radius: 0px !important;
    margin-top: 12px !important;
    box-sizing: content-box;
}

.pb_14 {
    padding-bottom: 14px;
}

button.multiselect.dropdown-toggle {
    background-color: transparent;
    box-shadow: none;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

.multiselect-container label {
    font-size: 14px;
    line-height: 1.5;
    color: #55595c;
    position: relative;
}

    .multiselect-container label.checkbox input[type="checkbox"] {
        left: 10px;
        top: 4px;
        margin-left: 0px;
        border: 1px solid #ccc;
        visibility: visible;
    }

.multiselect-native-select .btn-group {
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px);
    text-align: left;
}

.multiselect.dropdown-toggle {
    text-align: left;
}

    .multiselect.dropdown-toggle .multiselect-selected-text {
        width: 98%;
        display: inline-block;
    }

.multiselect-container.dropdown-menu {
    width: 100%;
}

.btnpast {
    background-color: #c1bfbf !important;
}

.btnCurrent {
    background-color: #a2d028 !important;
}

.autoDrop {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    height: 45px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 400px;
}

.ui-autocomplete.ui-widget-content {
    max-height: 265px;
    overflow: auto;
}


.spend-res.spend-data .input-field input {
    height: 2.2rem !important;
    font-size: 1rem;
    width: 100%;
}

.spend-res.spend-data .form-control {
    padding: 0.4rem 0;
    margin-top: .2rem;
    margin-bottom: 0rem;
}

.spend-res.spend-data label {
    font-size: 1rem;
    margin: 9px 0;
}

.spend-res.spend-data .dtp, .spend-res.spend-data .form-group {
    margin-bottom: 0px !important;
}

.spend-res.spend-data .mb8 {
    margin-bottom: 8px;
}

.spend-res.spend-data .mb_10 {
    margin-bottom: 10px !important;
}

.spend-res.spend-data .mb_1 {
    margin-bottom: 1rem !important;
}

.container-fluid {
    width: 100%;
}

.search_leads {
    border: solid 1px #e3e3e3
}

    .search_leads .follow_lbl label {
        font-size: 18px;
        padding-top: 8px;
        margin-bottom: .5rem;
        padding-left: 0px;
        margin-top: 0px;
    }

.search-row.search_leads .form-inline .form-control {
    height: 2.2rem;
    margin: 15px 0px;
}

.search-row.search_leads .form-inline input.form-control {
    height: 40px !important;
    box-sizing: border-box;
}

.search-row.search_leads .btn-search {
    margin-top: 10px;
}

.tbl_btn-wrap a.btn_p img, .tbl_btn-wrap a.btn_f img {
    height: 16px;
    position: relative;
    top: -3px;
    margin-right: 5px;
}

.tbl_btn-wrap a.btn_f {
    float: left;
    display: inline-block;
    margin-right: 5px;
    background-color: #a2d028;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
}

.tbl_btn-wrap a.btn_p {
    float: left;
    display: inline-block;
    margin-right: 5px;
    background-color: #c1bfbf;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
}

.dataTables_scrollHeadInner {
    min-width: 100% !important;
    display: inline-block;
}

    .dataTables_scrollHeadInner table.new_grid {
        min-width: 100% !important
    }

.btn_wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.sub_btn-wrap .btn_wrapper {
    position: relative;
    top: -10px;
}

.dropdown-menu.submenu-width {
    min-width: 238px !important;
    padding: 0px;
    margin: 0px;
    background-color: #01a0c7;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 0px 0 rgba(0,0,0,.12);
}

    .dropdown-menu.submenu-width li > a, .dropdown-menu.submenu-width li > span {
        font-size: 0.9rem;
        color: #fff;
        display: block;
        padding: 0.6rem;
        border-bottom: 1px solid #eeeeee;
    }

        .dropdown-menu.submenu-width li > a:hover, .dropdown-menu.submenu-width li > span:hover {
            color: #000;
        }
.iframe_wrap iframe {
    min-height: -webkit-calc(100vh - 245px);
    min-height: -moz-calc(100vh - 245px);
    min-height: calc(100vh - 245px);
}

.app-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #FFF;
    /*margin: -30px -30px 30px;*/
    padding: 20px 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media print {
    .app-title {
        display: none;
    }
}

@media (max-width: 480px) {
    .app-title {
        margin: -15px -15px 15px;
        padding: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.app-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.app-title p {
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .app-title p {
        display: none;
    }
}

.app-breadcrumb {
    margin-bottom: 0;
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0;
    text-align: left;
    padding: 0;
    background-color: transparent;
}

@media (max-width: 480px) {
    .app-breadcrumb {
        margin-top: 10px;
    }
}

.tile {
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    padding: 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media print {
    .tile {
        border: 1px solid #ddd;
    }
}

.tile.small {
    padding: 0;
}

.tile .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #555;
    border-radius: 3px;
}

    .tile .overlay .l-text {
        font-size: 24px;
        margin-top: 15px;
    }

.tile .tile-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.tile .tile-title-w-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

    .tile .tile-title-w-btn p {
        margin: 0;
    }

    .tile .tile-title-w-btn .title {
        margin: 0;
    }

    .tile .tile-title-w-btn .side {
        margin-bottom: 0;
        padding-left: 0;
    }

    .tile .tile-title-w-btn .btn-group {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

.tile .tile-footer {
    border-top: 1px solid #ddd;
    padding: 20px 0 0 0;
    margin-top: 10px;
}

/* Custom Checkbox and Radio Buttons */
.animated-checkbox input[type="checkbox"] {
    display: none;
}

    .animated-checkbox input[type="checkbox"] + .label-text {
        cursor: pointer !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .animated-checkbox input[type="checkbox"] + .label-text:before {
            content: "\f096";
            font-family: "FontAwesome";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 18px;
            -webkit-font-smoothing: antialiased;
            width: 1em;
            display: inline-block;
            margin-right: 2px;
            vertical-align: -2px;
        }

    .animated-checkbox input[type="checkbox"]:checked + .label-text:before {
        content: "\f14a";
        color: #009688;
        -webkit-animation: tick 180ms ease-in;
        animation: tick 180ms ease-in;
    }

    .animated-checkbox input[type="checkbox"]:disabled + .label-text {
        cursor: not-allowed !important;
    }

        .animated-checkbox input[type="checkbox"]:disabled + .label-text:before {
            content: "";
            color: #ccc;
        }
.new_grid-wrap .dataTables_scrollHead{ max-height:59px;}
.new_grid-wrap table.dataTable thead .sorting::after {
    display: none;
}
.new_grid-wrap table.display td {
    border-left:0px !important;
}
.new_grid-wrap table.display td:first-child{
    border-left: #ececec solid 1px !important;
}
@-moz-document url-prefix() {
    .new_grid-wrap .dataTables_scrollHead {
        max-height: 100%;
    }

    .new_grid-wrap .dataTables_scrollBody{margin-top:-6px;}
}
/*.new_grid-wrap .dataTables_scrollHead table.dataTable thead tr {
    height: 53px !important;
}
.new_grid-wrap .DTFC_LeftWrapper .DTFC_LeftHeadWrapper table.dataTable thead tr {
    height: 53px !important;
}

.new_grid-wrap .dataTables_scrollHead table.dataTable thead tr th {
    height: 53px !important;
}

.new_grid-wrap .DTFC_LeftWrapper .DTFC_LeftHeadWrapper table.dataTable thead tr th{
    height: 53px !important;
}*/