.sBase {
  OVERFLOW: hidden;
  WIDTH: 100%;
  POSITION: relative;
  HEIGHT: 100%;
}
.sHeader {
  Z-INDEX: 3;
  POSITION: absolute;
  BACKGROUND-COLOR: #ffffff; width:100%;
}
.sHeaderInner {
  POSITION: relative
}
.sHeaderInner TABLE {
  TABLE-LAYOUT: fixed! important;
  WIDTH: 1px! important;
  BORDER-COLLAPSE: collapse! important;
  BACKGROUND-COLOR: #ffffff;
  border-spacing: 0px 0px; width:100%;
}
.sFHeader {
  Z-INDEX: 4;
  OVERFLOW: hidden;
  POSITION: absolute; width:100%;
}
.sFHeader TABLE {
  TABLE-LAYOUT: fixed! important;
  WIDTH: 1px! important;
  BORDER-COLLAPSE: collapse! important;
  BACKGROUND-COLOR: #ffffff;
  border-spacing: 0px 0px; width:100%;
}
.sData {
  Z-INDEX: 2;
  OVERFLOW: auto;
  POSITION: absolute;
  BACKGROUND-COLOR: #ffffff; width:100%;
}
.sData TABLE {
  TABLE-LAYOUT: fixed! important;
  WIDTH: 1px! important;
  BORDER-COLLAPSE: collapse! important;
  border-spacing: 0px 0px; width:100%;
}
.sFData {
  Z-INDEX: 1;
  POSITION: absolute;
  BACKGROUND-COLOR: #ffffff; width:100%;
}
.sFDataInner {
  POSITION: relative
}
.sFData TABLE {
  TABLE-LAYOUT: fixed! important;
  WIDTH: 1px! important;
  BORDER-COLLAPSE: collapse! important;
  border-spacing: 0px 0px; width:100%;
}
.sDefault {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  FONT-SIZE: 0.8em;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  BORDER-TOP-STYLE: none;
  PADDING-TOP: 0px;
  FONT-FAMILY: Verdana, Arial, sans serif;
  BORDER-RIGHT-STYLE: none;
  BORDER-LEFT-STYLE: none;
  BORDER-BOTTOM-STYLE: none
}
.sDefault TH {
  BORDER-RIGHT: #cccccc 1px solid;
  PADDING-RIGHT: 6px;
  BORDER-TOP: #cccccc 1px solid;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 3px;
  BORDER-LEFT: #cccccc 1px solid;
  PADDING-TOP: 3px;
  BORDER-BOTTOM: #cccccc 1px solid;
  WHITE-SPACE: nowrap
}
.sDefault TD {
  BORDER-RIGHT: #cccccc 0px solid;
  PADDING-RIGHT: 6px;
  BORDER-TOP: #cccccc 0px solid;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 3px;
  BORDER-LEFT: #cccccc 0px solid;
  PADDING-TOP: 3px;
  BORDER-BOTTOM: #cccccc 0px solid;
  WHITE-SPACE: nowrap
}
.sDefault TH {
  BORDER-LEFT-COLOR: #c5c5c5;
  BORDER-BOTTOM-COLOR: #c5c5c5;
  BORDER-TOP-COLOR: #c5c5c5;
  BACKGROUND-COLOR: #e5e5e5;
  BORDER-RIGHT-COLOR: #c5c5c5
}
.sDefault-Fixed {
  BORDER-LEFT-COLOR: #c5c5c5;
  BORDER-BOTTOM-COLOR: #c5c5c5;
  BORDER-TOP-COLOR: #c5c5c5;
  BACKGROUND-COLOR: #eeeeee;
  BORDER-RIGHT-COLOR: #c5c5c5
}
.sSky {
  padding: 0px;
  font-size: 12px;
  color:#333;
  margin: 0px;
  border-top-style: none;
  font-family:inherit;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none
}
.sSky TH {
  border-right: #ffffff 1px solid !important;
  padding: 10px 15px 10px 15px !important;
  border-top: #ffffff 0px solid !important;
  border-left: #ffffff 0px solid !important;
  border-bottom: #ffffff solid;
  white-space: nowrap;
}
.sSky TD {
  border-right: #ececec 1px solid !important;
  padding: 8px 9px 8px 9px !important;
  border-top: #ffffff 0px solid !important;
  border-left: #ececec solid 1px !important;
  border-bottom: #ececec 1px solid !important;
  white-space: nowrap; font-size:13px;
}
.sSky TH { background-color: #efeded; border-bottom:1px solid #ffffff; text-align:center; color:#fff; text-transform:uppercase; font-size:11px; font-weight:400;}
.sSky-Fixed {background-color: #efeded; }
.sOrange {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  FONT-SIZE: 0.8em;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  BORDER-TOP-STYLE: none;
  PADDING-TOP: 0px;
  BORDER-RIGHT-STYLE: none;
  BORDER-LEFT-STYLE: none;
  BORDER-BOTTOM-STYLE: none
}
.sOrange TH {
  BORDER-RIGHT: #cebb9e 1px solid;
  PADDING-RIGHT: 6px;
  BORDER-TOP: #cebb9e 1px solid;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 3px;
  BORDER-LEFT: #cebb9e 1px solid;
  PADDING-TOP: 3px;
  BORDER-BOTTOM: #cebb9e 1px solid;
  WHITE-SPACE: nowrap
}
.sOrange TD {
  BORDER-RIGHT: #cebb9e 1px solid;
  PADDING-RIGHT: 6px;
  BORDER-TOP: #cebb9e 0px solid;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 3px;
  BORDER-LEFT: #cebb9e 1px solid;
  PADDING-TOP: 3px;
  BORDER-BOTTOM: #cebb9e 1px solid;
  WHITE-SPACE: nowrap
}
.sOrange TH {
  BACKGROUND-COLOR: #ecd8c7
}
.sOrange-Fixed {
  BACKGROUND-COLOR: #f7ede4
}
.sDark {
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  FONT-SIZE: 0.8em;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  COLOR: #ffffff;
  BORDER-TOP-STYLE: none;
  PADDING-TOP: 0px;
  BORDER-RIGHT-STYLE: none;
  BORDER-LEFT-STYLE: none;
  BORDER-BOTTOM-STYLE: none
}
.sDark TH {
  BORDER-RIGHT: #555555 1px solid;
  PADDING-RIGHT: 6px;
  BORDER-TOP: #555555 1px solid;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 3px;
  BORDER-LEFT: #555555 1px solid;
  PADDING-TOP: 3px;
  BORDER-BOTTOM: #555555 1px solid;
  WHITE-SPACE: nowrap
}
.sDark TD {
  BORDER-RIGHT: #555555 1px solid;
  PADDING-RIGHT: 6px;
  BORDER-TOP: #555555 0px solid;
  PADDING-LEFT: 4px;
  PADDING-BOTTOM: 3px;
  BORDER-LEFT: #555555 1px solid;
  PADDING-TOP: 3px;
  BORDER-BOTTOM: #555555 1px solid;
  WHITE-SPACE: nowrap
}
.sDark TH {
  BACKGROUND-COLOR: #000000
}
.sDark-Fixed {
  BACKGROUND-COLOR: #222222
}
.sDark-Main {
  BACKGROUND-COLOR: #333333
}
.fakeContainer {
  margin: 20px 0px;
  overflow: hidden;
  width: 100%;
  border-top-style: none;
  padding: 0px;
  border-right-style: none;
  border-left-style: none;
  height: 600px;
  border-bottom-style: none;
  border: 1px solid #c1c1c1 ;
}
