﻿@model EM.Web.Models.ChangePasswordViewModel
@{

    if (ViewBag.LayoutType == "User")
    {
        Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.LayoutType == "Admin")
    {
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }
    else if (ViewBag.LayoutType == "SalesRep")
    {
        Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "ChangePasswordForm" }))
{
    <div class="container-fluid padding-top-30 padding-bottom-50">
     
            <div class="col-md-6 col-sm-8 align_center">
                <div class="card fat">

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <input type="hidden" value="@ViewBag.LayoutType" name="Layout" />
                    @Html.AntiForgeryToken()
                    <div class="card-body">

                        @*<h4 class="card-title text-center text-20 text-bold">Change Password</h4>*@
                        <div class="form-group">
                            <label for="password" class="text-14">Old Password</label>
                            <div class="icon-addon addon-lg">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "txtResPassword" })
                                @*@Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-14">New Password</label>
                            <div class="icon-addon addon-lg">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-14">Confirm New Password</label>
                            <div class="icon-addon addon-lg">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @*@Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        <span id='PasswordValidationError' class='RequiredField' style="display:none;color:red;">Your password must contain at least 6 chars, one uppercase, 1 numeric and 1 special character.</span>
                        <div class="row">
                            <input type="submit" id="ChangePassword" value="Change password" class="btn btn-primary" style="color: rgb(255, 255, 255);background: rgba(0, 0, 0, 0); background-color: #009688;" />
                        </div>
                    </div>
                </div>
   
            </div>
        </div>

  
}

<script src="~/Content/CustomJs/Home.js?v=09022019"></script>
<script type="text/javascript">
        $(document).ready(function (e) {
            $("#ChangePassword").click(function () {
                var ValidatePwdStatus = PasswordValidator($("#NewPassword"));
                var ValidatePwdConfirmStatus = PasswordValidator($("#ConfirmPassword"));
                if (ValidatePwdStatus && ValidatePwdConfirmStatus) {
                    $("#PasswordValidationError").hide();
                    $(this).closest("form").submit();
                } else {
                    $("#PasswordValidationError").show();
                }
            });

            $("body").addClass("customer-login-page");
            preventEnterForSubmittingForm();
        })
        var uri = window.location.toString();

            var clean_uri = uri.substring(0, uri.indexOf("?"));
            clean_uri = clean_uri + "?Layout=" + '@ViewBag.LayoutType';
            window.history.replaceState({}, document.title, clean_uri);
</script>
