﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    select {
        display: block;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
    <li class="active">Spend</li>

</ol>

<div class="white-bg-cont">
    <!-- Search By Start here-->
    <div class="row search-by">
        <div class="col-sm-12"><h3>Search By</h3></div>
        <div class="col-sm-12">
            <form class="form-horizontal spend-res spend-data">

                <div class="form-group input-field clearfix col-sm-12 height18">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 text-left">
                        <input name="NewSearchCheck" type="checkbox" class="with-gap" id="NewSearchCheck">
                        <label class="" for="NewSearchCheck">Client</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 text-left mb_10">
                        <input type="text" class="autoDrop form-control" placeholder="Search for Client..." id="searchenable">
                        <span class="RequiredField" id="searchError"></span>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="form-group input-field clearfix col-sm-12 no-mrg height43">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 text-left">
                            <label class="spend-label" for="rbDateRange">Monthly</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 no-mrg dtp mb_1 ">
                            @Html.DropDownList("ddlMonths", ViewData["ddlMonths"] as IEnumerable<SelectListItem>, "--Months--", new { @id = "startMonth", @class = "form-control" })
                            <span class="RequiredField" id="startMonthError"></span>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 text-right">
                            <label class="spend-label">Years</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 no-mrg mb_1 ">
                            @Html.DropDownList("ddlYears", ViewData["ddlYears"] as IEnumerable<SelectListItem>, "--Years--", new { @id = "startYear", @class = "form-control" })
                            <span class="RequiredField" id="startYearError"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2" style="text-align:center;"><label class="mrg-tb" style="font-weight:bold;">Through</label></div>

                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="form-group input-field clearfix col-sm-12 no-mrg height43">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 text-left">
                            <label class="spend-label" for="rbDateRange">Monthly</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 no-mrg dtp mb_1 ">
                            @Html.DropDownList("ddlMonths", ViewData["ddlMonths"] as IEnumerable<SelectListItem>, "--Months--", new { @id = "endMonth", @class = "form-control" })
                            <span class="RequiredField" id="endMonthError"></span>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 text-right">
                            <label class="spend-label">Years</label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3 no-mrg mb_1">
                            @Html.DropDownList("ddlYears", ViewData["ddlYears"] as IEnumerable<SelectListItem>, "--Years--", new { @id = "endYear", @class = "form-control" })
                            <span class="RequiredField" id="endYearError"></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-12">
                    <div class="form-group input-field clearfix col-sm-12 no-mrg height43">
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-md-offset-6 text-right">
                                    <label class="spend-label" for="rbDateRange">Day</label>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 no-mrg dtp mb_1">
                                    @Html.DropDownList("ddlDays", ViewData["ddlDays"] as IEnumerable<SelectListItem>, "--Day--", new { @id = "startDay", @class = "form-control" })
                                    <span class="RequiredField" id="startDayError"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2" style="text-align:center;"><label class="mrg-tb" style="font-weight:bold;">Through</label></div>
                            <div class="col-sm-12 col-md-5">
                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <label class="spend-label">Day</label>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 no-mrg mb_1">
                                    @Html.DropDownList("ddlDays", ViewData["ddlDays"] as IEnumerable<SelectListItem>, "--Day--", new { @id = "endDay", @class = "form-control" })
                                    <span class="RequiredField" id="endDayError"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a class="btn btn_default btn-search text-uppercase pull-right mrg-t-0" onclick="SearchSpend();">Search</a>
                </div>
                <div class="clearfix mb8"></div>


            </form>
        </div>
    </div>
    <!-- Search Results spend table -->
    <button id="spendExport" class="pull-right" onclick="ExportSpend();" style="border:none;color:#009ac3;background:none;opacity:0.4" disabled><i class="fa fa-file-excel-o"></i> Export</button>
    <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">
        <table id="SpendTable" class="display new_grid" style="width:100%"></table>
    </div>


</div>
@section PageScript
    {
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="~/Content/CustomJs/Admin_SpendTab.js?v=04132020"></script>
 
}
