﻿@model EM.Web.Areas.Admin.Models.AdminDashboardModel
@{
    ViewBag.Title = "EditClientView";
}

@using (Ajax.BeginForm("UpdateUserProfile", "Dashboard", new { area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onBegin();", OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="modal fade" id="updateDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Admin Dashboard</h4>
                </div>
                <!--Body-->
                <div class="modal-body edt-pop">
                    @Html.HiddenFor(m => m.ClientDetails.Id)
                    <div class="row">
                        <div class="input-field-model">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="form2">Sales Rep</label>
                                    @Html.DropDownListFor(x => x.ClientDetails.SalesRepId, Model.SalesRepList, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="form2">Client Type</label>
                                    @Html.DropDownListFor(x => x.ClientDetails.ClientType, Model.ClientTypeList, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="">Member Type</label>
                                    @Html.DropDownListFor(x => x.ClientDetails.PlanId, Model.PlanList, new { @class = "form-control", onchange = "GetSubscriberDashboardList()" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="">No.Of Subscriber</label>
                                    @Html.DropDownListFor(x => x.ClientDetails.PackageId, Model.SubscriberList, new { @class = "form-control", onchange = "GetPackageDetail()" })
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="">Follow Up</label>
                                    @Html.TextBoxFor(m => m.ClientDetails.FollowUpDate, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="">
                                    <label for="form2">Monthly Credit</label>
                                    @Html.TextBoxFor(m => m.ClientDetails.MonthlyCredit, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="form2">MNTH Bill</label>
                                    @Html.TextBoxFor(m => m.ClientDetails.BillingAmount, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="">Next Billing Date</label>
                                    @Html.TextBoxFor(m => m.ClientDetails.NextPackageUpdateDate, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                        <div class="input-field">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="">CHRG Date</label>
                                    @Html.TextBoxFor(m => m.ClientDetails.PackageUpdateDate, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="">Billing Status</label>
                                    @Html.DropDownListFor(m => m.ClientDetails.BillingStatus, new List<SelectListItem> {
                                    new SelectListItem { Text = "Active", Value = "1" },
                                    new SelectListItem { Text = "InActive", Value = "-1" }, }, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="col-sm-6">
                                <div class="">
                                    <label>Email Sending</label>
                                    @Html.DropDownListFor(m => m.ClientDetails.EmailSending, new List<SelectListItem> {
                                     new SelectListItem { Text = "ON", Value = "true" },
                                     new SelectListItem { Text = "OFF", Value = "false" }, }, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label>CSV Upload</label>
                                    @Html.DropDownListFor(m => m.ClientDetails.IsCSVActive, new List<SelectListItem> {
                                   new SelectListItem { Text = "Active", Value = "true" },
                                   new SelectListItem { Text = "InActive", Value = "false" }, }, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                        <div class="input-field">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="">Account Status</label>
                                    @Html.DropDownListFor(m => m.ClientDetails.IsActive, new List<SelectListItem> {
                                  new SelectListItem { Text = "Active", Value = "true" },
                                  new SelectListItem { Text = "InActive", Value = "false" }, }, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="">
                                    <label for="form2">Time Zone</label>
                                    @Html.DropDownListFor(x => x.ClientDetails.TimeZoneID, Model.TimeZone, "Select", new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                        <div class="input-field-model">
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="form2">IP Pool</label>
                                    @Html.DropDownListFor(x => x.ClientDetails.IPPoolId, Model.IPPoolList, "Select", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <label for="form2">Referral Code</label>
                                    @Html.TextBoxFor(x => x.ClientDetails.PromotionCode, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                      
                        <!--Footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal" id="updateAdminUserDataModel">Close</button>
                            <button type="submit" class="btn btn_default">Save changes</button>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />
}
<script>
    $(document).ready(function () {
        preventEnterForSubmittingForm();
        var fDate = '@Model.ClientDetails.FollowUpDate';
        var packageUpdateDate = '@Model.ClientDetails.NextPackageUpdateDate';
        var packageDate = '@Model.ClientDetails.PackageUpdateDate';
        $('#ClientDetails_FollowUpDate').val(fDate);
        initSignalDatePicker($('#ClientDetails_FollowUpDate'));
        if (fDate == '') {
            $('#ClientDetails_FollowUpDate').val('');
        }
        $('#ClientDetails_NextPackageUpdateDate').val(packageUpdateDate);
        initSignalDatePickerWithTime($('#ClientDetails_NextPackageUpdateDate'));
        if (packageUpdateDate == '') {
            $('#ClientDetails_NextPackageUpdateDate').val('');
        }
        $('#ClientDetails_PackageUpdateDate').val(packageDate);
        initSignalDatePickerWithTime($('#ClientDetails_PackageUpdateDate'));
        if (packageDate == '') {
            $('#ClientDetails_PackageUpdateDate').val('');
        }

    })
</script>
