﻿@model EM.Factory.ViewModels.AdminTodayViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    select {
        display: block;
    }
</style>

<ol class="breadcrumb">
    <!-- <li><a href="#">Dashboard</a></li> -->
    <li class="active">Dashboard</li>
</ol>
<div class="white-bg-cont">
    @Html.HiddenFor(m => m.Id)

    <!-- Mini chart Start here-->
    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="mini-charts-item">
                    <div class="chart-top-brd"></div>
                    <div class="chart-bot-brd"></div>
                    <div class="col-xs-12 text-xs-center clnt-header">
                        <i class="fa new-client" aria-hidden="true"><img src="~/Content/admin/images/new-client.png" alt="" /></i>
                        <h4 class="ci-title text-green">Today’s New Clients</h4>
                    </div>
                    <div class="col-xs-12 text-xs-center clnt-fooret">
                        <div class="col-xs-6 border-r pdn-5">@Model.ClientBilling <span class="text-dark-green">Total Billing <img src="~/Content/admin/images/up-green-arrow.png" alt="" /></span></div>
                        <div class="col-xs-6 pdn-5">@Model.TotalClient <span>Total Accounts</span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mini-charts-item bd">
                    <div class="chart-top-brd"></div>
                    <div class="chart-bot-brd"></div>
                    <div class="col-xs-12 text-xs-center clnt-header">
                        <i class="fa bill-due" aria-hidden="true"><img src="~/Content/admin/images/bill-due.png" alt="" /></i>
                        <h4 class="ci-title text-orange">Today’s Monthly Bill Due</h4>
                    </div>
                    <div class="col-xs-12 text-xs-center clnt-fooret">
                        <div class="col-xs-6 border-r pdn-5"> @Model.BillDue <span class="text-dark-green">Total Billing <img src="~/Content/admin/images/up-green-arrow.png" alt="" /></span></div>
                        <div class="col-xs-6 pdn-5">@Model.BillDeclined <span>Total Declined <img src="~/Content/admin/images/down-red-arrow.png" alt="" /></span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="mini-charts-item sp">
                    <div class="chart-top-brd"></div>
                    <div class="chart-bot-brd"></div>
                    <div class="col-xs-12 text-xs-center clnt-header">
                        <i class="fa sms-purchas" aria-hidden="true"><img src="~/Content/admin/images/email-icon.png" alt="" /></i>
                        <h4 class="ci-title text-blue-dark">Today’s Plan Purchased</h4>
                    </div>
                    <div class="col-xs-12 text-xs-center clnt-fooret">
                        <div class="col-xs-6 border-r pdn-5">@Model.PacakagePurchase <span class="text-dark-green">Total Billing <img src="~/Content/admin/images/up-green-arrow.png" alt="" /></span></div>
                        <div class="col-xs-6 pdn-5">@Model.PackageDeclined <span>Total Declined <img src="~/Content/admin/images/down-red-arrow.png" alt="" /></span></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Mini chart Ends here-->
    <div class="row">
        <div class="col-lg-12 col-md-12 no-mrg-xs">
            <div class="search-row">

                <div class="col-md-12 col-lg-2 border-r l-h-65">
                    Total Clients: <span class="client-count">@Model.AllClients</span>
                </div>
                <div class="col-md-12 col-lg-8 border-r">
                    <label class="label-heddin">Search By:</label>
                    <div class="col-lg-4 col-md-12 no-mrg-xs mrg-l-30">
                        <div class="input-field">
                            <select class="form-control" id="ddlsearchoption">
                                <option value="Name" selected>Name on account</option>
                                <option value="Email">Email address</option>
                                <option value="MobileNumber">Mobile number</option>
                                <option value="NameOnCard">Name on card</option>
                                @*<option value="MumberType">Mumber Type</option>*@
                                @*<option value="ReferralCode">Referral code</option>*@
                                <option value="City">City</option>
                                <option value="State">State</option>
                                <option value="SalesRep">Sales Rep</option>
                                @*<option value="CampaignType">Campaign Type</option>*@


                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 no-mrg-xs">
                        <div class="input-field">
                            <input type="text" id="txtsearch" class="form-control" onkeypress="FilterTodaysAdmin(event,$('#ddlsearchoption'), $('#txtsearch').val())">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 no-mrg-xs">
                        <div class="input-field">

                            @Html.DropDownList("ClientTypeDDL", Model.ClientTypeList, "All Client", new { @class = "form-control" })
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn btn_default btn-search text-uppercase" id="btnSearch" href="javascript:void(0)" onclick="FilterTodays($('#ddlsearchoption'), $('#txtsearch').val())">Search</a>
                </div>

                <div class="col-md-12 col-lg-2 border-r">
                    <label class="label-heddin">Member Type:</label>
                    <div class="col-lg-12 col-md-12 no-mrg-xs">
                        <div class="input-field">
                            @*@Html.DropDownList("CampaignTypeDDL", Model.CampaignList, "Select", new { @class = "form-control" })*@
                               @Html.DropDownList("MemberTypeDDL", Model.MemberTypeList, "Select", new { @class = "form-control" })
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- Search Results data table Ends here-->
    <div class="container-fluid margin-top-10 over-x-hidden new_grid-wrap">

        <table id="dataTable" class="display new_grid" style="width:100%"></table>

    </div>
</div>

<div id="divEditClientModal"></div>

<div id="divNoteModal"></div>

@section PageScript{
    <script src="~/Content/CustomJs/AdminDashboard.js?v=03272020"></script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function () {
                    $(".jsgrid-pager").addClass("pagination");
                    $(".jsgrid-pager span").each(function (index, value) {
                        $(this).addClass("page-item");
                        $(this).children().addClass("page-link");
                        //console.log(this);
                    });
                }, 1000)
            });
        </script>*@
}