﻿<style>
    .container-fluid {
        margin-top: 26px !important;
        padding-bottom: 0px !important;
    }

    
    .template-strip-top-inner {
        background-color: #505659;
        display:inline-block;
        width:100%;
        padding-top:15px;
        padding-bottom:15px;
    }

    .text-12px {
        font-size: 11px !important;
        font-weight: 900;
    }

    .btn-info {
        color: #fff !important;
        background-color: #4cb9ea !important;
        border-color: #35b0e7 !important;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

        .btn-info:hover {
            background-color: #1da7e5 !important;
            border-color: #1da7e5 !important;
        }

    .btn.btn-info.btn-sm.text-12px {
        cursor: pointer;
    }
</style>

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Admin/CustomTemplates">My Templates</a></li>
    </ul>
</div>

<div class="row" style=" margin-right:-15px;margin-left:-15px;">

    <h2 style="color:green;text-align:center" id="heading">BeePlugin Editor</h2>
    <input type="hidden" id="TemplateId" name="TemplateId" />
    <input type="hidden" id="TemplateName" name="TemplateName" />
    <div class="template-strip-top text-right col-md-12">
        <div class="template-strip-top-inner">
            <div class="col-md-12">
                <button class="btn btn-info btn-sm text-12px" onclick="bee.preview()">PREVIEW</button> &nbsp;&nbsp;<button class="btn btn-info btn-sm text-12px" onclick="bee.save();">SAVE</button>
            </div>
        </div>
    </div>
    <div id="bee-plugin-container" class="iframe_wrap col-md-12" style="min-height:640px;width:100%"></div>


    @*<script src="~/Scripts/BeePlugin.js"></script>*@
    <script src="https://app-rsrc.getbee.io/plugin/BeePlugin.js"></script>

    <script>

        var uri = '/Admin/CustomTemplates/AuthorizeBEE';
            var userId = '@ViewBag.UserId';
        var specialLinks = [];

        var mergeTags = [
            {
            name: 'First Name',
                value: '%recipient.FirstName%'
        },
            {
            name: 'Last Name',
                value: '%recipient.LastName%'
            },
            {
            name: 'Email',
                value: '%recipient.Email%'
            }, {
             name: 'Contact',
                value: '%recipient.PhoneNo%'
            }
        ];

        var mergeContents = [];
        var beeConfig = {
            uid: userId,
            container: 'bee-plugin-container',
            autosave: 15,
            language: 'en-US',
            specialLinks: specialLinks,
            mergeTags: mergeTags,
            mergeContents: mergeContents,
            onSave: function (jsonFile, htmlFile) {
                SaveBeeTemplateContent(htmlFile, jsonFile, $("#TemplateName").val());
                return false;


            },

            onSaveAsTemplate: function (jsonFile, htmlFile)
            {
                bee.save();
                //SaveBeeTemplateContent(htmlFile, jsonFile, $("#TemplateName").val());
                //console.log('onSaveAsTemplate.html', jsonFile);
            },
            onLoad: function (jsonFileLoad) {
                // console.log('jsonFileLoad ', jsonFileLoad);
            },
            onAutoSave: function (jsonFile) {

                //console.log(new Date().toISOString() + ' autosaving...');
                //window.localStorage.setItem('newsletter.autosave', jsonFile);
            },
            onSend: function (jsonFile) {


                // console.log('onSend ', jsonFile);
            },
            onError: function (errorMessage) {
            // Send an AJAX request
            $.ajax({
                method: "GET",
                url: uri
            }).done(function (data) {
                //console.log('auth done', data);
                var token = data;
                //console.log(token);
                BeePlugin.create(JSON.parse(token), beeConfig, function (beePluginInstance) {
                    bee = beePluginInstance;
                    var templateId = '@ViewBag.TemplateId';
                    if (templateId == null || templateId =="") {
                        templateId = 0;

                    }
                    $.ajax({
                        type: "GET",
                        url: '/Admin/CustomTemplates/GetTemplateById/'+templateId
                        //method:'GET',
                        //url: 'https://rsrc.getbee.io/api/templates/m-bee'
                    }).done(function (template) {
                        $("#TemplateId").val(templateId);
                        $("#TemplateName").val(template.TemplateName);
                        bee.start(JSON.parse(template.TemplateJSON));
                    });
                });
            });
                 console.log('onError ', errorMessage);
            },
            onTogglePreview: function (previewTemplate) {
                //alert("hello Preview");
                console.log('previewTemplate ', previewTemplate);
            }

        };
           var bee = null;

        $(document).ready(function () {

            $("body").addClass("sidenav-toggled");
            $('#heading').fadeIn('slow', function () {
                $('#heading').delay(1).fadeOut();
            });
            // Send an AJAX request
            $.ajax({
                method: "GET",
                url: uri
            }).done(function (data) {
                //console.log('auth done', data);
                var token = data;
                //console.log(token);
                BeePlugin.create(JSON.parse(token), beeConfig, function (beePluginInstance) {
                    bee = beePluginInstance;
                    var templateId = '@ViewBag.TemplateId';
                    if (templateId == null || templateId =="") {
                        templateId = 0;

                    }
                    $.ajax({
                        type: "GET",
                        url: '/Admin/CustomTemplates/GetTemplateById/'+templateId
                        //method:'GET',
                        //url: 'https://rsrc.getbee.io/api/templates/m-bee'
                    }).done(function (template) {
                        $("#TemplateId").val(templateId);
                        $("#TemplateName").val(template.TemplateName);
                        bee.start(JSON.parse(template.TemplateJSON));
                    });
                });
            });
        });
        //function SaveBeeTemplateContent(htmlFile, jsonFile, name) {

        //    var titleName = '';
        //    if (name != '' && name != undefined && $("#TemplateId").val() != '') {
        //        titleName = 'Are you sure you want to update?';
        //    } else {
        //        titleName = 'Please enter the template name!';
        //    }
        //    var dialog = bootbox.dialog({
        //        title: titleName,
        //        message: "<input type='text' id='templateName' placeholder='Enter Template Name' class='form-control' value='" + name +"'/><br/><span id='errmsg' style='color:red;'></span>",
        //        buttons: {
        //            cancel: {
        //                label: "Cancel",
        //                className: 'btn-danger',
        //                callback: function () {
        //                    HideLoader();
        //                    LoadHTMLPage("Admin", "CustomTemplates", "BeeTemplates", [], [], "Get", $("#ContainerDiv"));
        //                }
        //            },
        //            success: {
        //                label: "Submit",
        //                callback: function () {
        //                    var templateName = $("#templateName").val();
        //                    if (templateName == null || templateName == "") {
        //                        $("#errmsg").html("This field cannot be blank.");
        //                        return false;
        //                    }
        //                    else {
        //                        showLoader();
        //                        //console.log('onSave', htmlFile);
        //                        var templateViewModels = {
        //                            "TemplateHtml": htmlFile,
        //                            "TemplateJSON": jsonFile,
        //                            "TemplateName": templateName,
        //                            "TemplateId": $("#TemplateId").val()
        //                        };
        //                        //var formData = new FormData();
        //                        //formData.append('templateViewModel', JSON.stringify(templateViewModel));
        //                        $('#tempdata').html(htmlFile);
        //                        $('#myModal').modal('toggle');
        //                        $('#myModal').modal('show');
        //                        var tempBase64Image = '';

        //                        setTimeout(
        //                            function () {
        //                                getPreview(function (res) {
        //                                    $('#closeModel').click()
        //                                    HideLoader();
        //                                    $.ajax({
        //                                        type: "POST",
        //                                        url: '/Admin/CustomTemplates/SaveBeeTemplateContent',
        //                                        data: JSON.stringify({
        //                                            "templateViewModel": templateViewModels,
        //                                            "base64String": res
        //                                        }),
        //                                        contentType: 'application/json; charset=utf-8',
        //                                        dataType: "json",
        //                                        success: function (data) {
        //                                            if ($("#TemplateId").val() == 0) {
        //                                                GenerateAlert("Template has been successfully created", "", "success", loadtemplates);

        //                                            } else {
        //                                                GenerateAlert("Template has been successfully updated", "", "success", loadtemplates);
        //                                            }
        //                                            //LoadHTMLPage("User", "Templates", "TemplateList", [], [], "Get", $("#ContainerDiv"));
        //                                        },
        //                                        error: function (errordt) {
        //                                            //console.log("errordt  " + JSON.stringify(errordt));
        //                                        },
        //                                        failure: function (failuredt) {
        //                                            // console.log("failuredt  " + failuredt);
        //                                        }
        //                                    });
        //                                })


        //                            }, 1000);

        //                    }
        //                }
        //            }
        //        }
        //    });
        //}


    </script>
</div>

<script type="text/javascript">

    function loadtemplates()
    {
        window.location.reload();

    }
</script>
