﻿
@{
    ViewBag.Title = "Email Marketing Bee-Plugin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}


<section class="content">
    <div id="ContainerDiv">

    </div>
</section>



<div class="modal fade" id="myModal" role="dialog" style="opacity: 0">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="tempdata">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModel">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScript
    {
    <script src="~/Content/CustomJs/AdminTemplate.js?v=04082020"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script type="text/javascript">
         var pageSize = @Constants.PageSize;
        $(document).ready(function ()
        {
            
            $('#customActive').addClass("active");
            
            LoadHTML("Admin", "CustomTemplates", "TemplateList");
            preventEnterForSubmittingForm();
        });
    </script>

}


