﻿
@model IEnumerable<EM.Factory.usp_getTemplateList_Result>

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item">My Templates</li>
    </ul>
</div>

<div class="row PageNumberClass">

    <div class="col-md-12">
        @{
            var attribute = string.Empty;
            if (Model == null || Model.Count() == 0)
            {
                attribute = "disabled disbaledLink";
            }

        }
        <div class="tile">
            <div class="row mb-4 mt-2">
                <div class="col-md-2">
                    <div class="animated-checkbox margin-left-12">
                        <label><input type="checkbox" onclick="SelectAllCheckBoxAdminTemplate(this);" id="MasterCheckbox" @attribute> <span class="label-text">Select All</span></label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn btn-outline-secondary form-control" id="demoSwal" type="button" onclick="DeleteAdminTemplate()" @attribute><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                        </div>
                        <div class="col-md-1">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="">
                                <button type="button" class="btn btn-outline-secondary form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @attribute>
                                    Sort By
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="SortAdminTemplate('NameAsc')">Template Name (A-Z)</a>
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="SortAdminTemplate('NameDesc')">Template Name (Z-A)</a>
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="SortAdminTemplate('DateAsc')">Date Created Ascending</a>
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="SortAdminTemplate('DateDesc')">Date Created Descending</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="btn-group">

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div id="template-search-input">
                                <form method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-lg" placeholder="Search saved templates" id="serachTemplate" @attribute>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-lg" type="submit" @attribute>
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="btn-group">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"><a class="mb-2 btn btn-outline-success form-control btn-width" href="javascript:void(0)" onclick="LoadHTML('Admin','CustomTemplates','BeeTemplate');"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Template</a></div>
            </div>

            <div class="table-responsive margin-top-16" id="templateListGrid">
                @Html.Partial("TemplateListGrid", Model)
            </div>
            @if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecord > Constants.PageSize)
            {
                <div class="text-right">
                    <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" type="button" onclick="TemplateAdminPagging('Back','TemplateListGrid')" id="Back"><i class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-primary btn-sm" type="button" onclick="TemplateAdminPagging('Next','TemplateListGrid')" id="Next"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        TemplateAdminPage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord');
        $("#serachTemplate").change(function () {
            SearchAdminTemplate();
        });
    });

</script>