﻿@model IEnumerable<EM.Factory.usp_getTemplateList_Result>
<table class="table table-striped text-14">
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var imagePath = "/Content/imagesUser/template.jpg";
                if (item.TemplatePath != null && System.IO.File.Exists(Server.MapPath(item.TemplatePath)))
                {
                    imagePath = Url.Content(item.TemplatePath);
                }
                <tr>
                    <td class="align-middle" style="width: 5%;">
                        <div class="animated-checkbox">
                            <label><input type="checkbox" class="SelectedCheckBox" value="@item.TemplateId" onchange="selectchk()"><span class="label-text"></span></label>
                        </div>
                    </td>
                    <td class="align-middle text-left">
                        <div style=" max-width:400px;min-width:300px; width:100%; display:block; margin: 0 auto;">
                            <img src="@imagePath" class="img-border-gray" style="width: 100%;height: 100%;border: 1px solid #0794cc;">
                        </div>
                    </td>
                    <td class="align-middle text-left" style="width: 77%;">
                        <span class="text-bold text-18"><a href="#">@item.TemplateName</a></span>

                        @{
                            var lastEditedDate = item.LastModDate == null ? item.CreatedDate : Convert.ToDateTime(item.LastModDate);
                        }
                        <br><span class="text-13"><b>Last edited</b> on @lastEditedDate.ToString("MMM") @lastEditedDate.Day, @lastEditedDate.ToString("yyyy") @lastEditedDate.ToString("HH:mm") @lastEditedDate.ToString("tt") by @item.EditedBy</span>

                    </td>
                    <td class="align-middle text-center text-16" style="width: 10%;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" onclick="LoadHTMLWithId('Admin', 'CustomTemplates', 'BeeTemplate',@item.TemplateId);">
                                Edit
                            </button>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No Record Found!</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        TemplateAdminPage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')

            });

</script>
