@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 1366px) {

}



@media only screen and (max-width: 1272px) {
.navbar{ display: block; }
.container{max-width:100%;}
.collapse.show { display: none;}
.navbar-collapse{flex-basis: 100% !important; -webkit-box-flex: 1;}
.navbar-collapse.collapse {display: none !important;} 
.navbar-collapse.collapse.show { display: block !important; }
.navbar-light .navbar-toggler{display:block !important;}
nav a{ display:block !important;}
nav a:hover{ background-color:#ececec;}
.section-one{background-image:none;padding-top: 60px;}
.section-two{background-image:none;padding-top: 60px; min-height:300px;}
.section-three{background-image:none;padding-top: 60px;}
.section-four{background-image:none;padding-top: 60px;}
.section-five{padding-top:120px;}
.section_bg{left: -220px;}
.h2{ font-size:36px;}
.btn-dark{ width: 100%; }
}

@media only screen and (max-width: 1199px) {
br{ display:none;}
}
@media only screen and (max-width: 1023px) {
.navbar-nav{ border-left:none; margin-left:0px;padding-left: 0px;}
.navbar-light .navbar-toggler{margin-top: 0px;}
nav a{ display:block !important;}
nav a:hover{ background-color:#ececec;}
.section_bg{left: -290px;}
}


@media only screen and (max-width: 767px) {
.nav a{ display:block !important;}
.section-one{ padding-top:40px;}
.section-two{ text-align:center;padding-top:20px;}
.section-three{}
.section-four{ text-align:center;}
.section-five{ padding-top:50px}
.section-six .btn-dark{ display:block; width:100%}
.video-thumb{ margin-top:20px;}
.mobile-img{ margin-bottom:20px;}
.h1{font-size: 40px;}
.h2{font-size: 32px;}
.flex-md-row {-webkit-box-orient: horizontal!important;-webkit-box-direction: normal!important;-ms-flex-direction: row!important;flex-direction: row!important;}
}

@media only screen and (max-width: 639px) {


}

@media only screen and (max-width: 479px) {
.btn-mrg-r15{ margin-right:0px; margin-bottom:15px; width:100%;}
.btn-mrg-l15{ margin-left:0px; width:100%;}

}