﻿
<!DOCTYPE html>
<html lang="en">
<head>



    <meta name="viewport" content="width=device-width" />
    <title>CheapestEmail Admin - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="~/Content/cssUser/mainNew.css" rel="stylesheet" />
    <link href="~/Content/cssUser/custom.css" rel="stylesheet" />
    <!-- Font-icon css-->
    <link href="~/Content/cssUser/font-awesome.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link href="~/Content/Loader.css" rel="stylesheet" />
    <link href="~/Content/admin/adminmenu.css" rel="stylesheet" />
    <link href="/Content/cssUser/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>

</head>
<body>
    <div style="padding-left:5px;padding-right:5px;">
        <nav class="navbar navbar-custom" style="background-color: #0794cc;padding-right:30px;">
            <ul class="nav navbar-nav navbar-left">

                <li class="active"><a href="/Admin/Data">Todays <span class="sr-only"></span> | </a></li>
                <li><a href="/Admin/Dashboard/Index">Dashboard <span class="sr-only"></span> | </a></li>
                <li><a href="/Admin/SalesRep">Sales Rep <span class="sr-only"></span> | </a></li>
                <li><a href="/Admin/Dashboard/CreateNewAccount">Create New Account <span class="sr-only"></span> | </a></li>
                <li><a href="/Admin/UpcomingBilling/Index">Upcoming Billing<span class="sr-only"></span></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret">&nbsp;</span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Manage/ChangePassword?Layout=Admin"><i class="fa fa-lock"></i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="/Account/LogOff"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="container text-center">
            &nbsp;
        </div>
        <div class="container-fluid">
            <!-- Main Content-->
            <main class="app-content">
                @RenderBody()
            </main>
            <div class="circle_loader" id="divLoader" style="display:none;">
                <div class="circle__item">
                    <svg class="circle__spinner" viewBox="0 0 50 50">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- Essential javascripts for application to work-->

    @Scripts.Render("~/bundles/UserJQuery")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>

    @RenderSection("PageScript", false);
</body>
</html>

