﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Admin Dashboard</title>
    <!-- Application Font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/Content/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/Content/admin/css/mdb.min.css" rel="stylesheet">
    <link href="~/Content/cssUser/font-awesome.css" rel="stylesheet" />


    <!-- Your custom styles (optional) -->
    <link href="/Content/admin/css/style.css?v=05272019" rel="stylesheet">
    <link href="/Content/admin/css/responsive.css" rel="stylesheet">
    <link href="~/Content/Loader.css" rel="stylesheet">
    <link href="~/Content/cssUser/mainNew.css" rel="stylesheet">
    <link href="~/Content/cssUser/custom.css?v=05292019" rel="stylesheet">
    <link href="/Content/cssUser/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedcolumns/3.2.1/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

</head>

<body>

    <!-- Loader -->
    <div class="circle_loader" id="divLoader" style="display:none;">
        <div class="circle__item">
            <svg class="circle__spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
            </svg>
        </div>
    </div>
    <!-- Dashboard Start here-->
    <!--Navbar-->
    <nav class="navbar navbar-dark bg-primary pdn-0">
        <!--Collapse button-->
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="fa fa-bars white-text"></i></a>

        <!--Content for large and medium screens-->
        <div class="navbar-desktop nav-b-border">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#"><img src="~/Content/admin/images/logo.png" alt="express" /></a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item sales-nav-item " id="todayActive">
                    <a class="nav-link" href="/Admin/Dashboard"><i class="fa d-block text-xs-center dashboard"></i>Dashboard</a>
                </li>
                <li class="nav-item" id="salesRepActive">
                    <a class="nav-link" href="/Admin/SalesRep"><i class="fa data d-block text-xs-center"></i>Sales Rep</a>
                </li>
                <li class="nav-item" id="spendActive">
                    <a class="nav-link" href="/Admin/Spend"><i class="fa spend d-block text-xs-center"></i>Spend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa leads d-block text-xs-center"></i>Create
                    </a>
                    <ul class="dropdown-menu submenu-width">
                        <li><a href="/Admin/SalesRep/Index?curView=add">Create Rep</a></li>
                        <li><a href="/Admin/Client/CreateNewAccount">Create Client</a></li>
                    </ul>
                </li>
                <li class="nav-item" id="billingActive">
                    <a class="nav-link" href="/Admin/UpcomingBilling/Index"><i class="fa spend d-block text-xs-center"></i>Upcoming Billing</a>
                </li>
                <li class="nav-item sales-nav-item " id="dataActive">
                    <a class="nav-link" href="/Admin/Data"><i class="fa data d-block text-xs-center"></i>Data</a>
                </li>
                <li class="nav-item sales-nav-item" id="promocodeActive">
                    <a class="nav-link" href="/Admin/PromotionCode/Index"><i class="fa data d-block text-xs-center"></i>Promotion Code</a>
                </li>
                <li class="nav-item sales-nav-item " id="promocodeActive">
                    <a class="nav-link" href="/Admin/RepActivity"><i class="fa follow d-block text-xs-center"></i>Rep Activity</a>
                </li>
                <li class="nav-item sales-nav-item " id="masterdataActive">
                    <a class="nav-link" href="/Admin/AdminControl/MasterData"><i class="fa follow d-block text-xs-center"></i>Provider Management</a>
                </li>
                @*<li class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa data d-block text-xs-center"></i>Master Data Management
            </a>
            <ul class="dropdown-menu submenu-width">
                <li><a href="/Admin/AdminControl/MasterData">Provider Management</a></li>
                <li><a href="/Admin/IPPool/PoolData">IP Pool Management</a></li>
                <li><a href="/Admin/IPAddress/IPAddressData">IP Addresses</a></li>
            </ul>
        </li>*@
                <li class="nav-item sales-nav-item " id="customActive">
                    <a class="nav-link" href="/Admin/CustomTemplates"><i class="fa follow d-block text-xs-center"></i>Custom Templates</a>
                </li>
            </ul>
            <!--login user here-->
            <div class="navbar-custom-menu pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="User Image" class="user-image" src="~/Content/admin/images/avatar5.png"> <span class="hidden-xs l-h-40">Admin</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-footer">
                                <div class="pull-left"> <a class="waves-effect waves-light btn btn_default" href="/Manage/ChangePassword?Layout=Admin">Change Password</a> </div>
                                <div class="pull-right" style="margin:10px;"> <a class="waves-effect waves-light btn btn_default" href="/Account/LogOff">Logout</a> </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--login user ends-->
            <!--notification Start here-->
            @*<div class="notify pull-right">
                    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                        <i class="fa fa-bell-o notification-icon" data-count="2"></i>
                    </a>

                    <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">

                        <div class="notification-heading">
                            <h4 class="menu-title">Notifications</h4><h4 class="menu-title pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                        </div>
                        <li class="divider"></li>
                        <div class="notifications-wrapper">
                            <a class="content" href="#">

                                <div class="notification-item">
                                    <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                                    <p class="item-info">Marketing 101, Video Assignment</p>
                                </div>

                            </a>
                            <a class="content" href="#">
                                <div class="notification-item">
                                    <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                                    <p class="item-info">Marketing 101, Video Assignment</p>
                                </div>
                            </a>


                        </div>
                        <li class="divider"></li>
                        <div class="notification-footer"><h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></div>
                    </ul>

                </div>*@
            <!--notification Ends here-->

        </div>

        <!-- Content for mobile devices-->
        <div class="navbar-mobile">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#"><img src="~/Content/admin/images/logo.png" alt="express" /></a>
            <ul class="side-nav" id="mobile-menu">
                <li class="nav-item sales-nav-item " id="todayActive">
                    <a class="nav-link" href="/Admin/Dashboard"><i class="fa d-block text-xs-center dashboard"></i>Dashboard</a>
                </li>
                <li class="nav-item" id="salesRepActive">
                    <a class="nav-link" href="/Admin/SalesRep"><i class="fa leads d-block text-xs-center"></i>Sales Rep</a>
                </li>
                <li class="nav-item" id="spendActive">
                    <a class="nav-link" href="/Admin/Spend"><i class="fa leads d-block text-xs-center"></i>Spend</a>
                </li>
                <li class="nav-item" id="createRepActive">
                    <a class="nav-link" href="/Admin/SalesRep/Index?curView=add"><i class="fa spend d-block text-xs-center"></i>Create Rep</a>
                </li>
                <li class="nav-item" id="createClientActive">
                    <a class="nav-link" href="/Admin/Client/CreateNewAccount"><i class="fa spend d-block text-xs-center"></i>Create Client</a>
                </li>
                <li class="dropdown nav-item" id="createRepActive">
                    <a data-toggle="dropdown" class="dropdown-toggle nav-link" href="#!"><i class="fa spend d-block text-xs-center"></i>Create</a>
                </li>
                <li class="nav-item" id="billingActive">
                    <a class="nav-link" href="/Admin/UpcomingBilling/Index"><i class="fa leads d-block text-xs-center"></i>Upcoming Billing</a>
                </li>
                <li class="nav-item sales-nav-item " id="dataActive">
                    <a class="nav-link" href="/Admin/Data"><i class="fa data d-block text-xs-center"></i>Data</a>
                </li>
                <li class="nav-item sales-nav-item" id="promocodeActive">
                    <a class="nav-link" href="#!"><i class="fa data d-block text-xs-center"></i>Promotion Code</a>
                </li>
                <li class="nav-item sales-nav-item " id="promocodeActive">
                    <a class="nav-link" href="/Admin/RepActivity"><i class="fa follow d-block text-xs-center"></i>Rep Activity</a>
                </li>
                <li class="nav-item sales-nav-item" id="masterdataActive">
                    <a class="nav-link" href="/Admin/AdminControl/MasterData"><i class="fa data d-block text-xs-center"></i>Provider Management</a>
                </li>
                @*<li class="nav-item" id="IPPoolActive">
                    <a class="nav-link" href="/Admin/IPPool/PoolData"><i class="fa data d-block text-xs-center"></i>IP Pool Management</a>
                </li>*@
                <li class="nav-item sales-nav-item " id="customActive">
                    <a class="nav-link" href="/Admin/CustomTemplates"><i class="fa follow d-block text-xs-center"></i>Custom Templates</a>
                </li>
            </ul>
        </div>


    </nav>
    <!--/.Navbar-->
    <!-- Mid contant Start here-->
    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
        <div class="copyright2">Copyright © 2019 Cheapest Email Admin Panel. All rights reserved.</div>
    </main>
    <!-- Mid contant Ends here-->
    <!-- Dashboard Ends here-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    @Scripts.Render("~/bundles/AdminJS")

    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>

    @RenderSection("PageScript", false);

    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        })
    </script>
    <script>
        $(".button-collapse").sideNav();
        $(document).ready(function () {
            $('.mdb-select').material_select();
        })
    </script>

</body>

</html>
