﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="EM.StaticWeb.Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <!-- Section 1 Start -->
    <div class="section-one">
        <div class="jumbotron container text-center">
            <h1 class="h1">Grow your list, engage your contacts, & drive more sales</h1>
            <div class="col-12 mrg-tb30">
                <a class="btn btn-primary btn-lg btn-mrg-r15" href="<%=ConfigurationManager.AppSettings["register_url"]+"/Account/Register?Package=1&loc=us" %>">Get Started For Free</a>
                <a class="btn btn-outline-primary btn-lg" href="<%=ConfigurationManager.AppSettings["pricing_url"] %>">Pricing & Plans</a>
            </div>
            <p><strong>Cheapest<span class="text-blue">eMail</span></strong> is the growing marketing automation platform. It helps millions of customers from small e-commerce shops to big online retailers & more other industries. Find your audience, build a relationship and sell your products. Reach your business goals with Cheapest<span class="text-blue">eMail's</span> email marketing and automation platform.</p>
        </div>
    </div>
    <!-- End Section 1 -->


    <!-- Section 2 Start -->
    <div class="section-two">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1 class="h2">What is Cheapest<span class="text-blue">eMail</span>?</h1>
                    <h5 class="h5 mrg-b30">Cheapest<span class="text-blue">eMail</span> a powerful email newsletter campaign tool</h5>
                    <p><strong>Cheapest<span class="text-blue">eMail</span></strong> is the easiest way to create, send, share and track email newsletters online. Cheapest<span class="text-blue">eMail</span> is for people who want email marketing to be simple & easy. Every day, over 1 million emails are sent, shared and tracked using our delightful and powerful service.</p>
                    <a class="btn btn-outline-primary btn-lg" href="Features.aspx">Explore Features</a>
                </div>
                <div class="col-md-7 video-thumb">
                    <img src="images/dashboard-screen.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- End Section 2 -->


    <!-- Section 3 Start -->
    <div class="section-three">
        <div class="container">
            <!-- Section heading -->
            <h2 class="h1-responsive h2 text-center">Connecting with customers starts with best email editor</h2>
            <h4 class="h4 text-center w-responsive mx-auto mb-5">Create and share professional-looking emails in minutes</h4>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-3">
                            <figure>
                                <img class="img-fluid" src="images/choose-email-ic.png" alt="Choose an email template" />
                            </figure>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-9">
                            <h5 class="features-title">Choose an email template</h5>
                            <p class="grey-text">Search and browse from more than 1000 email responsive mobile optimized templates from Cheapest<span class="text-blue">eMail</span> database listed as category wise.</p>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row margin-top-15">

                        <!-- Grid column -->
                        <div class="col-3">
                            <figure>
                                <img class="img-fluid" src="images/add-call-ic.png" alt="Add call to action blocks" />
                            </figure>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-9">
                            <h5 class="features-title mb-3">Add call to action blocks</h5>
                            <p class="grey-text">Add call to action blocks in your email template to attract more customers and push to visit your website url.</p>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row margin-top-15">

                        <!-- Grid column -->
                        <div class="col-3">
                            <figure>
                                <img class="img-fluid" src="images/create-user-ic.png" alt="Create user’s email accounts list" />
                            </figure>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-9">
                            <h5 class="features-title mb-3">Create user's email accounts</h5>
                            <p class="grey-text mb-md-0">Create your customer’s email list by exporting a CSV Excel file or can manually add your customer’s data with name and email.</p>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 text-center mobile-img">
                    <img class="img-fluid" src="images/mobile-img.png" alt="Connecting with customers">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-3">
                            <figure>
                                <img class="img-fluid" src="images/customize-ic.png" alt="Customize selected template" />
                            </figure>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-9">
                            <h5 class="features-title">Customize selected template</h5>
                            <p class="grey-text">Customize a template with your logo, images, and colors. Or you can create own email template using HTML, Images, CSS etc.</p>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row margin-top-15">

                        <!-- Grid column -->
                        <div class="col-3">
                            <figure>
                                <img class="img-fluid" src="images/drag-drop-ic.png" alt="Drag and drop with ease" />
                            </figure>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-9">
                            <h5 class="features-title mb-3">Drag and drop with ease</h5>
                            <p class="grey-text">Easily drag and drop objects like boxes, images, buttons, text in an appropriate place to make email template looks better and easy to read.</p>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row margin-top-15">

                        <!-- Grid column -->
                        <div class="col-3">
                            <figure>
                                <img class="img-fluid" src="images/send-email-ic.png" alt="Send email to your customers" />
                            </figure>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-9">
                            <h5 class="features-title mb-3">Send email to your customers</h5>
                            <p class="grey-text mb-0">Send your email campaign to the selected customers in list. You can track your email campaign if it is read or not.</p>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
    </div>

    <!-- End Section 3 -->



    <!-- Section 4 Start -->

    <div class="section-four">
        <div class="container-fluid">
            <div class="row nomargin">
                <div class="col-xl-5 col-lg-8 col-md-12 offset-xl-2 offset-lg-0 offset-md-0">
                    <h2 class="h2 text-center">Try us out – it’s free!</h2>
                    <h5 class="h5 mrg-b50 text-center">Try Cheapest<span class="text-blue">eMail</span> free for 30 days and access all the email tools and help you<br />
                        need to grow your business.</h5>

                    <div class="row">
                        <div class="col-md-6 mrg-b30">
                            <h5 class="features-title mb-3">Customer Solutions</h5>
                            <p class="grey-text mb-0">Get help when you need it via unlimited phone, live chat and email from a team that's committed to you and your business.</p>
                        </div>
                        <div class="col-md-6 mrg-b30">
                            <h5 class="features-title mb-3">All Features Included</h5>
                            <p class="grey-text mb-0">Get access to every feature from day one, including auto responders, segmentation, reports and integrations.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mrg-b30">
                            <h5 class="features-title mb-3">Deliverability</h5>
                            <p class="grey-text mb-0">Trust that your emails are optimized to get delivered to the inbox.</p>
                        </div>
                        <div class="col-md-6 mrg-b30">
                            <h5 class="features-title mb-3">Educational Content</h5>
                            <p class="grey-text mb-0">Get access to our blog, video library, knowledge base, educational guides and more to help you master email marketing.</p>
                        </div>
                    </div>

                </div>
                <div class="col-xl-5 col-lg-4 col-md-12 offset-xl-0 offset-lg-0 offset-md-0">
                    <figure>
                        <img class="img-fluid" src="images/try-us-out-img.png" alt="" />
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- End Section 4 -->


    <!-- Section 5 Start -->

    <div class="section-five">
        <div class="container">
            <h1 class="h2 text-center">What our customers say about Cheapest<span class="text-blue">eMail</span></h1>

            <div class="row">
                <div class="col-md-6 mrg-t50">
                    <div class="testimonial">
                        <p class="font-weight-normal"><i class="fa fa-quote-left pr-2"></i>Cheapest<span class="text-blue">eMail</span> offers high deliverability and exceptional customer solutions. Anytime we've had an issue or question, they've been quick to offer support and even send resources with instructions...We've realized the importance of creating auto responders to continue educating our list of subscribers. While it's great to add people to a list, you have to keep in contact with them so that you stay top-of-mind, with relevant content.</p>
                        <div class="avatar mx-auto">
                            <img src="images/testi-img.png" class="rounded-circle img-fluid" alt="">
                            <h5 class="font-weight-bold mt-4">Christian K., IBM</h5>
                            <p>Fremont, CA</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mrg-t50">
                    <div class="testimonial">
                        <p class="font-weight-normal"><i class="fa fa-quote-left pr-2"></i>The customer service is amazing. I can pick up the phone and I get through quickly to someone who is incredibly knowledgeable. Often they create a solution I couldn't have anticipated.</p>
                        <div class="avatar mx-auto">
                            <img src="images/testi-img2.jpg" class="rounded-circle img-fluid" alt="">
                            <h5 class="font-weight-bold mt-4">John C., Smart Business Revolution</h5>
                            <p>Austin, TX</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 mrg-t50">
                    <div class="testimonial">
                        <p class="font-weight-normal"><i class="fa fa-quote-left pr-2"></i>I love how easy Cheapest<span class="text-blue">eMail</span> is to use. The ready made templates are fantastic and make my emails look stunning and professional. It is incredibly easy to manage multiple lists, sign up forms, run campaigns, schedule broadcasts and track conversions.</p>
                        <div class="avatar mx-auto">
                            <img src="images/testi-img3.jpg" class="rounded-circle img-fluid" alt="">
                            <h5 class="font-weight-bold mt-4">Jeanine L., TheBusinessRef</h5>
                            <p>Los Angeles, CA</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mrg-t50">
                    <div class="testimonial">
                        <p class="font-weight-normal"><i class="fa fa-quote-left pr-2"></i>The thing I like best is the customized sign up boxes you can create. Everyone offers the newsletter templates but the customized signups are key to integrating into sites. Plus, I love the javascript versions so when a change is made on the form it automatically shows up on the website without having to add it again..</p>
                        <div class="avatar mx-auto">
                            <img src="images/testi-img4.jpg" class="rounded-circle img-fluid" alt="">
                            <h5 class="font-weight-bold mt-4">Gene S., Sansom Media, LLC</h5>
                            <p>Oakland, CA</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- End Section 5 -->



    <!-- Section 6 Start -->

    <div class="section-six">
        <span class="section_bg">
            <img class="img-fluid" src="images/content6-bg.png"></span>
        <div class="container">
            <h2 class="h2 text-center text-white">Quick, simple and easy-to-use email marketing.</h2>
            <h5 class="h5 mrg-b30 text-center text-white">Easily manage your email marketing strategy and launch email campaigns that’ll help you connect and sell more.</h5>
         
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control-lg" placeholder="First Name" id="txtFname">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control-lg" placeholder="Last Name" id="txtLName">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control-lg" placeholder="Email Address" id="txtEmail">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <a  href="#!" onclick="register()" class="btn btn-dark btn-lg">Try Cheapest<span class="text-blue">eMail</span> for Free</a>
                    </div>
                </div>
        

        </div>
    </div>

    <!-- End Section 6 -->

   

    <script type="text/javascript">
         function register() {
		 
            var URL = '<%=ConfigurationManager.AppSettings["register_url"] %>';
            var _firstName = $("#txtFname").val().trim();
            var _lastName = $("#txtLName").val().trim();
            var _email = $("#txtEmail").val().trim();
            window.location.href = URL+"/Account/Register?Package=1&loc=US&f=" + _firstName + "&l=" + _lastName + "&e=" + _email;

        }
    </script>
    <!-- Facebook Pixel Code -->
    <script type="text/javascript">
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1923706367643743');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1923706367643743&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

</asp:Content>
