﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Layout.master.cs" Inherits="EM.StaticWeb.Layout" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CheapesteMail</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/video-js.min.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">


        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow navbar navbar-expand-lg header_wrap navbar-light">
            <h5 class="my-0 mr-md-5 font-weight-normal">
                <a href="Home.aspx">
                    <img src="images/logo.png">
                </a>
            </h5>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <nav class="my-2 my-md-0 mr-md-auto">
                    <a class="p-3" href="Home.aspx">Home</a>
                    <a class="p-3" href="Features.aspx">Features</a>
                    <a class="p-3" href="<%=ConfigurationManager.AppSettings["pricing_url"] %>">Pricing &amp; Plans</a>
                    <a class="p-3" href="SuccessStories.aspx">Success Stories</a>
                    <a class="p-3" href="Industries.aspx">Industries</a>
                    <a class="p-3">FAQs</a>
                    <a class="p-3">Blog</a>
                </nav>
                <a class="btn btn-outline-primary margin-right-12" href="<%=ConfigurationManager.AppSettings["register_url"]+"/Account/Register?Package=1&loc=us" %>">Sign up Free</a>
                <a class="btn btn-link" href="<%=ConfigurationManager.AppSettings["login_url"] %>"><i class="fa fa-user-o" aria-hidden="true"></i>Log In</a>
            </div>
        </div>


        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>

        <!-- Section 6 Start -->
        <div class="section-eight">
            <span class="section_eight_bg">
                <img class="img-fluid bottom-img" src="images/email-marketing.png"></span>
            <div class="container">
                <h2 class="h2 text-center text-white">Contact our support team today.</h2>
                <h5 class="h5 mrg-b30 text-center text-white">Live customer solutions is available 4AM-8PM ET Mon-Fri and 9AM-5PM ET Sat-Sun.</h5>

                <div class="row">
                    <%--<div class="col-md-4 padding-top-20">
                    <img src="images/phone-icon.png" class="img-fluid margin-right-15" align="left">
                    <span class="text-white nomargin text-bold text-20">Call Us</span>
                    <br>
                    <span class="text-white">Toll Free: +1 888-351-8398</span>
                </div>--%>
                    <div class="col-md-6 padding-top-20">
                        <img src="images/live-chat.png" class="img-fluid margin-right-15" align="left">
                        <span class="text-white nomargin text-bold text-20">Live Chat: <span class="text-warning">Online</span></span>
                        <br>
                        <span class="text-white">Chat with our customer solutions team during our available hours.</span>
                    </div>
                    <div class="col-md-6 padding-top-20">
                        <img src="images/email-icon.png" class="img-fluid margin-right-15" align="left">
                        <a class="text-white nomargin text-bold text-20" href="mailto:support@CheapestEmail.com">Email Us </a>
                        <br>
                        <span class="text-white">Email us any time, you'll receive a prompt and thorough response.</span>
                    </div>
                </div>


            </div>
        </div>

        <!-- End Section 6 -->

        <!-- Section 7 Start -->
        <div class="section-seven">
            <div class="container">
                <div class="row">
                    <ul class="companies-list">
                        <li>
                            <img src="images/macdonal.jpg" alt=""></li>
                        <li>
                            <img src="images/bmw.jpg" alt=""></li>
                        <li>
                            <img src="images/harley-davidson.jpg" alt=""></li>
                        <li>
                            <img src="images/honda.jpg" alt=""></li>
                        <li>
                            <img src="images/LAX.jpg" alt=""></li>
                        <li>
                            <img src="images/msuzuki.jpg" alt=""></li>
                        <li>
                            <img src="images/edible.jpg" alt=""></li>
                        <li>
                            <img src="images/hrblockl.jpg" alt=""></li>
                        <li>
                            <img src="images/secured.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Section 7 -->

        <!-- Footer Start Here -->
        <footer class="pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        <h5>Industries</h5>
                        <ul class="list-unstyled text-small">
                            <li class="text-blue">Restaurants</li>
                            <li class="text-blue">Bars & Nightclubs</li>
                            <li class="text-blue">Churches & Social Groups</li>
                            <li class="text-blue">College/Universities</li>
                            <li class="text-blue">Real Estate</li>
                            <li class="text-blue">More...</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md">
                        <h5>Pages</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="Features.aspx">Features</a></li>
                            <li><a href="<%=ConfigurationManager.AppSettings["pricing_url"] %>">Pricing & Plans</a></li>
                            <li><a href="SuccessStories.aspx">Success Stories</a></li>
                            <li class="text-blue">FAQs</li>
                            <li class="text-blue">Blog</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md">
                        <h5>Company</h5>
                        <ul class="list-unstyled text-small">
                            <li><a href="AboutUs.aspx">About</a></li>
                            <li class="text-blue">Support Center</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md">
                        <h5>Contact Us</h5>
                        <ul class="list-unstyled text-small">
                            <li>Contact Support: <a href="mailto:support@CheapestEmail.com">support@CheapesteMail.com</a></li>
                            <%-- <li>Phone: <a href="#">+1 888-351-8398</a></li>--%>
                        </ul>
                    </div>
                    <div class="col-12 col-md">
                        <h5>Follow Us</h5>
                        <ul class="list-unstyled social-ic">
                            <li class="mrg-b15">
                                <a><i class="fa fa-facebook-square"></i></a>
                                <a><i class="fa fa-twitter"></i></a>
                                <a><i class="fa fa-google-plus"></i></a>
                                <a><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary" disabled><i class=" fa fa-envelope-o"></i>Join Mailing List</button></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md text-center mrg-b50">
                        <img class="img-fluid" src="images/footer-logo.jpg" alt="" />
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-12 col-md mrg-b15 text-center">
                        <small class="mrg-r20">Copyright &copy; 2019 Cheapest<span class="text-blue">eMail</span>, LLC. All Rights Reserved.</small>
                        <a href="TermOfUse.aspx">Terms & Conditions</a> / 
                        <a href="PrivacyPolicy.aspx">Privacy Statement</a> /
                        <a href="RefundPolicy.aspx">Refund Policy</a> /
                        <a>Security</a> /
                        <a>Anti-Spam</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Ends Here -->

    </form>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.min.js"></script>
    <script src="js/video.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
