﻿@model EM.Factory.List
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}
<div class="modal" id="createGroupSubject" style="z-index:111111 !important" tabindex="-1" role="dialog" aria-labelledby="createGroupSubjectLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="height:358px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="createGroupSubjectLabel">New List</h4>
            </div>
            @using (Ajax.BeginForm("Create", "EmailGroup", new AjaxOptions() { HttpMethod = "POST" }))
            {
                <div class="modal-body">
                    @Html.Hidden("GroupId")
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label for="txt_GroupName">Name</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.GroupName, new { maxlength = "50", @class = "form-control brd_radius-4", id = "txt_GroupName", placeholder = "Type group name here", onchange = "onChangeValidate(this)" })
                        </div>
                        <div class="gap_20"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <input value="SAVE" class="button_blue button_100" type="submit" />
            }
        </div>
    </div>
</div>

