﻿@{
    ViewBag.Title = "Email Marketing Bee-Plugin";
    //Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
    var userId = EM.Web.Utilities.CurrentUser.getCurUserDetails().Id;

}
<style>
    .app-content {
        margin-top: 26px !important;
        padding-bottom: 0px !important;
    }

    #bee-plugin-container {
        min-height: -webkit-calc(100vh - 80px);
        min-height: -moz-calc(100vh - 80px);
        min-height: calc(100vh - 80px);
    }

    .template-strip-top {
        background-color: #505659;
        width: 100%;
        padding: 12px;
    }

    .text-12px {
        font-size: 11px !important;
        font-weight: 900;
    }

    .btn-info {
        color: #fff !important;
        background-color: #4cb9ea !important;
        border-color: #35b0e7 !important;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

        .btn-info:hover {
            background-color: #1da7e5 !important;
            border-color: #1da7e5 !important;
        }

    .btn.btn-info.btn-sm.text-12px {
        cursor: pointer;
    }
</style>


<div class="row" style=" margin-right:-29px;margin-left:-29px;">

    <h2 style="color:green;text-align:center" id="heading">BeePlugin Editor</h2>
    <input type="hidden" id="TemplateId" name="TemplateId" />
    <input type="hidden" id="TemplateName" name="TemplateName" />
    <div class="template-strip-top text-right">
        <button class="btn btn-info btn-sm text-12px" onclick="LoadTemplates()">CANCEL</button> &nbsp;&nbsp;<button class="btn btn-info btn-sm text-12px" onclick="bee.preview()">PREVIEW</button> &nbsp;&nbsp;<button class="btn btn-info btn-sm text-12px" onclick="bee.save();">SAVE</button>
    </div>
    <div id="bee-plugin-container" style="width:100%"></div>


    @*<script src="~/Scripts/BeePlugin.js"></script>*@
    <script src="https://app-rsrc.getbee.io/plugin/BeePlugin.js"></script>

    <script>

        var uri = '/Templates/AuthorizeBEE';
        var userId = '@userId';
        var specialLinks = [];

        var mergeTags = [
            {
            name: 'First Name',
                value: '%recipient.FirstName%'
        },
            {
            name: 'Last Name',
                value: '%recipient.LastName%'
            },
            {
            name: 'Email',
                value: '%recipient.Email%'
            }, {
             name: 'Contact',
                value: '%recipient.PhoneNo%'
            }
        ];

        var mergeContents = [];
        var beeConfig = {
            uid: userId,
            container: 'bee-plugin-container',
            autosave: 15,
            language: 'en-US',
            specialLinks: specialLinks,
            mergeTags: mergeTags,
            mergeContents: mergeContents,
            onSave: function (jsonFile, htmlFile) {
                Bee(htmlFile, jsonFile, $("#TemplateName").val());
                return false;

            },

            onSaveAsTemplate: function (jsonFile, htmlFile)
            {
                bee.save();
                //SaveBeeTemplateContent(htmlFile, jsonFile, $("#TemplateName").val());
                return false;
                //console.log('onSaveAsTemplate.html', jsonFile);
            },
            onLoad: function (jsonFileLoad) {
                // console.log('jsonFileLoad ', jsonFileLoad);
            },
            onAutoSave: function (jsonFile) {

                //console.log(new Date().toISOString() + ' autosaving...');
                //window.localStorage.setItem('newsletter.autosave', jsonFile);
            },
            onSend: function (jsonFile) {


                // console.log('onSend ', jsonFile);
            },
            onError: function (errorMessage) {
                 $.ajax({
                method: "GET",
                url: uri
            }).done(function (data) {
                //console.log('auth done', data);
                var token = data;
                //console.log(token);
                BeePlugin.create(JSON.parse(token), beeConfig, function (beePluginInstance) {
                    bee = beePluginInstance;
                    var templateId = '@ViewBag.TemplateId';
                    if (templateId == null || templateId =="") {
                        templateId = 0;
                   
                    }
                    $.ajax({
                        type: "GET",
                        url: '/User/Templates/GetTemplateById/'+templateId
                        //method:'GET',
                        //url: 'https://rsrc.getbee.io/api/templates/m-bee'
                    }).done(function (template) {
                        //var customHTML = {"page":{"body":{"content":{"style":{"color":"#000000","font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif"},"computedStyle":{"messageBackgroundColor":"transparent","linkColor":"#0068A5","messageWidth":"500px"}},"container":{"style":{"background-color":"#FFFFFF"}},"type":"mailup-bee-page-properties","webFonts":[]},"rows":[{"content":{"style":{"background-image":"none","background-repeat":"no-repeat","color":"#000000","width":"500px","background-position":"top left","background-color":"transparent"},"computedStyle":{"rowColStackOnMobile":true}},"container":{"style":{"background-image":"none","background-position":"top left","background-repeat":"no-repeat","background-color":"#f0f0f0"}},"locked":false,"columns":[{"grid-columns":12,"modules":[{"descriptor":{"style":{"padding-top":"10px","padding-right":"10px","padding-left":"10px","padding-bottom":"10px"},"divider":{"style":{"width":"100%","border-top":"0px solid transparent"}},"computedStyle":{"align":"center"}},"type":"mailup-bee-newsletter-modules-divider","locked":false}],"style":{"padding-bottom":"5px","border-left":"0px solid transparent","border-bottom":"0px solid transparent","border-top":"0px solid transparent","padding-right":"0px","border-right":"0px solid transparent","padding-top":"5px","background-color":"transparent","padding-left":"0px"}}],"type":"one-column-empty"},{"content":{"style":{"background-image":"none","background-repeat":"no-repeat","color":"#333","width":"500px","background-position":"top left","background-color":"transparent"},"computedStyle":{"rowColStackOnMobile":true}},"container":{"style":{"background-image":"none","background-position":"top left","background-repeat":"no-repeat","background-color":"#f0f0f0"}},"locked":false,"columns":[{"grid-columns":12,"modules":[{"type":"mailup-bee-newsletter-modules-button","descriptor":{"button":{"label":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 24px;\">\n<p style=\"font-family: inherit; font-size: 16px; line-height: 32px;\">Edit</p>\n</div>","href":"","style":{"font-family":"inherit","background-color":"#3AAEE0","border-radius":"4px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent","color":"#ffffff","line-height":"200%","padding-top":"5px","padding-right":"20px","padding-bottom":"5px","padding-left":"20px","width":"auto","max-width":"100%"}},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"width":33,"height":41,"hideContentOnMobile":false}}},{"type":"mailup-bee-newsletter-modules-button","descriptor":{"button":{"label":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 24px;\">\n<p style=\"font-family: inherit; font-size: 16px; line-height: 32px;\">Delete</p>\n</div>","href":"","style":{"font-family":"inherit","background-color":"#3AAEE0","border-radius":"4px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent","color":"#ffffff","line-height":"200%","padding-top":"5px","padding-right":"20px","padding-bottom":"5px","padding-left":"20px","width":"auto","max-width":"100%"}},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"width":53,"height":41,"hideContentOnMobile":false}}},{"descriptor":{"style":{"padding-top":"25px","padding-right":"10px","padding-left":"10px","padding-bottom":"25px"},"divider":{"style":{"width":"100%","border-top":"1px solid #DADADA"}},"computedStyle":{"align":"center"}},"type":"mailup-bee-newsletter-modules-divider","locked":false},{"type":"mailup-bee-newsletter-modules-button","descriptor":{"button":{"label":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 24px;\">\n<p style=\"font-family: inherit; font-size: 16px; line-height: 32px;\">Add</p>\n</div>","href":"","style":{"font-family":"inherit","background-color":"#3AAEE0","border-radius":"4px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent","color":"#ffffff","line-height":"200%","padding-top":"5px","padding-right":"20px","padding-bottom":"5px","padding-left":"20px","width":"auto","max-width":"100%"}},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"width":35,"height":41,"hideContentOnMobile":false}}}],"style":{"padding-bottom":"5px","border-left":"0px solid transparent","border-bottom":"0px solid transparent","border-top":"0px solid transparent","padding-right":"0px","border-right":"0px solid transparent","padding-top":"5px","background-color":"transparent","padding-left":"0px"}}],"type":"one-column-empty"}],"description":"","template":{"version":"2.0.0","type":"basic","name":"template-bee"},"title":""}};
                        $("#TemplateId").val(templateId);
                        $("#TemplateName").val(template.TemplateName);
                        //console.log('load template done');

                        //console.log('templateJson');
                        //var customHTML = JSON.parse('templateJson');

                        bee.start(JSON.parse(template.TemplateJSON));
                    });
                });
            });
                console.log('onError ', errorMessage);
            },
            onTogglePreview: function (previewTemplate) {
                //alert("hello Preview");
                console.log('previewTemplate ', previewTemplate);
            }

        };
        var bee = null;

        $(document).ready(function () {

            $("body").addClass("sidenav-toggled");
            $('#heading').fadeIn('slow', function () {
                $('#heading').delay(1).fadeOut();
            });
            // Send an AJAX request
            $.ajax({
                method: "GET",
                url: uri
            }).done(function (data) {
                //console.log('auth done', data);
                var token = data;
                //console.log(token);
                BeePlugin.create(JSON.parse(token), beeConfig, function (beePluginInstance) {
                    bee = beePluginInstance;
                    var templateId = '@ViewBag.TemplateId';
                    if (templateId == null || templateId =="") {
                        templateId = 0;
                        @{
                            string x = "";
                        }
                    }
                    $.ajax({
                        type: "GET",
                        url: '/User/Templates/GetTemplateById/'+templateId
                        //method:'GET',
                        //url: 'https://rsrc.getbee.io/api/templates/m-bee'
                    }).done(function (template) {
                        //var customHTML = {"page":{"body":{"content":{"style":{"color":"#000000","font-family":"Arial, 'Helvetica Neue', Helvetica, sans-serif"},"computedStyle":{"messageBackgroundColor":"transparent","linkColor":"#0068A5","messageWidth":"500px"}},"container":{"style":{"background-color":"#FFFFFF"}},"type":"mailup-bee-page-properties","webFonts":[]},"rows":[{"content":{"style":{"background-image":"none","background-repeat":"no-repeat","color":"#000000","width":"500px","background-position":"top left","background-color":"transparent"},"computedStyle":{"rowColStackOnMobile":true}},"container":{"style":{"background-image":"none","background-position":"top left","background-repeat":"no-repeat","background-color":"#f0f0f0"}},"locked":false,"columns":[{"grid-columns":12,"modules":[{"descriptor":{"style":{"padding-top":"10px","padding-right":"10px","padding-left":"10px","padding-bottom":"10px"},"divider":{"style":{"width":"100%","border-top":"0px solid transparent"}},"computedStyle":{"align":"center"}},"type":"mailup-bee-newsletter-modules-divider","locked":false}],"style":{"padding-bottom":"5px","border-left":"0px solid transparent","border-bottom":"0px solid transparent","border-top":"0px solid transparent","padding-right":"0px","border-right":"0px solid transparent","padding-top":"5px","background-color":"transparent","padding-left":"0px"}}],"type":"one-column-empty"},{"content":{"style":{"background-image":"none","background-repeat":"no-repeat","color":"#333","width":"500px","background-position":"top left","background-color":"transparent"},"computedStyle":{"rowColStackOnMobile":true}},"container":{"style":{"background-image":"none","background-position":"top left","background-repeat":"no-repeat","background-color":"#f0f0f0"}},"locked":false,"columns":[{"grid-columns":12,"modules":[{"type":"mailup-bee-newsletter-modules-button","descriptor":{"button":{"label":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 24px;\">\n<p style=\"font-family: inherit; font-size: 16px; line-height: 32px;\">Edit</p>\n</div>","href":"","style":{"font-family":"inherit","background-color":"#3AAEE0","border-radius":"4px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent","color":"#ffffff","line-height":"200%","padding-top":"5px","padding-right":"20px","padding-bottom":"5px","padding-left":"20px","width":"auto","max-width":"100%"}},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"width":33,"height":41,"hideContentOnMobile":false}}},{"type":"mailup-bee-newsletter-modules-button","descriptor":{"button":{"label":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 24px;\">\n<p style=\"font-family: inherit; font-size: 16px; line-height: 32px;\">Delete</p>\n</div>","href":"","style":{"font-family":"inherit","background-color":"#3AAEE0","border-radius":"4px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent","color":"#ffffff","line-height":"200%","padding-top":"5px","padding-right":"20px","padding-bottom":"5px","padding-left":"20px","width":"auto","max-width":"100%"}},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"width":53,"height":41,"hideContentOnMobile":false}}},{"descriptor":{"style":{"padding-top":"25px","padding-right":"10px","padding-left":"10px","padding-bottom":"25px"},"divider":{"style":{"width":"100%","border-top":"1px solid #DADADA"}},"computedStyle":{"align":"center"}},"type":"mailup-bee-newsletter-modules-divider","locked":false},{"type":"mailup-bee-newsletter-modules-button","descriptor":{"button":{"label":"<div class=\"txtTinyMce-wrapper\" style=\"font-size: 12px; line-height: 24px;\">\n<p style=\"font-family: inherit; font-size: 16px; line-height: 32px;\">Add</p>\n</div>","href":"","style":{"font-family":"inherit","background-color":"#3AAEE0","border-radius":"4px","border-top":"0px solid transparent","border-right":"0px solid transparent","border-bottom":"0px solid transparent","border-left":"0px solid transparent","color":"#ffffff","line-height":"200%","padding-top":"5px","padding-right":"20px","padding-bottom":"5px","padding-left":"20px","width":"auto","max-width":"100%"}},"style":{"text-align":"center","padding-top":"10px","padding-right":"10px","padding-bottom":"10px","padding-left":"10px"},"computedStyle":{"width":35,"height":41,"hideContentOnMobile":false}}}],"style":{"padding-bottom":"5px","border-left":"0px solid transparent","border-bottom":"0px solid transparent","border-top":"0px solid transparent","padding-right":"0px","border-right":"0px solid transparent","padding-top":"5px","background-color":"transparent","padding-left":"0px"}}],"type":"one-column-empty"}],"description":"","template":{"version":"2.0.0","type":"basic","name":"template-bee"},"title":""}};
                        $("#TemplateId").val(templateId);
                        $("#TemplateName").val(template.TemplateName);
                        //console.log('load template done');

                        //console.log('templateJson');
                        //var customHTML = JSON.parse('templateJson');

                        bee.start(JSON.parse(template.TemplateJSON));
                    });
                });
            });
        });
        //function SaveBeeTemplateContent(htmlFile, jsonFile, name) {

        //    var titleName = '';
        //    if (name != '' && name != undefined && $("#TemplateId").val() != '') {
        //        titleName = 'Are you sure you want to update?';
        //    } else {
        //        titleName = 'Please enter the template name!';
        //    }
        //    var dialog = bootbox.dialog({
        //        title: titleName,
        //        message: "<input type='text' id='templateName' placeholder='Enter Template Name' class='form-control' value='" + name +"'/><br/><span id='errmsg' style='color:red;'></span>",
        //        buttons: {
        //            cancel: {
        //                label: "Cancel",
        //                className: 'btn-danger',
        //                callback: function () {
        //                    HideLoader();
        //                    LoadHTMLPage("User", "Templates", "TemplateList", [], [], "Get", $("#ContainerDiv"));
        //                }
        //            },
        //            success: {
        //                label: "Submit",
        //                callback: function ()
        //                {
        //                    var templateName = $("#templateName").val();

        //                    if (templateName == null || templateName == "")
        //                    {
        //                        $("#errmsg").html("This field cannot be blank.");
        //                        return false;
        //                    }

        //                    else if (DataHelper.CheckDuplicateTemplate(templateName) == true)
        //                    {
        //                        $("#errmsg").html("Template Name Already Exists");
        //                       return false;
        //                    }
        //                     else
        //                    {
        //                        showLoader();
        //                        //console.log('onSave', htmlFile);
        //                        var templateViewModels = {
        //                            "TemplateHtml": htmlFile,
        //                            "TemplateJSON": jsonFile,
        //                            "TemplateName": templateName,
        //                            "TemplateId": $("#TemplateId").val()
        //                        };

        //                        //var formData = new FormData();
        //                        //formData.append('templateViewModel', JSON.stringify(templateViewModel));
        //                        $('#tempdata').html(htmlFile);
        //                        $('#myModal').modal('toggle');
        //                        $('#myModal').modal('show');
        //                        var tempBase64Image = '';

        //                        setTimeout(
        //                            function () {
        //                                getPreview(function (res) {
        //                                    $('#closeModel').click()
        //                                    HideLoader();
        //                                    $.ajax({
        //                                        type: "POST",
        //                                        url: '/User/Templates/SaveBeeTemplateContent',
        //                                        data: JSON.stringify({
        //                                            "templateViewModel": templateViewModels,
        //                                            "base64String": res
        //                                        }),
        //                                        contentType: 'application/json; charset=utf-8',
        //                                        dataType: "json",
        //                                        success: function (data)
        //                                        {

        //                                            if ($("#TemplateId").val() == 0)
        //                                            {
        //                                                GenerateAlert("Template has been successfully created", "", "success", loadTemplates);

        //                                            } else
        //                                            {
        //                                                GenerateAlert("Template has been successfully updated", "", "success", loadTemplates);
        //                                            }
        //                                            //LoadHTMLPage("User", "Templates", "TemplateList", [], [], "Get", $("#ContainerDiv"));
        //                                        },
        //                                        error: function (errordt) {
        //                                            //console.log("errordt  " + JSON.stringify(errordt));
        //                                        },
        //                                        failure: function (failuredt) {
        //                                            // console.log("failuredt  " + failuredt);
        //                                        }
        //                                    });
        //                                })


        //                            }, 1000);

        //                    }
        //                }
        //            }
        //        }
        //    });
        //}


    </script>
</div>


<div class="modal fade" id="myModal" role="dialog" style="opacity: 0">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="tempdata">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModel">Close</button>
            </div>
        </div>
    </div>
</div>
