﻿@{
    /**/

    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div id="ContainerDiv">

    </div>
</section>

<div class="modal fade" id="myModal" role="dialog" style="opacity: 0">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" id="tempdata">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModel">Close</button>
            </div>
        </div>
    </div>
</div>

@section CustomScript
{
    <script src="~/Content/CustomJs/template.js?v=04082020"></script>
    <script src="~/Content/CustomJs/campaign.js?v=01292020"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script type="text/javascript">
                            var pageSize = @Constants.PageSize;
        $(document).ready(function ()
        {
            $('.app-menu li a ').removeAttr('class').addClass("app-menu__item");
            $('#templateMenu').removeAttr('class').addClass("app-menu__item active");
            var Page = '@ViewBag.Page';
            if (Page != null && Page != "") {
                LoadHTML("User", "Templates", Page);
            } else {
                LoadHTML("User", "Templates","TemplateList");
            }
            getTimeConvertWithTimeFormat("sentDate_");
            preventEnterForSubmittingForm();
        });

    </script>
}