﻿@model IEnumerable<EM.Factory.ViewModels.TemplateViewModel>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        var imagePath = (string.IsNullOrEmpty(item.BeeTemplatePath) == false && System.IO.File.Exists(Server.MapPath("~") + item.BeeTemplatePath) == true) ? item.BeeTemplatePath : "/Content/imagesUser/template.jpg";
<div class="col-block-5 col-lg-4 col-md-4 col-sm-6 col-12">
    <div class="template_box">
        <div class="card" onclick="$('#TemplateId').val('@item.BeeTemplateId');NavigateTo('CampaignEditorView','layout')" style="cursor:pointer">

            <div class="card-body">
                <img class="card-img-top" src="@imagePath" alt="">
                <h5 class="card-title">@item.BeeTemplateName</h5>
                @*<p class="card-text">Market a line of products or promote seasonal items.</p>*@
            </div>
        </div>
    </div>
</div>
    }
}
<script type="text/javascript">
    $(document).ready(function ()
    {
        CampaignPage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')
    });
</script>
