﻿@model IEnumerable<EM.Factory.ViewModels.TemplateViewModel>




<div class="choose-template PageNumberClass" data-role="page">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-check-square-o" aria-hidden="true"></i> Choose a template</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            @if (User.IsInRole("Admin"))
            {
                <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else if (User.IsInRole("SalesRep"))
            {
                <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else
            {
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            }
            <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">Choose a template</li>
        </ul>
    </div>
    <div class="row">

        <div class="col-12">
            <div class="tile">
                <div class="template_block">
                    <div class="template_tab">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-layouts-tab" data-toggle="tab" href="#nav-layouts" role="tab" aria-controls="nav-layouts" aria-selected="false" onclick="$('#selectTemplateList').empty(),NavigateTo('CheapestEmailTemplate')">CheapestEmail Templates</a>
                                <a class="nav-item nav-link" id="nav-templates-tab" data-toggle="tab" href="#nav-templates" role="tab" aria-controls="nav-templates" aria-selected="false" onclick="$('#selectTemplateListGrid').empty(), LoadTemplateCampaign()">Saved templates</a>
                                <a class="nav-item nav-link" id="nav-templates-tab" data-toggle="tab" href="#nav-templates" role="tab" aria-controls="nav-templates" aria-selected="false" onclick="NevigateToNext()">Create Your Own Templates</a>
                                @*<a class="nav-item nav-link disabled" id="nav-campaigns-tab" data-toggle="tab" href="#nav-campaigns" role="tab" aria-controls="nav-campaigns" aria-selected="false">Campaigns</a>*@
                                @*<a class="nav-item nav-link disabled" id="nav-code-tab" data-toggle="tab" href="#nav-code" role="tab" aria-controls="nav-code" aria-selected="false">Code your own</a>*@
                                @*<a class="mb-2 btn btn-outline-success btn-width" href="javascript:void(0)" onclick="NavigateTo('CampaignEditorView');"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Template</a>*@
                                @*<a class="nav-item nav-link active" id="nav-layouts-tab" data-toggle="tab" href="#nav-layouts" role="tab" aria-controls="nav-layouts" aria-selected="true" onclick="$('#selectTemplateList').empty(), NavigateTo('LayoutTemplate')">Layouts</a>
                                    <a class="nav-item nav-link" id="nav-themes-tab" data-toggle="tab" href="#nav-beeTemplates" role="tab" aria-controls="nav-themes" aria-selected="false" onclick="$('#selectBeeTemplateListGrid').empty(), LoadHTMLPage('User','Campaign','BeeTemplateView',[],[],'Get',$('#selectBeeTemplateListGrid'))">Bee Templates</a>*@


                            </div>
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                    <div class="template-content">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-layouts" role="tabpanel" aria-labelledby="nav-layouts-tab">
                                <br />
                                @*<h3 class="tile-title mt-4">Featured</h3>*@
                                <div class="clearfix"></div>
                                <div class="row" id="selectTemplateList">
                                    @Html.Partial("CheapestEmailTemplates", Model)
                                </div>
                            </div>
                            @*<div class="tab-pane fade" id="nav-beeTemplates" role="tabpanel" aria-labelledby="nav-themes-tab">
                                    <br>
                                    <h3 class="tile-title mt-4">Featured</h3>
                                    <div class="clearfix"></div>
                                    <div class="row" id="selectBeeTemplateListGrid">
                                        @Html.Partial("LayoutList", Model)
                                    </div>
                                </div>*@
                            <div class="tab-pane fade" id="nav-templates" role="tabpanel" aria-labelledby="nav-themes-tab">
                                <br>
                                @*<h3 class="tile-title mt-4">Featured</h3>*@
                                <div class="clearfix"></div>
                                <div class="row" id="selectTemplateListGrid">
                                    @Html.Partial("CheapestEmailTemplates", Model)
                                </div>
                            </div>


                            <div class="tab-pane fade" id="nav-templates" role="tabpanel" aria-labelledby="nav-templates-tab">...</div>
                            <div class="tab-pane fade" id="own-templates" role="tabpanel" aria-labelledby="own-templates-tab">...</div>
                            <div class="tab-pane fade" id="nav-campaigns" role="tabpanel" aria-labelledby="nav-campaigns-tab">...</div>
                            <div class="tab-pane fade" id="nav-code" role="tabpanel" aria-labelledby="nav-code-tab">...</div>
                        </div>
                    </div>
                </div>
                @if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecord > Constants.PageSize)
                {
                    <div class="text-right">
                        <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" type="button" onclick="TemplatePagging('Back','SelectTemplateListGrid')" id="Back"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-primary btn-sm" type="button" onclick="TemplatePagging('Next','SelectTemplateListGrid')" id="Next"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<div class="bottom-fix">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success float-left" onclick="NavigateTo('CampaignNameEditView');">Back</button>
            <button type="button" class="btn btn-success float-right" onclick="NevigateToNext();">Next</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        TemplatePage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')

    });

    function NevigateToNext() {
        var tempid = $('.template_box.active').attr('value');
        var type = $('#layOut').val();
        if (tempid != null && tempid != "") {
            $('#TemplateId').val(tempid);
            NavigateTo('CampaignEditorView', type)
        }

        else
        {
            NavigateTo('CampaignEditorView');
        }
    }



</script>
