﻿@model IEnumerable<EM.Factory.ViewModels.TemplateViewModel>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        var imagePath = "/Content/imagesUser/template.jpg";
        if (item.TemplatePath != null && System.IO.File.Exists(Server.MapPath(item.TemplatePath)))
        {
            imagePath = Url.Content(item.TemplatePath);
        }
        <div class="col-block-5 col-xl-4 col-lg-6 col-md-6 col-12 mb-4">
            <div class="template_box h-100 d-flex align-items-center" id="box_@item.TemplateId" value="@item.TemplateId" onclick="$('#TemplateId').val('@item.TemplateId');NavigateTo('CampaignEditorView')">
                <div class="card" style="cursor:pointer; border: none !important;">
                    @*onclick="$('#TemplateId').val('@item.TemplateId');NavigateTo('CampaignEditorView','')"*@
                    <div class="card-body">
                        <img class="card-img-top" src="@imagePath" alt="">
                        <h5 class="card-title">@item.TemplateName</h5>
                        @*<p class="card-text">Market a line of products or promote seasonal items.</p>*@
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="col-block-5 col-lg-4 col-md-4 col-sm-6 col-12">
        <h3 class="tile-title mt-4">No Saved Templates.</h3>
        <span class="text-bold text-18"><a href="#" onclick="LoadHTML('User','Templates','BeeTemplateEditor');">Start Building New Template</a></span>
    </div>
}

<script type="text/javascript">
 $(document).ready(function () {
        TemplatePage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')
    });
</script>

<script>
    function selectTemplet(item) {
        //$('#selecttempletBoxId').val($(item).attr('value'));


        $('#layOut').val('');
        $('.template_box').removeClass('active');
        $(item).addClass('active')
    }

</script>