﻿@model IEnumerable<EM.Factory.ViewModels.TemplateViewModel>

    <div class="app-title">
        <div>
            <h1><i class="app-menu__icon fa fa-envelope"></i> My Templates</h1>
            <p>Browse, manage and create Templates</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            @if (User.IsInRole("Admin"))
            {
                <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else if (User.IsInRole("SalesRep"))
            {
                <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

            }
            else
            {
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            }
            <li class="breadcrumb-item"><a href="/User/Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item">My Templates</li>
        </ul>
    </div>

    <div class="row PageNumberClass">

        <div class="col-md-12">
            @{
                var attribute = string.Empty;
                if (Model == null || Model.Count() == 0)
                {
                    attribute = "disabled disbaledLink";
                }

            }
            <div class="tile">
                <div class="row mb-4 mt-2">
                    <div class="col-md-2">
                        <div class="animated-checkbox margin-left-12">
                            <label><input type="checkbox" onclick="SelectAllCheckBoxTemplate(this);" id="MasterCheckbox" @attribute> <span class="label-text">Select All</span></label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-outline-secondary form-control" id="demoSwal" type="button" onclick="DeleteTemplate()" @attribute><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                            </div>
                            <div class="col-md-1">
                                <div class="btn-group">

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="">
                                    <button type="button" class="btn btn-outline-secondary form-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @attribute>
                                        Sort By
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="SortTemplate('NameAsc')">Template Name (A-Z)</a>
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="SortTemplate('NameDesc')">Template Name (Z-A)</a>
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="SortTemplate('DateAsc')">Date Created Ascending</a>
                                        <a class="dropdown-item" href="javascript:void(0)" onclick="SortTemplate('DateDesc')">Date Created Descending</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="btn-group">

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="template-search-input">
                                    <form method="get">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-lg" placeholder="Search saved templates" id="serachTemplate" @attribute>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary btn-lg" type="submit" @attribute>
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="btn-group">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"><a class="mb-2 btn btn-outline-success form-control btn-width" href="javascript:void(0)" onclick="LoadHTML('User','Templates','BeeTemplateEditor');"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Template</a></div>
                </div>

                <div class="table-responsive margin-top-16" id="templateListGrid">
                    @Html.Partial("TemplateListGrid", Model)
                </div>
                @if (Model.Count() > 0 && Model.FirstOrDefault().TotalRecord > Constants.PageSize)
                {
                    <div class="text-right">
                        <span class="text-muted mr-2" id="PageControl">Showing 1-15 out of 60</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-sm" type="button" onclick="TemplatePagging('Back','TemplateListGrid')" id="Back"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-primary btn-sm" type="button" onclick="TemplatePagging('Next','TemplateListGrid')" id="Next"><i class="fa fa-chevron-right"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>


    <script type="text/javascript">
    $(document).ready(function () {
        TemplatePage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord');
        $("#serachTemplate").change(function () {
            SearchTemplate();
        });
    });

    </script>
