﻿@model IEnumerable<EM.Factory.ViewModels.TemplateViewModel>
    @{
        var ProfileDetails = EM.Web.Utilities.CurrentUser.getCurUserDetails();
    }
<table class="table table-striped text-14">
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var imagePath = "/Content/imagesUser/template.jpg";
                if (item.TemplatePath != null && System.IO.File.Exists(Server.MapPath(item.TemplatePath)))
                {
                    imagePath = Url.Content(item.TemplatePath);
                }
                <tr>
                    <td class="align-middle" style="width: 5%;">
                        <div class="animated-checkbox">
                            <label><input type="checkbox" class="SelectedCheckBox" value="@item.TemplateId" onchange="selectchk()"><span class="label-text"></span></label>
                        </div>
                    </td>
                    <td class="align-middle text-left">
                        <div style=" max-width:400px;min-width:300px; width:100%; display:block; margin: 0 auto;">
                            <img src="@imagePath" class="img-border-gray" style="width: 100%;height: 100%;border: 1px solid #0794cc;">
                        </div>
                    </td>
                    <td class="align-middle text-left" style="width: 77%;">
                        <span class="text-bold text-18"><a href="#">@item.TemplateName</a></span>
                        
                        @{
                            var lastediteddate = item.LastModDate == null ? item.CreatedDate : Convert.ToDateTime(item.LastModDate);
                        }
                       <br><span class="text-13"><b>Last Edited</b> on <span id="sentDate_@item.TemplateId">@lastediteddate.Value.ToString("MMM") @lastediteddate.Value.Day, @lastediteddate.Value.ToString("yyyy") @lastediteddate.Value.ToString("hh:mm") @lastediteddate.Value.ToString("tt") </span> by @item.EditedBy</span>
                            
                    </td>
                    <td class="align-middle text-center text-16" style="width: 10%;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="LoadHTMLWithId('User', 'Templates', 'BeeTemplateEditor',@item.TemplateId);">Edit</a>
                                @if (ProfileDetails.BounceRate < Constants.BounceRateLimit)
                                {
                                    <a class="dropdown-item" href="~/User/Campaign/Index?page=CampaignNameView&templateId=@item.TemplateId">Create Campaign</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" style="cursor: not-allowed; opacity:0.65" title="You have exceed bounce rate limit.Please contact administrator.">Create Campaign</a>
                                }
                                @*<a class="dropdown-item" href="#">Preview</a>
        <a class="dropdown-item" href="#">Export as HTML</a>
        <a class="dropdown-item" href="#">Share</a>
        <a class="dropdown-item" href="#">Replicate</a>*@
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No Record Found!</td>
                </tr>
                }
        </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        TemplatePage($("#PageControl"), '@ViewBag.PageNumber', '@ViewBag.TotalRecord')

            });

</script>