﻿@model EM.Factory.ViewModels.UserPaymentProfileViewModel
<div class="app-title">
    <div>
        <h1><i class="fa fa-credit-card"></i> Add</h1>
        <p>Add New Payment Details</p>

    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/Admin/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a herf="/User/Billing/Index">Payment Profile</a></li>

    </ul>
</div>

<section class="content">
    <div class="row">
        <!-- /.col -->
        @using (Ajax.BeginForm("AddEditBilling", "Billing", new { area = "User" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddBillingBegin();", OnSuccess = "onAddBillingSucess", OnFailure = "onAddBillingFailure" }))
        {
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-12">
                        <div class="tile">

                            <p class="text-bold"><img src="/Content/imagesHome/user-icon.png"> &nbsp;Payment Information</p>
                            <input type="hidden" value="@Model.Id" name="Id" id="Id" />
                            @Html.HiddenFor(model => model.AnPaymentProfileId)
                            @Html.HiddenFor(model => model.Email)
                            <div class="form-row">
                                <div class="col-md-6 padding-bottom-15">
                                    @*<div class="animated-checkbox">
                    <label>
                        <input type="checkbox" id="chkDefault">
                        <span class="label-text"> Set as Default</span>
                    </label>
                </div>*@
                                    @Html.CheckBoxFor(model => model.IsPrimary)<label>&nbsp;Default Card</label>

                                </div>
                            </div>
                            <div class="form-row">
                                @*name*@
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Card Holder Name</label>
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control ", @placeholder = "Card Holder Name" })
                                        <span id='FirstNameError' class='RequiredField'></span>
                                    </div>
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Billing Address (exactly same on card)</label>
                                        @Html.TextBoxFor(x => x.Address1, new { @class = "form-control ", @placeholder = "Billing Address (exactly same on card)" })
                                        <span id='Address1Error' class='RequiredField'></span>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Card Number</label>
                                        @if (Model.Id == 0)
                                        {

                                            @Html.TextBoxFor(x => x.CreditCardNo, new { @class = "form-control ", @placeholder = "Card Number" })
                                        }
                                        else
                                        {
                                            string creditCardNo = String.Format("************{0}", Model.CreditCardNo.Trim().Substring((Model.CreditCardNo.Trim().Length - 4)));
                                            <label class="form-control-plaintext">@creditCardNo</label>
                                            @Html.HiddenFor(x => x.CreditCardNo)

                                        }
                                        <span id='CreditCardNoError' class='RequiredField'></span>
                                    </div>
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Security Code</label>
                                        @Html.PasswordFor(x => x.CVV, new { @class = "form-control ", @placeholder = "Security Code", maxlength = "3" })
                                        <span id='CreditCardNoError' class='RequiredField'></span>
                                    </div>
                                </div>


                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">City</label>
                                        @Html.TextBoxFor(x => x.City, new { @class = "form-control ", @placeholder = "City" })
                                        <span id='CityError' class='RequiredField'></span>
                                    </div>
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">State</label>
                                        @Html.TextBox("txtState", null, new { @class = "form-control", @placeholder = "State" })
                                        @Html.DropDownListFor(x => x.State, TempData["States"] as SelectList, new { @class = "form-control" })
                                        <span id='StateError' class='RequiredField'></span>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Phone</label>
                                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control ", @placeholder = "Phone" })
                                        <span id='PhoneError' class='RequiredField'></span>
                                    </div>
                                </div>
                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Exp. Date</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(x => x.ExMonth, Model.MonthList, "Month", new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(x => x.ExYear, Model.YearList, "Year", new { @class = "form-control" })
                                            </div>
                                        </div>


                                        <span id='ExMonthError' class='RequiredField'></span>

                                        <span id='ExYearError' class='RequiredField'></span>
                                    </div>
                                </div>

                                <div class="col-md-6 padding-bottom-15">
                                    <div class="inner-addon left-addon">
                                        <label class="control-label">Zip</label>
                                        @Html.TextBoxFor(x => x.Zip, new { @class = "form-control ", @placeholder = "Zip" })
                                        <span id='ZipError' class='RequiredField'></span>
                                    </div>
                                </div>

                                @*<div class="col-md-6 padding-bottom-15">
                <div class="inner-addon left-addon">
                    <label class="control-label">Billing Last Name</label>
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control ", @placeholder = "Billing Last Name" })
                    <span id='LastNameError' class='RequiredField'></span>
                </div>
            </div>

            <div class="col-md-6 padding-bottom-15">
                <div class="inner-addon left-addon">
                    <label class="control-label">Billing Email</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control ", @placeholder = "Billing Email" })
                    <span id='EmailError' class='RequiredField'></span>
                </div>
            </div>



            <div class="col-md-6 padding-bottom-15">
                <div class="inner-addon left-addon">
                    <label class="control-label">Billing Address 1</label>
                    @Html.TextBoxFor(x => x.Address1, new { @class = "form-control ", @placeholder = "Billing Address 1" })
                    <span id='Address1Error' class='RequiredField'></span>
                </div>
            </div>

            <div class="col-md-6 padding-bottom-15">
                <div class="inner-addon left-addon">
                    <label class="control-label">Billing Address 2</label>
                    @Html.TextBoxFor(x => x.Address2, new { @class = "form-control ", @placeholder = "Billing Address 2" })
                    <span id='Address2Error' class='RequiredField'></span>
                </div>
            </div>



            <div class="col-md-6 padding-bottom-15">
                <div class="inner-addon left-addon">
                    <label class="control-label">State</label>
                    @Html.TextBoxFor(x => x.State, new { @class = "form-control ", @placeholder = "State" })
                    <span id='StateError' class='RequiredField'></span>
                </div>
            </div>



            <div class="col-md-6 padding-bottom-15">
                <div class="inner-addon left-addon">
                    <label class="control-label">Country</label>
                    @Html.DropDownListFor(x => x.Country, TempData["Country"] as SelectList, new { @class = "form-control" })
                    <span id='CountryError' class='RequiredField'></span>
                </div>
            </div>*@
                            </div>
                            <div class="tile-footer">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>
                                <a class="btn btn-secondary" href="/User/Billing/Index"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        }
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>
<script type="text/javascript">
    var a = "@ViewBag.Country";
    $(document).ready(function (e) {
        BindCountry();
        $('#Phone').usPhoneFormat({
            format: '(xxx) xxx-xxxx',
        });

        @*var id = '@Model.Id';
        if (id == 0) {
            $("#Country").val("United States");

        }*@
    });
    
    function BindCountry() {
        if (a == "United States" || a == "") {
            $("#txtState").hide();
            $("#txtState").attr('name', 'notState')
        }
        else {
            $("#State").hide();
            $("#txtState").show();
            $("#txtState").attr('name', 'State')
            $("#txtState").val("@Model.State");
        }
    }
</script>

       
