﻿
@model IEnumerable<EM.Factory.ViewModels.UserPaymentProfileViewModel>
<div class="app-title">
    <div>
        <h1><i class="app-menu__icon fa fa-credit-card"></i> Payment Method</h1>
        <p>Manage Payment Method</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard/Index">Dashboard</a></li>
        <li class="breadcrumb-item">Payment Methods</li>
    </ul>
</div>
<style>
    button {
        position: relative;
    }

        button:hover:after {
            position: absolute;
            top: 0;
            left: 75%;
        }
</style>
<div class="row">



    <div class="col-md-12">
        @{
            var attribute = string.Empty;
            if (Model == null || Model.Count() == 0)
            {
                attribute = "disabled disbaledLink";
            }
            else if (Model.Count() == 1 && Model.FirstOrDefault().IsPrimary == true)
            {
                attribute = "disabled disbaledLink";

            }

        }
        <div class="tile">
            <div class="row margin-top-16">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 padding-top-6">
                    <div class="animated-checkbox margin-left-12">
                        <label><input type="checkbox" onclick="SelectPaymentAllCheckBox(this);" id="MasterCheckbox" attribute> <span class="label-text">Select All</span></label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">
                    <button class="btn btn-outline-secondary form-control" id="demoSwal" type="button" onclick="DeletePayment()" @attribute><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Selected</button>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 pb-3">

                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-right">
                    <a class="mb-2 btn btn-outline-success btn-width" href="javascript:void(0)" onclick="LoadHTML('User', 'Billing', 'AddEditBilling');"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add New</a>
                </div>
            </div>

            <div class="table-responsive margin-top-16" id="gridBillingList">
                <table class="table table-striped text-16">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Card Type</th>
                            <th>Card Number</th>
                            <th>Preference</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle">
                                        @if (!item.IsPrimary)
                                        {
                                            <label>

                                                <input type="checkbox" class="SelectedCheckBox" value="@item.Id" onchange="selectchk()"><span class="label-text"></span>
                                            </label>
                                        }
                                    </td>
                                    <td class="align-middle">
                                        @if (item.CardType == "Visa")
                                        {
                                            <i class="fa fa-cc-visa fa-4x"></i>
                                        }
                                        else if (item.CardType == "MasterCard")
                                        {
                                            <i class="fa fa-cc-mastercard fa-4x"></i>

                                        }
                                        else if (item.CardType == "AmericanExpress")
                                        {
                                            <i class="fa fa-cc-amex fa-4x"></i>

                                        }
                                        else if (item.CardType == "Discover")
                                        {
                                            <i class="fa fa-cc-discover fa-4x"></i>

                                        }
                                        else if (item.CardType == "JCB")
                                        {
                                            <i class="fa fa-cc-jcb fa-4x"></i>

                                        }
                                        else if (item.CardType == "DinersClub")
                                        {
                                            <i class="fa fa-cc-diners-club fa-4x"></i>

                                        }
                                        else 
                                        {
                                            <i class="fa fa-cc fa-4x"></i>@item.CardType

                                        }
                                    </td>
                                    <td class="align-middle">@String.Format("************{0}", item.CreditCardNo.Trim().Substring((item.CreditCardNo.Trim().Length - 4)))</td>
                                    <td class="align-middle">
                                        @if (Convert.ToBoolean(item.IsPrimary))
                                        {
                                            <text>Default Card</text>
                                        }
                                        else
                                        {
                                            <a href="#" onclick="setPrimaryCard(@item.Id)">Make Default Card</a>
                                        }
                                    </td>
                                    <td>
                                        @if (!item.IsPrimary)
                                        {
                                            <a title="Edit Card" class="btn btn-info" href="#!" onclick="$('#isEdit').val('1');LoadHTMLWithId('User','Billing','AddEditBilling',@item.Id)"><i class="fa fa-edit"></i>Edit</a>
                                            <a title="Delete Card" class="btn btn-info" href="#!" onclick="deleteConfirmation(@item.Id)"><i class="fa fa-remove"></i>Remove</a>

                                        }
                                        else
                                        {
                                            <button disabled title="Default Card cannot be edited" class="btn btn-info"><i class="fa fa-edit"></i>Edit</button>
                                            <button disabled title="Default Card cannot be deleted" class="btn btn-info"><i class="fa fa-remove"></i>Remove</button>

                                        }

                                    </td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">No Record Found</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

