﻿@{
    /**/

    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div id="ContainerDiv">

    </div>
</section>
<input type="hidden" id="isEdit" name="isEdit" value="0">
@section CustomScript
{
    <link href="~/Content/AnimatedCheckBox.css" type="text/css" rel="stylesheet" />
    <script src="https://unpkg.com/jquery-input-mask-phone-number@1.0.4/dist/jquery-input-mask-phone-number.js"></script>
    <script src="~/Content/CustomJs/billing.js?v=04132020"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
           
                $('.app-menu li a ').removeAttr('class').addClass("app-menu__item");
                $('#accountMenu').removeAttr('class').addClass("app-menu__item active");
            var page = '@ViewBag.Page';
            if (page == "vwTrans") {
                LoadHTML("User", "Billing", "TranscationList");

            }
            else {
                LoadHTML("User", "Billing", "BillingList");

            }
            preventEnterForSubmittingForm();
        });

    </script>
}