﻿@model List<EM.Factory.usp_getInvoice_Result>
<div class="app-title">
    <div>
        <h1><i class="app-menu__icon fa fa-credit-card"></i> Billing Info</h1>
        <p>View Invoices</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        @if (User.IsInRole("Admin"))
        {
            <li class="breadcrumb-item active"><a href="/Admin/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else if (User.IsInRole("SalesRep"))
        {
            <li class="breadcrumb-item active"><a href="/SalesRep/Dashboard"><i class="fa fa-home fa-lg"></i></a></li>

        }
        else
        {
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        }
        <li class="breadcrumb-item"><a href="/User/Dashboard/Index">Dashboard</a></li>
        <li class="breadcrumb-item">Invoices</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        @{
            var attribute = string.Empty;
            if (Model == null || Model.Count() == 0)
            {
                attribute = "disabled disbaledLink";
            }

        }
        <div class="tile">
            <div class="row margin-top-16">
            </div>
            <div class="table-responsive margin-top-16" id="gridTransList">
                <table class="table table-striped text-16">
                    <thead>
                        <tr>
                            <th>DATE</th>
                            <th>AMOUNT</th>
                            <th>INVOICE#</th>
                            <th>DOWNLOAD</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                        <tr>
                            <td class="align-middle">@item.TransactionDate</td>
                            <td class="align-middle">$@item.AmountCharged</td>
                            <td class="align-middle">@item.AnTransactionId</td>
                            <td>
                                <a  href="/User/Billing/ExportInvoicePdf?id=@item.InvoiceID"><img src="../../Content/imagesUser/export-ic.png" />
                                    
                                </a>
                            </td>
                            <td></td>
                        </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">No Record Found</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
