﻿@model EM.Factory.ViewModels.UserInfoViewModel
@{
    /**/

    ViewBag.Title = "Client";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>

    }
    <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
    <li class="active">Create New Account</li>
</ol>
<div class="white-bg-cont">
    @using (Ajax.BeginForm("createNewAccount", "Client", new { area = "SalesRep" }, new AjaxOptions() { HttpMethod = "POST", OnBegin = "return onAddUserBegin();", OnSuccess = "onAddUserSucess", OnFailure = "onAddUserFailure" }))
    {
        <div class="app-title">

            <div>
                <h3><i class="fa fa-user-plus"></i> Create New Account</h3>
            </div>
        </div>

        <div class="content card center-block">
            <div class="row card-body">
                <!-- /.col -->
                <div class="col-md-5">
                    <div class="row">
                        <p class="mr-l-10"><img src="~/Content/imagesHome/user-icon.png">&nbsp;Account Information</p>
                        <div class="col-md-12 card account-box even-box-bg-color">

                            <div class="row padding-bottom-15 mr-l-r-10">
                                <div class="inner-addon left-addon">

                                    <label class="control-label">First Name</label>
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                                    <span id="fError" class="RequiredField"></span>
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Last Name</label>
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control ", @placeholder = "Last Name" })
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Company Name</label>
                                    @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                                    <span class="RequiredField" id="cmError"></span>
                                </div>
                            </div>
                            <div class="row padding-bottom-15 mr-l-r-10">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Email</label>

                                    @Html.TextBoxFor(x => x.Email, new { @id = "txtUserEmail", @class = "form-control", @placeholder = "Email" })
                                    <span class="RequiredField" id="eError"></span>
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Phone Number</label>
                                    @Html.TextBoxFor(x => x.MobilePhone, new { @id = "MobilePhone", @class = "form-control", @placeholder = "Phone Number" })
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Monthly Plan</label>
                                    @Html.DropDownListFor(x => x.planId, Model.PlanList, "--Select--", new { @class = "form-control", @Id = "ddlplanlist" })
                                    <span class="RequiredField" id="planError"></span>
                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">No. Of Subscribers</label>
                                    @{
                                        List<SelectListItem> listItems = new List<SelectListItem>();

                                    }

                                    @Html.DropDownListFor(model => model.SelectedPackakgeId, listItems, "-- Select --", new { @class = "form-control", @Id = "ddlSublist" })

                                    <span class="RequiredField" id="SubscriberError"></span>
                                </div>
                            </div>

                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    @Html.HiddenFor(x => x.SalesRepId)
                                    <label class="control-label">Promotion Code</label>
                                    @Html.DropDownListFor(x => x.PromotionCode, Model.SalesRepList, "--Select--", new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="row mr-l-r-10 padding-bottom-15">
                                <div class="inner-addon left-addon">
                                    <label class="control-label">Account Rep</label>
                                    @Html.TextBoxFor(x => x.RepName, new { @class = "form-control", @readonly = true })
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
                <!-- /.nav-tabs-custom -->


                <div class="col-md-5" style="margin-left:550px ; padding:20px!important; ">
                    <div class="row">
                        <p class="mr-l-10"></p>

                        <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save</button>
                        <a class="btn btn-secondary" href="~/SalesRep/Dashboard/Index"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>

    }

    <input type="hidden" name="APIURL" id="APIURL" value="@Constants.ApiURL" />
</div>

@section PageScript
    {
    <script src="~/Content/CustomJs/SalesRep_AccountCreate.js?v=12052019"></script>
}