﻿
@{
    /**/

    ViewBag.Title = "Client";
    Layout = "~/Areas/SalesRep/Views/Shared/_Layout.cshtml";
}
<style>
    .redirectToDetails {
        cursor: pointer;
    }
</style>
@*<link href="~/Content/admin/css/jquery.dataTables.min.css" />
    <link href="~/Content/admin/css/dataTables.bootstrap.min.css" />*@

<ol class="breadcrumb">
    @if (User.IsInRole("Admin"))
    {
        <li><a href="/Admin/Dashboard">Admin Dashboard</a></li>
        <li><a href="/Admin/SalesRep">Sales Rep</a></li>

    }
    <li><a href="/SalesRep/Dashboard">Dashboard</a></li>
    <li class="active">Create New Account</li>


</ol>
<div class="white-bg-cont">

    <div id="ContainerDiv"></div>


</div>
@section PageScript{
    <script type="text/javascript">
        $(document).ready(function () {

            preventEnterForSubmittingForm();
        });
    </script>
}


